.ui-content {
	max-width: 800px;
	margin: 0 auto;
}
img.rwd{
	width: 100%;
	box-shadow: 5px 5px 20px grey;
	margin: 1em 0;
}
img.one-third{
	width: 90%;
	box-shadow: 5px 5px 20px grey;
	margin: 1em;
}

label {
	-margin-top: 2em!important;
}
.ui-input-text input, .ui-input-search input {
	border: 1px solid #009C7F;
	color: #009C7F;
	margin-bottom: 1em;
}

.ui-input-text input#plateid{
	text-transform: uppercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
	text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	text-transform: none;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a{
	border: none;
}

input[type="file"]{
}
input[type="radio"]{
}

.image-upload input{
	display: none;
}

.image-upload img{
	max-height: 350px;
	max-width: 350px;
}

#category {
	vertical-align: top;
	display: inline-block;
	text-align: center;
}

#category label{
	display: block;
}
#category img{
	width: 100px;
	height: 100px;
	background-color: grey;
	border-radius: 0.8em;
}

#category label{
	font-weight: normal;
	border: none;
	--moz-columns: 2 120px;
	--webkit-columns: 2 120px;
	-columns: 2 120px;
	display: table;
}

#category label img,
#category label p {
	display: table-cell;
	vertical-align: top;
}
#category label p {
	padding: 0 1em;
	min-width: 200px;
}

.combo input {
	height: 1em;
	vertical-align: top;
	padding-left: 2em;
}

.combo a{
	width: 20px;
	height: 20px;
	margin-top: -5em;
	display: inline-block;
	cursor: pointer;
}

.cta {
	margin-top: 3em;
}

.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b:visited,
.ui-page-theme-b .ui-btn:active, html .ui-bar-b .ui-btn:active, html .ui-body-b .ui-btn:active, html body .ui-group-theme-b .ui-btn:active, html head+body .ui-btn.ui-btn-b:active,
.ui-header a{
	background-color: #e9c200!important;
	box-shadow: none!important;
	border: none;
	color: #333!important;
	text-shadow: none!important;
}

.ui-page-theme-a .ui-header, html .ui-bar-a .ui-header, html .ui-body-a .ui-header, html body .ui-group-theme-a .ui-header{
	background-color: #009C7F;
	color: white;
	text-shadow: none;
	box-shadow: none;
}
sup {
	font-size: 70%;
}

.ui-content .ui-listview, .ui-panel-inner>.ui-listview{
	margin: 0em;
}
p > a {
	text-decoration: none;
	color: #009C7F!important;
	font-weight: normal!important;
}

input.error{
	border: 1px solid red;
}
div.error img{
	background-color: rgba(255, 0, 0, 0.3);
}

#pics img{
	border-radius: 0.8em;
}
