vendor/
node_modules/
.git/
export/
services/face-detector/.venv/
*.md
cypress
generator
tools/node_modules
tools/package.json
tools/package-lock.json
tools/.npmrc
tools/cypress.config.js
tools/eslint.config.mjs
*firebase-adminsdk.json
Makefile
marketing
node_modules
vendor
