**/*-shm
**/*-wal
**/*.log
**/.DS_Store
*-firebase-adminsdk.json
.branch-env
.cache
.parcel-cache
.phpunit.cache
/config.php
/config.prod.php
/cypress/screenshots
/cypress/videos
/db
/inc
/src/public
/src/scss/lib/variables.env.scss
/src/config.env.php
export/**
node_modules/*
src/config.php
src/tensor
testy
vendor/**
