@use "../lib/variables";
@use "../lib/icons";

.application,
.new-application {
  img#plateImage {
    max-width: 10em;
    height: 2.2em;
    border-radius: 0.2em;
    width: unset;
  }

  div#recydywa { // new app recydywa overlay on image
    z-index: 2;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .recydywa {
      font-weight: 700;
    }

    .recydywa::before {
      background-image: url(icons.$recydywa-icon);
      content: "";
      background-repeat: no-repeat;
      background-size: contain;
      width: 16px;
      height: 14px;
      display: inline-block;
      position: relative;
      top: 2px;
      margin-left: 4px;
    }

    .recydywa-appscnt::before {
      background-image: url("../img/icons/recydywa-apps.svg?2");
    }
  }
}

.application,
.my-applications,
.new-application,
.car-info {
  h3 {
    img {
      height: 24px;
      width: 24px;
      filter: grayscale(0.5);
      top: 7px;
      position: relative;
      border-radius: 0.3125em;
      margin-right: 0.3em;
    }

    .app-number {
      background-color: #F9F9F9;
      border-radius: 0.3125em;
      border: 1px solid;
      font-size: 12.5px;
      font-weight: 700;
      padding: 0.3em 0.6em;
      margin-left: -0.3em;
      margin-right: 0.6em;
      text-align: center;
    }
  }

  .recydywa, #recydywa {
    .top-line {
      .recydywa-cnt {
        border-radius: 12px;
        display: inline;
        padding: 2px 2px 2px 5px;
        margin: 0 5px;
        font-size: 12px;

        .recydywa-appscnt::before {
          width: 10px;
          height: 10px;
          background-image: url("../img/icons/recydywa-apps.svg?2");
        }
        .recydywa-userscnt::before {
          width: 8px;
          height: 10px;
        }
      }
    }
    &.new-app-recydywa > .recydywa-cnt {
      padding: 2px 5px;
      border-radius: 0;
      color: black;
      text-align: left;
    }
    .recydywa-cnt, .recydywa-seemore {
      background-color: variables.$recydywaBg;
      font-weight: 700;
      padding: 5px 12px;
      white-space: nowrap;
      border-radius: 24px;
    }
    .recydywa-userscnt, .recydywa-appscnt {
      &::before {
        @extend %icon;
        margin: 0 3px;
      }
    }

    .recydywa-appscnt::before {
      background-image: url("../img/icons/recydywa-apps-white.svg?2");
    }

    .recydywa-userscnt::before {
      background-image: url("../img/icons/recydywa-users.svg?2");
      width: 11px;
    }

    .recydywa-seemore {
      background-color: variables.$recydywaBg;
      color: black!important;
    }
  }

  span.plate-id {
    font-family: monospace;
    font-weight: 700;
    background: white;
    border-color: black;
    border-left-color: variables.$plateId;
    padding: 3px;
    border-radius: 3px;
    border-width: 1px 1px 2px 10px;
    border-style: solid;

    .recydywa-cnt {
      display: none;
    }

    &.small {
      font-size: 9pt;
      font-weight: 400;
      border-width: 1px 1px 1px 7px;
      padding: 2px 3px;
    }

    &.light {
      border: none;  
    }

    h2 > & {
      border-left-width: 15px;
      border-radius: 5px;
      padding: 0px 8px;
      display: inline-block;
    }
  }

  .ui-btn-fake {
    margin: 0;
  }

  a.zoom {
    position: absolute;
    top: 10;
    left: 10;
    width: 21px;
    height: 21px;
    z-index: 3;
    display: block;
    opacity: 0.6;
  }

  .imageContainer:hover a.zoom {
    opacity: 1;
  }
}

#comments ul[data-role="listview"],
#statusHistory ul[data-role="listview"] {
  text-indent: -1em;
}

cite {
  display: block;
  padding: 1em;
}

b.appSentInfo,
.forcedPoliceInfo,
b.recydywaInfo {
  background-color: variables.$secondaryColor;
  display: block;
  padding: 1em;
  border-radius: 5px;
  text-shadow: none;
  margin: 1em;

  a {
    font-weight: 400;
  }
}

b.lightWarning {
  background-color: variables.$secondaryColor;
  padding: 0.1em 0.5em;
  border-radius: 5px;
}