.ask-for-status {
    li {
        padding-bottom: 15px;
    }

    h3 > a {
        font-size: 70%;
        text-decoration: none;
        vertical-align: top;

        &.visited {
            color: #333;
        }

        &.error {
            color: red;
        }
    }
}