@use "../lib/variables";
@use "../lib/button";

.car-info .grid {
  padding: 0;
  columns: 1;

  @media (min-width: variables.$width-break) {
    columns: 2;
  }
  
  .car {
    display: inline-block;
    width: 100%;

    .card {

      &.app-owner::before {
        background-color: variables.$primaryColor;
        border-radius: 5px 5px 0 0;
        color: white;
        content: "TWOJE ZGŁOSZENIE";
        display: block;
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 3px;
        padding: 5px;
        padding: auto;
        text-align: center;
        text-shadow: none;
      }

      border-radius: 0.3125em;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
      box-sizing: border-box;
      margin-bottom: 1em;

      h3 {
        padding: 0.5em 0.5em 0 0.5em;
        font-size: 14px;
        margin: 0.3em 0;
      }

      figure {
        margin: 0;
        height: 300px;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .blured-hint {
          background-color: #f9f9f9;
          border-radius: 0.3125em;
          border: 1px solid;
          font-size: 12px;
          font-weight: 700;
          padding: 0.3em 0.6em;
          text-align: center;
          position: absolute;
          bottom: 5px;
          left: 5px;
        }
      }

      .content {
        padding: 0 1em 1px 0;

        .category {
          img {
            vertical-align: bottom;
            width: 24px;
            height: 24px;
          }
        }
        em {
          font-weight: 700;
          font-style: normal;
        }
      }
    }
  }
}
