@use "../lib/variables";

.confirm-application .application,
.new-application .images {

  .images .imageContainer:hover .plate-box {
    display: none;
  }

  .map-container {
    .mapImage {
      position: relative;
      height: auto;
      width: 100%;
      z-index: 1;
    }
    .loader {
      position: absolute;
      position: absolute;
      margin: 0;
      left: calc(50% - 50px);
      top: calc(50% - 50px);
    }
  }

  .plate-box {
    background-color: transparent;
    border: 5px solid variables.$secondaryColor;
    font-size: 90%;
    left: 5px;
    position: absolute;
    top: 5px;
    z-index: 1;
  }

  span.floating-box {
    background: #fff;
    border-radius: 3px;
    border-width: 1px;
    border: 1px solid #000;
    font-size: 90%;
    left: 5px;
    padding: 3px;
    position: absolute;
    top: 5px;
    z-index: 2;
  }

  div.sender-data {
    cite {
      padding: 0 0 1em 2em;
      font-size: 90%;
    }

  }

}