dd {
  padding: 0.5em 0;
}

dt {
  font-weight: 400;
}

h4.highlight {
  background-color: #E3C34166;
  padding: 0.8em;
  border-radius: 5px;
}

a.copyLink {
  visibility: hidden;
  cursor: pointer;
  font-weight: 400;
}

h4:hover a.copyLink {
  visibility: visible;
}

.mermaid {
  text-shadow: none !important;
}

blockquote {
  font-style: italic;
  max-width: 500px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  position: relative;
}

blockquote::before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote.doc::before {
  content: "📃";
  font-size: 35px;
  padding-top: 20px;
  font-style: normal;
  padding-left: 15px;
}