@use "../lib/button";
@import url('../../node_modules/firebaseui/dist/firebaseui.css');


.firebaseui-idp-button {
    @extend .button;
    max-width: 220px;
}

.firebaseui-info-bar {
    z-index: 4;
}