@use "../lib/button";
@use "../lib/variables";

.patronite.button {
    align-items: center;
    background-color: variables.$patroniteColor!important;
    box-sizing: border-box;
    color: #fff!important;
    display: flex;
    font-size: 18px;
    justify-content: center;
    letter-spacing: 0.3px;
    min-height: 40px;
    padding: 1em;
    text-shadow: none!important;
    user-select: none;
    width: 100%;

    &::before {
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: variables.$patroniteIcon;
        display: inline-flex;
        margin-right: 12px;
        width: 26px;
        height: 36px;
    }
}

.ui-icon-patronite::after {
    background-image: variables.$patroniteIcon;
    background-size: 70% 70%;
}

.ui-icon-patronite:hover::after {
    background-color: variables.$patroniteColor!important;
}

.ui-icon-map:hover {
    &::after {
        background-color: variables.$mapColor!important;
    }
}