@use "../lib/icons";
@use "../lib/variables";
@use "../lib/badge";

.my-applications, .car-info {
  ul.status-filter {
    padding-inline-start: 0;
    columns: 2;
    list-style: none;
    padding-top: 9px;

    li {
      display: none;
      text-wrap: nowrap;
      a.active {
        color: variables.$primaryColor!important;
      }

      a {
        color: #666 !important;
        overflow: hidden;
        max-width: calc(100% - 2em);
        display: inline-flex;
        margin-right: 3px;
      }

      .li-count {
        @extend .badge;
        border-width: 2px;
        font-weight: 700;
      }
    }
  }

  @media (min-width: variables.$width-break) {
    ul.status-filter {
      columns: 3 !important;
      -webkit-columns: 3;
      -moz-columns: 3;
    }
  }

  .application-details-list {
    padding-left: 1em;
    margin-bottom: 1em;

    &>div {
      margin-top: 1em;
      &>b {
        font-weight: 700;
      }
      &>p {
        margin: .3em 0 0 -4px;
      }
      &::before {
        @extend %icon;
        left: -3px;
      }

      &.recydywa::before {
        border-radius: 20px;
        background-size: auto;
        background-color: variables.$recydywaBg;
        border: 2px solid variables.$recydywaBg;
        background-image: url(icons.$recydywa-icon);
        left: -5px;
      }

      &.no-icon::before {
        margin-left: -17px;
      }
  
      &.calendar::before {
        background-image: url(icons.$datetime-icon);
      }
  
      &.address::before {
        background-image: url(icons.$pin-icon);
      }
  
      &.send::before {
        content: '✉️';
      }
  
      &.description::before {
        background-image: url(icons.$description-icon);
      }
  
      &.witness::before {
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23999%3B%22%20d%3D%22M7%2C2C3%2C2%2C0%2C7%2C0%2C7s3%2C5%2C7%2C5s7-5%2C7-5S11%2C2%2C7%2C2z%20M7%2C10c-1.657%2C0-3-1.344-3-3c0-1.657%2C1.343-3%2C3-3%20s3%2C1.343%2C3%2C3C10%2C8.656%2C8.657%2C10%2C7%2C10z%20M7%2C6C6.448%2C6%2C6%2C6.447%2C6%2C7c0%2C0.553%2C0.448%2C1%2C1%2C1s1-0.447%2C1-1C8%2C6.447%2C7.552%2C6%2C7%2C6z%22%2F%3E%3C%2Fsvg%3E");
      }
  
      &.info-icon::before {
        background-image: url(icons.$info-icon);
      }
  
      &.external-id {
        margin-bottom: 16px;
        input {
          text-transform: uppercase;
        }
      }
  
      &.private-comment textarea,
      &.external-id input {
        border: 1px solid #999;
        width: calc(100% - 2em);
        vertical-align: top;
        border-radius: 3px;
  
        &:hover {
          border: 1px solid black;
        }
  
        &[readonly] {
          color: #ccc;
        }
  
        &.error {
          border: 2px solid red !important;
        }
      }
    }

    tt {
      font-weight: 700;
    }
  }

  button.change-status {
    border: 1px solid black;

    &::after {
      @extend %icon;
      background-image: url(icons.$chevron-icon);
      padding-left: 10px;
    }
  }

  div.application-short, .list .car .card {

    &.archived {
      display: none;
    }

    h3 {
      border-bottom: none;
      font-weight: 400;
      font-size: 14px;

      .top-line,
      .bottom-line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: stretch;
      }

      .top-line {
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 3px;
      }

      .bottom-line {
        div {
          flex-shrink: 1;
          flex-basis: auto;
          align-self: auto;
          order: 0;
        }

        .address {
          flex-grow: 1;
          max-width: calc(100% - 23px);
          overflow: hidden;
          height: 32px;
          font-size: 150%;
          @media (max-width: variables.$width-break) {
            font-size: 130%;
            font-weight: 400;
          }
        }

        .expander {
          flex-grow: 0;
          position: relative;

          &::after {
            @extend %icon;
            transform: rotate(180deg);
            top: 15px;
            background-image: url(icons.$chevron-icon);
            transition: transform 0.5s;
          }
        }
      }
    }

    &:not(.expanded) {
      h3 .bottom-line .expander::after {
        transform: rotate(0deg);
        transition: transform 0s;
      }
    }

   .status-dot::before,
    .change-status a::before {
      box-sizing: border-box;
      border-width: 2px;
      border-style: solid;
      @extend %icon;
      border-radius: 20px;
      
    }
    .change-status a::before {
      left: -5px;
    }
  }
}

.popup-overlay#recydywa {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0,0,0,0.7);
  z-index: 3;
  top: 20px;
  left: 0;

  .close {
    opacity: 0.3;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1;
  }
  .close:hover {
    opacity: 1;
    cursor: pointer;
  }
  .close::before, .close::after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close::before {
    transform: rotate(45deg);
  }
  .close::after {
    transform: rotate(-45deg);
  }

  .popup-content {
    background: #fff;
    border-radius: 5px;
    max-width: variables.$content-width;
    padding: 1em;
    position: sticky;
    overflow-y: scroll;
    height: calc(100vh - 1em - variables.$headerHeight);
    overflow-y: scroll;
  }
}

.application h3:hover {
  .bottom-line {
    color: variables.$primaryColor;
  }
}


div[data-role="collapsibleset"] {

  .application {
    border-radius: .8em;
    margin-bottom: .5em;
    background-color: #f6f6f6;
    border: 1px solid #ddd;

    h3 {
      display: block;
      margin: 0;
      padding: 0;
      position: relative;
      padding: .5em;
      border-right-width: 1px;
      border-left-width: 1px;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      position: relative;
      border-color: #ddd;
    }

    .app-details {
      background-color: white;
    }
  }
    
}
