@use "../lib/variables";

@import url(../../node_modules/mapbox-gl/dist/mapbox-gl.css);

label.section {
  padding: .5em 1.143em;
  font-size: 14px;
  font-weight: 700;
  background-color: #e9e9e9;
  border-color: #ddd;
  color: #333;
  text-shadow: 0 1px 0 #eee;
  margin-top: 0em;
  margin-bottom: 2em;
}

label.hint {
  color: variables.$primaryColor;
  clear: both;
}

label.warning {
  color: variables.$secondaryColor;
  clear: both;
}

label {
  font-weight: 400;
}

div.error img {
  background-color: rgba(255, 0, 0, 0.3);
}


::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  /* WebKit browsers */
  text-transform: none;
}

.category-law {
  text-decoration: italic;
  color: #999;
}

.new-application {
  padding-top: 2em;

  .imageContainer {
    border-radius: .8em;
    height: 200px!important;
    padding: .4em;
    overflow: hidden;
    margin: inherit; 

    img {
      object-fit: cover;
      object-position: 50% 50%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .plate {
    position: relative;
  
    img#plateImage {
      position: absolute;
      top: 0em;
      left: 11em;
    }
  }
  
  .price-list {
    font-size: 80%;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    max-width: 70%;
  }

  p.pictureHint {
    z-index: 2;
    bottom: 0px;
    position: absolute;
    text-shadow: none;
    color: white;
    padding: 3px;
    display: none;
    margin-right: 0.4em;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.3em;
    font-size: 90%;
  }

  div.datetime {
    max-width: 15em;
  }

  a.changeDatetime {
    text-decoration: none;
    display: none;
  }

  .location-picker .centerMarker {
    background: url(data-url:../img/map-circle.png) no-repeat;
    height: 64px;
    width: 64px;
    margin-left: -32px;
    margin-top: -32px;
  }

  label {
    a {
      font-weight: 400 !important;
      font-size: 70%;
      text-transform: uppercase;
    }
  }

  .image-upload:hover .pictureHint {
    display: none;
  }


  .image-upload {
    label {
      white-space: normal;

      b {
        font-weight: 600;
        position: absolute;
        bottom: 40px;
        display: block;
        width: calc(100% - 2 * .4em);
        text-align: center;
      }
      .button.remove {
        position: absolute;
        right: .4em;
        font-weight: 700!important;
      }
    }
    input {
      display: none;
    }
    img {
      background-repeat: no-repeat;
      background-position-x: 50%;
      background-position-y: 30px;
      height: 100%;  
    }
  }

  .contextImageSection img {
    background-image: url(data-url:../img/cameraContext.png);
  }

  .carImageSection img {
    background-image: url(data-url:../img/cameraPlate.png);
  }

  input#plateId {
    text-transform: uppercase;
    max-width: 11em;
    font-family: monospace;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
  }

  #category {

    label {
      margin-top: 10px;
      border-radius: 18px;
      padding: 5px;
      height: 100%;

      &:hover .category-title {
        color: variables.$primaryColor;
      }
    }

    a.category-popup {
      bottom: -6px;
      font-size: 80%;
      font-weight: 400;
      padding: 6px 10px;
      position: absolute;
      right: 3px;
      text-transform: uppercase;
      text-decoration: none;
      z-index: 2;
      background-color: aliceblue;
      border-radius: 20px;
    }
  }

  #category {
    .points-badge {
      position: absolute;
      text-align: center;
      border-radius: 50%;
      color: white;
      height: 22px;
      font-size: 16px;
      background: red;
      top: 3px;
      left: 3px;
      width: 22px;
    }
  
    img {
      width: 100px;
      height: 100px;
      background-color: grey;
      border-radius: 0.8em;
    }
    label div {
      width: 92%;

      .category-title {
        margin-top: 0;
        font-weight: 700;
      }
  
      .category-short {
        font-size: 90%;
        margin-top: 0;
      }
    }
  }

  #category label {
    display: grid;
    grid-template-columns: 100px 1fr;
    box-sizing: border-box;
  }

  #category label img,
  #category label div {
    position: relative;
  }

  #category label p {
    padding: 0 1em;
    width: 100%;
  }

  .combo {
    margin-top: 1.5em;
    height: 50px;

    input {
      height: 1em;
      vertical-align: top;
      padding-left: 2em;
    }

    a {
      width: 20px;
      height: 20px;
      margin-top: -5em;
      display: inline-block;
      cursor: pointer;
    }
  }

  #smInfoHint {
    font-size: 90%;
    padding: 1em;

    a {
      font-weight: 400;
      text-decoration: none;
    }
  }

  .locationPickerClass {
    width: 100%;
    height: 200px;
    border-radius: 0.8em;
    margin-top: 0.3em;

    .mapboxgl-canvas {
      border-radius: 0.8em;
    }
  }

  #mapCenter {
    z-index: 5;
    position: absolute;
    width: 64px;
    height: 64px;
    display: block;
    background-image: url('https://uprzejmiedonosze.net/img/map-circle.png');
    left: calc(50% - 32px);
    bottom: calc(50% - 32px);
    pointer-events: none;
    user-select: none;
  }

  .locationPickerBig {
    height: 500px;
  }


  .right-align {
    text-align: right;
  }

  .ui-button-resizeMap {
    display: block;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-transform: none;
    appearance: none;
    position: absolute;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    width: 25px;
    height: 25px;
    top: 2em;
    right: 0.3em;
    z-index: 1;
    box-shadow: 0px 0px 10px 0px #ddd;
    border: 1px solid #ddd;
  }
}

div.loader {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid variables.$primaryColor;
  border-radius: 50%;
  width: 50px !important;
  height: 50px;
  animation: spin 2s linear infinite;

  &.l {
    animation: spinl 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinl {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}



@media (hover: hover) and (pointer: fine) {
  #resizeMap {
    display: none;
  }
}

.ui-icon-arrowsout {
  background-image: url(data-url:../img/arrows-out.png);
}

.ui-icon-arrowsin {
  background-image: url(data-url:../img/arrows-in.png);
}