@use "../lib/variables";

.patronite {
    img.responsive {
        border-radius: 3px;
        width: calc(100% - 10px);
        margin: 5px;
        box-shadow: 0 0 5px gray;
    }

    .patronite.button.floating {
        bottom: 30px;
        position: sticky;
        width: 400px;
        z-index: 1;
        box-shadow: 0 0 30px white;

        @media (max-width: variables.$width-break) {
            bottom: 10px;
            width: 300px;
        }
    }
}