@use "../lib/variables";

.patronite {
    .patronite.button.floating {
        bottom: 30px;
        position: sticky;
        width: 400px;
        z-index: 1;
        box-shadow: 0 0 30px white;

        @media (max-width: variables.$width-break) {
            bottom: 10px;
            width: 300px;
        }
    }
}