@use "../lib/variables";

div.przepisy {
  img.sign {
    float: right;
    max-width: 20%;
    padding-left: 1em;
    padding-bottom: 0.2em;
    clear: right;
  }
  
  h4 {
    clear: both;
  }
  
  ol, ul {
    padding-inline-start: 20px;
  }

}

div.przepisy-kategorie p i {
  color: #666;
}

.dialog .ui-body {
  padding: .4em 0em;
}

.ui-dialog .ui-dialog-contain {
  max-width: variables.$content-width;
  margin: 1em auto 1em;
  box-shadow: none;
  top: -2em;
}

.dialog.ui-content {
  padding: 0;
  border: 1em solid white;
}
