{% set leftButton = 'menu' %}

{% set title = 'Nie ma takiej strony' %}
{% set shortTitle = 'Nie ma takiej strony' %}

{% extends "base.html.twig" %}
{% block main %}
<h2>404 – nie ma takiej strony</h2>
<p>
    Na pocieszenie zdjęcie, na którym nie ma ani jednego nieprawidłowo
    zaparkowanego samochodu. Przejdź do <a href="/">strony głównej</a>.

    <figure class="pop">
        <img src="/img/404.jpg"/>
        <figcaption>
            <a rel="external" target="_blank" href="https://www.flickr.com/photos/michaeljzealot/5061581896/">© MjZ Photography</a>
        </figcaption>
    </figure>
</p>
{% endblock %}