{% block commands %}
    \renewcommand{\n}{ {{ app.user.name }} }
    \rhead{ Dnia {{ app.getSentDate }} }
{% endblock %}

\vspace{\stretch{3}}\noindent
{\large {{ app.guessSMData().getLatexAddress() }} }

{% set contextImage = '{' ~ root ~ '/' ~ app.contextImage.thumb ~ '}' %}
{% set contextImageUrl = '{' ~ BASE_URL ~ app.contextImage.url ~ '?download}' %}

{% set carImage     = '{' ~ root ~ '/' ~ app.carImage.thumb ~ '}' %}
{% set carImageUrl     = '{' ~ BASE_URL ~ app.carImage.url ~ '?download}' %}

{% set thirdImage     = '{' ~ root ~ '/' ~ (app.thirdImage.thumb ?? '')~ '}' %}
{% set thirdImageUrl     = '{' ~ BASE_URL ~ (app.thirdImage.url ?? '') ~ '?download}' %}

{% set mapUrl = '{' ~ app.getMapUrl() ~ '}' %}
{% set mapImage     = '{' ~ root ~ '/' ~ app.getMapImage ~ '}' %}

{% set areAllImagesVertical = app.areAllImagesVertical() %}
{% if areAllImagesVertical %}{% set imageWidth = 0.33 %}{% else %}{% set imageWidth = 0.5 %}{% endif %}


\vspace{15 mm}
\begin{center}
    {\Large
        Zgłoszenie wykroczenia \texttt{ {{- app.number -}} }
        {%- if app.sentViaAPI %}\footnote{\noindent Pamiętaj, że to zgłoszenie
        zostało wysłane do {{ app.guessSMData.getShortName }} poprzez API. Odpowiedź to {{ app.sentViaAPI }}.}{% endif -%}
    }
\end{center}

W dniu {{ app.getDate }} {{ app.getDateTimeDivider }} {{ app.getTime }} {{ app.guessUserSex.bylam }}
świadkiem wykroczenia kierowcy pojazdu o nr. rejestracyjnym\texttt{ {{ app.carInfo.plateId }} }w~okolicy adresu
\href{{ mapUrl|raw -}}{ {{ app.getLatexSafeAddress|raw -}} }\footnote{\noindent
Adres oraz zdjęcia można ,,kliknąć'' aby uzyskać więcej informacji.}.
{{ app.getCategory.formal }} 
{{ app.getExtensionsText() -}}
{{ app.getLatexSafeComment|raw }}
{% if not (app.statements.witness ?? false) %}
    Nie {{ app.guessUserSex.bylam }} świadkiem samego momentu parkowania.
{% endif %}

{% if app.version >= '2.5.4' %}
    Jestem {{ config.sex.swiadoma }} odpowiedzialności karnej za złożenie fałszywego oświadczenia, wynikającej z art. 233 kk.
{% endif %}
Sytuacja jest widoczna na załączonych zdjęciach.
Zdjęcia {{ app.guessUserSex.wykonalam }} samodzielnie i nie zostały one zmanipulowane.

Proszę o \textbf{niezamieszczanie} w protokole danych dotyczących mojego miejsca
zamieszkania, nr. telefonu i~adresu e-mail.

\vspace{0.3cm}\noindent
Z poważaniem

\vspace{0.3cm}
{\it Dane {{ app.guessUserSex.zglaszajacej }} w wiadomości e-mail 
    {% if app.sent is defined %}
        wysłanej {{ app.sent.date|date('j.m.Y H:i') }}
        na adres {{ app.sent.to }}
    {% endif -%}
}

{\it Proszę o kontakt za pośrednictwem poczty e-mail oraz niewysyłanie korespondencji Pocztą Polską.}

\vspace{\stretch{3}}\noindent
\href{{ contextImageUrl }}
    {\includegraphics[width={{ imageWidth }}\textwidth,height=0.5\textwidth,clip=true,keepaspectratio=true,valign=t]{{ contextImage }} }
\href{{ carImageUrl }}
    {\includegraphics[width={{ imageWidth }}\textwidth,height=0.5\textwidth,clip=true,keepaspectratio=true,valign=t]{{ carImage }} }
{% if not areAllImagesVertical %}

\vspace{0.3cm}\noindent
{% endif %}
{% if app.thirdImage ?? false %}
    \href{{ thirdImageUrl }}
        {\includegraphics[width={{ imageWidth }}\textwidth,height=0.5\textwidth,clip=true,keepaspectratio=true,valign=t]{{ thirdImage }} }
{% endif %}
{% if areAllImagesVertical %}

\vspace{0.3cm}\noindent
{% endif %}
{% if app.isMapImageInCDN %}
    \noindent\href{{ mapUrl|raw }}
        {\includegraphics[width=0.5\textwidth,height=0.3\textwidth,clip=true,keepaspectratio=true,valign=t]{{ mapImage }} }
{% endif %}
{% if app.shouldIncludePlateImage %}
    {% set plateImage   = '{' ~ root ~ '/' ~ app.carInfo.plateImage ~ '}' %}
    \noindent\includegraphics[valign=B,width=0.2\textwidth,height=0.2\textwidth,clip=true,keepaspectratio=true,valign=t]{{ plateImage }}
{% endif %}
    \hspace{\stretch{1}}
\vspace{\stretch{1}}