{
    "application": [
        { "text": "W dniu" }
        ,{ "emphasis": "{{ app.getDate }}"}
        ,{ "text": "{{ app.getDateTimeDivider }}"}
        ,{ "emphasis": "{{ app.getTime }}"}
        ,{ "text": "{{ app.guessUserSex.bylam }} świadkiem wykroczenia kierowcy pojazdu o nr. rejestracyjnym"}
        ,{ "emphasis": "{{ app.carInfo.plateId ?? '...' }}"}
    {% if app.getRecydywa > 1 %}
        ,{ "sup": "recydywa {{ app.getRecydywa }}"}
    {% endif %}
        ,{ "text": "w okolicy adresu" }
        ,{ "emphasis": "{{ app.address.address ?? '...' }}"}
        ,{ "text": "{{ app.getCategory.formal }}{{ app.getExtensionsText() }} {% if (app.userComment ?? false) and not app.isEncrypted %}{{ app.userComment }}{% endif %}{% if not (app.statements.witness ?? false) %} Nie {{ app.guessUserSex.bylam }} świadkiem samego momentu parkowania.{% endif %}"}
        ,{ "text": "{% if app.version >= '2.5.4' %}Jestem {{ config.sex.swiadoma }} odpowiedzialności karnej za złożenie fałszywego oświadczenia, wynikającej z art. 233 kk. {% endif %}Zdjęcia {{ app.guessUserSex.wykonalam }} samodzielnie i nie zostały one zmanipulowane."}
    ]
{% if app.userComment is defined and app.userComment %}
    ,"comment": "{{ app.userComment }}"
{% endif %}
    ,"exposeData": "Równocześnie proszę o niezamieszczanie w protokole danych dotyczących mojego miejsca zamieszkania, nr. telefonu i adresu e-mail"
{% if app.sent is defined %}
    ,"sent": {
{% if app.sent.method == 'Mail' %}
    "info": "To zgłoszenie zostało wysłane do {{ app.sent.to }} bezpośrednio z serwera Uprzejmie Donoszę w dniu {{ app.sent.date|date('j.m.Y') }} o godzinie {{ app.sent.date|date('H:i') }}."
{% elseif app.sent.method == 'manual' %}
    "info": "To zgłoszenie zostało wysłane przez Ciebie ręcznie do {{ app.sent.to }} w dniu {{ app.sent.date|date('j.m.Y') }} około godziny {{ app.sent.date|date('H:i') }}."
{% else %} {# API #}
    "info": "To zgłoszenie zostało wysłane do {{ app.guessSMData.getShortName }} w dniu {{ app.sent.date|date('j.m.Y') }} o godzinie {{ app.sent.date|date('H:i') }}        poprzez API {{ app.sent.to }}. Zgłoszenie jest widoczne jest dla {{ app.guessSMData.getShortName }} w następującej postaci:",
    "api": "{% include('_application.txt.twig') %}"
{% endif %}
    }
{% endif %} {# app.sent #}
}