{% set recydywa = app.getRecydywa %}
{% set recydywaCnt = recydywa.appsCnt ?? 1 %}
{% set status = app.getStatus %}


<div id="{{ app.id }}"
    {% if hideAppOverLimit is defined %}style="display: none;"{% endif %}
    class="application application-short status-all {{ app.status }} {% if recydywaCnt > 1 %}recydywa{% endif %}"
    data-role="collapsible"
    data-filtertext="{{ app.address.address }} {{ app.number }} {{ app.getDate|raw }} {{ app.carInfo.plateId }} {{ app.userComment }} {{ app.getCategory.formal }} {{ app.guessSMData.getName }} {{ app.externalId }} {{ app.privateComment }} {% if recydywaCnt > 1 %}recydywa{{ recydywaCnt }}{% endif %} {% if app.getStatus.sendable %}wysyłka{% endif %}">

    <h3>
        <div class="top-line">
            <div class="status-dot {{ app.status }}">
                <b>{{ status.name }}</b>
                {%if app.guessSMData.isPolice %}<span title="Zgłoszenie na Policję">👮‍♀️</span>{% endif %}
            </div>
            <div> {{ app.getDate|raw }}</div>
            <div>
            {% if recydywaCnt > 1 %}
                <span class="recydywa-cnt">
                    {% if recydywa.usersCnt > 1 %}
                        <span class="recydywa-userscnt">{{ recydywa.usersCnt }}</span>
                    {% endif %}
                    <span data-recydywacnt="{{ recydywaCnt }}" class="recydywa-appscnt">{{ recydywaCnt }}</span>
                </span>
            {% endif %}
                <span class="plate-id small">{{ app.carInfo.plateId }}</span>
            </div>
        </div>
        <div class="bottom-line">
            <div class="address">
                <img title="{{app.getCategory.formal}}" src="/img/{{ app.category }}.jpg">
                <span class="short-address">{{ app.getShortAddress }}</span>
            </div>
            <div class="expander">
            </div>
        </div>
    </h3>

    <div data-role="listview" class="app-details"></div>
</div>
