Dzień dobry,

w dniu {{ app.getDate("d MMMM y 'o godzinie' H:mm") }} {{ app.guessUserSex.bylam }} świadkiem wykroczenia kierowcy pojazdu o nr. rejestracyjnym {{ app.carInfo.plateId }} w okolicy adresu {{ app.address.address }}. {{ app.getCategory.formal }} {{ app.getExtensionsText() }}{{ app.getJSONSafeComment|raw }}{% if app.statements is not defined or not app.statements.witness %} Nie {{ app.guessUserSex.bylam }} świadkiem samego momentu parkowania.{% endif %}


W załączeniu znajduje się zgłoszenie oraz zdjęcia w pliku zip. Jestem {{ config.sex.swiadoma }} odpowiedzialności karnej za złożenie fałszywego oświadczenia, wynikającej z art. 233 kk. Zdjęcia {{ app.guessUserSex.wykonalam }} samodzielnie i nie zostały one zmanipulowane.

Proszę o niezamieszczanie w protokole danych dotyczących mojego miejsca zamieszkania, nr. telefonu i adresu e-mail. Proszę o kontakt pod adresem {% if app.user.edelivery ?? false %}e-Doręczeń {{ app.user.edelivery }}{% else %}e-mail {{ app.email }}, a w szczególności niewysyłanie listów poleconych za potwierdzeniem odbioru.{% endif %}


{% if withUserData %}
Zgłaszający:

  {{ app.user.name }}
  {{ app.user.address }}
  {% if app.user.msisdn ?? false %}{{ app.user.msisdn }}
  {% endif %}
{% endif %}

Uwaga: Uprzejmie Donoszę nie tylko pomaga mieszkańcom w przygotowaniu poprawnego zgłoszenia, ale także stara się pomóc funkcjonariuszom Straży Miejskiej i Policji w ukaraniu sprawcy wykroczenia. Zachęcam do kontaktu z autorem (ud@uprzejmiedonosze.net) jeśli mają Państwo propozycje usprawnień ułatwiających proces wystawiania mandatu.
