<input id="toggle" type="checkbox">

<div id="courtain"></div>
<div class="container">

{% if leftButton ?? '' == 'menu' %}
    <label class="menu" for="toggle">
        <span data-role-menu class="button-toggle">
            <span data-role-menu class="icon"></span>
        </span>
    </label>
{% endif %}

{% if leftButton ?? '' == 'menuBack' %}
    <a href="javascript:history.back()" data-rel="back" class="menu-button left">{{ leftButtonText ?? 'Edytuj' }}</a>
{% endif %}


{% if rightButton ?? '' == 'menuStart' %}
    <a href="/nowe-zgloszenie.html" class="menu-button right">
        Zgłoś
    </a>
{% endif %}
{% if rightButton ?? '' == 'newAppNext' %}
    <a id="form-submit" class="menu-button right">Dalej</a>
{% endif %}
{% if rightButton ?? '' == 'newAppSave' %}
    <a onclick="confirmApplication()"
        class="menu-button right confirm-save-button">Zapisz!</a>
{% endif %}
</div>
<div class="container">
    <nav class="nav" data-role-menu>
        <a tabindex="0" href="/" class="first">
            {% if general.isLoggedIn %}
                Start
            {% else %}
                Strona główna
            {% endif %}
        </a>
{% if general.isLoggedIn %}
        <a {{ active(config.menu, 'nowe-zgloszenie')|raw }} href="/nowe-zgloszenie.html">
            Nowe zgłoszenie
        </a>
        <a {{ active(config.menu, 'moje-zgloszenia')|raw }} href="/moje-zgloszenia.html">
            Moje zgłoszenia
            <span class="menu-count">{{ general.stats.active ?? 0 }}</span>
        </a>

    {% if general.stats.confirmed is defined and general.stats.confirmed > 0 %}
		<a {{ active(config.menu, 'wysylka')|raw }} href="/wysylka.html">
            Do wysłania
			<span class="menu-count">{{ general.stats.confirmed ?? 0 }}</span>
		</a>
    {% endif %}

	{% if general.stats['confirmed-waiting'] is defined and general.stats['confirmed-waiting'] > 0 %}
		<a {{ active(config.menu, 'zapytaj-o-status')|raw }} href="/zapytaj-o-status.html?update">
            Zapytaj o status
			<span class="menu-count">{{ general.stats['confirmed-waiting'] ?? 0 }}</span>
		</a>
	{% endif %}

        <a {{ active(config.menu, 'register')|raw }} href="/register.html?update">
            Edycja konta
        </a>

{% else %} {# not logged in #}
        <a class="cta" href="/nowe-zgloszenie.html">
            Spróbuj!
        </a>
{% endif %}

        <div class="spacer">
        </div>

        <a {{ active(config.menu, 'jak-zglosic-nielegalne-parkowanie')|raw }} href="/jak-zglosic-nielegalne-parkowanie.html">
            Poradnik „Jak zgłaszać”
        </a>
        <a {{ active(config.menu, 'przepisy')|raw }} href="/przepisy.html">
            Przepisy
        </a>
        <a {{ active(config.menu, 'faq')|raw }} href="/faq.html">
            FAQ
        </a>
        <a {{ active(config.menu, 'przesluchanie')|raw }} href="/przesluchanie.html">
            Wizyta w SM
        </a>
        <a {{ active(config.menu, 'naklejki-robisz-to-zle')|raw }} href="/naklejki-robisz-to-zle.html">
            Naklejki i mazaki
            <span class="menu-count">nowość!</span>
        </a>
        <a {{ active(config.menu, 'statystyki')|raw }} href="/statystyki.html">
            Statystyki
        </a>

        <div class="spacer">
        </div>

{% if general.isLoggedIn %}
    	<a {{ active(config.menu, 'patronite')|raw }} href="/patronite.html">
            Zostań {{ config.sex.Patronka }}
        </a>
{% endif %}

        <a {{ active(config.menu, 'kontakt')|raw }} href="/kontakt.html">
            Kontakt
        </a>

        <a rel="external" target="_blank" href="https://agendaparkingowa.pl/">
            Agenda Parkingowa
        </a>
        <a rel="external" target="_blank" href="https://prawapieszych.pl">
            Podpisz wniosek do RPO
        </a>
        <a rel="external" target="_blank" href="https://www.facebook.com/groups/patologiaparkingowa/">
            Grupa wsparcia na FB</a>

<div class="spacer"></div>
{% if general.isLoggedIn %}
        <a href="/logout.html">
            Wyloguj się
        </a>
{% else %}
	    <a href="/start.html">
            Zaloguj/zarejestruj się
        </a>
{% endif %}

    </nav>
</div>