Dzień dobry,

Niestety nie udało się nam dostarczyć twojego zgłoszenia nr {{ app.number }} dotyczące pojazdu {{ app.carInfo.plateId }} do {{ recipient }}.

Odpowiedź, jaką otrzymaliśmy to:

  {{ reason | replace({"\n": "\n  "}) }}

Szczegóły: {{ BASE_URL ~ 'ud-' ~ app.id  ~ '.html' }}#comments

Możesz spróbować wysłać tę wiadomość ponownie na stronie „moje zgłoszenia”. Najlepiej odczekaj jeden dzień przed powtórką. Jeśli to nie pomoże, to skontaktuj się proszę ze mną: szymon@uprzejmiedonosze.net.

-- 
Szymon Nieradka
https://agendaparkingowa.pl
https://patronite.pl/uprzejmiedonosze
