{% if shortTitle is not defined %}
    {% set shortTitle = title ?? 'Uprzejmie Donoszę' %}
{% endif %}

{% if title is defined %}
    {% set title = title ~ ' | Uprzejmie Donoszę' %}
{% else %}
    {% set title = 'Uprzejmie Donoszę' %}
{% endif %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            maximum-scale=1, user-scalable=no, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="mobile-web-app-capable" content="yes">
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png" />
        <link rel="manifest" href="/manifest.json">

        <meta name="theme-color" content="#009C7F">
        <meta property="og:image"
            content="{{ BASE_URL }}{{ image ?? 'img/uprzejmiedonosze.png' }}" />
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description"
            content="{{ description ?? 'Uprzejmie Donoszę pozwala na informowanie Straży Miejskiej lub Policji o sytuacjach, które wpływają na komfort i bezpieczeństwo pieszych. Maksymalnie upraszcza wykonanie poprawnego zgłoszenia, i przekazanie go do SM.' }}" />
        <meta property="og:url" content="{{ BASE_URL }}{% if config.auth is not defined %}{{ general.uri }}{% endif %}" />
        <meta property="og:locale" content="pl_PL" />
        <meta property="og:type" content="website" />
        <meta property="fb:app_id" content="1299217686854263" />
        <meta name="google" content="nopagereadaloud">
        
        <link rel="stylesheet" crossorigin="anonymous" referrerpolicy="no-referrer"
            href="/css/index.css?{{ CSS_HASH }}">

        {% if not general.isProd %}
        <meta name="robots" content="noindex, nofollow">
        {% endif %}

        {% block headIncludes %}{% endblock %}
    </head>
    <body class="index">
        <div data-role="page" class="ui-page" {{iff(dialog,'data-dialog="true"')}}>
        {% include('header.html.twig') %}
            <div data-role="main" class="ui-content {{ mainClass ?? '' }} {% if dialog %}dialog{% endif %}">
        {% block main %}{% endblock %}
            </div> <!-- main -->
            <div id="toast"></div>
        {% block footer %}
            {% if not dialog %}
            <footer data-role="footer">

                <div class="grid3">
                    <div>
                        <div class="header">Warto wiedzieć</div>
                        <a href="/jak-zglosic-nielegalne-parkowanie.html">Poradnik „jak zgłaszać”</a>
                        <a href="/przesluchanie.html">Wizyta na komisariacie</a>
                        <a href="/zwrot-za-przesluchanie.html">Zwrot środków za przesłuchanie</a>
                        <a href="/dostep-do-informacji-publicznej.html">Jak sprawdzić efekty pracy SM?</a>
                        <a href="/faq.html">Najczęstsze pytania</a>
                        <a href="/e-doreczenia.html">e-Doręczenia</a>
                        <a href="/zazalenie-na-brak-mandatu.html">Zażalenie na brak mandatu</a>
                        <a href="/przepisy.html">Przepisy zw. z parkowaniem</a>
                    </div>
                    <div>
                        <div class="header">Warto wspierać</div>
                        <a href="/patronite.html">Patronite</a>
                        <a rel="external" target="_blank" href="https://agendaparkingowa.pl/">
                            Agenda Parkingowa
                        </a>
                        <a rel="external" target="_blank" href="https://prawapieszych.pl">
                            Podpisz wniosek do RPO
                        </a>
                        <a rel="external" target="_blank" href="https://www.facebook.com/groups/patologiaparkingowa/">
                            Grupa wsparcia na FB
                        </a>
                        <a href="https://suppi.pl/uprzejmiedonosze"
                            target="_blank"
                            rel="external">Jednorazowa wpłata</a>
                        <a href="/naklejki-robisz-to-zle.html">Kup naklejki</a>
                    </div>
                    <div>
                        <div class="header">O projekcie</div>
                        <a href="https://patronite.pl/uprzejmiedonosze/posts" target="_blank" rel="external">
                            Comiesięczna aktualizacja
                        </a>
                        <a href="https://x.com/SzymonNieradka" target="_blank" rel="external">
                            Codzienne aktualizacje
                        </a>
                        <a href="/changelog.html">Historia zmian</a>
                        <a href="/projekt.html">Dla programistów</a>
                        <a href="/regulamin.html">Regulamin</a>
                        <a href="/polityka-prywatnosci.html">Polityka prywatności</a>
                        <a href="/bezpieczenstwo.html">Bezpieczeństwo</a>
                        <a href="/kontakt.html">Kontakt</a>
                    </div>
                </div>
            </footer> <!-- footer -->
            {% endif %}
        {% endblock %}
        </div> <!-- page -->
    {% block jsIncludes %}
    <script src="/js/index.js?{{ JS_HASH }}" user-number="{{ config.userNumber ?? 0 }}"></script>
{% if general.isProd %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-99241725-1', 'auto');
        ga('send', 'pageview');
    </script>
{% endif %}
    {% endblock %}
    </body>
</html>