{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% extends "base.html.twig" %}
{% block main %}
<h2>Brak danych Straży Miejskiej</h2>
<p>Jeśli w treści swojego zgłoszenia widzisz informację, że dla twojego miasta nie mamy jeszcze
zapisanego adresu e-mail SM, to trafiłeś na dobrą stronę.</p>

<p>Uprzejmie Donoszę przygotowuje dla Ciebie gotowe pismo do właściwej Straży Miejskiej oraz
automatycznie wysyła gotowy plik zgłoszenia na adres skrzynki SM. Dlatego konieczne jest
zarejestrowanie danych Straży Miejskiej w twoim mieście.</p>

<p>Napisz na <a rel="external" href="https://www.facebook.com/groups/patologiaparkingowa/">grupie wsparcia
        dla użytkowników Uprzejmie Donoszę</a>
    (lub napisz bezpośrednio do <a href="mailto:szymon@uprzejmiedonosze.net">autora</a>).
    Aby dodać twoje miasto do bazy Uprzejmie Donoszę potrzebujemy adresu siedziby
    oraz adres e-mail Straży Miejskiej.
</p>

<p>Jeśli w twoim mieście nie ma Straży Miejskiej (albo gminnej), to poszukaj właściwego
komisariatu Policji i podaj nam te dane.</p>
{% endblock %}