{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% set title = 'Brak danych Straży Miejskiej' %}
{% set shortTitle = 'Brak SM' %}
{% set description = 'Co zrobić, jeśli brakuje twojego miasta w Uprzejmie Donoszę' %}

{% set emailSubject = 'Brak danych SM' %}
{% set emailBody = '' %}

{% if appCity %}
{% set emailSubject = 'Brak danych SM dla miejscowości ' ~ appCity %}
{% set emailBody = 'Dzień dobry,

Proszę o dodanie Straży Miejskiej ' ~ appCity ~ ' (zgłoszenie ' ~ appNumber ~ '):

Ulica: (uzupełnij proszę)
Kod pocztowy: XX-XXX ' ~ appCity ~ '
Adres email SM: (uzupełnij proszę)

Z poważaniem

' %}
{% endif %}

{% extends "base.html.twig" %}
{% block main %}
<h2>Brak danych Straży Miejskiej {{ appCity }}</h2>

<p>Uprzejmie Donoszę przygotowuje dla Ciebie gotowe pismo do właściwej Straży Miejskiej oraz
automatycznie wysyła gotowy plik zgłoszenia na adres skrzynki SM. Dlatego konieczne jest
zarejestrowanie danych Straży Miejskiej w twoim mieście.</p>

<p>Napisz na <a rel="external" href="https://www.facebook.com/groups/patologiaparkingowa/">grupie wsparcia
        dla użytkowników Uprzejmie Donoszę</a>
    (lub napisz bezpośrednio do <a href="mailto:szymon@uprzejmiedonosze.net?subject={{ emailSubject|escape('url') }}&body={{ emailBody|escape('url') }}">autora</a>).
    Aby dodać twoje miasto do bazy Uprzejmie Donoszę potrzebujemy adresu siedziby
    oraz adres e-mail Straży Miejskiej.
</p>

<p>Jeśli w twoim mieście nie ma Straży Miejskiej (albo gminnej), to poszukaj właściwego
komisariatu Policji i podaj nam te dane.</p>
{% endblock %}