{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% set title = 'Tablica ' ~ plateId %}
{% set mainClass = 'car-info' %}

{% extends partial ? "base-partial.html.twig" : "base.html.twig" %}
{% block main %}

<h2 class="recydywa">

    {% if recydywa.usersCnt > 1 %}
        <span>
            {{- num(recydywa.usersCnt, ['osób zgłosiło', 'osoba zgłosiła', 'osoby zgłosiły']) }}
        </span>
    {% endif %}
    <span data-recydywacnt="{{ recydywa.appsCnt }}">{{ num(recydywa.appsCnt, ['wykroczeń', 'wykroczenie', 'wykroczenia']) }}
    <span class="plate-id h2">{{ plateId }}</span>
</h2>

{% if not allImagesVisible and not userAllowedSharing %}
<div class="warning-header">
    <h3>Chcesz widzieć więcej zdjęć? Udostępnij&nbsp;swoje!</h3>
    <p>Publikujemy wyłącznie zdjęcia od użytkowników, którzy się na to zgodzili.</p>
    <p>Przejdź do ustawień i zaznacz zgodę na udostępnianie zdjęć.</p>
    <a target="_blank" class="button" href="/register.html?update">Przejdź do ustawień</a>
</div>
{% endif %}
<div class="grid">
{% for app in apps %}
    {% set status = app.getStatus %}
    <div class="car application application-short status-all {{ app.status }}">
        <div class="card {% if app.isAppOwner %}app-owner{% endif %}">
            <h3>
                <div class="top-line">
                    <div class="status-dot {{ app.status }}">
                        <b>{{ status.name }}</b>
                        {%if app.guessSMData.isPolice %}<span title="Zgłoszenie na Policję">👮‍♀️</span>{% endif %}
                    </div>
                    <div> {{ app.getDate|raw }}</div>
                </div>
            </h3>
            <figure>
                <img src="{{ app.getSafeImageUrl }}">
                {% if app.isAppOwner and app.faces.count ?? 0 > 0 %}
                    <span class="blured-hint">Zostanie nałożony blur: widoczna twarz</span>
                {% elseif app.faces.count ?? 0 > 0 %}
                    <span class="blured-hint">Nałożony blur: widoczna twarz</span>
                {% elseif not app.showImage %}
                    <span class="blured-hint">Nałożony blur: brak zgody na publikację</span>
                {% endif %}
            </figure>
            <div class="content">
                <div class="application-details-list">
                    <div class="no-icon category">
                        <img title="{{app.getCategory.formal}}" src="/img/{{ app.category }}.jpg" />
                        {{ app.getCategory.short }}
                    </div>
                    {% if app.wasSent %}
                    <div class="info-icon">
                        {%if app.guessSMData.isPolice %}👮‍♀️ {% endif %}{{ app.guessSMData.getShortName }}
                        <tt>{{ app.getExternalId }}</tt>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
