{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% extends "base.html.twig" %}
{% block main %}

<h2>Historia zmian</h2>
<p><i>Wersja <code>%VERSION%</code></i></p>
<h4>Niedziela, 22 września 2019</h4>
<ul>
    <li>Dodane dane SM w Pruszczu Gdańskim.</li>
    <li>Dopisek <i>"Pojazd był zaparkowany w strefie zamieszkania <b>(dłużej niż minutę)</b> poza miejscem do tego wyznaczonym"</i>.</li>
    <li>Zmiana z <i>"Pojazd blokował drogę dla rowerów"</i> na <i>"Zatrzymanie na drodze dla rowerów"</i>.</li>
</ul>
<h4>Niedziela, 15 września 2019</h4>
<ul>
    <li>Poprawka integracji z SM Poznań – (błąd występował, jeśli został dodany znak nowej linii w komenentarzu).</li>
</ul>
<h4>Niedziela, 8 września 2019</h4>
<ul>
    <li>Dodane dane SM w Wadowicach.</li>
</ul>
<h4>Niedziela, 1 września 2019</h4>
<ul>
    <li>Dodane dane SM w Gołkowie.</li>
    <li>Na stronie <a href="wysylka.html">wysyłka</a> pojawił się tekst informujący o tym, jak
    układa się współpraca mieszkańców ze Strażą Miejską w określonym mieście.</li>
</ul>
<h4>Czwartek, 29 sierpnia 2019</h4>
<ul>
    <li>Możliwość automatycznego wysyłania zgłoszeń do SM Poznań.</li>
    <li>Dodane dane SM w Jarosławiu i Legionowie.</li>
</ul>
<h4>Niedziela, 25 sierpnia 2019</h4>
<ul>
    <li>Dodane dane SM w Bełżycach.</li>
</ul>
<h4>Niedziela, 18 sierpnia 2019</h4>
<ul>
    <li>Strona <a href="moje-zgloszenia.html">moje zgłoszenia</a> powinna ładować się
    o ~30% szybciej (odczują to głównie hurtownicy mający ponad 100/200 zgłoszeń).</li>
    <li>Po otwarciu strony <a href="moje-zgloszenia.html">moje zgłoszenia</a>, podmenu
    ze statusami pokazuje wyłącznie pozycje mające jakieś zgłoszenia (bez np. <code>#wysłane: 0</code>).</li>
    <li>Zmiany statusu zgłoszenia dokonuje się za pomocą przycisków, a nie
    listy.</li>
    <li>Klikając w dowolne zdjęcie na liście zgłoszeń, detale zgłoszenia otwierane 
    są domyślnie jako popup.</li>
    <li></li>
</ul>
<h4>Sobota, 17 sierpnia 2019</h4>
<ul>
    <li>W menu po wybraniu opcji "Moje zgłoszenia" nie są pokazywane statusy, które nie mają żadnych zgłoszeń.</li>
    <li>Pozycja "Wysyłka" w menu jest widoczna tylko wtedy, kiedy jest coś do wysłania.</li>
    <li>Statusy są konsekwentnie prezentowane w postaci <code>#status</code>.</li>
</ul>
<h4>Czwartek, 15 sierpnia 2019</h4>
<ul>
    <li>Dodane dane SM w Słupsku.</li>
</ul>
<h4>Piątek, 9 sierpnia 2019</h4>
<ul>
    <li>Dodane dane SM w Kościelisku.</li>
</ul>
<h4>Czwartek, 8 sierpnia 2019</h4>
<ul>
    <li>Dodane dane SM w Częstochowie i Sopocie.</li>
</ul>
<h4>Poniedziałek, 5 sierpnia 2019</h4>
<ul>
    <li>Dodane dane SM w Konstantynowie Łódzkim.</li>
</ul>
<h4>Niedziela, 4 sierpnia 2019</h4>
<ul>
    <li>Dodane dane SM w Stroniu Śląskim.</li>
    <li>Nowy (oczywiście lepszy) sposób prezentowania historii zmian statusów.</li>
    <li>Osoby z literą z ogonkiem na początku imienia lub nazwiska nie mają już sugerowanej nazwy konta z małej litery.</li>
    <li>Zmiana statusu "Wystawiony mandat" na bardziej ogólny "Kierowca ukarany" (obejmuje np. pouczenie).</li>
</ul>
<h4>Środa, 24 lipca 2019</h4>
<ul>
    <li>Dodane dane SM w Gorzowie Wielkopolskim.</li>
</ul>
<h4>Niedziela, 21 lipca 2019</h4>
<ul>
    <li>Dodane dane SM w Rybniku i Wodzisławiu Śląskim.</li>
</ul>
<h4>Wtorek, 16 lipca 2019</h4>
<ul>
    <li>Dodane dane SM Gliwice.</li>
</ul>
<h4>Niedziela, 14 lipca 2019</h4>
<ul>
    <li>Dodane dane SM Suwałki.</li>
    <li>Usunięcie pozostałości po <a href="epuap.html">EPUAP</a> na stronie
    <a href="wysylka.html">wysyłka</a>.</li>
    <li>Na stronie <a href="wysylka.html">wysyłka</a> pojawił się dodatkowy tekst,
    przypominający o konieczności ręcznego dodania załącznika do wiadomości email.</li>
</ul>
<h4>Czwartek, 1 lipca 2019</h4>
<ul>
    <li>W zgłoszeniu wyraz "samochodu" został zastąpiony przez "pojazdu", co umożliwia
    zgłaszanie nieprawidłowo zaparkowanych motocykli i przyczep.</li>
</ul>

<h4>Czwartek, 27 czerwca 2019</h4>
<ul>
    <li>Dodane dane SM Inowrocław.</li>
</ul>
<h4>Sobota, 22 czerwca 2019</h4>
<ul>
    <li>Dodane dane SM Kalisz, Legnica, Pruszków, Niechorze, Rewal, Mysłowice, Zabrze,
    Ruda Śląska, Lublin oraz Leszno.</li>
</ul>
<h4>Wtorek, 10 czerwca 2019</h4>
<ul>
    <li>Dodane dane SM Piaseczno.</li>
</ul>
<h4>Wtorek, 04 czerwca 2019</h4>
<ul>
    <li>Dodane dane Policji Powiatowej w Nowym Targu.</li>
    <li>Aktualizacja <a href="faq.html">FAQ</a>.</li>
</ul>
<h4>Środa, 29 maja 2019</h4>
<ul>
    <li>Poprawiony link do mapy w wersji PDF wniosku.</li>
    <li>Wybieranie lokalizacji z mapy pozwala obecnie wskazać położenie, które nie ma adresu pocztowego.</li>
    <li>Dodane informacje o SM Konstancin-Jeziorna.</li>
</ul>
<h4>Poniedziałek, 27 maja 2019</h4>
<ul>
    <li>Dodane informacje o SM w Wejherowie.</li>
</ul>
<h4>Sobota, 25 maja 2019</h4>
<ul>
    <li>Wybór lokalizacji zgłoszenia poprzez wskazanie punktu na mapie.</li>
    <li>Dodanie mapy z lokalizacją zgłoszenia do plików PDF.</li>
    <li>Zarchiwizowane zgłoszenia nie podbijają już statystyk recydywistom.</li>
</ul>
<h4>Poniedziałek, 20 maja 2019</h4>
<ul>
    <li>Dodane informacje o SM w Tarnowie.</li>
</ul>
<h4>Piątek, 10 maja 2019</h4>
<ul>
    <li>Drobne poprawki tekstów na stronie ze statystykami.</li>
    <li>Poprawka gramatyki przy odmianie liczebników na stronie wysyłki (pojawiał się,
        gdy ktoś wysyła powyżej 21 zgłoszeń na raz).</li>
    <li>Pasek z oznaczenie recydywy widoczny w trakcie tworzenia zgłoszenia zmienił
        kolor z przyjaznej zieleni, na bardziej odpowiednią agresywną żółć.</li>
</ul>
<h4>Wtorek, 7 maja 2019</h4>
<ul>
    <li>Dodane informacje o SM w Sieradzu.</li>
</ul>
<h4>Niedziela, 21 kwietnia 2019</h4>
<ul>
    <li>W trakcie analizowania obrazka, nie można wysłać formularza ze zgłoszeniem.
        W przeszłości było możliwe naciśnięcie w tym momencie przycisku "Dalej" co
        potrafiło wygenerować błąd.</li>
    <li>Inny, bardziej przejrzysty sposób prezentacji miniaturki tablicy rejestracyjnej 
        oraz informacji o recydywie.</li>
</ul>
<h4>Piątek, 19 kwietnia 2019</h4>
<ul>
    <li>Dodane informacje o SM w Łosicach.</li>
    <li>Pojedyncza weryfikacja wprowadzanych adresów (zamiast dotychczasowej podwójnej weryfikacji).
        Łatwiej jest wprowadzać adresy w "trudnych" lokalizacjach.</li>
    <li>Mapa na ekranie potwierdzenia oraz szczegółów zgłoszenia znajduje się teraz na górze strony.</li>
    <li>Obrazki widoczne w szczegółach zgłoszenia są opatrzone w "lupki" sugerujące kliknięcie.
        To, że obrazki te można powiększyć nie było dla wszystkich oczywiste.</li>
    <li>W wersji PDF znalazł się dopisek "Adres jest równocześnie linkiem prowadzącym
        do mapy z lokalizacją zgłoszenia. Podobnie zdjęcia można kliknąć aby uzyskać ich powiększenie".</li>
</ul>
<h4>Czwartek, 18 kwietnia 2019</h4>
<ul>
    <li>Dodane informacje o SM w Rzeszowie.</li>
</ul>
<h4>Środa, 17 kwietnia 2019</h4>
<ul>
    <li>Zdjęcia na listach zgłoszeń, prezentowane są nieco w przyciętej (ale za to
        stabilnej i czytelnej) postaci. Pełny rozmiar zdjęć jest dostępny tylko na 
        stronie ze szczegółami zgłoszenia.</li>
</ul>
<h4>Wtorek, 16 kwietnia 2019</h4>
<ul>
    <li>Na stronie nowego zgłoszenia, oraz w <a href="przepisy.html">przepisach</a>
        pojawiły się wartości mandatów z taryfikatora.</li>
    <li>Na stronie <a href="moje-zgloszenia.html">moje zgłoszenia</a> adresy linkują do
        lokalizacji na Google Maps.</li>
    <li>Także adres widoczny w pliku PDF można kliknąć (i skieruje nas do Google Maps).</li>    
    <li>Zniknął tekst, widoczny do tej pory na każdym zgłoszeniu: "nie wiem jak długo
        pozostawał w tym miejscu".</li>
    <li>Dodane informacje o SM w Sosnowcu.</li>
</ul>
<h4>Środa, 10 kwietnia 2019</h4>
<ul>
    <li>Aktualizacja opisów i przykładów zdjęć na stronie głównej.</li>
    <li>Link do mapy dostępy na liście zgłoszeń.</li>
    <li>Obrazki na stronie szczegółów zgłoszenia otwierają się w popupie (a nie w osobnym oknie).</li>
</ul>
<h4>Wtorek, 9 kwietnia 2019</h4>
<ul>
    <li>Aktualizacja strony z <a href="faq.html">najczęściej zadawanymi pytaniami</a>.</li>
    <li>Kosmetyczne zmiany wizualne (wielkości nagłówków, font).</li>
    <li>Część z klientów pocztowych nie była w stanie automatycznie wczytać treści wiadomości 
        email przygotowanej przez Uprzejmie Donoszę na stronie <a href="wysylka.html">wysyłka</a>.
        Powodowało to otwieranie się pustego maila, co było frustrujące dla użytkowników. Obecnie
        Uprzejmie Donoszę dodatkowo wyświetla treść maila, umożliwiając jego ręczne skopiowanie
        do swojego klienta poczty.</li>
    <li>Strona ze <a data-ajax="false" href="statystyki.html">statystykami</a> pokazuje 
    także nowe rejestracje użytkowników.</li>
</ul>
<h4>Poniedziałek, 8 kwietnia 2019</h4>
<ul>
    <li>Jeśli zdjęcie, które wgrywasz nie ma zapisanej w sobie daty wykonania (na przykład
    dlatego, że korzystasz z iPhone-a, który tę datę ze zdjęć usuwa), to od dzisiaj Uprzejmie
    Donoszę pozwoli Ci ustawić datę ręcznie.</li>
    <li>Zgłoszenia z datą pobraną automatycznie prezentują ją w formie <b>2019-04-08 o 11:48</b>,
    natomiast te z datą ustawioną ręcznie, prezentują ją w formie <b>2019-04-08 około 11:00</b>.</li>
</ul>
<h4>Czwartek, 4 kwietnia 2019</h4>
<ul>
    <li>Nowa strona, o podtytule "nie jesteś sam" — czyli
        <a data-ajax="false" href="statystyki.html">Statystyki</a>.</li>
</ul>
<h4>Poniedziałek, 1 kwietnia 2019</h4>
<ul>
    <li>Ukłon w stronę kierowców ze specyficznymi numerami rejestracyjnymi, np.
    czteroznakowymi. Uprzejmie Donoszę do tej pory wymagał przynajmniej sześciu
    znaków w numerze.</li>
</ul>
<h4>Niedziela, 31 marca 2019</h4>
<ul>
    <li>Dodane informacje o SM w Karlinie.</li>
</ul>
<h4>Sobota, 30 marca 2019</h4>
<ul>
    <li>Aktualizacja strony z <a href="faq.html">najczęściej zadawanymi pytaniami</a>.</li>
    <li>Dodane informacje o SM w Świdnicy.</li>
    <li>Dużo drobnych literówek poprawionych w serwisie.</li>
</ul>
<h4>Piątek, 29 marca 2019</h4>
<ul>
    <li>Dodane informacje o SM w Zielonej Górze i Olsztynie.</li>
    <li>Komentarze użytkowników zawierające znaki specjalne (np. znak większości), są prawidłowo
    wyświetlane w zgłoszeniach w formie PDF.</li>
</ul>
<h4>Sobota, 23 marca 2019</h4>
<ul>
    <li>W trakcie tworzenia zgłoszenia mamy możliwość wskazania, czy powinno ono zawierać 
        dopisek "Nie była/em świadkiem zgłoszenia", który do tej pory był obligatoryjny.</li>
    <li>W ustawieniach konta, możemy podjąć decyzję, czy chcemy aby nasze zgłoszenia zawierały 
        dopisek "Proszę o nieumieszczanie moich danych w protokole", który do tej pory 
        był obligatoryjny.</li>
    <li>Drobne literówki.</li>
    <li>Inicjalna wersja strony z <a href="faq.html">najczęściej zadawanymi pytaniami</a>.</li>
</ul>
<h4>Czwartek, 21 marca 2019</h4>
<ul>
    <li>Dodane informacje o SM w Bartoszycach i Lidzbarku Warmińskim</li>
    <li>[fixed] Jeśli przy wprowadzaniu wniosku został użyty przycisk usuwający szkic 
        (zacznij od nowa), to uniemożliwiało to późniejszą edycję zgłoszenia.</li>
</ul>
<h4>Niedziela, 17 marca 2019</h4>
<ul>
    <li>Dodana SM w Ząbkach.</li>
</ul>
<h4>Środa, 13 marca 2019</h4>
<ul>
    <li>Dodana SM w Gryfinie.</li>
</ul>
<h4>Wtorek, 12 marca 2019</h4>
<ol>
    <li>Uprzejmie Donoszę ma "normalne" menu, a nie rozsiane po wszystkich
        stronach linki jak do tej pory.</li>
    <li>W ramach menu dostępne są statystyki zgłoszeń wg statusów.</li>
</ol>
<h4>Poniedziałek, 11 marca 2019</h4>
<ol>
    <li>Dodane dane SM Chełm</li>
</ol>
<h4>Piątek, 8 marca 2019</h4>
<ol>
    <li>Uprzejmie Donoszę wykrywa porzucone zgłoszenia. Kiedy wejdziesz drugi raz 
        na stronę tworzenia nowego zgłoszenia, zostaniesz zapytany o to, czy chcesz 
        kontynuować poprzednio wprowadzane zgłoszenie, czy zacząć od nowa.</li>
</ol>
<h4>Czwartek, 7 marca 2019</h4>
<ol>
    <li>Zmiana statusów odbywa się za pomocą listy drop-down, a nie szeregu buttonów.</li>
    <li>Recydywiści mają swój badge <sup>recydywa</sup> przy numerze rejestracyjnym.</li>
    <li>Wpisanie hasła 'recydywa' w wyszukiwarce na
        <a href="moje-zgloszenia.html">liście zgłoszeń</a> odfiltruje nam samych recydywistów.</li>
    <li>Dodana SM Tczew.</li>
    <li>W Warszawie emaile kierowane są domyślnie na adres ogólny (CSK@) a nie
    do pierwszego oddziału terenowego (OT1@) jak do tej pory.</li>
    <li>Nowa podstrona z instrukcjami <a href="epuap.html">jak dokonać zgłoszenia przez EPUAP</a>.
</ol>
<h4>Poniedziałek, 4 marca 2019</h4>
<ol>
    <li>Nowy (ładniejszy) sposób ładowania zdjęć do zgłoszenia.</li>
    <li>W małym podglądzie zgłoszeń (np. na liście), nie widać już zdania "zdjęcia wykonałam/em osobiście".</li>
    <li>W małym podglądzie zgłoszeń, na małych ekranach, widoczne jest tylko pierwsze zdjęcie.</li>
</ol>
<h4>Sobota, 2 marca 2019</h4>
<ol>
    <li>Strona <a href="wysylka.html" data-ajax="false">wysyłka</a> pozwala także 
    na hurtową zmianę statusów zgłoszeń.</li>
</ol>
<h4>Sobota, 2 marca 2019</h4>
<ol>
    <li>Zachęty do wysyłki zgłoszeń do SM także na stronie na stronie
    podziękowania za zgłoszenia.</li>
    <li>Dane geolokalizacyjne pobierane są teraz z drugiego zdjęcia (z tablicą
    rejestracyjną).</li>
    <li>Zmiana kolejności pól adres i numer rejestracyjny.</li>
    <li>W opisie pola z tablicą rejestracyjną widoczna jest nazwa marki pojazdu</li>
    <li>Uszczegółowienie <a href="regulamin.html">regulaminu</a> Uprzejmie Donoszę.</li>
</ol>
<h4>Środa, 27 lutego 2019</h4>
<ol>
    <li>Nowa funkcja – generowanie paczki zgłoszeń w postaci jednego,
    wielostronicowego PDF-a.</li>
    <li>Nowa funkcja – generowanie gotowej wiadomości email do SM.</li>
    <li>Aktualizacja <a href="polityka-prywatnosci.html">polityki prywatności</a>.</li>
    <li>Linki do szczegółów zgłoszenia, które nie są otwierane przez autora zgłoszenia
    są pozbawione danych kontaktowych jego autora.</li>
    <li>Sugestia poprawienia danych zgłaszającego przeniesiona z "moje zgłoszenia" na 
    stronę szczegółów zgłoszenia.</li>
</ol>
<h4>Wtorek, 26 lutego 2019</h4>
<ol>
    <li>Nowa funkcja, umożliwiająca wysyłkę paczki zgłoszeń do SM. Nie trzeba już
    pobierać pojedynczych plików, i przygotowywać wiadomości. Funkcja w trakcie 
    testów, dostępna pod adresem <a href="wysylka.html" data-ajax="false">wysyłka</a>.</li>
    <li>UD automatycznie poprawia wielkość liter w komentarzu. Od teraz robi to 
    mniej agresywnie. Jeśli w zdaniu nie ma przewagi wielkich liter, to całość
    nie zostanie automatycznie poprawiona. Czyli UD nie pozwoli na pisanie 
    CAPS-LOCKIEM, ale nie poprawi ci już nazwy ulicy na z małej litery.</li>
</ol>
<h4>Sobota, 23 lutego 2019</h4>
<ol>
    <li>Wsparcie dla <a rel="external" href="https://pl.wikipedia.org/wiki/Progressive_web_app">Progressive 
    Web Apps</a>. W największym uproszczeniu oznacza to zwiększenia
    wrażenia współpracy z aplikacją mobilną a nie stroną internetową.</li>
</ol>
<h4>Piątek, 22 lutego 2019</h4>
<ol>
    <li>Przy generowaniu pierwszego zgłoszenia Uprzejmie Donoszę dużo intensywniej
    komunikuje regulamin oraz konieczność samodzielnego wysyłania zgłoszenia do SM.</li>
</ol>
<h4>Czwartek, 21 lutego 2019</h4>
<ol>
    <li>[fixed] Na iPhone'ach zdjęcia wykonane w innej orientacji niż pozioma były
    wyświetlane obrócone. Problem dotyczył także wniosku w PDF.</li>
    <li>[fixed] Do tej pory UD wymagało odświeżenia sesji co 60 minut. Sesja
    została znacznie wydłużona.</li>
</ol>
<h4>Wtorek, 19 lutego 2019</h4>
<ol>
    <li>Dodane dane UM w Górowie Iławeckim.</li>
</ol>
<h4>Poniedziałek, 18 lutego 2019</h4>
<ol>
    <li>Dodane dane Straży Miejskiej we Wrocławiu, Krakowie, Gdyni, Białymstoku,
        Łodzi, Gdańsku, Poznaniu, Toruniu, Bydgoszczy i Katowicach.</li>
</ol>
<h4>Niedziela, 3 lutego 2019</h4>
<ol>
    <li>Widok mapy w szczegółach zgłoszenia.</li>
    <li>Pola adresu i numeru rejestracyjnego mają obecnie wyłączone "autocomplete"
        (które podpowiada historyczne wartości, co bywa irytujące)</li>
</ol>
<h4>Wtorek, 29 stycznia 2019</h4>
<ol>
    <li>Dostępna jest historia zmian statusów w szczegółach zgłoszenia</li>
</ol>
<h4>Niedziela, 27 stycznia 2019</h4>
<ol>
    <li>Jeśli użytkownik zmieni automatycznie pobrany numer rejestracyjny pojazdu, to nie
    będzie on wyświetlany w dokumencie PDF.</li>
    <li>Użytkownicy, dla których nie udaje się pobrać danych GEO ze zdjęcia są o tym informowaniu
    nad polem adresu.</li>
    <li>Nowe obrazki sugerujące sposób wykonania zdjęć w trakcie tworzenia nowego zgłoszenia.</li>
    <li>Podgląd tablicy rejestracyjnej widoczny wszędzie, a nie tylko w PDF.</li>
    <li>Nowy status "wysłane (epuap)" – przydatny dla osób wysyłający swoje wnioski
    zarówno emailem jaki i poprzez EPUAP.</li>
    <li>Drobne poprawki (zduplikowane wyrazy, literówki) w szablonie dokumentu PDF.</li>
</ol>
<h4>Sobota, 19 stycznia 2019</h4>
<ol>
    <li>Uproszczenie procesu rejestracji (podpowiadanie imienia i nazwiska).
    Wystarczy uzupełnić adres i telefon.</li>
</ol>
<h4>Czwartek, 17 stycznia 2019</h4>
<ol>
    <li>Lepsze wsparcie dla pionowych obrazków w widoku zgłoszenia.</li>
    <li>[fixed] Uprzejmie Donoszę czasem błędnie wybierało tablicę rejestracyjną.
    Np. odczytywało tę widoczną np. gdzieś w oddali, a nie tę na pierwszym planie.</li>
</ol>

<h4>Poniedziałek, 14 stycznia 2019</h4>
<ol>
    <li>[fixed] Wyświetlanie tekstów kategorii nie jest już przycinane
    na małych ekranach.</li>
</ol>
<h4>Sobota, 12 stycznia 2019</h4>
<ol>
    <li>Link do <a href="przepisy.html">przepisów</a> na stronie głównej.</li>
    <li>Nowa kategoria zgłoszenia: parkowanie w strefie zamieszkania w miejscu niewyznaczonym.</li>
</ol>
<h4>Piątek, 11 stycznia 2019</h4>
<ol>
    <li>Opis drogi wewnętrznej, strefy ruchu i strefy zamieszkania w
        <a href="przepisy.html">przepisach</a>.</li>
</ol>
<h4>Środa, 9 stycznia 2019</h4>
<ol>
    <li>Nowa kategoria zgłoszeń – pojazdy powyżej 2,5t DMC.</li>
    <li>Poprawki copy w przepisach</li>
</ol>
<h4>Wtorek, 8 stycznia 2019</h4>
<ol>
    <li>W zgłoszeniach PDF na końcu pierwszego akapitu dodawany jest komentarz użytkownika.</li>
</ol>
<h4>Poniedziałek, 31 grudnia, 2018</h4>
<ol>
    <li>W polu adresu wyszukiwane są teraz tylko adresy z Polski.</li>
    <li>Intensywne zmiany na stronie <a href="przepisy.html">przepisy</a>, zmiana kolejności kategorii, bardziej
        szczegółowy opis z odniesieniami do kodeksu.</li>
</ol>
<h4>Sobota, 29 grudnia, 2018</h4>
<ol>
    <li>Po wprowadzeniu zgłoszenia (ale przed jego potwierdzeniem), można bezpiecznie
        wrócić na poprzednią stronę, dokonać edycji wniosku i dopiero wtedy go potwierdzić.</li>
    <li>[fixed] W specyficznych sytuacjach powrót na stronę "dziękujemy" generował błąd.</li>
</ol>
<h4>Czwartek, 27 grudnia, 2018</h4>
<ol>
    <li>Nowa strona z przepisami ruchu drogowego związanego z parkowaniem: <a href="przepisy.html">Przepisy</a></li>
    <li>Istotne poprawki w copy w trakcie procesu dokonywania zgłoszenia. W tym prezentowanie sugerowanego
        adresu SM do wysyłki zgłoszeń.</li>
    <li>Dla kategorii "pozostałe" pole "komentarz" staje się wymagany.</li>
</ol>
<h4>Środa, 26 grudnia, 2018</h4>
<ol>
    <li>Strona ze szczegółami zgłoszenia ma w metadanych obrazek, tytuł i opis specyficzny
        dla tego zgłoszenia (przydaje się przy shareowaniu na FB).</li>
    <li>Mocno zaktualizowana strona główna oraz opis projektu.</li>
    <li>Wersja draft <a href="przepisy.html">poradnika dotyczącego przepisów związanych z parkowaniem</a>.</li>
</ol>
<h4>Wtorek, 25 grudnia, 2018</h4>
<ol>
    <li>Użytkownicy, którzy nie podali w trakcie rejestracji swojego numeru tel.,
        nie będą już mieli pustego napisu "Tel. " na swoim zgłoszeniu PDF.</li>
</ol>
<h4>Niedziela, 23 grudnia, 2018</h4>
<ol>
    <li>Użytkownicy systemu iOS przed dokonaniem zgłoszenia, otrzymują
        sugestię aby wykonać ten proces na laptopie/komputerze stacjonarnym
        (ponieważ iOS nie przekazuje danych geolokacyjnych zawartych w zdjęciach).</li>
</ol>
<h4>Sobota, 22 grudnia, 2018</h4>
<ol>
    <li>Zgrabniejsze linki do szczegółów zgłoszenia (bez parametrów typu ?appId=xxxx)</li>
    <li>Niezalogowane osoby mogą otworzyć szczegóły dowolnego zgłoszenia (dla którego posiadają link)</li>
</ol>
<h4>Czwartek, 20 grudnia, 2018</h4>
<ol>
    <li>Wsparcie dla nowego statusu: "po wizycie w SM"</li>
</ol>
<h4>Środa, 19 grudnia, 2018</h4>
<ol>
    <li>Wsparcie dla nowych statusów: "oczekujący", "zignorowany", "wystawiony mandat"</li>
</ol>
<h4>Wtorek, 11 grudnia, 2018</h4>
<ol>
    <li>Nowy format wniosku PDF (bardziej kompaktowy).</li>
    <li>Dopisek "Zdjęcia wykonałem samodzielnie." we wniosku.</li>
    <li>Dopisek "Jestem świadomy odpowiedzialności karnej ..." we wniosku.</li>
    <li>Dopisek "Równocześnie proszę o niezamieszczanie w protokole danych ..." we wniosku</li>
    <li>Usunięta kategorii "Parkowanie w na chodniku / niszczenie chodnika", SM wskazuje, że
        udowodnienie niszczenia chodnika jest kłopotliwe.</li>
    <li>Nowa kategoria "Pojazd był zaparkowany w sposób niezgodny z oznaczeniem pionowym i poziomym".</li>
    <li>Długość sesji została wydłużona z jednego dnia do roku. UD nie powinien wymagać codziennego
        odświeżenia sesji</li>
    <li>Dostęp do "moich zgłoszeń" ze strony głównej (tylko dla zalogowanych użytkowników, którzy
        mają jakieś zarejestrowane zgłoszenia).</li>
    <li>Dostęp do ekranu rejestracji z poziomu listy zgłoszeń.</li>
    <li>[fixed] Autocomplete adresu znowu działa.</li>
</ol>
<h4>Poniedziałek, 10 grudnia, 2018</h4>
<ol>
    <li>UD nie wysyła już emaili do autora zgłoszenia (ani do SM).
        Zgłaszający powinien pobrać dokument(y) ze strony swoich zgłoszeń
        i wysłać je samodzielnie.</li>
    <li>Wielkość miniaturek zdjęć została powiększona z 350px do 600px. Duże
        zdjęcia nadal mają 1200px. Wpływa to na wielkość plików PDF (średnio
        mają teraz około 150kb). Wydaje się to być dobrym kompromisem między
        szybkością, wielkością plików oraz jakością zdjęć.</li>
</ol>
<h4>Niedziela, 9 grudnia, 2018</h4>
<ol>
    <li>[fixed] Filtrowanie zgłoszeń na liście "Moje zgłoszenia" znowu działa</li>
</ol>
<h4>Sobota, 8 grudnia, 2018</h4>
<ol>
    <li>Uprzejmie Donoszę pozwala archiwizować zgłoszenia. Na liście "Moje zgłoszenia",
        poszczególne wnioski mają dodatkową opcję "archiwizuj", która przenosi
        wniosek do drugiej listy archiwalnych zgłoszeń.</li>
</ol>
<h4>Piątek, 7 grudnia, 2018</h4>
<ol>
    <li>Uprzejmie Donoszę dokonuje detekcji płci (na podstawie imienia). Dzięki temu
        w generowanych wnioskach zamiast <i>byłem(am) świadkiem</i> jest prawidłowa
        forma gramatyczna.</li>
    <li>Dodatkowy przycisk <i>"Moje zgłoszenia"</i> na stronie nowego zgłoszenia.</li>
</ol>
<h4>Czwartek, 6 grudnia, 2018</h4>
<ol>
    <li>Nowa funkcja: recydywa. Po zeskanowaniu numeru rejestracyjnego widzimy informację ile
        wniosków zostało już zarejestrowane na ten numer.</li>
    <li>Zdjęcia na liście zgłoszeń ("moje zgłoszenia") linkują do szczegółów zgłoszenia.
        Nie trzeba celować w link <i>"szczegóły"</i></li>
    <li>Zdjęcia we wniosku PDF linkują do szczegółów zgłoszenia (oczywiście nie po wydrukowaniu...).</li>
    <li>Zdjęcia na stronie szczegółów zgłoszenia kierują do zdjęcia o większej rozdzielczości.</li>
</ol>
<h4>Środa, 5 grudnia, 2018</h4>
<ol>
    <li>Zgłoszenia PDF generowane są z użyciem małych wersji zdjęć. Redukuje to średnią wielkość
        pliku PDF z ~500kb to ~70kb. Oczywiście kosztem jakości zdjęć (ale są one nadal akceptowalne).</li>
</ol>
<h4>Wtorek, 13 listopada, 2018</h4>
<ol>
    <li>[fixed] Aktualizacja API Google Maps po zmianach Google rozwiązała problem niedziałającego
    podpowiadania adresów.</li>
    <li>Zgłoszenia na liście zgłoszeń prezentowane są od najnowszego do najstarszego.</li>
    <li>Wsparcie dla wielu straży miejskich. Obecnie wprowadzone są adresy SM
        dla Warszawy i Szczecina.</li>
</ol>
<h4>Poniedziałek, 12 lutego, 2018</h4>
<ol>
    <li>Wsparcie dla automatycznego rozpoznawania numeru rejestracyjnego na podstawie zdjęcia.</li>
    <li>Nowy format zgłoszeń generowanych do postaci PDF.</li>
</ol>
<h4>Wtorek, 30 stycznia, 2018</h4>
<ol>
    <li>Numer telefonu nie jest już wymagany przy rejestracji.</li>
</ol>
<h4>Poniedziałek, 22 stycznia, 2018</h4>
<ol>
    <li>Możliwość zakładania kont i logowania się za pomocą Google Auth.</li>
</ol>

{% endblock %}
