{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:0.2 #}

{% extends "base.html.twig" %}
{% block main %}

<h2>Historia zmian</h2>
<p><i>Wersja <code>%VERSION%</code></i></p>
<!-- %GITLOG% -->
<h4>Sobota, 21 maja 2022</h4>
<ul>
   <li>Przycisk "wyślij/zapisz" zgłoszenie jest blokowany po naciśnięciu. Powinno to
       zapobiec rzadkim przypadkom zapisania zgłoszenia podwójnie.
   </li>
   <li>Hurtowa zamiana wszystkich wystąpień słowa "email" na "e-mail".</li>
   <li>SM Myślenicach.</li>
</ul>
<h4>Środa, 18 maja 2022</h4>
<ul>
   <li>Zgłoszenia, w których godzina nie została pobrana ze zdjęcia, zmieniają formę podawania momentu zgłoszenia
       z "około godziny 15:00" na "około godziny 15.".
   </li>
</ul>
<h4>Poniedziałek, 16 maja 2022</h4>
<ul>
   <li>Zachęta do pisania na <a rel="external" href="https://www.facebook.com/groups/patologiaparkingowa/">grupie wsparcia
       użytkowników Uprzejmie Donoszę</a> umieszczona na wybranych stronach serwisu.</li>
</ul>
<h4>Czwartek, 12 maja 2022</h4>
<ul>
   <li>SM Luboń.</li>
</ul>
<h4>Niedziela
<h4>Piątek, 6 maja 2022</h4>
<ul>
    <li>Powiązanie miejscowości Święta Katarzyna z SM w Siechnicach.</li>
</ul>
<h4>Czwartek, 5 maja 2022</h4>
<ul>
   <li>Powiązanie Jelonków i Julianowa z KPP w Piasecznie.</li>
</ul>
<h4>Środa, 4 maja 2022</h4>
<ul>
   <li>Usunięty zapis <i>"Jestem świadomy odpowiedzialności karnej..."</i>. Ma on sens
       w trakcie przesłuchania świadka, ale nie w zgłoszeniu.</li>
   <li>Rozszerzenie zapisu <i>"Równocześnie proszę o niezamieszczanie w protokole danych
       dotyczących mojego miejsca zamieszkania, <b>nr. telefonu i adresu e-mail</b>."</i></li>
</ul>
<h4>Piątek, 28 kwietnia 2022</h4>
<ul>
   <li>Powiązanie Łężycy z Zieloną Górą.</li>
   <li>SM Kłodzko</li>
</ul>
<h4>Niedziela, 24 kwietnia 2022</h4>
<ul>
   <li>SM Gniezno.</li>
</ul>
<h4>Niedziela, 10 kwietnia 2022</h4>
<ul>
   <li>Rozbudowa FAQ.</li>
   <li>Zmiana adresu e-mail SM w Olsztynie.</li>
</ul>
<h4>Poniedziałek, 4 kwietnia 2022</h4>
<ul>
   <li>Zmiana adresu SM w Olsztynie.</li>
   <li>KPP Chodzież.</li>
</ul>
<h4>Czwartek, 24 marca 2022</h4>
<ul>
   <li>SM Żerniki Wrocławskie.</li>
</ul>
<h4>Wtorek, 22 marca 2022</h4>
<ul>
   <li>SM Stargard.</li>
</ul>
<h4>Sobota, 5 marca 2022</h4>
<ul>
   <li>PP Włocławek.</li>
</ul>
<h4>Poniedziałek, 28 lutego 2022</h4>
<ul>
   <li>PP Przecław.</li>
</ul>
<h4>Niedziela, 27 lutego 2022</h4>
<ul>
    <li>SM Smolec.</li>
</ul>
<h4>Środa, 16 lutego 2022</h4>
<ul>
    <li>SM Nowy Dwór Gdański.</li>
    <li>Nowy adres e-mail SM w Rybniku.</li>
</ul>
<h4>Czwartek, 10 lutego 2022</h4>
<ul>
    <li>Wysłane zgłoszenia mają (ponownie) banner z informacją o tym kiedy, i gdzie zostały one wysłane.</li>
    <li>(Znacznie) bardziej nachalna sugestia, żeby SM/Policja nie kontaktowały się za pośrednictwem Poczty Polskiej.</li>
    <li>Aktualizacja bibliotek.</li>
</ul>
<h4>Sobota, 5 lutego 2022</h4>
<ul>
    <li>Przywrócenie (po lekkim liftingu) kategorii <i>"Parkowanie na skrzyżowaniu (nie dotyczy parkowania na chodniku)"</i>.</li>
    <li>Nowa kategoria <i>"Jazda wzdłuż po chodniku lub przejściu dla pieszych"</i> dostępna dla osób wysyłających zgłoszenia
    na Stop Agresji Drogowej (niestety Straż Miejska wierzy w teleportację i sam fakt, że pojazd stoi w głębi chodnika
    nie jest wystarczającym dowodem na "jazdę wzdłuż chodnika").</li>
    <li>Poprawki ordynarnych błędów ortograficznych i gramatycznych (dzięki, Filip S.).</li>
    <li>Aktualizacja bibliotek.</li>
</ul>
<h4>Czwartek, 3 lutego 2022</h4>
<ul>
   <li>SM Bochnia.</li>
</ul>
<h4>Sobota, 29 stycznia 2022</h4>
<ul>
   <li>Rewolucja. Przy wgrywaniu zdjęć do zgłoszenia można wskaząć od razu dwa. Uwaga,
       kolejność ma znaczenie. Jeśli wgrywasz zdjęcie z kontekstem, to właśnie takie
       wskaż jako pierwsze. Jeśli z tablicą, to zacznij od niego. Kolejne zdjęcia 
       będą ignorowane.</li>
    </li>
</ul>
<h4>Piątek, 28 stycznia 2022</h4>
<ul>
   <li>Na stronie <a href="/register.html?update">ustawień konta</a> można zmienić
        domyślną liczbę ładowanych zgłoszeń z 200 na 50. Przydatne na starszych urządzeniach.</li>
    <li>Drobna poprawka w sposobie pobierania daty ze zdjęcia, która powinna pomóc osobom
        obrabiającym zdjęcia przed ich dodaniem do Uprzejmie Donoszę.
    </li>
</ul>
<h4>Niedziela, 23 stycznia 2022</h4>
<ul>
   <li>Wielki powrót Głogowa z nowym adresem e-mail.</li>
</ul>
<h4>Środa, 19 stycznia 2022</h4>
<ul>
   <li>SM Krzeszowice.</li>
</ul>
<h4>Sobota, 15 stycznia 2022</h4>
<ul>
   <li>Dla Google Bielany to osobne miasto. Zostały skojarzone z OT5.</li>
</ul>
<h4>Piątek, 14 stycznia 2022</h4>
<ul>
   <li>SG w Dobrej i Wołczkowie.</li>
   <li>Poprawka dla Głogowa (usunięcie go z bazy nie było dobrym pomysłem).</li>
   <li>Aktualizacja FAQ dla Gdyni.</li>
</ul>
<h4>Wtorek, 11 stycznia 2022</h4>
<ul>
   <li>SM Brzeg.</li>
</ul>
<h4>Poniedziałek, 10 stycznia 2022</h4>
<ul>
   <li>Zmiana adresata w Końskich (z KPP na SM).</li>
</ul>
<h4>Niedziela, 9 stycznia 2022</h4>
<ul>
   <li>Zostałem zmuszony do usunięcia Głogowa z bazy. Adres e-mail KPP Głogów przestał działać i nie udało mi się znaleźć zamiennika.</li>
</ul>
<h4>Niedziela, 2 stycznia 2022</h4>
<ul>
   <li>SM Sanok i Racibórz.</li>
</ul>
<h4>Piątek, 31 grudnia 2021</h4>
<ul>
   <li>SM Lębork, SG Kolbudy i Kowale.</li>
   <li>Aktualizacja bibliotek JS.</li>
</ul>
<h4>Środa, 29 grudnia 2021</h4>
<ul>
   <li>Nowa strona: <a href="/zapytaj-o-status.html?update">Zapytaj o status zgłoszenia</a>.</li>
   <li>Aktualizacja bibliotek JS.</li>
</ul>
<h4>Poniedziałek, 27 grudnia 2021</h4>
<ul>
   <li>KPP w Lęborku.</li>
</ul>
<h4>Wtorek, 21 grudnia 2021</h4>
<ul>
   <li>Straż Gminna w Borkowie.</li>
</ul>
<h4>Poniedziałek, 20 grudnia 2021</h4>
<ul>
   <li>SM w Pyskowicach i Morągu oraz KPP w Oleśnicy i Spalicy</li>
</ul>
<h4>Czwartek, 9 grudnia 2021</h4>
<ul>
   <li>KPP w Końskich.</li>
</ul>
<h4>Niedziela, 5 grudnia 2021</h4>
<ul>
   <li>SM w Nowym Sączu.</li>
</ul>
<h4>Sobota, 4 grudnia 2021</h4>
<ul>
   <li>KP w Nowogardzie.</li>
   <li>SM w Myszkowie.</li>
</ul>
<h4>Piątek, 3 grudnia 2021</h4>
<ul>
   <li>PP w Drzewicy.</li>
   <li>SM Opoczno.</li>
   <li>Literówki w danych Oddziałów Terenowych SM Warszawa.</li>
</ul>
<h4>Środa, 1 grudnia 2021</h4>
<ul>
   <li>KPP w Kołobrzegu.</li>
</ul>
<h4>Niedziela, 28 listopada 2021</h4>
<ul>
   <li>Aktualizacja bibliotek oraz interpretera PHP.</li>
</ul>
<h4>Wtorek, 23 listopada 2021</h4>
<ul>
   <li>Zmiana adresu e-mail Policji Pomorskiej na stopagresjidrogowej@gd.policja.gov.pl.</li>
</ul>
<h4>Sobota, 20 listopada 2021</h4>
<ul>
    <li>Zgłoszenia w <a href="/moje-zgloszenia.html">moje zgłoszenia</a> są sortowane po numerze, a nie dacie dodania.</li>
    <li>W szczegółach wysłanych zgłoszeń pojawia się nagłówek, z informacjami na temat wysyłki (kiedy, i do kogo).</li>
    <li>Nowa, lepsza strona o <a href="/maintenance.html">pracach serwisowych</a>.</li>
    <li>Inny sposób wiązania informacji o zgłoszeniu z jego twórcą. Nieco wolniejszy, ale odporniejszy na sporadyczne
        problemy, z jakimi borykają się hurtownicy.
    </li>
    <li>Dodane dna KP Wołów.</li>
    <li>Aktualizacja bibliotek PHP i node.</li>
</ul>
<h4>Piątek, 19 listopada 2021</h4>
<ul>
    <li>Nowy status – pouczenie.</li>
    <li>Dane o tablicach rejestracyjnych są cacheowane. Załadowanie takiego samego zdjęcia po raz drugi będzie znacznie szybsze.</li>
</ul>
<h4>Poniedziałek, 15 listopada 2021</h4>
<ul>
   <li>Dodane dane KP w Wieliszewie.</li>
</ul>
<h4>Niedziela, 14 listopada 2021</h4>
<ul>
   <li>Dodane dane KMP w Turku.</li>
</ul>
<h4>Niedziela, 7 listopada 2021</h4>
<ul>
   <li>Dodane dane SM Kętrzyn.</li>
</ul>
<h4>Poniedziałek, 1 listopada 2021</h4>
<ul>
   <li>Dodane dane SM w Zawierciu.</li>
</ul>
<h4>Środa, 27 października 2021</h4>
<ul>
   <li>Skojarzenie SM Piaseczno z miejscowością Józefosław.</li>
</ul>
<h4>Wtorek, 26 października 2021</h4>
<ul>
   <li>Skojarzenie SM Warszawa z miejscowością Józefosław.</li>
</ul>
<h4>Czwartek, 14 października 2021</h4>
<ul>
    <li>Skojarzenie KP w Otwocku z Karczewem.</li>
</ul>
<h4>Środa, 13 października 2021</h4>
<ul>
    <li>Dodane dane KP w Człuchowie.</li>
</ul>
<h4>Czwartek, 7 października 2021</h4>
<ul>
    <li>Skojarzenie "Wrocław-Psie Pole" z resztą Wrocławia.</li>
</ul>
<h4>Niedziela, 3 października 2021</h4>
<ul>
    <li>Kłopotliwe adresy takie jak "Żwirki i Wigury 103/105, Warszawa", są automatycznie pozbawiane numeru mieszkania.</li>
</ul>
<h4>Piątek, 17 września 2021</h4>
<ul>
    <li>Dodane dane KP w Płocku (miejscowości Nowy Duninów i Soczewka) oraz Straży Gminnej w Dopiewie.</li>
</ul>
<h4>Środa, 8 września 2021</h4>
<ul>
    <li>Dodane dane KP w Zielonkach.</li>
</ul>
<h4>Czwartek, 26 sierpnia 2021</h4>
<ul>
    <li>Dodane dane SM w Kościerzynie.</li>
</ul>
<h4>Poniedziałek, 23 sierpnia 2021</h4>
<ul>
    <li>Dodane dane KP w Matyldzinie.</li>
</ul>
<h4>Sobota, 21 sierpnia 2021</h4>
<ul>
    <li>Rozwiązanie problemu z pojawiającym się błędem "Odmawiam zmiany statusu z confirmed-waiting na confirmed".</li>
    <li>Rozwiązanie problemu ustawianiem mapy na Trypolis.</li>
    <li>Rozwiązanie problemu z pojawiającym się błędem nadpisywania istniejących zgłoszeń (!).</li>
</ul>
<h4>Środa, 18 sierpnia 2021</h4>
<ul>
    <li>Rozwiązanie problemu logowania z wyłączonymi "3rd party cookies".</li>
</ul>
<h4>Poniedziałek, 16 sierpnia 2021</h4>
<ul>
    <li>Dodane dane KP w Markach.</li>
</ul>
<h4>Niedziela, 15 sierpnia 2021</h4>
<ul>
    <li>Dodane dane SM w Ostrówie Wielkopolskim.</li>
    <li>Aktualizacja adresu e-mail Komendy Powiatowej Policji w Kartuzach.</li>
</ul>
<h4>Czwartek, 5 sierpnia 2021</h4>
<ul>
    <li>Poprawki błędów.</li>
</ul>
<h4>Wtorek, 3 sierpnia 2021</h4>
<ul>
    <li>Dodane dane straży gminnej Czerwonak/Koziegłowy.</li>
</ul>
<h4>Sobota, 24 lipca 2021</h4>
<ul>
    <li>Poprawka mechanizmu pobierania daty ze zdjęcia.</li>
    <li>Poprawka opisu do zdjęcia "parkowanie przed przejściem".</li>
    <li>Aktualizacja bibliotek odpowiedzialnych za logowanie do aplikacji przez konto Google.</li>
    <li>Lepsze (mam nadzieję) obsługa i śledzenie błędów (Sentry).</li>
</ul>
<h4>Sobota, 17 lipca 2021</h4>
<ul>
    <li>Nowe ustawienie – automatyczna wysyłka zgłoszeń bezpośrednio po ich stworzeniu.</li>
    <li>Regulamin pojawia się tylko przy pierwszym użyciu oraz po każdej jego aktualizacji (a nie za każdym razem, jak dotychczas).</li>
    <li>Poprawki walidacji formularza rejestracji.</li>
    <li>Aktualizacja bibliotek.</li>
</ul>
<h4>Piątek, 16 lipca 2021</h4>
<ul>
    <li>Dodane dane Komisariatu Policji w Jeleśni.</li>
</ul>
<h4>Środa, 14 lipca 2021</h4>
<ul>
    <li>Dodane dane SM w Ostrowcu Świętokrzyskim.</li>
</ul>
<h4>Poniedziałek, 12 lipca 2021</h4>
<ul>
    <li>Dodane dane komisariatu Policji w Ogrodzieńcu, Podzamczu i SM w Olsztynku.</li>
</ul>
<h4>Piątek, 9 lipca 2021</h4>
<ul>
    <li>Zmiana SM na KPP w Otwocku.</li>
</ul>
<h4>Czwartek, 24 czerwca 2021</h4>
<ul>
    <li>Dodane dane SM w Pszczynie.</li>
</ul>
<h4>Poniedziałek, 21 czerwca 2021</h4>
<ul>
    <li>Zmiana w Zielonce (ze zlikwidowanej Straży Miejskiej na Komisariat Policji).</li>
    <li>Dodane dane SM w Ornecie.</li>
    <li>Dodane dane Policji w Kruszwicy.</li>
</ul>
<h4>Środa, 9 czerwca 2021</h4>
<ul>
    <li>Zmiany językowe: <tt>1.5m</tt> » <tt>1,5 m</tt>.</li>
</ul>
<h4>Piątek, 4 czerwca 2021</h4>
<ul>
    <li>Zmiana adresu e-mail SM w Sulejówku.</li>
</ul>
<h4>Piątek, 28 maja 2021</h4>
<ul>
    <li>Dodane dane SM w Złotoryi.</li>
</ul>
<h4>Czwartek, 27 maja 2021</h4>
<ul>
    <li>Dodane dane SM w Żarkach.</li>
    <li>Wydłużenie długości numeru tel. w rejestracji z 11 do 12 znaków.</li>
</ul>
<h4>Poniedziałek, 24 maja 2021</h4>
<ul>
    <li>Poprawki zgodnie z regułą 55.9.1. Zasad pisowni i interpunkcji języka polskiego.</li>
</ul>
<h4>Piątek, 21 maja 2021</h4>
<ul>
    <li>Dodane dane SM we Wrześni.</li>
</ul>
<h4>Czwartek, 20 maja 2021</h4>
<ul>
    <li>W pismach generowanych przez Uprzejmie Donoszę pojawiają się konkretne odniesienia
    to PoRD.</li>
</ul>
<h4>Wtorek, 18 maja 2021</h4>
<ul>
    <li>Dodane dane SM w Wałbrzychu.</li>
</ul>
<h4>Niedziela, 16 maja 2021</h4>
<ul>
    <li>Dodane dane policji w Solcu Kujawskim.</li>
</ul>
<h4>Wtorek, 11 maja 2021</h4>
<ul>
    <li>Dodane dane straży miejskiej w Pucku.</li>
</ul>
<h4>Czwartek, 6 maja 2021</h4>
<ul>
    <li>Dodane dane straży gminnej w Komornikach i Plewiskach.</li>
</ul>
<h4>Poniedziałek, 3 maja 2021</h4>
<ul>
    <li>Dodane dane straży miejskiej w Opatowie.</li>
</ul>
<h4>Niedziela, 2 maja 2021</h4>
<ul>
    <li>Dodane dane straży miejskiej w Nałęczowie.</li>
</ul>
<h4>Sobota, 1 maja 2021</h4>
<ul>
    <li>Dodane dane straży miejskiej w Puławach.</li>
</ul>
<h4>Piątek, 30 kwietnia 2021</h4>
<ul>
    <li>Dodane dane straży miejskiej w Bolesławcu.</li>
    <li>Poprawka – po poprzednim zmian w kategoriach możliwe było dokonanie zgłoszenia bez jej wskazania.</li>
</ul>
<h4>Czwartek, 29 kwietnia 2021</h4>
<ul>
    <li>Zmiany kategoriach, trzy usunięte, cztery nowe dodane. Szczegołowy opis na <a href="https://www.facebook.com/story.php?story_fbid=867410040477504&id=376893976195782">FB</a>.</li>
    <li>Dodane dane straży gminnej w Kołbaskowie i Rosówku.</li>
</ul>
<h4>Wtorek, 27 kwietnia 2021</h4>
<ul>
    <li>Usunięcie ostrzeżenia dla Wrocławia, o tym, że SM "masowo odrzuca zgłoszenia ze względu na COVID".</li>
    <li>Dodatnie ostrzeżenia dla Torunia, o wątpliwych praktykach SM stojącej na stanowisku, że mogą nie przyjmować zgłoszeń otrzymanych mailem.</li>
    <li>Dodanie danych SM Siemianowice Śląskie.</li>
</ul>
<h4>Poniedziałek, 26 kwietnia 2021</h4>
<ul>
    <li>Aktualizacja adresu e-mail komisariatu Policji w Piastowie.</li>
    <li>Zmiany w silniku Uprzejmie Donoszę (wsparcie dla SCSS), przygotowujące grunt na przyszłe funkcje.</li>
    <li>Dodane dane SM w Górzycach.</li>
</ul>
<h4>Czwartek, 15 kwietnia 2021</h4>
<ul>
    <li>Zmiana sposobu przechowywania zdjęć (zrobiło się ich 30GB i zaczynały lekko ciążyć).</li>
    <li>Dodane dane SM w Radlinie.</li>
</ul>
<h4>Środa, 14 kwietnia 2021</h4>
<ul>
    <li>Strona <a href="/maintenance.html">przerwa serwisowa</a>, powstała na potrzeby
    przeprowadzenia prac przygotowujących serwis na zwiększony ruch.</li>
</ul>
<h4>Poniedziałek, 12 kwietnia 2021</h4>
<ul>
   <li>Poprawka funkcji zmiany statusów (która była okropnie wolna).</li>
</ul>
<h4>Czwartek, 8 kwietnia 2021</h4>
<ul>
    <li>Aktualizacja podpowiedzi dla użytkowników borykających się z oddziałem Łódź-Polesie.</li>
    <li>Duże zmiany w silniku Uprzejmie Donoszę, przygotowujące grunt na przyszłe funkcje.</li>
</ul>
<h4>Środa, 31 marca 2021</h4>
<ul>
    <li>Dodane dane SM w Grodkowie.</li>
</ul>
<h4>Poniedziałek, 29 marca 2021</h4>
<ul>
    <li>Dodane dane SM w Policach, Tanowie i Pilichowie.</li>
</ul>
<h4>Sobota, 27 marca 2021</h4>
<ul>
    <li>Dodane dane SM w Karpaczu.</li>
</ul>
<h4>Sobota, 20 marca 2021</h4>
<ul>
    <li>Sporo zmian w 'silniku' Uprzemie Donoszę. Na ten moment bez efektów dla użytkowników
    (taką przynajmniej mamy nadzieję ;) ).</li>
</ul>
<h4>Poniedziałek, 15 marca 2021</h4>
<ul>
    <li>Aktualizacja adresu e-mail SM w Sieradzu.</li>
</ul>
<h4>Czwartek, 11 marca 2021</h4>
<ul>
    <li>Dodane dane posterunku Policji w Podkowie Leśnej.</li>
</ul>
<h4>Poniedziałek, 8 marca 2021</h4>
<ul>
    <li>Dodane dane SM w Pabianicach.</li>
</ul>
<h4>Wtorek, 16 lutego 2021</h4>
<ul>
    <li>Mapka służąca do podglądu oraz wprowadzania adresu zgłoszenia ma możliwość dwukrotnego zwiększenia
    swojej wielkości. Przydatne na mniejszych telefonach z wyłączoną funkcją lokalizacji GPS na podstawie
    zdjęcia.</li>
</ul>
<h4>Niedziela, 7 lutego 2021</h4>
<ul>
    <li>Dodane dane SM w Otwocku, Józefowie, Serocku, Górze Kalwarii, Brwinowie, Grodzisku Mazowieckim, Milanówku, Łomiankach, Sulejówku, Nieporęcie, Wołominie, Tarczynie, Ożarowie Mazowieckim, Zielonce, Grójcu, Siedlcach, Łochowie, Węgrowie, Sierpcu, Ostrowi Mazowieckiej i Wyszkowie.</li>
</ul>
<h4>Piątek, 29 stycznia 2021</h4>
<ul>
    <li>Zmiana adresu e-mail OT7 w Warszawie.</li>
</ul>
<h4>Wtorek, 26 stycznia 2021</h4>
<ul>
    <li>Dodane dane SM w Wolsztynie.</li>
</ul>
<h4>Poniedziałek, 25 stycznia 2021</h4>
<ul>
    <li>Dodane dane SM w Rumi i Kwidzynie.</li>
    <li>Uprzejmie Donoszę szukając adresu Straży Miejskiej dopasowuje nazwy miast wyłącznie 'w całości'.
        Np. Wolsztyn nie zostanie już mylnie skojarzony z Olsztynem (a do tej pory tak było ;) ).</li>
</ul>
<h4>Niedziela, 24 stycznia 2021</h4>
<ul>
    <li>Dodane dane SM w Cieszynie.</li>
</ul>
<h4>Sobota, 23 stycznia 2021</h4>
<ul>
    <li>Dodane dane SM w Świdniku.</li>
</ul>
<h4>Czwartek, 7 stycznia 2021</h4>
<ul>
    <li>Dodane dane SM w Pile.</li>
</ul>
<h4>Niedziela, 3 stycznia 2020</h4>
<ul>
    <li>Wsparcie dla zgłoszeń dotyczących parkowania na kopercie dla niepełnosprawnych.</li>
    <li>Sekcja o parkowaniu na kopercie dla niepełnosprawnych
        <a href="/przepisy.html#niepelnosprawni" data-ajax="false">na stronie z przepisami</a>.
    <li>Dodane dane SM w Opolu i Radzyminie.</li>
</ul>
<h4>Czwartek, 29 grudnia 2020</h4>
<ul>
    <li>Dodane dane SM w Elblągu.</li>
</ul>
<h4>Sobota, 16 grudnia 2020</h4>
<ul>
    <li>Możliwość edycji zgłoszeń przed wysyłką.</li>
    <li>Jeśli algorytm jest głęboko przekonany, że prawidłowo zgadł markę pojazdu, to
    umieści w komentarzu zdanie "Pojazd marki XXX", bez zwyczajowego "prawdopodobnie marki XXX".</li>
    <li>Aktualizacja bibliotek.</li>
</ul>
<h4>Piątek, 18 grudnia 2020</h4>
<ul>
    <li>(Dotyczy hurtowników) Przycisk "Pokaż wszystkie" na stronie
    <a href="/moje-zgloszenia.html">moje zgłoszenia</a> nie odkrywa zgłoszeń
    przeniesionych do archiwum.</li>
</ul>
<h4>Czwartek, 17 grudnia 2020</h4>
<ul>
    <li>Dodane dane SM w Skierniewicach.</li>
</ul>
<h4>Wtorek, 15 grudnia 2020</h4>
<ul>
    <li>Poprawki gramatyczno-stylistyczne w e-mailach generowanych przez Uprzejmie Donoszę.</li>
</ul>
<h4>Sobota, 12 grudnia 2020</h4>
<ul>
    <li>Dodane dane SM w Nowym Dworze Mazowieckim.</li>
</ul>
<h4>Środa, 9 grudnia 2020</h4>
<ul>
    <li>Aktualizacja adresu SM Łódź.</li>
</ul>
<h4>Środa, 2 grudnia 2020</h4>
<ul>
    <li>Pliki PDF załączane do zgłoszeń są od 2 grudnia 2020 pozbawione danych osobowych zgłaszającego.
    Imię, nazwisko oraz adres zgłaszającego się nadal wysyłane do SM, ale znajdują się wyłącznie w treści wiadomości
    e-mail (bez względu na to, czy wysyłasz automatycznie via Uprzejmie Donoszę, czy samodzielnie
    przez stronę <a href="/wysylka.html">wysyłka</a>). W ten sposób SM ma komplet informacji, ale
    kierowcy popełniającemu wykroczenie trudniej jest "podpatrzyć" dane osobowe zgłaszającego.</li>
    <li>Dodane dane SM w Żaganiu, Bożnowie i Wieliczce.</li>
</ul>
<h4>Wtorek, 1 grudnia 2020</h4>
<ul>
    <li>Zgłoszenia wysyłane do SM Poznań (za pośrednictwem ich API), są opatrzone dwoma zdjęciami.
    Wcześniej API SM Poznań miało limit jednego zdjęcia, co powodowało napięcia na linii Użytkownicy
    Uprzejmie Donoszę – Straż Miejska.</li>
</ul>
<h4>Niedziela, 29 listopada 2020</h4>
<ul>
    <li>Dodane dane SM w Myślenicach i Kępnie.</li>
</ul>
<h4>Poniedziałek, 16 listopada 2020</h4>
<ul>
    <li>Dodane dane SM w Żyrardowie.</li>
</ul>
<h4>Niedziela, 15 listopada 2020</h4>
<ul>
    <li>Strona <a href="/moje-zgloszenia.html">moje zgłoszenia</a> pokazuje domyślnie
    200 najnowszych zgłoszeń. Kolejne dostępne są na życzenie. Całość działa dzięki
    znacznie płynniej.</li>
</ul>
<h4>Wtorek, 10 listopada 2020</h4>
<ul>
    <li>Dodane dane SM w Tarnowskich Górach.</li>
    <li>Na urządzeniach mobilnych, nagłówek z przyciskiem "Dalej" nie chowa się
    w trakcie wpisywania tekstu w polach edycji.</li>
</ul>
<h4>Sobota, 7 listopada 2020</h4>
<ul>
    <li>Strona główna informuje o możliwości wysyłki zgłoszeń bezpośrednio
    z serwera Uprzejmie Donoszę.</li>
</ul>
<h4>Sobota, 31 października 2020</h4>
<ul>
    <li>Dodane dane SM w Jastrzębiu-Zdroju.</li>
</ul>
<h4>Piątek, 30 października 2020</h4>
<ul>
    <li>Dodane dane SM w Krapkowicach.</li>
</ul>
<h4>Czwartek, 15 października 2020</h4>
<ul>
    <li>Strona z podglądem ogłoszenia jest odporna na brak jednego ze zdjęć.</li>
    <li>Zmiana adresu SM w Górowie Iławeckim (z SM na Komisariat Policji).</li>
</ul>
<h4>Czwartek, 1 października 2020</h4>
<ul>
    <li>Dodane dane SM w Międzyzdrojach.</li>
</ul>
<h4>Poniedziałek, 29 września 2020</h4>
<ul>
    <li>Informacje o marce pojazdu są dodawane tylko, kiedy algorytm jest w miarę pewny (na 90%),
        że dokonał poprawnej dedukcji.</li>
</ul>
<h4>Poniedziałek, 28 września 2020</h4>
<ul>
    <li>Dodane dane SM w Goleniowie.</li>
</ul>
<h4>Niedziela, 27 września 2020</h4>
<ul>
    <li>Tutorial o tym jak zainstalować Uprzejmie Donoszę jako <a data-ajax="false" href="/aplikacja.html">aplikację</a>.</li>
    <li>Uprzejmie Donoszę dokonuje detekcji marki pojazdu sprawcy, i umieszcza w komentarzu do
        zgłoszenia tekst <i>Pojazd prawdopodobnie marki ...</i>.</li>
    <li><a href="/statystyki.html">Statystyki</a> marek pojazdów sprawcy wykroczenia.</li>
    <li>Wszystkie wystąpienia zwrotu <i>pod adresem</i> zostały zastąpione zwrotem <i>w okolicy adresu</i>.
        W założeniu ma to sugerować, że adres podany w zgłoszeniu jest orientacyjny (miejsca parkingowe
        nie mają adresów pocztowych, których oczekuje SM).</li>
</ul>
<h4>Poniedziałek, 21 września 2020</h4>
<ul>
    <li>Dodane dane SM w Koszalinie.</li>
    <li>Aktualizacja bibliotek.</li>
</ul>
<h4>Niedziela, 20 września 2020</h4>
<ul>
    <li>Komenda Powiatowa Policji w Zgorzelcu dodana do bazy.</li>
</ul>
<h4>Środa, 16 września 2020</h4>
<ul>
    <li>Mapa z lokalizacją zgłoszenia pokazuje okrąg zamiast pinezki.</li>
    <li><a href="/statystyki.html">Statystyki</a> prezentują dane z ostatnich dwóch lat.</li>
</ul>
<h4>Wtorek, 15 września 2020</h4>
<ul>
    <li>Poprawka w edycji daty (przyciski + i - przestawały działać przy edycji
        godzin wcześniejszych niż 10:00...).</li>
    <li>Możliwość edycji daty i godziny zgłoszenia, nawet jeśli te dane zostały pobrane
        automatycznie ze zdjęcia.</li>
</ul>
<h4>Poniedziałek, 14 września 2020</h4>
<ul>
    <li>Zmiana adresu e-mail SM Gdańsk.</li>
</ul>
<h4>Czwartek, 3 września 2020</h4>
<ul>
    <li>Włączenie możliwości automatycznej wysyłki zgłoszeń mailem dla wszystkich miast.</li>
    <li>Aktualizacja bibliotek.</li>
</ul>
<h4>Poniedziałek, 24 sierpnia 2020</h4>
<ul>
    <li>Dopisek <i>Proszę o kontakt pod adresem e-mail ...</i> w treści maila automatycznie wysyłanego do SM.</li>
</ul>
<h4>Czwartek, 20 sierpnia 2020</h4>
<ul>
    <li>Dokładniejsza walidacja pola z adresem.</li>
</ul>
<h4>Czwartek, 13 sierpnia 2020</h4>
<ul>
    <li>Dodane dane SM w Mielcu i Dębicy.</li>
</ul>
<h4>Niedziela, 2 sierpnia 2020</h4>
<ul>
    <li>Wsparcie dla Oddziałów Terenowych w Warszawie. Wiadomości są wysyłane
    bezpośrednio do odpowiedniego OT, a nie do centralnego CSK.</li>
    <li>Słupsk z automatyczną wysyłką.</li>
</ul>
<h4>Niedziela, 2 sierpnia 2020</h4>
<ul>
    <li>Automatyzacja wysyłki zgłoszeń wdrożona wstępnie dla dwóch miast (Warszawa i Wrocław).
        Zamiast "generować" e-mail do samodzielnego wysłania z klienta poczty użytkownika, Uprzejmie 
        Donoszę jest tak miłe, i wysyła wiadomość samodzielnie za pośrednictwem własnego serwera
        poczty.</li>
    <li>Strona <a href="/wysylka.html">wysyłka</a> działa nawet jeśli
        mamy zgłoszenia oczekujące na wysyłkę z różnych miast (wcześniej odmawiała współpracy).</li>
    <li>Zgłoszenia oczekujące na wysyłkę są pogrubione na listach zgłoszeń.</li>
    <li>Na stronie z podziękowaniem, najpierw pojawia się zachęta do wysyłki zgłoszenia,
        a dopiero potem do dodania do <a href="https://galeria.uprzejmiedonosze.net/" target="_blank" data-ajax="false">galerii</a></li>
    <li>Dodane dane SM w Staszowie.</li>
</ul>
<h4>Piątek, 31 lipca 2020</h4>
<ul>
    <li>Poprawka wyświetlania pionowych zdjęć na stronie zgłoszenia.</li>
    <li>Poprawka irytującego błędu pojawiającego się podczas równoczesnego
        dodawania obu obrazków do zgłoszenia.</li>
</ul>
<h4>Poniedziałek, 13 lipca 2020</h4>
<ul>
    <li>Dodane dane SM w Polkowicach.</li>
</ul>
<h4>Niedziela, 12 lipca 2020</h4>
<ul>
    <li>Dodane dane SM w Czeladzi i Komenda Powiatowa Policji w Jarocinie.</li>
</ul>
<h4>Piątek, 10 lipca 2020</h4>
<ul>
    <li>Dodane dane SM w Bytomiu.</li>
</ul>
<h4>Środa, 8 lipca 2020</h4>
<ul>
    <li>Dodane dane SM w Bielsku-Białej.</li>
</ul>
<h4>Poniedziałek, 6 lipca 2020</h4>
<ul>
    <li>Dodane dane SM w Mińsku Mazowieckiem.</li>
</ul>
<h4>Niedziela, 5 lipca 2020</h4>
<ul>
    <li>Dodane dane SM w Zalesiu Górnym.</li>
</ul>
<h4>Piątek, 3 lipca 2020</h4>
<ul>
    <li>Dodane dane komisariatu Policji w Wiskitkach.</li>
</ul>
<h4>Środa, 24 czerwca 2020</h4>
<ul>
    <li>Dodane dane SM w Mosinie oraz dwóch Krosnach... (jednym na Podkarpaciu, drugim w Wielkopolsce).</li>
</ul>
<h4>Poniedziałek, 15 czerwca 2020</h4>
<ul>
    <li>Dodane dane SM w Międzychodzie, Tychach i Zatomiu Nowym.</li>
    <li>Aktualizacja bibliotek Firebase.</li>
</ul>
<h4>Wtorek, 8 czerwca 2020</h4>
<ul>
    <li>Dodane dane SM w Kędzierzyn-Koźle (nadal mam wątpliwość jak poprawnie odmienić nazwę tego miasta ;) ).</li>
</ul>
<h4>Poniedziałek, 1 czerwca 2020</h4>
<ul>
    <li>Dodane dane SM w Kartuzach.</li>
</ul>
<h4>Czwartek, 28 maja 2020</h4>
<ul>
    <li>Poprawki procesu odczytywania danych ze zdjęć (rozwiązujące np. problem na telefonach Xiaomi).</li>
    <li>W opisie zgłoszenia przekazywanym do SM Poznań jest dodatkowo umieszczone imię i nazwisko (dla wygody strażników).</li>
</ul>
<h4>Środa, 23 maja 2020</h4>
<ul>
    <li>Tymczasowe ostrzeżenie dla mieszkańców Wrocławia. Zobacz więcej na <a href='https://www.facebook.com/story.php?story_fbid=2963032150452914&id=645390212217131&ref=page_internal' target="_blank">stronie Akcji Miasto</a>.</li>
</ul>
<h4>Piątek, 22 maja 2020</h4>
<ul>
    <li>Dodane dane SM w Koninie.</li>
</ul>
<h4>Środa, 13 maja 2020</h4>
<ul>
    <li>Dodane dane Komisariatu Policji w Kobierzycach.</li>
</ul>
<h4>Piątek, 10 kwietnia 2020</h4>
<ul>
    <li>Mała zmiana, a cieszy. <a rel="external" href="https://bitbucket.org/uprzejmiedonosze/webapp/wiki/Home">Repozytorium Uprzejmie Donoszę</a>
    jest teraz dostępne publicznie. Uważasz, że czegoś brakuje w Uprzejmie Donoszę? Teraz możesz dopisać
    to samodzielnie ;).</li>
</ul>
<h4>Wtorek, 7 kwietnia 2020</h4>
<ul>
    <li>Niespodzianka – SM Poznań nie pozwala na znak ';' w treści zgłoszenia. Zostaje automatycznie
    zamieniany na przecinek.</li>
</ul>
<h4>Poniedziałek, 30 marca 2020</h4>
<ul>
    <li>Dodane dane SM w Dzierzgoniu.</li>
</ul>
<h4>Poniedziałek, 16 marca 2020</h4>
<ul>
    <li>Dodane dane SM w Dzierżoniowie.</li>
</ul>
<h4>Środa, 11 marca 2020</h4>
<ul>
    <li>Dodane dane komendy Policji w Żukowie (a konkretnie w Kartuzach).</li>
    <li>Poprawka adresu e-mail w Słubicach.</li>
</ul>
<h4>Piątek, 6 marca 2020</h4>
<ul>
    <li>Dodane dane SM w Ciechanowie.</li>
</ul>
<h4>Czwartek, 5 marca 2020</h4>
<ul>
    <li>Dodane dane SM w Słubicach.</li>
</ul>
<h4>Środa, 27 lutego 2020</h4>
<ul>
    <li>Dodane dane SM w Głogowie i Sędławkach.</li>
</ul>
<h4>Środa, 26 lutego 2020</h4>
<ul>
    <li>Dodane dane SM w Siechnicach.</li>
</ul>
<h4>Wtorek, 25 lutego 2020</h4>
<ul>
    <li>Dodane dane SM w Radomiu.</li>
</ul>
<h4>Czwartek, 20 lutego 2020</h4>
<ul>
    <li>Dodane dane SM w Szczytnie i Bełchatowie.</li>
</ul>
<h4>Sobota, 8 lutego 2020</h4>
<ul>
    <li>Dodane dane SM w Będzinie.</li>
</ul>
<h4>Czwartek, 6 lutego 2020</h4>
<ul>
    <li>Dodane dane SM w Dąbrowie Górniczej.</li>
</ul>
<h4>Środa, 5 lutego 2020</h4>
<ul>
    <li>Nowy format plików PDF. Zmniejsza szanse na to, że zgłoszenie "rozjedzie" się na dwie strony.</li>
</ul>
<h4>Niedziela, 2 lutego 2020</h4>
<ul>
    <li>Poprawka pobierania pliku PDF na stronie <a href="wysylka.html">wysyłka</a>.</li>
    <li>Poprawka komunikacji z API SM Poznań – nie załączały się zdjęcia do zgłoszeń.</li>
    <li>Poprawka komunikacji z API SM Poznań – dodanie miejsca zamieszkania do treści zgłoszenia.</li>
</ul>

<h4>Sobota, 25 stycznia 2020</h4>
<ul>
    <li>Dodane dane SM w Nowej Rudzie.</li>
</ul>
<h4>Niedziela, 19 stycznia 2020</h4>
<ul>
    <li>Poprawki skryptu dodawania zdjęć do <a href="https://galeria.uprzejmiedonosze.net/" target="_blank" data-ajax="false">galerii</a>.</li>
</ul>
<h4>Sobota, 18 stycznia 2020</h4>
<ul>
    <li>Dodane dane komisariatu policji w Kątach Wrocławskich.</li>
    <li>Bezpośrednie odniesienia do dziesięciu miast w <a href="https://galeria.uprzejmiedonosze.net/" target="_blank" data-ajax="false">galerii</a>.</li>
</ul>
<h4>Wtorek, 14 stycznia 2020</h4>
<ul>
    <li><a href="https://galeria.uprzejmiedonosze.net/" target="_blank" data-ajax="false">Galeria Uprzejmie Donoszę</a>.</li>
    <li>Aktualizacje bezpieczeństwa.</li>
    <li>Możliwość wylogowania się (i w efekcie zmiany konta Google na inne).</li>
</ul>
<h4>Niedziela, 12 stycznia 2020</h4>
<ul>
    <li>Na liście zgłoszeń znajduje się teraz zachęta do wysłania zgłoszenia, a nie pobrania pliku PDF.</li>
    <li>Na liście zgłoszeń przyciski zmiany statusu znajdują się teraz pod zdjęciem, a nie nad.</li>
    <li>Jakość współpracy z SM Chorzów dodana do sekcji FAQ.</li>
    <li>Loader (kręcący się zielony pasek) w trakcie ładowania zdjęcia kręci się w lewo przy uploadzie pliku, i w prawo w trakcie pobierania miniaturki.</li>
</ul>
<h4>Sobota, 6 stycznia 2020</h4>
<ul>
    <li>Dodane dane SM w Żywcu.</li>
</ul>
<h4>Sobota, 4 stycznia 2020</h4>
<ul>
    <li>Dodane dane SM w Nysie i Niepołomicach.</li>
</ul>
<h4>Czwartek, 2 stycznia 2020</h4>
<ul>
    <li>Dodane dane SM w Chorzowie.</li>
</ul>
<h4>Środa, 18 grudnia 2019</h4>
<ul>
    <li>Dodane dane Komendy Policji w Łańcucie.</li>
</ul>
<h4>Niedziela, 15 grudnia 2019</h4>
<ul>
    <li>Dodane dane SM w Płocku.</li>
    <li>Zmiana siedziby SM we Wrocławiu.</li>
</ul>
<h4>Sobota, 30 listopada 2019</h4>
<ul>
    <li>Dodane dane KPP w Lubartowie.</li>
</ul>
<h4>Wtorek, 26 listopada 2019</h4>
<ul>
    <li>Dodane dane SM w Starachowicach i Kielcach.</li>
</ul>
<h4>Sobota, 23 listopada 2019</h4>
<ul>
    <li>Dodane dane SM w Grudziądzu.</li>
</ul>
<h4>Czwartek, 21 listopada 2019</h4>
<ul>
    <li>Nowy, krótszy format bezpośrednich linków do zgłoszeń (zamiast np. ud-b667f127-27d3-f3d2-9a35-4e4fb49ac4aa.html, przyjmuje on postać ud-4oZz64rotJ6J.html).</li>
</ul>
<h4>Niedziela, 3 listopada 2019</h4>
<ul>
    <li>Dodane dane SM w Olkuszu.</li>
</ul>
<h4>Niedziela, 27 października 2019</h4>
<ul>
    <li>Dodane dane SM w Piastowie i Świętochłowicach.</li>
</ul>
<h4>Niedziela, 29 września 2019</h4>
<ul>
    <li>Dodane dane SM w Żorach.</li>
</ul>
<h4>Wtorek, 24 września 2019</h4>
<ul>
    <li>Dodane dane SM w Mikołowie i Rotmance.</li>
</ul>
<h4>Niedziela, 22 września 2019</h4>
<ul>
    <li>Dodane dane SM w Pruszczu Gdańskim.</li>
    <li>Dopisek <i>"Pojazd był zaparkowany w strefie zamieszkania <b>(dłużej niż minutę)</b> poza miejscem do tego wyznaczonym"</i>.</li>
    <li>Zmiana z <i>"Pojazd blokował drogę dla rowerów"</i> na <i>"Zatrzymanie na drodze dla rowerów"</i>.</li>
</ul>
<h4>Niedziela, 15 września 2019</h4>
<ul>
    <li>Poprawka integracji z SM Poznań – (błąd występował, jeśli został dodany znak nowej linii w komentarzu).</li>
</ul>
<h4>Niedziela, 8 września 2019</h4>
<ul>
    <li>Dodane dane SM w Wadowicach.</li>
</ul>
<h4>Niedziela, 1 września 2019</h4>
<ul>
    <li>Dodane dane SM w Gołkowie.</li>
    <li>Na stronie <a href="/wysylka.html">wysyłka</a> pojawił się tekst informujący o tym, jak
    układa się współpraca mieszkańców ze Strażą Miejską w określonym mieście.</li>
</ul>
<h4>Czwartek, 29 sierpnia 2019</h4>
<ul>
    <li>Możliwość automatycznego wysyłania zgłoszeń do SM Poznań.</li>
    <li>Dodane dane SM w Jarosławiu i Legionowie.</li>
</ul>
<h4>Niedziela, 25 sierpnia 2019</h4>
<ul>
    <li>Dodane dane SM w Bełżycach.</li>
</ul>
<h4>Niedziela, 18 sierpnia 2019</h4>
<ul>
    <li>Strona <a href="/moje-zgloszenia.html">moje zgłoszenia</a> powinna ładować się
    o ~30% szybciej (odczują to głównie hurtownicy mający ponad 100/200 zgłoszeń).</li>
    <li>Po otwarciu strony <a href="/moje-zgloszenia.html">moje zgłoszenia</a>, podmenu
    ze statusami pokazuje wyłącznie pozycje mające jakieś zgłoszenia (bez np. <code>#wysłane: 0</code>).</li>
    <li>Zmiany statusu zgłoszenia dokonuje się za pomocą przycisków, a nie
    listy.</li>
    <li>Klikając w dowolne zdjęcie na liście zgłoszeń, detale zgłoszenia otwierane 
    są domyślnie jako popup.</li>
    <li></li>
</ul>
<h4>Sobota, 17 sierpnia 2019</h4>
<ul>
    <li>W menu po wybraniu opcji "Moje zgłoszenia" nie są pokazywane statusy, które nie mają żadnych zgłoszeń.</li>
    <li>Pozycja "Wysyłka" w menu jest widoczna tylko wtedy, kiedy jest coś do wysłania.</li>
    <li>Statusy są konsekwentnie prezentowane w postaci <code>#status</code>.</li>
</ul>
<h4>Czwartek, 15 sierpnia 2019</h4>
<ul>
    <li>Dodane dane SM w Słupsku.</li>
</ul>
<h4>Piątek, 9 sierpnia 2019</h4>
<ul>
    <li>Dodane dane SM w Kościelisku.</li>
</ul>
<h4>Czwartek, 8 sierpnia 2019</h4>
<ul>
    <li>Dodane dane SM w Częstochowie i Sopocie.</li>
</ul>
<h4>Poniedziałek, 5 sierpnia 2019</h4>
<ul>
    <li>Dodane dane SM w Konstantynowie Łódzkim.</li>
</ul>
<h4>Niedziela, 4 sierpnia 2019</h4>
<ul>
    <li>Dodane dane SM w Stroniu Śląskim.</li>
    <li>Nowy (oczywiście lepszy) sposób prezentowania historii zmian statusów.</li>
    <li>Osoby z literą z ogonkiem na początku imienia lub nazwiska nie mają już sugerowanej nazwy konta z małej litery.</li>
    <li>Zmiana statusu "Wystawiony mandat" na bardziej ogólny "Kierowca ukarany" (obejmuje np. pouczenie).</li>
</ul>
<h4>Środa, 24 lipca 2019</h4>
<ul>
    <li>Dodane dane SM w Gorzowie Wielkopolskim.</li>
</ul>
<h4>Niedziela, 21 lipca 2019</h4>
<ul>
    <li>Dodane dane SM w Rybniku i Wodzisławiu Śląskim.</li>
</ul>
<h4>Wtorek, 16 lipca 2019</h4>
<ul>
    <li>Dodane dane SM Gliwice.</li>
</ul>
<h4>Niedziela, 14 lipca 2019</h4>
<ul>
    <li>Dodane dane SM Suwałki.</li>
    <li>Usunięcie pozostałości po <a href="/epuap.html">EPUAP</a> na stronie
    <a href="/wysylka.html">wysyłka</a>.</li>
    <li>Na stronie <a href="/wysylka.html">wysyłka</a> pojawił się dodatkowy tekst,
    przypominający o konieczności ręcznego dodania załącznika do wiadomości e-mail.</li>
</ul>
<h4>Czwartek, 1 lipca 2019</h4>
<ul>
    <li>W zgłoszeniu wyraz "samochodu" został zastąpiony przez "pojazdu", co umożliwia
    zgłaszanie nieprawidłowo zaparkowanych motocykli i przyczep.</li>
</ul>

<h4>Czwartek, 27 czerwca 2019</h4>
<ul>
    <li>Dodane dane SM Inowrocław.</li>
</ul>
<h4>Sobota, 22 czerwca 2019</h4>
<ul>
    <li>Dodane dane SM Kalisz, Legnica, Pruszków, Niechorze, Rewal, Mysłowice, Zabrze,
    Ruda Śląska, Lublin oraz Leszno.</li>
</ul>
<h4>Wtorek, 10 czerwca 2019</h4>
<ul>
    <li>Dodane dane SM Piaseczno.</li>
</ul>
<h4>Wtorek, 04 czerwca 2019</h4>
<ul>
    <li>Dodane dane Policji Powiatowej w Nowym Targu.</li>
    <li>Aktualizacja <a href="/faq.html">FAQ</a>.</li>
</ul>
<h4>Środa, 29 maja 2019</h4>
<ul>
    <li>Poprawiony link do mapy w wersji PDF wniosku.</li>
    <li>Wybieranie lokalizacji z mapy pozwala obecnie wskazać położenie, które nie ma adresu pocztowego.</li>
    <li>Dodane informacje o SM Konstancin-Jeziorna.</li>
</ul>
<h4>Poniedziałek, 27 maja 2019</h4>
<ul>
    <li>Dodane informacje o SM w Wejherowie.</li>
</ul>
<h4>Sobota, 25 maja 2019</h4>
<ul>
    <li>Wybór lokalizacji zgłoszenia poprzez wskazanie punktu na mapie.</li>
    <li>Dodanie mapy z lokalizacją zgłoszenia do plików PDF.</li>
    <li>Zarchiwizowane zgłoszenia nie podbijają już statystyk recydywistom.</li>
</ul>
<h4>Poniedziałek, 20 maja 2019</h4>
<ul>
    <li>Dodane informacje o SM w Tarnowie.</li>
</ul>
<h4>Piątek, 10 maja 2019</h4>
<ul>
    <li>Drobne poprawki tekstów na stronie ze statystykami.</li>
    <li>Poprawka gramatyki przy odmianie liczebników na stronie wysyłki (pojawiał się,
        gdy ktoś wysyła powyżej 21 zgłoszeń na raz).</li>
    <li>Pasek z oznaczenie recydywy widoczny w trakcie tworzenia zgłoszenia zmienił
        kolor z przyjaznej zieleni, na bardziej odpowiednią agresywną żółć.</li>
</ul>
<h4>Wtorek, 7 maja 2019</h4>
<ul>
    <li>Dodane informacje o SM w Sieradzu.</li>
</ul>
<h4>Niedziela, 21 kwietnia 2019</h4>
<ul>
    <li>W trakcie analizowania obrazka, nie można wysłać formularza ze zgłoszeniem.
        W przeszłości było możliwe naciśnięcie w tym momencie przycisku "Dalej" co
        potrafiło wygenerować błąd.</li>
    <li>Inny, bardziej przejrzysty sposób prezentacji miniaturki tablicy rejestracyjnej 
        oraz informacji o recydywie.</li>
</ul>
<h4>Piątek, 19 kwietnia 2019</h4>
<ul>
    <li>Dodane informacje o SM w Łosicach.</li>
    <li>Pojedyncza weryfikacja wprowadzanych adresów (zamiast dotychczasowej podwójnej weryfikacji).
        Łatwiej jest wprowadzać adresy w "trudnych" lokalizacjach.</li>
    <li>Mapa na ekranie potwierdzenia oraz szczegółów zgłoszenia znajduje się teraz na górze strony.</li>
    <li>Obrazki widoczne w szczegółach zgłoszenia są opatrzone w "lupki" sugerujące kliknięcie.
        To, że obrazki te można powiększyć nie było dla wszystkich oczywiste.</li>
    <li>W wersji PDF znalazł się dopisek "Adres jest równocześnie linkiem prowadzącym
        do mapy z lokalizacją zgłoszenia. Podobnie zdjęcia można kliknąć aby uzyskać ich powiększenie".</li>
</ul>
<h4>Czwartek, 18 kwietnia 2019</h4>
<ul>
    <li>Dodane informacje o SM w Rzeszowie.</li>
</ul>
<h4>Środa, 17 kwietnia 2019</h4>
<ul>
    <li>Zdjęcia na listach zgłoszeń, prezentowane są nieco w przyciętej (ale za to
        stabilnej i czytelnej) postaci. Pełny rozmiar zdjęć jest dostępny tylko na 
        stronie ze szczegółami zgłoszenia.</li>
</ul>
<h4>Wtorek, 16 kwietnia 2019</h4>
<ul>
    <li>Na stronie nowego zgłoszenia, oraz w <a href="/przepisy.html">przepisach</a>
        pojawiły się wartości mandatów z taryfikatora.</li>
    <li>Na stronie <a href="/moje-zgloszenia.html">moje zgłoszenia</a> adresy linkują do
        lokalizacji na Google Maps.</li>
    <li>Także adres widoczny w pliku PDF można kliknąć (i skieruje nas do Google Maps).</li>    
    <li>Zniknął tekst, widoczny do tej pory na każdym zgłoszeniu: "nie wiem jak długo
        pozostawał w tym miejscu".</li>
    <li>Dodane informacje o SM w Sosnowcu.</li>
</ul>
<h4>Środa, 10 kwietnia 2019</h4>
<ul>
    <li>Aktualizacja opisów i przykładów zdjęć na stronie głównej.</li>
    <li>Link do mapy dostępy na liście zgłoszeń.</li>
    <li>Obrazki na stronie szczegółów zgłoszenia otwierają się w popupie (a nie w osobnym oknie).</li>
</ul>
<h4>Wtorek, 9 kwietnia 2019</h4>
<ul>
    <li>Aktualizacja strony z <a href="/faq.html">najczęściej zadawanymi pytaniami</a>.</li>
    <li>Kosmetyczne zmiany wizualne (wielkości nagłówków, font).</li>
    <li>Część z klientów pocztowych nie była w stanie automatycznie wczytać treści wiadomości 
        e-mail przygotowanej przez Uprzejmie Donoszę na stronie <a href="/wysylka.html">wysyłka</a>.
        Powodowało to otwieranie się pustego maila, co było frustrujące dla użytkowników. Obecnie
        Uprzejmie Donoszę dodatkowo wyświetla treść maila, umożliwiając jego ręczne skopiowanie
        do swojego klienta poczty.</li>
    <li>Strona ze <a data-ajax="false" href="/statystyki.html">statystykami</a> pokazuje 
    także nowe rejestracje użytkowników.</li>
</ul>
<h4>Poniedziałek, 8 kwietnia 2019</h4>
<ul>
    <li>Jeśli zdjęcie, które wgrywasz nie ma zapisanej w sobie daty wykonania (na przykład
    dlatego, że korzystasz z iPhone-a, który tę datę ze zdjęć usuwa), to od dzisiaj Uprzejmie
    Donoszę pozwoli Ci ustawić datę ręcznie.</li>
    <li>Zgłoszenia z datą pobraną automatycznie prezentują ją w formie <b>2019-04-08 o 11:48</b>,
    natomiast te z datą ustawioną ręcznie, prezentują ją w formie <b>2019-04-08 około 11:00</b>.</li>
</ul>
<h4>Czwartek, 4 kwietnia 2019</h4>
<ul>
    <li>Nowa strona, o podtytule "nie jesteś sam" — czyli
        <a data-ajax="false" href="/statystyki.html">Statystyki</a>.</li>
</ul>
<h4>Poniedziałek, 1 kwietnia 2019</h4>
<ul>
    <li>Ukłon w stronę kierowców ze specyficznymi numerami rejestracyjnymi, np.
    czteroznakowymi. Uprzejmie Donoszę do tej pory wymagał przynajmniej sześciu
    znaków w numerze.</li>
</ul>
<h4>Niedziela, 31 marca 2019</h4>
<ul>
    <li>Dodane informacje o SM w Karlinie.</li>
</ul>
<h4>Sobota, 30 marca 2019</h4>
<ul>
    <li>Aktualizacja strony z <a href="/faq.html">najczęściej zadawanymi pytaniami</a>.</li>
    <li>Dodane informacje o SM w Świdnicy.</li>
    <li>Dużo drobnych literówek poprawionych w serwisie.</li>
</ul>
<h4>Piątek, 29 marca 2019</h4>
<ul>
    <li>Dodane informacje o SM w Zielonej Górze i Olsztynie.</li>
    <li>Komentarze użytkowników zawierające znaki specjalne (np. znak większości), są prawidłowo
    wyświetlane w zgłoszeniach w formie PDF.</li>
</ul>
<h4>Sobota, 23 marca 2019</h4>
<ul>
    <li>W trakcie tworzenia zgłoszenia mamy możliwość wskazania, czy powinno ono zawierać 
        dopisek "Nie była/em świadkiem zgłoszenia", który do tej pory był obligatoryjny.</li>
    <li>W ustawieniach konta, możemy podjąć decyzję, czy chcemy aby nasze zgłoszenia zawierały 
        dopisek "Proszę o nieumieszczanie moich danych w protokole", który do tej pory 
        był obligatoryjny.</li>
    <li>Drobne literówki.</li>
    <li>Inicjalna wersja strony z <a href="/faq.html">najczęściej zadawanymi pytaniami</a>.</li>
</ul>
<h4>Czwartek, 21 marca 2019</h4>
<ul>
    <li>Dodane informacje o SM w Bartoszycach i Lidzbarku Warmińskim</li>
    <li>[fixed] Jeśli przy wprowadzaniu wniosku został użyty przycisk usuwający szkic 
        (zacznij od nowa), to uniemożliwiało to późniejszą edycję zgłoszenia.</li>
</ul>
<h4>Niedziela, 17 marca 2019</h4>
<ul>
    <li>Dodana SM w Ząbkach.</li>
</ul>
<h4>Środa, 13 marca 2019</h4>
<ul>
    <li>Dodana SM w Gryfinie.</li>
</ul>
<h4>Wtorek, 12 marca 2019</h4>
<ol>
    <li>Uprzejmie Donoszę ma "normalne" menu, a nie rozsiane po wszystkich
        stronach linki jak do tej pory.</li>
    <li>W ramach menu dostępne są statystyki zgłoszeń wg statusów.</li>
</ol>
<h4>Poniedziałek, 11 marca 2019</h4>
<ol>
    <li>Dodane dane SM Chełm</li>
</ol>
<h4>Piątek, 8 marca 2019</h4>
<ol>
    <li>Uprzejmie Donoszę wykrywa porzucone zgłoszenia. Kiedy wejdziesz drugi raz 
        na stronę tworzenia nowego zgłoszenia, zostaniesz zapytany o to, czy chcesz 
        kontynuować poprzednio wprowadzane zgłoszenie, czy zacząć od nowa.</li>
</ol>
<h4>Czwartek, 7 marca 2019</h4>
<ol>
    <li>Zmiana statusów odbywa się za pomocą listy drop-down, a nie szeregu buttonów.</li>
    <li>Recydywiści mają swój badge <sup>recydywa</sup> przy numerze rejestracyjnym.</li>
    <li>Wpisanie hasła 'recydywa' w wyszukiwarce na
        <a href="/moje-zgloszenia.html">liście zgłoszeń</a> odfiltruje nam samych recydywistów.</li>
    <li>Dodana SM Tczew.</li>
    <li>W Warszawie e-maile kierowane są domyślnie na adres ogólny (CSK@) a nie
    do pierwszego oddziału terenowego (OT1@) jak do tej pory.</li>
    <li>Nowa podstrona z instrukcjami <a href="/epuap.html">jak dokonać zgłoszenia przez EPUAP</a>.
</ol>
<h4>Poniedziałek, 4 marca 2019</h4>
<ol>
    <li>Nowy (ładniejszy) sposób ładowania zdjęć do zgłoszenia.</li>
    <li>W małym podglądzie zgłoszeń (np. na liście), nie widać już zdania "zdjęcia wykonałam/em osobiście".</li>
    <li>W małym podglądzie zgłoszeń, na małych ekranach, widoczne jest tylko pierwsze zdjęcie.</li>
</ol>
<h4>Sobota, 2 marca 2019</h4>
<ol>
    <li>Strona <a href="/wysylka.html" data-ajax="false">wysyłka</a> pozwala także 
    na hurtową zmianę statusów zgłoszeń.</li>
</ol>
<h4>Sobota, 2 marca 2019</h4>
<ol>
    <li>Zachęty do wysyłki zgłoszeń do SM także na stronie na stronie
    podziękowania za zgłoszenia.</li>
    <li>Dane geolokalizacyjne pobierane są teraz z drugiego zdjęcia (z tablicą
    rejestracyjną).</li>
    <li>Zmiana kolejności pól adres i numer rejestracyjny.</li>
    <li>W opisie pola z tablicą rejestracyjną widoczna jest nazwa marki pojazdu</li>
    <li>Uszczegółowienie <a href="/regulamin.html">regulaminu</a> Uprzejmie Donoszę.</li>
</ol>
<h4>Środa, 27 lutego 2019</h4>
<ol>
    <li>Nowa funkcja – generowanie paczki zgłoszeń w postaci jednego,
    wielostronicowego PDF-a.</li>
    <li>Nowa funkcja – generowanie gotowej wiadomości e-mail do SM.</li>
    <li>Aktualizacja <a href="/polityka-prywatnosci.html">polityki prywatności</a>.</li>
    <li>Linki do szczegółów zgłoszenia, które nie są otwierane przez autora zgłoszenia
    są pozbawione danych kontaktowych jego autora.</li>
    <li>Sugestia poprawienia danych zgłaszającego przeniesiona z "moje zgłoszenia" na 
    stronę szczegółów zgłoszenia.</li>
</ol>
<h4>Wtorek, 26 lutego 2019</h4>
<ol>
    <li>Nowa funkcja, umożliwiająca wysyłkę paczki zgłoszeń do SM. Nie trzeba już
    pobierać pojedynczych plików, i przygotowywać wiadomości. Funkcja w trakcie 
    testów, dostępna pod adresem <a href="/wysylka.html" data-ajax="false">wysyłka</a>.</li>
    <li>UD automatycznie poprawia wielkość liter w komentarzu. Od teraz robi to 
    mniej agresywnie. Jeśli w zdaniu nie ma przewagi wielkich liter, to całość
    nie zostanie automatycznie poprawiona. Czyli UD nie pozwoli na pisanie 
    CAPS-LOCKIEM, ale nie poprawi ci już nazwy ulicy na z małej litery.</li>
</ol>
<h4>Sobota, 23 lutego 2019</h4>
<ol>
    <li>Wsparcie dla <a rel="external" href="https://pl.wikipedia.org/wiki/Progressive_web_app">Progressive 
    Web Apps</a>. W największym uproszczeniu oznacza to zwiększenia
    wrażenia współpracy z aplikacją mobilną a nie stroną internetową.</li>
</ol>
<h4>Piątek, 22 lutego 2019</h4>
<ol>
    <li>Przy generowaniu pierwszego zgłoszenia Uprzejmie Donoszę dużo intensywniej
    komunikuje regulamin oraz konieczność samodzielnego wysyłania zgłoszenia do SM.</li>
</ol>
<h4>Czwartek, 21 lutego 2019</h4>
<ol>
    <li>[fixed] Na iPhone'ach zdjęcia wykonane w innej orientacji niż pozioma były
    wyświetlane obrócone. Problem dotyczył także wniosku w PDF.</li>
    <li>[fixed] Do tej pory UD wymagało odświeżenia sesji co 60 minut. Sesja
    została znacznie wydłużona.</li>
</ol>
<h4>Wtorek, 19 lutego 2019</h4>
<ol>
    <li>Dodane dane UM w Górowie Iławeckim.</li>
</ol>
<h4>Poniedziałek, 18 lutego 2019</h4>
<ol>
    <li>Dodane dane Straży Miejskiej we Wrocławiu, Krakowie, Gdyni, Białymstoku,
        Łodzi, Gdańsku, Poznaniu, Toruniu, Bydgoszczy i Katowicach.</li>
</ol>
<h4>Niedziela, 3 lutego 2019</h4>
<ol>
    <li>Widok mapy w szczegółach zgłoszenia.</li>
    <li>Pola adresu i numeru rejestracyjnego mają obecnie wyłączone "autocomplete"
        (które podpowiada historyczne wartości, co bywa irytujące)</li>
</ol>
<h4>Wtorek, 29 stycznia 2019</h4>
<ol>
    <li>Dostępna jest historia zmian statusów w szczegółach zgłoszenia</li>
</ol>
<h4>Niedziela, 27 stycznia 2019</h4>
<ol>
    <li>Jeśli użytkownik zmieni automatycznie pobrany numer rejestracyjny pojazdu, to nie
    będzie on wyświetlany w dokumencie PDF.</li>
    <li>Użytkownicy, dla których nie udaje się pobrać danych GEO ze zdjęcia są o tym informowaniu
    nad polem adresu.</li>
    <li>Nowe obrazki sugerujące sposób wykonania zdjęć w trakcie tworzenia nowego zgłoszenia.</li>
    <li>Podgląd tablicy rejestracyjnej widoczny wszędzie, a nie tylko w PDF.</li>
    <li>Nowy status "wysłane (epuap)" – przydatny dla osób wysyłający swoje wnioski
    zarówno e-mailem jaki i poprzez EPUAP.</li>
    <li>Drobne poprawki (zduplikowane wyrazy, literówki) w szablonie dokumentu PDF.</li>
</ol>
<h4>Sobota, 19 stycznia 2019</h4>
<ol>
    <li>Uproszczenie procesu rejestracji (podpowiadanie imienia i nazwiska).
    Wystarczy uzupełnić adres i telefon.</li>
</ol>
<h4>Czwartek, 17 stycznia 2019</h4>
<ol>
    <li>Lepsze wsparcie dla pionowych obrazków w widoku zgłoszenia.</li>
    <li>[fixed] Uprzejmie Donoszę czasem błędnie wybierało tablicę rejestracyjną.
    Np. odczytywało tę widoczną np. gdzieś w oddali, a nie tę na pierwszym planie.</li>
</ol>

<h4>Poniedziałek, 14 stycznia 2019</h4>
<ol>
    <li>[fixed] Wyświetlanie tekstów kategorii nie jest już przycinane
    na małych ekranach.</li>
</ol>
<h4>Sobota, 12 stycznia 2019</h4>
<ol>
    <li>Link do <a href="/przepisy.html">przepisów</a> na stronie głównej.</li>
    <li>Nowa kategoria zgłoszenia: parkowanie w strefie zamieszkania w miejscu niewyznaczonym.</li>
</ol>
<h4>Piątek, 11 stycznia 2019</h4>
<ol>
    <li>Opis drogi wewnętrznej, strefy ruchu i strefy zamieszkania w
        <a href="/przepisy.html">przepisach</a>.</li>
</ol>
<h4>Środa, 9 stycznia 2019</h4>
<ol>
    <li>Nowa kategoria zgłoszeń – pojazdy powyżej 2,5 t DMC.</li>
    <li>Poprawki copy w przepisach</li>
</ol>
<h4>Wtorek, 8 stycznia 2019</h4>
<ol>
    <li>W zgłoszeniach PDF na końcu pierwszego akapitu dodawany jest komentarz użytkownika.</li>
</ol>
<h4>Poniedziałek, 31 grudnia, 2018</h4>
<ol>
    <li>W polu adresu wyszukiwane są teraz tylko adresy z Polski.</li>
    <li>Intensywne zmiany na stronie <a href="/przepisy.html">przepisy</a>, zmiana kolejności kategorii, bardziej
        szczegółowy opis z odniesieniami do kodeksu.</li>
</ol>
<h4>Sobota, 29 grudnia, 2018</h4>
<ol>
    <li>Po wprowadzeniu zgłoszenia (ale przed jego potwierdzeniem), można bezpiecznie
        wrócić na poprzednią stronę, dokonać edycji wniosku i dopiero wtedy go potwierdzić.</li>
    <li>[fixed] W specyficznych sytuacjach powrót na stronę "dziękujemy" generował błąd.</li>
</ol>
<h4>Czwartek, 27 grudnia, 2018</h4>
<ol>
    <li>Nowa strona z przepisami ruchu drogowego związanego z parkowaniem: <a href="/przepisy.html">Przepisy</a></li>
    <li>Istotne poprawki w copy w trakcie procesu dokonywania zgłoszenia. W tym prezentowanie sugerowanego
        adresu SM do wysyłki zgłoszeń.</li>
    <li>Dla kategorii "pozostałe" pole "komentarz" staje się wymagany.</li>
</ol>
<h4>Środa, 26 grudnia, 2018</h4>
<ol>
    <li>Strona ze szczegółami zgłoszenia ma w metadanych obrazek, tytuł i opis specyficzny
        dla tego zgłoszenia (przydaje się przy shareowaniu na FB).</li>
    <li>Mocno zaktualizowana strona główna oraz opis projektu.</li>
    <li>Wersja draft <a href="/przepisy.html">poradnika dotyczącego przepisów związanych z parkowaniem</a>.</li>
</ol>
<h4>Wtorek, 25 grudnia, 2018</h4>
<ol>
    <li>Użytkownicy, którzy nie podali w trakcie rejestracji swojego numeru tel.,
        nie będą już mieli pustego napisu "Tel. " na swoim zgłoszeniu PDF.</li>
</ol>
<h4>Niedziela, 23 grudnia, 2018</h4>
<ol>
    <li>Użytkownicy systemu iOS przed dokonaniem zgłoszenia, otrzymują
        sugestię aby wykonać ten proces na laptopie/komputerze stacjonarnym
        (ponieważ iOS nie przekazuje danych geolokacyjnych zawartych w zdjęciach).</li>
</ol>
<h4>Sobota, 22 grudnia, 2018</h4>
<ol>
    <li>Zgrabniejsze linki do szczegółów zgłoszenia (bez parametrów typu ?appId=xxxx)</li>
    <li>Niezalogowane osoby mogą otworzyć szczegóły dowolnego zgłoszenia (dla którego posiadają link)</li>
</ol>
<h4>Czwartek, 20 grudnia, 2018</h4>
<ol>
    <li>Wsparcie dla nowego statusu: "po wizycie w SM"</li>
</ol>
<h4>Środa, 19 grudnia, 2018</h4>
<ol>
    <li>Wsparcie dla nowych statusów: "oczekujący", "zignorowany", "wystawiony mandat"</li>
</ol>
<h4>Wtorek, 11 grudnia, 2018</h4>
<ol>
    <li>Nowy format wniosku PDF (bardziej kompaktowy).</li>
    <li>Dopisek "Zdjęcia wykonałem samodzielnie." we wniosku.</li>
    <li>Dopisek "Jestem świadomy odpowiedzialności karnej ..." we wniosku.</li>
    <li>Dopisek "Równocześnie proszę o niezamieszczanie w protokole danych ..." we wniosku</li>
    <li>Usunięta kategorii "Parkowanie w na chodniku / niszczenie chodnika", SM wskazuje, że
        udowodnienie niszczenia chodnika jest kłopotliwe.</li>
    <li>Nowa kategoria "Pojazd był zaparkowany w sposób niezgodny z oznaczeniem pionowym i poziomym".</li>
    <li>Długość sesji została wydłużona z jednego dnia do roku. UD nie powinien wymagać codziennego
        odświeżenia sesji</li>
    <li>Dostęp do "moich zgłoszeń" ze strony głównej (tylko dla zalogowanych użytkowników, którzy
        mają jakieś zarejestrowane zgłoszenia).</li>
    <li>Dostęp do ekranu rejestracji z poziomu listy zgłoszeń.</li>
    <li>[fixed] Autocomplete adresu znowu działa.</li>
</ol>
<h4>Poniedziałek, 10 grudnia, 2018</h4>
<ol>
    <li>UD nie wysyła już e-maili do autora zgłoszenia (ani do SM).
        Zgłaszający powinien pobrać dokument(y) ze strony swoich zgłoszeń
        i wysłać je samodzielnie.</li>
    <li>Wielkość miniaturek zdjęć została powiększona z 350px do 600px. Duże
        zdjęcia nadal mają 1200px. Wpływa to na wielkość plików PDF (średnio
        mają teraz około 150kb). Wydaje się to być dobrym kompromisem między
        szybkością, wielkością plików oraz jakością zdjęć.</li>
</ol>
<h4>Niedziela, 9 grudnia, 2018</h4>
<ol>
    <li>[fixed] Filtrowanie zgłoszeń na liście "Moje zgłoszenia" znowu działa</li>
</ol>
<h4>Sobota, 8 grudnia, 2018</h4>
<ol>
    <li>Uprzejmie Donoszę pozwala archiwizować zgłoszenia. Na liście "Moje zgłoszenia",
        poszczególne wnioski mają dodatkową opcję "archiwizuj", która przenosi
        wniosek do drugiej listy archiwalnych zgłoszeń.</li>
</ol>
<h4>Piątek, 7 grudnia, 2018</h4>
<ol>
    <li>Uprzejmie Donoszę dokonuje detekcji płci (na podstawie imienia). Dzięki temu
        w generowanych wnioskach zamiast <i>byłem(am) świadkiem</i> jest prawidłowa
        forma gramatyczna.</li>
    <li>Dodatkowy przycisk <i>"Moje zgłoszenia"</i> na stronie nowego zgłoszenia.</li>
</ol>
<h4>Czwartek, 6 grudnia, 2018</h4>
<ol>
    <li>Nowa funkcja: recydywa. Po zeskanowaniu numeru rejestracyjnego widzimy informację ile
        wniosków zostało już zarejestrowane na ten numer.</li>
    <li>Zdjęcia na liście zgłoszeń ("moje zgłoszenia") linkują do szczegółów zgłoszenia.
        Nie trzeba celować w link <i>"szczegóły"</i></li>
    <li>Zdjęcia we wniosku PDF linkują do szczegółów zgłoszenia (oczywiście nie po wydrukowaniu...).</li>
    <li>Zdjęcia na stronie szczegółów zgłoszenia kierują do zdjęcia o większej rozdzielczości.</li>
</ol>
<h4>Środa, 5 grudnia, 2018</h4>
<ol>
    <li>Zgłoszenia PDF generowane są z użyciem małych wersji zdjęć. Redukuje to średnią wielkość
        pliku PDF z ~500kb to ~70kb. Oczywiście kosztem jakości zdjęć (ale są one nadal akceptowalne).</li>
</ol>
<h4>Wtorek, 13 listopada, 2018</h4>
<ol>
    <li>[fixed] Aktualizacja API Google Maps po zmianach Google rozwiązała problem niedziałającego
    podpowiadania adresów.</li>
    <li>Zgłoszenia na liście zgłoszeń prezentowane są od najnowszego do najstarszego.</li>
    <li>Wsparcie dla wielu straży miejskich. Obecnie wprowadzone są adresy SM
        dla Warszawy i Szczecina.</li>
</ol>
<h4>Poniedziałek, 12 lutego, 2018</h4>
<ol>
    <li>Wsparcie dla automatycznego rozpoznawania numeru rejestracyjnego na podstawie zdjęcia.</li>
    <li>Nowy format zgłoszeń generowanych do postaci PDF.</li>
</ol>
<h4>Wtorek, 30 stycznia, 2018</h4>
<ol>
    <li>Numer telefonu nie jest już wymagany przy rejestracji.</li>
</ol>
<h4>Poniedziałek, 22 stycznia, 2018</h4>
<ol>
    <li>Możliwość zakładania kont i logowania się za pomocą Google Auth.</li>
</ol>

{% endblock %}
