{% set leftButton = 'menu' %}

{% extends "base.html.twig" %}
{% block main %}

<h2>Pobierz paczkę dokumentów na wizytę w Straży Miejskiej</h2>
<p>na tej stronie możesz pobrać całą paczkę dokumentów potrzebną w trakcie wizyty w
    Straży Miejskiej. Paczka zostanie przygotowana dla zgłoszeń w statusie "Wysłane"
    (bez względu na to, czy będzie to przez EPUAP czy email).
    Jeśli poniższa lista jest nieprawidłowa (zbyt wiele, lub zbyt mało zgłoszeń),
    wróć na <a href="moje-zgloszenia.html">listę swoich zgłoszeń</a> i ustaw
    prawidłowo statusy.</p>

<p> Wypełnione dokumenty przesłuchania dla twoich zgłoszeń
    <a href="sm-all-data.pdf?hearingAll" download="true" data-ajax="false"
        class="ui-btn ui-corner-all ui-btn-inline try">bez daty</a>
    <a href="sm-all-data.pdf?hearingAll&tomorrow" download="true" data-ajax="false"
        class="ui-btn ui-corner-all ui-btn-inline try">z datą jutrzejszą</a>
</p>

<div data-role="collapsibleset" data-mini="true" data-inset="true">
    {% if appsEpuap|length > 0 %}
        {% for app in appsEpuap %}
            {% include('_application.html.twig') %}
        {% endfor %}
    {% endif %}

    {% if appsEmail|length > 0 %}
        {% for app in appsEmail %}
            {% include('_application.html.twig') %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}