{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:0.8 #}

{% set title = 'Jak sprawdzić co zrobiła SM w odpowiedzi na twoje zgłoszenie' %}
{% set shortTitle = 'Dzwoń do SM jak szeryf' %}
{% set mainClass = 'public' %}

{% extends "base.html.twig" %}

{% block main %}

<h2>Jak sprawdzić, co zrobiła SM w odpowiedzi na twój telefon?</h2>

<p>Dzwonisz do Straży Miejskiej i nie widzisz żadnych efektów ich interwencji? Nie jesteś sam ;).</p>

<p>Jest prosty sposób na zweryfikowanie jakie czynności podjęli strażnicy w odpowiedzi na nasze
    zgłoszenie telefoniczne. Wystarczy skorzystać z dobrodziejstwa ustawy o dostępie do informacji
    publicznej.</p>

<p>To proste. Poniżej masz prawie gotowy do skopiowania tekst do twojego wniosku. Możesz go
    wysłać emailem na adres SM, albo wysłać go <a href="/epuap.html">przez ePUAP</a> lub
    <a href="/e-doreczenia.html">e-Doręczenia</a>.
</p>

<p>Potrzebujesz pomocy? Zajrzyj do poradnika
    <a href="https://informacjapubliczna.org/sddi/zloz-wniosek-o-udostepnienie-informacji/"
        target="_blank"
        rel="external">
        Ścieżka dostępu do informacji Sieci Obywatelskiej Watchdog
    </a>.
<p>


{% if not general.isLoggedIn %}<p>(zaloguj się, to wzór wniosku zostanie uzupełnione o twoje dane)</p>{% endif %}

{% set emailSubject = 'Zapytanie o efekty interwencji SM' %}

{% set emailBody = 'Dnia <i>[' ~ callDate ~ ']</i> o godzinie <i>[' ~ callTime ~ ']</i> ' ~ config.sex.wykonalam ?? 'wykonałam' | raw ~ ' połączenie na numer Straży Miejskiej z numeru ' ~ msisdn | raw ~ ' prosząc o interwencję na ulicy <i>[Ulica XXX]</i>. 

Na podstawie ustawy o dostępie do informacji publicznej wnoszę o udostępnienie:

- informacji, czy zgłoszenie zostało potwierdzone,
- informacji od której godziny do której godziny, trwała ww. interwencja,
- informacji czy funkcjonariusze znaleźli podstawy do wyciągnięcia konsekwencji wobec kierujących, a jeśli ich nie znaleźli, to z jakim uzasadnieniem (np. nieprawidłowa organizacja ruchu - co konkretnie jest w niej nieprawidłowego),
- liczby wykonanych na miejscu ww. interwencji wezwań inicjujących postępowania w sprawach o wykroczenie,
- liczby środków oddziaływania wychowawczego udzielonych na miejscu ww. interwencji,
- liczby mandatów wypisanych na miejscu ww. interwencji,
- liczby decyzji o skierowaniu wniosków o ukaranie do sądu, które zostały podjęte na miejscu ww. interwencji,
- liczby holowań dokonanych na miejscu ww. interwencji,
- liczby założonych na miejscu ww. interwencji urządzeń do blokowania kół pojazdów.

Proszę o przekazanie ww. informacji na adres poczty elektronicznej: ' ~ email | raw ~ '.

' ~ name ~ '
' %}

<a id="copyBtn" onclick="copyToClipboard()"
    class="button light small">Skopiuj tekst</a>

<a id="sendBtn" target="_blank" rel="external" 
                    href="mailto:POPRAW@EMAIL.DO?subject={{ emailSubject|escape('url') }}&body={{ emailBody|striptags|escape('url')|replace({'%0A': '%0D%0A'}) }}"
                    class="button cta small">Wyślij twoim domyślnym programem pocztowym</a>

<dd id="copy" style="white-space: pre-wrap;">
{{ emailBody | raw }}
</dd>
{% endblock %}

