{% set leftButton = 'menu' %}

{% set sm = app.guessSMData() %}

{% set title = 'Dziękujemy' %}
{% set mainClass = 'dziekujemy' %}

{% set emailBody = 'Dzień dobry,

Proszę o dodanie Straży Miejskiej ' ~ app.address.city ~ ' (zgłoszenie ' ~ app.number ~ '):

Ulica: (uzupełnij proszę)
Adres email: (uzupełnij proszę)

Z poważaniem

' ~ app.user.name ~ '
' %}

{% set emailSubject = 'Brak SM ' ~ app.address.city %}

{% extends "base.html.twig" %}
{% block footer %}{% endblock %}
{% block main %}
{% if appsCount == 1 %}
<h2>To twoje pierwsze zgłoszenie, przeczytaj to uważnie</h2>
{% endif %}
<p>Twoje zgłoszenie {% if edited %}numer <a href="/ud-{{ app.id }}.html">{{ app.number }}</a>
    zostało zaktualizowane{% else %}zostało zarejestrowane pod numerem
    <a href="/ud-{{ app.id }}.html">{{ app.number }}</a>{% endif %}.
    Wszystkie swoje zgłoszenia możesz zawsze zobaczyć na
    <a href="/moje-zgloszenia.html">liście swoich zgłoszeń</a>.</p>

{% if app.automatedSM %}
<div class="whatNext">
    <h4>Trwa wysyłka zgłoszenia...</h4>
    <div class="loader"></div>
</div>
<div class="afterSend">
    <h4>Dziękujemy za wysłanie zgłoszenia</h4>
</div>
{% else %}
    {% set rightButton = 'menuStart' %}
    <div class="warning-header">
        <h4>Niestety, dla twojego miasta nie mamy jeszcze zapisanego adresu e-mail SM.</h4>
        <p>
            Napisz na grupie wsparcia dla użytkowników Uprzejmie Donoszę, lub napisz email do autora.
        </p>
        <p>Aby dodać twoje miasto do bazy Uprzejmie Donoszę potrzebujemy adresu siedziby oraz adres e-mail Straży Miejskiej.</p>

        <a class="button inline" rel="external" target="_blank" href="mailto:szymon@uprzejmiedonosze.net?subject={{ emailSubject|escape('url') }}&body={{ emailBody|escape('url')|replace({'%0A': '%0D%0A'}) }}">email</a>
        <a class="button inline light" rel="external" target="_blank" href="https://www.facebook.com/groups/patologiaparkingowa/">
                grupa FB</a>
    </div>
{% endif %}

{% if ( not isPatron ) and ( random(2) == 1 or appsCount == 1 ) and app.automatedSM %}
{% set dice = random('ABCD') %}
{% if dice == 'A' %}

    <h4>Nie lubisz zgłaszać?</h4>
    <p>
    Zapoznaj się z Miejską Agendą Parkingową i dowiedz się jak niewielkie zmiany
    w przepisach mogą sprawić, że Uprzejmie Donoszę nie będzie potrzebne.
    </p>
    
        <a href="https://agendaparkingowa.pl/"
            target="_blank" rel="external"
            class="map button">Miejska Agenda Parkingowa</a>.

{% elseif dice == 'B' %}

    <h4>Podobało Ci się?</h4>
    <p>
    Dołącz do kilkudziesięciu Patronek i Patronów!
    </p>

    <a href="/patronite.html"
        class="patronite button small">
        Patronite
    </a>

{% elseif dice == 'C' %}
    <h4>Wygodniej niż telefon do SM?</h4>
    <p>
    Możesz wspomóc Uprzejmie Donoszę jednorazową wpłatą
    niewielkiej kwoty na Suppi.pl (bez prowizji):
    </p>
    
    <a href="https://suppi.pl/uprzejmiedonosze"
        rel="external" target="_blank"
        class="suppi button">Suppi</a>

{% elseif dice == 'D' %}
    <h4>Wysłanie jednego zgłoszenia kosztuje około 0,75 zł</h4>
    <p>
    Z czego około 0,15 zł to koszty serwera, licencji, przetwarzania i przechowywania
    danych. A 0,60 zł to koszt mojej codziennej pracy nad utrzymaniem serwisu.
    </p>
    
    <a href="/patronite.html"
        class="patronite button small">
        Dowiedz się więcej
    </a>

{% endif %}
{% endif %}

<input type="hidden" name="applicationId" id="applicationId" value="{{ app.id }}"/>
<input type="hidden" name="automatedSM" id="automatedSM" value="{{ app.automatedSM }}"/>

<a href="/moje-zgloszenia.html" class="button light disabled last">
    Moje zgłoszenia
</a>

<a href="/nowe-zgloszenie.html" class="button disabled">
    Jeszcze raz
</a>


{% endblock %}
