{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:0.8 #}

{% set title = 'e-Doręczenia – co wiemy' %}
{% set shortTitle = 'e-Doręczenia' %}

{% extends "base.html.twig" %}

{% block main %}

	<h2>e-Doręczenia – co wiemy</h2>

	<p>Od 1 stycznia straże miejskie, tak samo jak inne organy administracji
		publicznej, muszą posiadać adres do e-Doręczeń. Czyli będziesz mogła/mógł
        do nich wysyłać pisma elektronicznie na równi z listem poleconym.</p>

	<p>W sytuacji, gdy masz założoną skrzynkę do e-Doręczeń, to zgodnie z
		ustawą straż miejska nie może wysłać ci listu poleconego i musi kierować pisma
		na twój adres do e-Doręczeń. Według ministra cyfryzacji jest to dla nich ogromne
		wyzwanie, więc na to przedłuża termin do końca 2025.</p>

	<p>Pisma kierowane do straży miejskiej na ePUAP, do końca 2025 roku będą
		równoważne z pismem wysłanym jak przez e-Doręczenia. I działa to w drugą stronę
		- straże miejskie będą musiały wysyłać ci pisma twoją skrzynkę ePUAP,
		jeżeli o to poprosisz. Nawet te pisma, od których biegnie termin i odnoszą się do
		kodeksu postępowania ws. o wykroczenie, np. zawiadomienie o niewniesieniu
        wniosku o ukaranie do sądu.</p>

	<p>Uwaga absurd: straż miejska będzie mogła zrezygnować z wysyłania ci
		pism poprzez e-Doręczenia lub ePUAP, jeżeli wystąpią „przesłanki organizacyjne”.
        I sami będą mogli sobie ustalić czy takie przesłanki występują. Z tym będzie mały
		problem, który będzie trzeba pokonać wnioskami i skargami w trybie
		kpa. W końcu zalet e-Doręczeń jest więcej, niż wad.</p>

	<p>Zawiadomienia będą mogły być wysyłane przez e-Doręczenia (i ePUAP do końca
		2025) o czym wprost mówi art. 160 ustawy o doręczeniach elektronicznych.
		Pozostaje tylko kwestia złożenia podpisu (darmowy zaufany czy absurdalnie drogi
		kwalifikowany?), ale to wyjdzie w praniu.</p>


	<h2>Wysyłka przez e-Doręczenia</h2>

    <p>Wysłałem do tej pory jedno pismo za pomocą e-Doręczeń. To zbyt mało, bym
        mógł zrobić poradnik. Ale mam kilka uwag.</p>

    <ol>
		<li>
            Punkt startowy to <a href="https://edoreczenia.gov.pl" rel="external" target="_blank">https://edoreczenia.gov.pl/</a>.
		</li>
        <li>
            Wysyłka jest w miarę intuicyjna. Nawet wyszukiwarka odbiorcy działa znośnie.
        </li>
        <li>
            Niestety na ten moment (3 stycznia 2025) jest tam sporo błędów. Nie poddawaj
            się, jeśli po wybraniu przycisku „Podpisz i wyślij” nic się nie stanie. Zapisz 
            jako szkic, odśwież stronę i spróbuj jeszcze raz – w końcu się uda.
        </li>
        <li>
            Jeśli to naprawdę nie zadziała, to do końca roku możesz zawsze skorzystać
            z wysyłki przez ePuap, dla którego mam dość <a href="/epuap.html">szczegółowy poradnik</a>.</li>
        </li>
    </ol>


{% endblock %}
