{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:0.8 #}

{% set title = 'e-Doręczenia – co wiemy' %}
{% set shortTitle = 'e-Doręczenia' %}

{% extends "base.html.twig" %}

{% block main %}

	<h2>e-Doręczenia – co wiemy</h2>

	<p>Od 1 stycznia 2025 straże miejskie, tak samo jak inne organy administracji
		publicznej, muszą posiadać adres do e-Doręczeń. Czyli będziesz mogła/mógł
        do nich wysyłać pisma elektronicznie na równi z listem poleconym.</p>
	
	<p>Powyższe NIE dotyczy Policji, która dostała dyspensę do 2029 roku. Dlatego nie
		znajdziesz na liście odbiorców swojego komisariatu. Powinnaś/powinieneś znaleźć
		na liście najbliższą komendę miejską oraz komendę wojewódzką. A to przydaje
		się w <a href="/zazalenie-na-brak-mandatu.html">pisaniu zażaleń</a>.</p>

	<p>W sytuacji, gdy masz założoną skrzynkę do e-Doręczeń, to zgodnie z
		ustawą straż miejska nie może wysłać ci listu poleconego i musi kierować pisma
		na twój adres do e-Doręczeń. Według ministra cyfryzacji jest to dla nich ogromne
		wyzwanie, więc na to przedłuża termin do końca 2025.</p>

	<p>Pierwsze doświadczenia użytkowników, którzy wysłali pismo do SM za pomocą
		e-Doręczeń są pozytywne. SM traktuje takie pisma jak złożone na piśmie z własnoręcznym
		podpisem. Strażnicy informują także o zakończeniu sprawy za pomocą e-Doręczeń.
		Oczywiście sytuacja przez pewien czas będzie odmienna w każdej jednostce SM.</p>

	<h3>Wysyłka przez e-Doręczenia</h3>

    <p>Nie jest to specjalnie skomplikowane i wygląda nieco lepiej niż e-PUAP.</p>

    <ol>
		<li>
			Stwórz „normalne” zgłoszenie i wyślij je do SM.
		</li>
		<li>
			Wejdź na stronę zgłoszenia (klikając w jedno zdjęć) i pobierz plik pdf.
		</li>
		<li>
            Przejdź na stronę <a href="https://edoreczenia.gov.pl" rel="external" target="_blank">https://edoreczenia.gov.pl/</a>.
		</li>
        <li>
            Wysyłka jest w miarę intuicyjna. Nawet wyszukiwarka odbiorcy działa znośnie.
        </li>
		<li>
			Wskaż odpowiednią jednostkę. Załącz PDF. Możesz skopiować tytuł z email-a
			a w polu numer-sprawy podać numer zgłoszenia UD.
		</li>
    </ol>
	<p>
		Niestety na ten moment (2 lutego 2025) jest tam sporo błędów. Nie poddawaj
		się, jeśli po wybraniu przycisku „Podpisz i wyślij” nic się nie stanie. Zapisz 
		jako szkic, odśwież stronę i spróbuj jeszcze raz – w końcu się uda.
	</p>
	<p>
		Jeśli to naprawdę nie zadziała, to do końca roku możesz zawsze skorzystać
		z wysyłki przez ePUAP, dla którego mam dość <a href="/epuap.html">szczegółowy poradnik</a>.
		Do końca 2025 wiadomości ePUAP są traktowane tak samo jak e-Doręczenia.</li>
	</p>

{% endblock %}
