{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:0.8 #}

{% set title = 'Wysyłka przez EPUAP' %}

{% extends "base.html.twig" %}

{% block main %}

<h2>Wysyłka przez EPUAP</h2>

<p>Poradnik informujący o tym jak wysłać zgłoszenie do Straży Miejskiej za pomocą
    platformy EPUAP. Korespondencja wysłana za pomocą tej platformy ma tę
    przewagę na mailem, że jest tożsama z własnoręcznie podpisanym dokumentem.</p>

<ol>
    <li>Wejdź na stronę
        <a href="https://www.gov.pl/web/gov/wyslij-pismo-ogolne" rel="external">https://www.gov.pl/web/gov/wyslij-pismo-ogolne</a>;
        </li>
    <li>Naciśnij przycisk <b>Wyślij pismo ogólne</b>;</li>
    <li>Zaloguj się do platformy EPUAP;</li>
    <li>Po zalogowaniu, powinna ukazać się strona <b>Pismo ogólne do podmiotu publicznego</b>;</li>
    <li>W polu z adresatem zacznij wpisywać <b>"straż miejska [nazwa twojego miasta]"</b>,
        a następnie wybierz z listy odpowiednią instytucję;</li>

<fieldset class="ui-grid-a">
    <div class="ui-block-a">
        <img data-src="/img/epuap_1-min.png" class="lazyload" />
    </div>
    <div class="ui-block-b">
        <img data-src="/img/epuap_2-min.png" class="lazyload" />
    </div>
</fieldset>

    <li>Jako rodzaj pisma wybierz <b>zawiadomienie</b>;</li>
    <li>Wypełnij tytuł pisma;</li>
    <li>Podaj treść pisma. Możesz użyć szablonu generowanego na stronie
        <a href="wysylka.html">wysyłka</a>;</li>
    <li>Dodaj załączniki z wnioskami (lub jeden połączony plik ze strony 
        <a href="wysylka.html">wysyłka</a>);</li>

<fieldset class="ui-grid-a">
    <div class="ui-block-a">
        <img data-src="/img/epuap_3-min.png" class="lazyload" />
    </div>
    <div class="ui-block-b">
        <img data-src="/img/epuap_4-min.png" class="lazyload" />
    </div>
</fieldset>

    <li>Przejdź dalej przyciskiem (niespodzianka) <b>dalej</b>;</li>
    <li>Sprawdź zawartość pisma i popraw je jeśli tego wymaga;</li>
    <li>Wybierz przycisk <b>Podpisz i wyślij</b>;</li>
    <li>Na kolejnej stronie wybierz <b>Podpisz profilem zaufanym</b>;</li>

<fieldset class="ui-grid-a">
    <div class="ui-block-a">
        <img data-src="/img/epuap_5-min.png" class="lazyload" />
    </div>
    <div class="ui-block-b">
        <img data-src="/img/epuap_6-min.png" class="lazyload" />
    </div>
</fieldset>

    <li>W zależności od tego, czy logujesz się do EPUAPu za pośrednictwem
        swojego banku czy loginem i hasłem, konkretne kroki na tym etapie
        mogą się różnić. Niemniej twoim celem jest potwierdzenie podpisania
        dokumentu;</li>
    <li>Jeśli wszystko się udało, twoim oczom powinna ukazać się strona z 
        komunikatem <b>Dziękujemy. Twoje pismo ogólne zostało wysłane</b>;</li>

<fieldset class="ui-grid-a">
    <div class="ui-block-a">
        <img data-src="/img/epuap_7-min.png" class="lazyload" />
    </div>
    <div class="ui-block-b">
        <img data-src="/img/epuap_8-min.png" class="lazyload" />
    </div>
</fieldset>

    <li>Nie zdziw się, że na twojej liście pism, dostępnej na
        <a href="https://epuap.gov.pl/wps/myportal/aplikacje/skrzynka"
            rel="external">https://epuap.gov.pl/wps/myportal/aplikacje/skrzynka</a>
        praktycznie od razu znajdziesz nieodczytaną wiadomość na czerwono.
        Ta czerwień nie oznacza błędu. To tylko Urzędowe Potwierdzenie Odbioru
        twojej wiadomości w postaci kompletnie nieczytelnego pliku <b>UPP.xml</b>;</li>
    <li>Straż Miejska właściwa dla twojego miasta może się z Tobą kontaktować
        zarówno przez EPUAP, jak i za pośrednictwem emaila podanego w zgłoszeniach;</li>
    <li><b>Uważaj</b>, EPUAP nie notyfikuje o nowych wiadomościach w skrzynce.
        Warto zalogować się do tej platformy co kilka dni, i sprawdzić czy nie
        mamy żadnych wiadomości do odczytania.</li>


<fieldset class="ui-grid-a">
    <div class="ui-block-a">
        <img data-src="/img/epuap_9-min.png" class="lazyload" />
    </div>
    <div class="ui-block-b">
        <img data-src="/img/epuap_10-min.png" class="lazyload" />
    </div>
</fieldset>

{% endblock %}
