{% if dialog %}
	{% set leftButton = 'menuBack' %}
	{% set rightButton = '' %}
{% else %}
	{% set leftButton = 'menu' %}
	{% set rightButton = 'menuStart' %}
{% endif %}
{# SITEMAP-PRIORITY:0.7 #}

{% set title = 'Najczęściej zadawane pytania' %}
{% set shortTitle = 'FAQ' %}
{% set description = 'Najczęściej zadawane pytania' %}

{% extends "base.html.twig" %}
{% block main %}

	{% macro link(target, name) %}
        <a href="#{{ target }}">{{ name }}</a>
    {% endmacro link %}

	<h2>Najczęściej zadawane pytania</h2>


	<h4>Korzystanie z Uprzejmie Donoszę</h4>
	<ul>
		<li>{{ _self.link('telefon', 'Kiedy korzystać z Uprzejmie Donoszę a kiedy dzwonić na SM?') }}</li>
		<li>{{ _self.link('to', 'Czy "to" warto zgłaszać?') }}</li>
		<li>{{ _self.link('swiadek', 'Czy zostanę wezwany na świadka?') }}</li>
		<li>{{ _self.link('recydywa', 'Czy zgłaszać ten sam pojazd kilka razy?') }}</li>
		<li>{{ _self.link('teren', 'Jak ustalić zarządcę terenu?') }}</li>
	</ul>

	<h4>Pytania techniczne</h4>
	<ul>
		<li>{{ _self.link('aplikacja', 'Gdzie mogę pobrać aplikację?') }}</li>
		<li>{{ _self.link('3zdjęcie', 'Czy można dodać więcej zdjęć?') }}</li>
		<li>{{ _self.link('bug', 'Co zrobić, jeśli coś nie działa?') }}</li>
	</ul>
	<h4>Pytania związane ze współpracą ze Strażą Miejską</h4>
	<ul>
		<li>{{ _self.link('zignorowac', 'Czy SM zdarza się zignorować zgłoszenia?') }}</li>
		<li>{{ _self.link('zwrot', 'Czy mogę uzyskać zwrot pieniędzy za przesłuchanie?') }}</li>
		<li>{{ _self.link('kpw', 'Jak wygląda postępowania mandatowe?') }}</li>
		<li>{{ _self.link('telefon2', 'SM w moim mieście odmawia przyjmowania zgłoszeń e-mail. Co robić?') }}</li>
		<li>{{ _self.link('zazalenie', 'Jak odwołać się od decyzji SM/Policji?') }}</li>
		<li>{{ _self.link('miasta', 'W jakich miastach działa Uprzejmie Donoszę?') }}</li>
	</ul>


	<h3>Korzystanie z Uprzejmie Donoszę</h3>
	<h4 id="telefon">Kiedy korzystać z Uprzejmie Donoszę a kiedy dzwonić na SM?</h4>
	<p>Zobacz nasz poradnik, który opisuje
		<a href="/jak-zglosic-nielegalne-parkowanie.html">najważniejsze techniki walki z patoparkowaniem</a>.
	</p>

	<h4 id="to">Czy "to" warto zgłaszać?</h4>
	<p>Gdzie "to", to najczęściej konkretna sytuacja na chodniku/trawniku/ulicy.
		Pamiętaj, że Uprzejmie Donoszę nie jest magiczną aplikacją do generowania mandatów.
		Nawet, jeśli nie zostaniesz wezwany świadka, to zamienienie twoich zdjęć w mandat
		wymaga realnej pracy strażników miejskich.</p>
	<p>Przyjmij, że na każde
		twoje zgłoszenie Straż Miejska musi poświęcić kilka godzin swojej pracy.
		I wtedy zastanów się, czy przypadek, który chcesz zgłosić jest warty tego wysiłku.</p>

	<h4 id="swiadek">Czy zostanę wezwany na świadka?</h4>
	<p>To zależy od miasta w którym zgłaszasz. Dowiedz się więcej na stronie
		<a href="/przesluchanie.html">Czy straż miejska wezwie mnie na przesłuchanie?</a>
	</p>

	<h4 id="recydywa">Czy zgłaszać ten sam pojazd kilka razy?</h4>
	<p>Mandat wystawiany jest za czynność, a nie stan. Oznacza to, że jeśli ktoś zaparkował
		nieprawidłowo, i stoi tam tydzień, to nie dostanie siedmiu mandatów. Nawet jeśli wyślesz
		w tym czasie dziesięć zgłoszeń. Zmarnujesz tylko czas strażników.</p>
	<p>Oczywiście z inną sytuacją mamy do czynienia, gdy ktoś codziennie staje w określonym 
		miejscu. Wtedy faktycznie każde zgłoszenie może zakończyć się mandatem. Weź jednak pod uwagę,
		że od twojego pierwszego zgłoszenia, do momentu w którym kierowca otrzyma wezwanie może minąć
		miesiąc. Dlatego jeśli masz do czynienia z recydywistą, to postaraj się z nim skontaktować.
		Włóż kartkę za wycieraczkę. Podejdź kiedy parkuje albo odjeżdża.</p>
	<p>Jeśli powyższe nie pomoże, to częstotliwość zgłoszeń pozostawiam już twojemu sumieniu. Autor 
		zgłasza recydywistów nie częściej niż raz w tygodniu.</p>
	
	<h4 id="teren">Jak ustalić zarządcę terenu?</h4>
	<p>Zapewne prędzej czy później spotkasz się z odmową podjęcia czynności przez SM, ponieważ
	„teren leży poza pasem ruchu drogowego”. Urząd miasta także może ci odmówić postawienia
	słupków wskazując, że teren nie jest w zarządzie gminy.</p>
	<p>Dlatego przydatną umiejętnością jest określenie kto jest właścicielem interesującego
	nas terenu.</p>
	<p>Niestety nie jest to trywialne. Ze względu na konflikt między
	<a href="https://uodo.gov.pl/pl/138/3402" rel="external" target="_blank">UODO i MS</a>, państwowe
	i gminne serwisy mapowe nie zawierają informacji na temat właściciela działki.</a>
	<p>Poniżej przestawiam przykładowe sposoby dla trzech miast:</p>
	<ul>
		<li>W Krakowie Zarząd Dróg publikuje <a href="https://zdmk.krakow.pl/wykaz-drog/" rel="external" target="_blank">
			wykaz dróg publicznych</a>.</li>
		<li>W Szczecinie trzeba wejścia na <a href="https://geoportal.szczecin.eu/mapa/" rel="external" target="_blank">
			geoportal</a>, i zaznaczyć warstwę „mienie gminy – do budżetu obywatelskiego”. Teren zaznaczony na żółto
			to majątek miasta.</li>	
		<li>W Warszawie jest szczególnie trudno. Własność działki nie przesądza o statusie ulicy.
			Nawet oznaczenie użytku „dr” na <a href="https://mapa.um.warszawa.pl/" rel="external" target="_blank">mapa.um.warszawa.pl</a>
			nie przesądza. Publiczne (w rozumieniu prd) są drogi z nadaną kategorią. To się robi w drodze uchwały Rady Miasta.
			Dzielnice publikują wykazy takich ulic.
			Np. <a href="https://www.ztp.waw.pl/strona-126-drogi.html" rel="external" target="_blank">wykaz dla Śródmieścia</a>. Pozostałe są wewnętrzne.
			Nie istnieje publicznie dostępna mapa z kategoryzacją wszystkich dróg w stolicy.
			W akcie desperacji możesz złożyć wniosek o słupki na <a href="https://warszawa19115.pl/incydenty" target="_blank" rel="external">19115</a>.
			I zapewne odbiją ci wniosek z informacją o tym, kto jest zarządcą terenu.</li>
	</ul>

	<h3>Pytania techniczne</h3>
	<h4 id="aplikacja">Gdzie mogę pobrać aplikację?</h4>
	<p>Nie możesz, bo Uprzejmie Donoszę nie jest aplikacją. Jest mobilną stroną WWW,
		która jednak dość skutecznie udaje aplikację (szczególnie na telefonach z Androidem).
		Zobacz jak zrobić sobie
		<a href="/aplikacja.html">wygodny skrót do Uprzejmie Donoszę</a>.</p>

	<h4 id="3zdjęcie">Czy można dodać więcej zdjęć?</h4>
	<p>Pracuję nad tym.</p>
	<p>Tymczasem, jeśli jednak masz potrzebę uzupełnienia zgłoszenia o dodatkowe informacje (zdjęcie, film,
		    uwagi o których zapomniałaś/eś), to jest na to prosty sposób:</p>
	<ol>
		<li>Znajdź swoje zgłoszenie i skopiuj jego numer</li>
		<li>Zaloguj się do swojej poczty, i poszukaj wiadomości z tym numerem</li>
		<li>Naciśnij „odpowiedz wszystkim”</li>
		<li>Usuń swój email z listy odbiorców, pozostanie tam tylko email jednostki SM/policji</li>
		<li>Załącz brakujące materiały</li>
		<li>Wyślij wiadomość</li>
	</ol>

	<h4 id="bug">Co zrobić, jeśli coś nie działa?</h4>
	<p>Napisz na
		<a rel="external" target="_blank" href="https://www.facebook.com/groups/patologiaparkingowa">grupie
			        wsparcia użytkowników Uprzejmie Donoszę</a>.
			Idealnie, jeśli będziesz mieć zrzut ekranu prezentujący problem, oraz krótki opis jak
			udało się do tej sytuacji doprowadzić.</p>

	<h3>Pytania związane ze współpracą ze Strażą Miejską</h3>

	<h4 id="zignorowac">Czy SM zdarza się zignorować zgłoszenia?</h4>
	<p>Moje doświadczenia, poparte informacjami od użytkowników wskazuje na to,
		że raczej nie. SM może zignorować anonimy. Ale zgłoszenie przygotowane przez
		Uprzejmie Donoszę ma komplet informacji, w tym kluczowe dane kontaktowe zgłaszającego.</p>
	<p>Natomiast często nie informują o przyjęciu zgłoszenia oraz rozpoczęciu sprawy. Nie 
		krępujcie się pytać i domagać informacji zwrotnej. W korespondencji z SM zawsze warto podawać
		numer rejestracyjny, datę i adres wykroczenia.</p>

	<h4 id="zwrot">Czy mogę uzyskać zwrot pieniędzy za przesłuchanie?</h4>
	<p>
		Tak. Dowiedz się więcej na stronie
		<a href="/zwrot-za-przesluchanie.html">jak uzyskać zwrot środków za przesłuchanie</a>.
	</p>

	<h4 id="kpw">Jak wygląda postępowania mandatowe?</h4>

	<p>W skrócie, koszmarnie. Ale poniżej znajdziesz uproszczoną wizualizację tego procesu.</p>

	<pre class="mermaid">
flowchart
    start([fa:fa-camera-retro Zgłoszenie]):::start

    mandat(["`fa:fa-thumbs-up kara: taryfikator
        punkty: taryfikator
        **status w UD**: mandat`"]):::ok
    fail(["`fa:fa-thumbs-down umorzenie
    **status w UD**: zignorowane`"]):::fail
    start ---> klasyfikacja
    rejected(["`fa:fa-thumbs-down brak znamion wykroczenia
    **status w UD**: zignorowane`"]):::fail

    subgraph Sądy
    court([fa:fa-gavel Sprawa sądowa o mandat]):::mixed

    court -- uniewinnienie --> innocent1
    court2 -- skazany --> penalty1
    court2 -- (mało prawdopodobne) --> innocent1
    court -- skazany --> penalty2

    court2(["`fa:fa-gavel Sprawa sądowa z urzędu o niewskazanie
        **status w UD**: mandat`"]):::mixed
    penalty1(["`fa:fa-thumbs-up kara: 500 zł
        punkty: 0`"]):::ok
    innocent1([uniewinnienie])
    penalty2(["`fa:fa-thumbs-up kara: dec. sądu
        punkty: taryfikator
        **status w UD**: mandat`"]):::ok
    end
    subgraph SM/Policja
    klasyfikacja{Klasyfikacja}
    klasyfikacja -- wykroczenie --> cepik
    klasyfikacja -- odmowa --> rejected
    cepik{CEPIK}
    cepik -- jest właściciel --> mail1
    mail1(list polecony/wezwanie)
    mail1 --> owner
    cepik -- brak danych ---> fail

    rejected --> mail3
	mail3(list polecony)
	mail3 --> complaint
	complaint@{ shape: "stadium", label: "złóż zażalenie" }

    owner{Wlaściciel}
    mail2(list polecony/wezwanie)
    owner -- nie wskazał --> court2
    owner -- wskazał sprawcę --> mail2
    owner -- wskazał obcokrajowca --> fail
    mail2 --> driver

    driver{Sprawca}
    driver -- nie przyjął ---> court
    driver -- przyjął mandat --> mandat
    end

classDef fail fill:#F99,color:white
classDef ok fill:#009C7F,color:white
classDef mixed fill:#e9c200
classDef start fill:black,color:white

</pre>
	<script type="module">
		import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
	</script>

	<h4 id="telefon2">SM w moim mieście odmawia przyjmowania zgłoszeń e-mail. Co robić?</h4>
	<p>Część SM (oraz komisariatów) odmawia wszczęcia postępowania na podstawie
		    wysłanej wiadomości e-mail. Nalegają, żeby "dzwonić".</p>

	<p>W takiej sytuacji spróbuj argumentować, że nie prosisz o interwencję, bo całe 
		    wykroczenie trwa czasem 15 minut i nie dojadą. Jeśli będziesz potrzebował(a) interwencji,
		    to z radością zadzwonisz. Natomiast tutaj wnosisz o ukarania z pozycji
		    świadka popełnionego wykroczenia.</p>

	<p>Zachęcam także do wysłania im zgłoszenia z pomocą
		<a href="/e-doreczenia.html">e-Doręczenia</a>.
			    Nie mamy jeszcze doświadczeń w tej kwestii bo to bardzo nowe rozwiązanie. Będziesz miał(a) 
			    własne, to koniecznie do mnie napisz!
	</p>

	<h4 id="zazalenie">Jak odwołać się od decyzji SM/Policji?</h4>

	<p>Dowiedz się więcej na stronie <a href="/zazalenie-na-brak-mandatu.html">
	Jak napisać zażalenie na decyzję straży miejskiej lub policji?</a></p>


	<h4 id="miasta">W jakich miastach działa Uprzejmie Donoszę?</h4>
	<p>Uprzejmie Donoszę działa wszędzie tam, gdzie istnieje możliwość zgłoszenia
		wykroczenia za pomocą poczty elektronicznej lub EPUAP. W praktyce oznacza prawie 
		każdą miejscowość w Polsce.</p>

	<p>Dla części z miast mam bezpośrednie relacje od zgłaszających. Sprawdź, czego
		możesz się spodziewać po współpracy z SM na stronie o
		<a href="/przesluchanie.html">przesłuchaniu w charakterze świadka</a>.</p>
	<p>Obecnie Uprzejmie Donoszę ma w swojej bazie adresy e-mail Straży Miejskich lub
		Gminnych dla następujących miast:
		{{ smAddresses }}.</p>


{% endblock %}