{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:0.8 #}

{% set title = 'Galeria' %}
{% set description = 'Galeria Uprzejmie Donoszę' %}
{% set mainClass = 'gallery' %}

{% extends "base.html.twig" %}

{% block main %}

<h2>Galeria Uprzejmie Donoszę</h2>
<p>Pełna galeria, zawierająca obecnie {{ general.galleryCount }} zdjęć, znajduje się pod adresem <a href="https://galeria.uprzejmiedonosze.net/">galeria.uprzejmiedonosze.net</a>.</p>

<p>Zdjęcia dla poszczególnych miast:
{% for city in galleryByCity %}
    <a href="https://galeria.uprzejmiedonosze.net/tagged/{{ city[0] }}">#{{ city[0] }}</a>
{% endfor %}
</p>

<div class="tumblr_posts">
    <div class="loader"></div>
</div>

<a href="https://galeria.uprzejmiedonosze.net/" class="button last cta">Odwiedź pełną galerię</a>

{% endblock %}
