{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:0.8 #}

{% set title = 'Galeria' %}
{% set description = 'Galeria Uprzejmie Donoszę' %}
{% set mainClass = 'gallery' %}

{% extends "base.html.twig" %}

{% block main %}

<h2>Galeria Uprzejmie Donoszę</h2>
<p>Do galerii trafiają kierowcy, którzy zostali uwiecznieni na popisach parkingowych przez dwie niezależne od siebie osoby.
Pełna galeria znajduje się pod adresem <a href="https://galeria.uprzejmiedonosze.net/">galeria.uprzejmiedonosze.net</a>.</p>

<div class="tumblr_posts">
    <div class="loader"></div>
</div>

<a href="https://galeria.uprzejmiedonosze.net/" class="button last cta">Odwiedź pełną galerię</a>

{% endblock %}
