{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:0.8 #}

{% extends "base.html.twig" %}

{% block main %}

<h2>Galeria Uprzejmie Donoszę</h2>
<p>Pełna galeria, zawierająca obecnie {{ general.galleryCount }} zdjęć, znajduje się pod adresem <a data-ajax="false" href="https://galeria.uprzejmiedonosze.net/">galeria.uprzejmiedonosze.net</a>.</p>

<p>Zdjęcia dla poszczególnych miast:
{% for city in config.galleryByCity %}
    <a href="https://galeria.uprzejmiedonosze.net/tagged/{{ city[0] }}" data-ajax="false">#{{ city[0] }}</a>
{% endfor %}
</p>

<div class="tumblr_posts">
    <div class="loader"></div>
</div>

<a data-ajax="false" href="https://galeria.uprzejmiedonosze.net/" class="ui-btn ui-corner-all ui-btn-inline try">Odwiedź pełną galerię</a>

{% endblock %}
