{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% extends "base.html.twig" %}

{% block main %}

<h2>Galeria Uprzejmie Donoszę</h2>
<p>Pełna galeria, zawierająca obecnie {{ general.galleryCount }} zdjęć, znajduje się pod adresem <a data-ajax="false" href="https://galeria.uprzejmiedonosze.net/">galeria.uprzejmiedonosze.net</a>.</p>

<p>Zdjęcia dla poszczególnych miast:
{% for city in config.galleryByCity %}
    <a href="https://galeria.uprzejmiedonosze.net/tagged/{{ city[0] }}" data-ajax="false">#{{ city[0] }}</a>
{% endfor %}
</p>

<div class="tumblr_posts">
    <div class="loader"></div>
</div>

<a data-ajax="false" href="https://galeria.uprzejmiedonosze.net/" class="ui-btn ui-corner-all ui-btn-inline try">Odwiedź pełną galerię</a>

<script>
function tumblr() {

  $.getJSON("https://galeria.uprzejmiedonosze.net/api/read/json?num=30&callback=?", function(data) {

    $.each(data.posts, function(i, posts) {
      var post = "", postElement;

      switch (this.type) {
        case "regular":
          if (this["regular-title"]) {
            post += "<h3>" + this["regular-title"] + "</h3>";
          }
          post += "<p>" + this["regular-body"] + "</p>";
          break;
        case "link":
          post = "<h3><a href='" + this["link-url"] + "'>" + this["link-text"] + "</a></h3>";
          break;
        case "quote":
          post = this["quote-text"];
          break;
        case "photo":
          post = "<div class=\"galleryItem\"><a href='" + this["url-with-slug"] + "'><img src='" + this["photo-url-500"] + "'></a>";
          if (this["photo-caption"]) {
            post += "<p>" + this["photo-caption"] + "</p>";
          }
          post += "</li>";
          break;
      }

      $("div.loader").hide();
      $("div.tumblr_posts").append(post);
    });
  });
};

$(document).ready(function() {
  if ($("div.tumblr_posts").length > 0) {
    tumblr();
  }
});
</script>

{% endblock %}
