{% block header %}
<header>
    <h1>
        <a href="/">{{ shortTitle ?? title }}</a>
        {% if general.isStaging %}
            <sup>[STG]</sup>
        {% elseif general.isProd %}
        {% else %}
            <sup>[DEV]</sup>
        {% endif %}
        {{ config.menu }}
    </h1>
{% block menu %}
    {% include('_menu.html.twig') %}
{% endblock %}
</header>
{% endblock %}
