{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:1.0 #}

{% extends "base.html.twig" %}

{% block main %}

<h2>O co chodzi?</h2>

<p>Każdy z nas chce swobodnie i bezpiecznie poruszać się po
    mieście. Niestety nie zawsze jest to możliwe. Zbyt
    często, jako piesi, zmuszeni jesteśmy do przeciskania się, chodzenia
    gęsiego, omijania, wkraczania na jezdnię zza zaparkowanych pojazdów, a
    nawet ustępowania jeżdżącym po chodnikach samochodom.</p>

<div class="video">
    <video controls poster="img/tvn-ud.png">
        <source src="img/tvn-ud.mp4" type="video/mp4" />
        <source src="img/tvn-ud.webm" type="video/webm" />
        <source src="img/tvn-ud.ogv" type="video/ogg" />
        <p>
            Twoja przeglądarka nie wspiera odtwarzania plików wideo.
            <a href="img/tvn-ud.mp4">Pobierz film</a>.
        </p>
    </video>
    <p>
    Zródło: Materiał Uwaga TVN! <a href="https://uwaga.tvn.pl/reportaze/parkowanie-w-wielkim-miescie-kierowcy-wola-zaryzykowac-100-zlotowy-mandat-niz-placic-za-caly-dzien-st7305768" target="_blank">
        Parkowanie w wielkim mieście</a> z 26 sierpnia 2023
    </p>
</div>

<p>Próbowałaś/eś dzwonić do Straży Miejskiej w swoim mieście? Wiemy
    jak to działa. Funkcjonariusze SM odwiedzają miejsce zgłoszenia po
    kilkunastu godzinach
    <a rel="external" href="https://www.facebook.com/groups/694594880572900/permalink/2483974534968250/"><sup>(źródło)</sup></a>
    i <i>"nie stwierdzają naruszenia"</i>.
</p>

<p>Problem jest dużo bardziej złożony. Obowiązujące w Polsce przepisy zachęcają
    do nielegalnego parkowania. W prawie drogowym nie występują takie słowa jak 
    „zieleń”, „trawa”. Nie występuje też słowo „dostawca” albo „zaopatrzenie”.
    To właśnie dlatego każdy skrawek zieleni w mieście musi być otoczony płotkiem,
    oraz każdy kto oświadczy, że ma coś do noszenia magicznie staje się dostawcą.
</p>
<p>Inne, równie bulwersujące przykłady:</p>
<ul>
    <li>Pieszych i pasażerów komunikacji miejskiej obejmują o wiele surowsze kary za wykroczenia niż kierowców.</li>
    <li>W praktyce parkowanie w parkach nie jest zabronione.</li>
    <li>Taniej jest parkować nielegalnie przez tydzień niż płacić w strefie parkowania przez ten sam czas.</li>
    <li>Stawki mandatów związanych z parkowaniem nie zostały zaktualizowane od 20 lat, a „opłata dodatkowa” za jazdę na gapę wzrosła w tym czasie o 500%.</li>
</ul>

<p>Dlatego zapoznaj się i podpisz mój
    <a href="https://prawapieszych.pl/" data-ajax="false" target="_blank" class="ui-btn ui-mini ui-corner-all ui-btn-inline try">wniosek do rzecznika praw obywatelskich</a> jeśli:
<ol>
    <li>chcesz, żeby centra polskich miast nie były zastawione słupkami;
    <li>przepisy nie promowały nielegalnego parkowania;</li>
    <li>zależy Ci na ochronie zieleni w miastach;</li>
    <li>chcesz ucywilizować zaopatrzenie sklepów i pracę kurierów, tak żeby mogli wykonywać swoją pracę bez niszczenia infrastruktury.</li>
</ol>
</p>
<p>Jeśli chcesz wesprzeć działanie serwisu, oraz pomóc mi w walce o zmianę przepisów związanych z parkowaniem, to zostań
    <a href="https://patronite.pl/uprzejmiedonosze" target="_blank" data-ajax="false">patronem Uprzejmie Donoszę</a>.</p>

{% if general.hasApps %}
<a href="/moje-zgloszenia.html" class="ui-btn ui-mini ui-corner-all ui-btn-inline">Twoje zgłoszenia</a>
{% else %}
<a href="/nowe-zgloszenie.html" data-ajax="false" class="ui-btn ui-mini ui-corner-all ui-btn-inline try">Sprawdź jak to działa</a>
{% endif %}
<a target="_blank" href="https://fb.me/uprzejmiedonosze.net"
    class="fb-button ui-mini ui-btn ui-corner-all ui-btn-inline">Śledź nas na FB</a>

<h3>Czym jest Uprzejmie Donoszę?</h3>

<p>
    Uprzemie Donoszę to ogólnopolskie rozwiązanie, pomagające w zgłaszeniu
    przypadków nieprawidłowego parkowania, które wpływają na bezpieczeństwo
    i komfort pieszych. Zgłoszenie stworzone za pomocą tego serwisu zawiera
    komplet wymaganych przez Straż Miejską lub Policję informacji.
    Ułatwia pracę Tobie i służbom.
</p>

<p>Wystarczy zrobić dwa zdjęcia, sprawdzić automatycznie pobrany adres i numer
    rejestracyjny oraz określić rodzaj naruszenia. Tylko tyle. Straż Miejska
    nie musi odwiedzać tego miejsca żeby stwierdzić to naruszenie naocznie.
    Dowód ze zdjęcia wraz twoim oświadczeniem jest wystarczający.</p>

<p>Zobacz, jakie to proste:</p>

<fieldset class="ui-grid-a">
    <div class="ui-block-a">
        <img data-src="img/przyklad-1.jpg" class="lazyload one-third" />
    </div>
    <div class="ui-block-b">
        <img data-src="img/przyklad-2.jpg" class="lazyload one-third" />
    </div>
</fieldset>

<p>Co dalej? Za pomocą Uprzejmie Donoszę automatycznie wyślesz wiadomość do Straży Miejskiej
    w swojej miejscowości. SM otrzyma wiadomość z pięknie przygotowanym załącznikiem PDF,
    a Ty będziesz w "Do wiadomości" tego maila. </p>
<fieldset class="ui-grid-a">
    <div class="ui-block-a">
        <img data-src="img/przyklad-3.jpg" class="lazyload one-third" />
    </div>
    <div class="ui-block-b">
        <img data-src="img/przyklad-4.jpg" class="lazyload one-third" />
    </div>
</fieldset>

<p>Czym to się różni od wysłania tych samych zdjęć jako załącznika do
    wiadomości? Wygodą:</p>
<ol>
    <li>Uprzejmie Donoszę automatycznie pobiera datę i godzinę wykonania
        zdjęcia, i ustawia je we wniosku.</li>
    <li>Także automatycznie pobierany jest numer rejestracyjny ze zdjęcia, i
        umieszczany we wniosku.</li>
    <li>Co więcej, z tego samego zdjęcia automagicznie wyciągane są dane
        geolokalizacyjne. Nie musisz więc pamiętać gdzie
        dokładnie zrobiła/eś zdjęcie.</li>
    <li>Na koniec Uprzejmie Donoszę gromadzi wszystkie twoje zgłoszenia w jedną
        czytelną listą, która pozwala Ci śledzić
        postępy poszczególnych spraw.</li>
    <li>Z rozmów z pracownikami SM i Policji wynika, że niekompletne lub wadliwe
        zgłoszenia są bardzo częstym problemem.
        Z Uprzejmie Donoszę nie popełnisz błędów.</li>
</ol>


<h3>Obowiązujące przepisy</h3>

<p>Na stronie <a href="/przepisy.html">z obowiązującymi przepisami</a> dowiesz
    się, jak poprawnie zaparkować swój samochód i na jakie przepisy powoływać
    się w rozmowie z kierowcami. Ostatecznie dowiesz się także, jaką kategorię
    naruszenia przepisów wybrać dla swojego zgłoszenia.</p>

<h3>Czy mogę jakoś pomóc w projekcie?</h3>

<p>Pewnie! Przeczytaj więcej o <a href="/projekt.html">stanie projektu i jak
        można pomóc</a>.</p>

<p>Możesz też zaostać
    <a href="https://patronite.pl/uprzejmiedonosze" target="_blank" data-ajax="false">patronem Uprzejmie Donoszę</a>.
    Chciałbym poświęcić więcej czasu swojej misji odzyskania przestrzeni dla
    pieszych. Twoje wsparcie dla serwisu Uprzejmie Donoszę może mi w tym bardzo pomóc.
</p>

<iframe src="https://patronite.pl/widget/uprzejmiedonosze/760385/small/000000/F9F9F9" width="300" height="450" frameborder="0" scrolling="no"></iframe>

<h3>Kontakt i polityka prywatności</h3>

<p>Brakuje danych Straży Miejskiej w twoim mieście? Masz uwagi do rozwiązania?
    Zajrzyj na stronę <a rel="external" href="https://fb.me/uprzejmiedonosze.net">Uprzejmie Donoszę na FB</a>.

<p>Zapraszamy także na <a rel="external" href="https://www.facebook.com/groups/patologiaparkingowa/">grupę wsparcia
        dla użytkowników Uprzejmie Donoszę</a>.</p>

<p>Zapoznaj się z <a href="/polityka-prywatnosci.html">polityką prywatności</a> Uprzejmie Donoszę.</p>

<h3>Historia zmian</h3>

<p>Zobacz <a href="/changelog.html">historię zmian</a>.</p>


{% endblock %}