{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:1.0 #}

{% extends "base.html.twig" %}

{% block main %}

<h2>O co chodzi?</h2>

<p>Każdy z nas chce swobodnie i bezpiecznie poruszać się po
    mieście. Niestety nie zawsze jest to możliwe. Zbyt
    często, jako piesi, zmuszeni jesteśmy do przeciskania się, chodzenia
    gęsiego, omijania, wkraczania na jezdnię zza zaparkowanych pojazdów, a
    nawet ustępowania jeżdżącym po chodnikach samochodom.</p>

<p>Próbowałaś/eś dzwonić do Straży Miejskiej w swoim mieście? Wiemy
    jak to działa. Funkcjonariusze SM odwiedzają miejsce zgłoszenia po
    kilkunastu godzinach
    <a rel="external" href="https://www.facebook.com/groups/694594880572900/permalink/2483974534968250/"><sup>(źródło)</sup></a>
    i <i>"nie stwierdzają naruszenia"</i>.
</p>
<p>
    Uprzemie Donoszę pomaga w zgłaszeniu przypadków nieprawidłowego parkowania,
    które wpływają na bezpieczeństwo i komfort pieszych. Zgłoszenie stworzone
    za pomocą tego serwisu zawiera komplet wymaganych przez Straż Miejską
    lub Policję informacji. Ułatwia pracę Tobie i służbom.
</p>
<h3>Czy wiesz, że:</h3>
<ul>
    <li>Pieszych i pasażerów komunikacji miejskiej obejmują o wiele surowsze kary za wykroczenia niż kierowców?</li>
    <li>Przepisy o ruchu drogowym nie zawierają słów „zieleń” lub „trawa”? W praktyce parkowanie na trawnikach lub w parkach nie jest zabronione.</li>
    <li>Taniej jest parkować nielegalnie przez tydzień niż płacić w strefie parkowania przez ten sam czas?</li>
    <li>Stawki mandatów związanych z parkowaniem nie zostały zaktualizowane od 20 lat, a „opłata dodatkowa” za jazdę na gapę wzrosła w tym czasie o 500%?</li>
</ul>

<p>Dlatego podpisz mój
    <a href="https://prawapieszych.pl/" data-ajax="false" target="_blank" class="ui-btn ui-mini ui-corner-all ui-btn-inline try">wniosek do Rzecznika Praw Obywatelskich</a>
    jeśli:
    <ol>
        <li>chcesz, żeby centra polskich miast nie były zastawione słupkami;
        <li>przepisy nie promowały nielegalnego parkowania;</li>
        <li>zależy Ci na ochronie zieleni w miastach;</li>
        <li>chcesz ucywilizować zaopatrzenie sklepów i pracę kurierów, tak żeby mogli wykonywać swoją pracę bez niszczenia infrastruktury.</li>
    </ol>
</p>
{#
{% if general.hasApps %}
<a href="/moje-zgloszenia.html" class="ui-btn ui-corner-all ui-btn-inline">Twoje zgłoszenia</a>
{% else %}
<a href="/nowe-zgloszenie.html" data-ajax="false" class="ui-btn ui-corner-all ui-btn-inline try">Sprawdź jak to działa</a>
{% endif %}
<a target="_blank" href="https://fb.me/uprzejmiedonosze.net"
    class="fb-button ui-btn ui-corner-all ui-btn-inline">Śledź nas na FB</a>
#}

<h3>Czy to wina Straży Miejskiej?</h3>

<p>Najwygodniej jest tak stwierdzić, tylko niewiele to daje. SM to
    najczęściej słabo dotowana służba, z dużymi brakami kadrowymi.
    Pracownicy SM są obarczeni bardzo niewdzięczną pracą. Zwróć
    uwagę, że dobrego słowa o nich nie powie ani osoba zgłaszająca
    naruszenia, ani ukarany.</p>

<p>Sytuacji nie ułatwiają przepisy. SM (ani Policja), nie może z automatu
    ukarać właściciela pojazdu. Musi znaleźć sprawcę. A to wymaga żmudnej
    pracy papierkowej, wysyłania korespondencji oraz bardzo często sądzenia
    się z domniemanym sprawcą.</p>

<h3>Czym jest Uprzejmie Donoszę?</h3>

<p>Uprzejmie Donoszę jest ogólnopolskim rozwiązaniem, pomagającym mieszkańcom
    w nierównej walce z recydywistami parkowania.</p>

<p>Wystarczy zrobić dwa zdjęcia, sprawdzić automatycznie pobrany adres i numer
    rejestracyjny oraz określić rodzaj naruszenia. Tylko tyle. Straż Miejska
    nie musi odwiedzać tego miejsca żeby stwierdzić to naruszenie naocznie.
    Dowód ze zdjęcia wraz twoim oświadczeniem jest wystarczający.</p>

<p>Zobacz, jakie to proste:</p>

<fieldset class="ui-grid-a">
    <div class="ui-block-a">
        <img data-src="img/przyklad-1.jpg" class="lazyload one-third" />
    </div>
    <div class="ui-block-b">
        <img data-src="img/przyklad-2.jpg" class="lazyload one-third" />
    </div>
</fieldset>

<p>Co dalej? Za pomocą Uprzejmie Donoszę automatycznie wyślesz wiadomość do Straży Miejskiej
    w swojej miejscowości. SM otrzyma wiadomość z pięknie przygotowanym załącznikiem PDF,
    a Ty będziesz w "Do wiadomości" tego maila. </p>
<fieldset class="ui-grid-a">
    <div class="ui-block-a">
        <img data-src="img/przyklad-3.jpg" class="lazyload one-third" />
    </div>
    <div class="ui-block-b">
        <img data-src="img/przyklad-4.jpg" class="lazyload one-third" />
    </div>
</fieldset>

<p>Czym to się różni od wysłania tych samych zdjęć jako załącznika do
    wiadomości? Wygodą:</p>
<ol>
    <li>Uprzejmie Donoszę automatycznie pobiera datę i godzinę wykonania
        zdjęcia, i ustawia je we wniosku.</li>
    <li>Także automatycznie pobierany jest numer rejestracyjny ze zdjęcia, i
        umieszczany we wniosku.</li>
    <li>Co więcej, z tego samego zdjęcia automagicznie wyciągane są dane
        geolokalizacyjne. Nie musisz więc pamiętać gdzie
        dokładnie zrobiła/eś zdjęcie.</li>
    <li>Na koniec Uprzejmie Donoszę gromadzi wszystkie twoje zgłoszenia w jedną
        czytelną listą, która pozwala Ci śledzić
        postępy poszczególnych spraw.</li>
    <li>Z rozmów z pracownikami SM i Policji wynika, że niekompletne lub wadliwe
        zgłoszenia są bardzo częstym problemem.
        Z Uprzejmie Donoszę nie popełnisz błędów.</li>
</ol>

<h3>Trochę historii</h3>

<p>W 2015 w Szczecinie z inicjatywy samozwańczego
    <a rel="external" href="https://web.facebook.com/rzecznikpieszych">Rzecznika Pieszych w Szczecinie</a>
    i kawiarni
    <a rel="external" href="https://web.facebook.com/stojaki.szczecin">Stojaki</a>,
    powstała akcja Rób to dobrze. Była to społeczna akcja mandatowa.</p>

<p>Dowiedz się więcej czytając historię <a href="/robtodobrze.html">Rób to Dobrze</a>.</p>

<fieldset class="ui-grid-b">
    <div class="ui-block-a">
        <a href="/robtodobrze.html">
            <img data-src="img/robtodobrze-s.jpg" class="lazyload one-third" />
        </a>
    </div>
    <div class="ui-block-b">
        <a href="/robtodobrze.html">
            <img data-src="img/sm-tvn24-s.jpg" class="lazyload one-third" />
        </a>
    </div>
    <div class="ui-block-c">
        <a href="/robtodobrze.html">
            <img data-src="img/robtodobrze-radni-s.jpg" class="lazyload one-third" />
        </a>
    </div>
</fieldset>

<p>Ta akcja wiele nas nauczyła. Przede wszystkim dowiedzieliśmy się, że takie
    działania trafiają do niewielu. A na pewno nie trafiają do osób nagminnie łamiących
    przepisy. Ale dowiedzieliśmy się także, że możliwe jest skutecznie zgłoszenie mandatu,
    wyłącznie na podstawie zdjęcia przekazanego przez mieszkańca miasta.
    Kluczowa dla Straży Miejskiej jest jakość tych zgłoszeń.</p>

<p>W kolejnych latach testowaliśmy wiele różnych możliwości:</p>

<ol>
    <li>Rozmowy oraz oficjalna korespondencja z przedstawicielami SM w kilku
        miastach;</li>
    <li>Rozmowy oraz oficjalna korespondencja z Komendą Wojewódzką Policji w
        Szczecinie, odpowiedzialną za akcję Stop
        Agresji Drogowej (analogiczna strona istnieje dla każdego województwa);</li>
    <li>Próby integracji Uprzejmie Donoszę z aplikacjami miejskimi oraz EPUAPem;</li>
    <li>Testowanie wariantu „Wydrukuj, podpisz i wyślij”.</li>
    <li>W pigułce, wiedza uzyskana w ten sposób jest następująca: bez względu na
        to jak zostanie dokonane zgłoszenie, prawdziwy problem zaczyna się później,
        ponieważ SM (albo Policja), musi ustalić sprawcę wykroczenia.
        W ruch wchodzi poczta, listy polecone, sądy. Trwa to miesiącami, marnuje
        czas, papier i pieniądze.</li>
</ol>

<h3>Obowiązujące przepisy</h3>

<p>Na stronie <a href="/przepisy.html">z obowiązującymi przepisami</a> dowiesz
    się, jak poprawnie zaparkować swój samochód i na jakie przepisy powoływać
    się w rozmowie z kierowcami. Ostatecznie dowiesz się także, jaką kategorię
    naruszenia przepisów wybrać dla swojego zgłoszenia.</p>

<h3>Czy mogę jakoś pomóc w projekcie?</h3>

<p>Pewnie! Przeczytaj więcej o <a href="/projekt.html">stanie projektu i jak
    można pomóc</a>.</p>

<p>Możesz też zaostać
    <a href="https://patronite.pl/uprzejmiedonosze" target="_blank" data-ajax="false">patronem Uprzejmie Donoszę</a>.
    Chciałbym poświęcić więcej czasu swojej misji odzyskania przestrzeni dla
    pieszych. Twoje wsparcie dla serwisu Uprzejmie Donoszę może mi w tym bardzo pomóc.
</p>

<iframe src="https://patronite.pl/widget/uprzejmiedonosze/760385/small/000000/F9F9F9"
    width="300" height="450" frameborder="0" scrolling="no"></iframe>

<h3>Kontakt i polityka prywatności</h3>

<p>Brakuje danych Straży Miejskiej w twoim mieście? Masz uwagi do rozwiązania?
    Zajrzyj na stronę <a rel="external" href="https://fb.me/uprzejmiedonosze.net">Uprzejmie Donoszę na FB</a>.

<p>Zapraszamy także na <a rel="external" href="https://www.facebook.com/groups/patologiaparkingowa/">grupę wsparcia
    dla użytkowników Uprzejmie Donoszę</a>.</p>

<p>Zapoznaj się z <a href="/polityka-prywatnosci.html">polityką prywatności</a> Uprzejmie Donoszę.</p>

<h3>Historia zmian</h3>

<p>Zobacz <a href="/changelog.html">historię zmian</a>.</p>


{% endblock %}
