{% if dialog %}
{% set leftButton = 'menuBack' %}
{% set rightButton = '' %}
{% else %}
{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{% endif %}
{# SITEMAP-PRIORITY:0.9 #}

{% set title = 'Jak walczyć z nielegalnym parkowaniem' %}
{% set shortTitle = 'Poradnik: jak zgłaszać' %}
{% set description = 'Gdzie i jak zgłosić nielegalne parkowanie samochodu?' %}
{% set mainClass = 'how' %}

{% extends "base.html.twig" %}
{% block main %}

<h2>{{ shortTitle }}</h2>

{% macro link(target, name) %}
<a href="#{{ target }}" onclick="window._scrollToHowTo('#{{ target }}')">{{ name }}</a>
{% endmacro link %}

<h3 class="howto">Dostępne metody</h3>
<ul>
  <li>{{ _self.link('email', 'E-mail/Uprzejmie Donoszę') }} – stosuj w pojedynczych przypadkach.</li>
  <li>{{ _self.link('telefon', 'Telefon') }} – używaj, kiedy walczysz z całymi nielegalnymi parkingami.</li>
  <li>{{ _self.link('kmz', 'Krajowa Mapa Zagrożeń') }} – patoparkingi lub powtarzające się nielegalne parkowanie.</li>
  <li>{{ _self.link('policja', 'Stop Agresji Drogowej') }} – kiedy masz film z jeżdżenia po chodniku lub przejściu dla pieszych.</li>
  <li>{{ _self.link('slupki2', 'Wniosek o uzupełnienie słupków') }} – stosuj do uzupełnienia zniszczonej infrastruktury.</li>
  <li>{{ _self.link('slupki', 'Wniosek o nowe słupki') }} – ostateczne rozwiązanie, kiedy wszystko inne zawiedzie.</li>
  <li>{{ _self.link('naklejki', 'Naklejki/mazak') }} – gdy zawiodły inne środki, na recydywę i „obcokrajowców”.</li>
</ul>

<div class="howtos">
  <div class="howto" id="email">
    <h3 class="title">Emailem lub przez Uprzejmie Donoszę</h3>
    <div class="card">
      <figure>
        <img src="/img/how-ud.png?width=800&as=jpg&quality=90">
      </figure>
      <div class="content">
        <p>
          <em>Kiedy stosować:</em> reaguj na konkretne sytuacje, zwłaszcza w miejscach, które często odwiedzasz.
          Rozwiązanie ma szanse się sprawdzić w przypadku recydywistów patoparkowania i kierowców. Stosuj
          także w przypadkach, gdy kierowca może w każdej chwili odjechać.
        </p>
        <p>
          Z Uprzejmie Donoszę do wysłania poprawnego zgłoszenia, wystarczą dwa zdjęcia i minuta pracy.
        </p>
        <p>
          <em>Anonimowość:</em> sprawca wykroczenia ma prawo poznać jedynie twoje imię i nazwisko. Twój adres zamieszkania jest chroniony.
        </p>
        <p>
          <em>Wezwania na przesłuchanie:</em> możesz zostać wezwany przez SM
          lub policję na przesłuchanie w charakterze świadka. To nic groźnego.
          Sprawdź swoją straż miejską na stronie
          <a href="/przesluchanie.html">opisującą doświadczenia z SM</a>.
        </p>
        <p><em>Skuteczność:</em> Zależy od straży miejskiej. Ze swojej
          strony staramy się monitorować działania SM oraz rozwiązywać
          bieżące problemy. W miejscach z dużą rotacją „losowych” kierowców
          {{ _self.link('telefon', '#dzwoń') }} lub wnioskuj o {{ _self.link('slupki', '#słupki') }}.
          {{ _self.link('telefon', '#dzwoń') }} także, gdy pojazd jest na zagranicznych numerach
          rejestracyjnych.
        </p>
        {% if general.isLoggedIn %}
        <a href="/nowe-zgloszenie.html" class="button inline cta">Stwórz nowe zgłoszenie</a>
        {% else %}
        <a href="/nowe-zgloszenie.html" class="button inline cta">Załóż konto</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="howto" id="telefon">
    <h3 class="title">Telefonicznie</h3>
    <div class="card">
      <figure>
        <img src="/img/how-tel.png?width=800&as=jpg&quality=90">
      </figure>
      <div class="content">
        <p>
          <em>Kiedy stosować:</em> na całych patoparkingach, w przypadku pojazdów na zagranicznych
          numerach rejestracyjnych lub gdy wiadomo, że auto jeszcze trochę postoi.
        </p>
        <p>
          <em>Anonimowość:</em> Wykonując połączenie jesteś {{ config.sex.anonimowa ?? 'anonimowa/y' }}.
          Także anonimowo możesz sprawdzić co w praktyce
          <a href="/dostep-do-informacji-publicznej.html">straż miejska zrobiła na miejscu</a>.
        </p>
        <p>
          <em>Skuteczność:</em> w miejscach z dużą rotacją „losowych” kierowców (np. turystów)
          jedynym narzędziem mogą okazać {{ _self.link('slupki', '#słupki') }}. Nie masz także
          żadnych gwarancji czasu reakcji patrolu SM. To może być zarówno 15 minut jak i 15 godzin.
          Koniecznie <a href="/dostep-do-informacji-publicznej.html">sprawdzaj efekty pracy SM</a>!
        </p>
        <a href="tel:986" rel="external" class="button inline cta">Zadzwoń pod 986</a>
      </div>
    </div>
  </div>

  <div class="howto" id="kmz">
    <h3 class="title">Na Krajową Mapę Zagrożeń</h3>
    <div class="card">
      <figure>
        <img src="/img/how-kmz.png?width=800&as=jpg&quality=90">
      </figure>
      <div class="content">
        <p>
          <em>Kiedy stosować:</em> jako uzupełnienie dla pozostałych działań. Zaznaczaj
          stałe patoparkingi, oraz miejsca, które są rozjeżdżane w określonych dniach
          lub godzinach (ale powtarzalnie).
        </p>
        <p>
          Pamiętaj, że możesz dodać tylko jedno zagrożenie dziennie. System wspiera dodawanie
          zdjęć (do łącznej wagi 5MB) więc możesz dokumentować wykroczenia.
        </p>
        <p>
          <em>Anonimowość:</em> nie licząc adresu IP, jesteś całkowicie {{ config.sex.anonimowa ?? 'anonimowa/y' }}.
        </p>
        <p><em>Skuteczność:</em> całkowicie losowa. Czasem jeden punkt na tej mapie potrafi
          zdziałać cuda. Innym razem zmasowana akcja oznaczania problemu nic nie przynosi.
          Pamiętaj sprawdzać efekty i nie wahaj się ponownie zgłaszać problemu, zwłaszcza
          kiedy masz zdjęcia i jesteś pewny/a wykroczenia.
        </p>
        <a href="https://mapy.geoportal.gov.pl/iMapLite/KMZBPublic.html" target="_blank" rel="external" class="button inline cta">Dodaj zgłoszenie do mapy</a>
      </div>
    </div>
  </div>

  <div class="howto" id="policja">
    <h3 class="title">Na Stop Agresji Drogowej</h3>
    <div class="card">
      <figure>
        <img src="/img/how-sa.png?width=800&as=jpg&quality=90">
      </figure>
      <div class="content">
        <p>
          <em>Kiedy stosować:</em> zawsze, kiedy masz film dokumentujący jazdę po chodniku
          lub przejściu dla pieszych. Wysyłaj w ten sposób wszelkie zarejestrowane
          przejawy agresji kierowców wobec pieszych lub rowerzystów.
        </p>
        <p>
          Stop Agresji Drogowej to program policji, który umożliwia wysłanie filmu
          lub zdjęcia z wykroczeniem. Zasady są prawie identycznie jak w przypadku
          zgłoszenia do straży miejskiej, ale policja ma nieco większe uprawnienia.
        </p>
        <p>
          Możesz wykorzystać Uprzejmie Donoszę do wysłania zgłoszenia na policję.
          Zobacz odpowiednią funkcję w <a href="/register.html?update">ustawieniach</a>.
        </p>
        <p>
          <em>Anonimowość:</em> zgłaszając na Stop Agresji musisz podać swoje dane,
          a sprawca wykroczenia może poznać twoje imię i nazwisko.
        </p>
        <p>
          <em>Wezwania na przesłuchanie:</em> możesz zostać wezwany przez policję na
          przesłuchanie w charakterze świadka.
        </p>
        <p>
          <em>Skuteczność:</em> niestety, jeśli pojazd jest na zagranicznych numerach
          rejestracyjnych to szanse na to, że policja podejmie działanie są niewielkie.
        </p>
        <a href="/register.html?update" class="button inline cta">Zmień ustawienia na Policję</a>
      </div>
    </div>
  </div>

  <div class="howto" id="slupki2">
    <h3 class="title">Składając wniosek o uzupełnienie słupków</h3>
    <div class="card">
      <figure>
        <img src="/img/how-stick.png?width=800&as=jpg&quality=90">
      </figure>
      <div class="content">
        <p>
          <em>Kiedy stosować:</em> do zgłaszania wyrwanych bądź uszkodzonych słupków.
        </p>
        <p>
          Możesz korzystać z aplikacji miejskich, takich jak
          <a href="https://warszawa19115.pl/incydenty" target="_blank" rel="external">19115 Warszawa</a>,
          <a href="https://alertszczecin.pl/" target="_blank" rel="external">Alert Szczecin</a> czy
          <a href="https://smartcitypoznan.pl/" target="_blank" rel="external">Smart City Poznań</a>.
          W pozostałych miastach wpisz w wyszukiwarkę „zarząd dróg nazwa-miasta” i poszukaj adresu email.
        </p>
        <p>
          Sam wniosek (bez względu na formę) musi zawierać lokalizację, opis problemu oraz zdjęcie.
          Warto podkreślić, że słupek w tym miejscu był i został uszkodzony/usunięty. Czasem można
          posiłkować się historycznymi zdjęciami z Google Street View/Apple Maps.
        </p>
        <p>
          <em>Anonimowość:</em> nie jesteś {{ config.sex.anonimowa ?? 'anonimowa/y' }} dla urzędnika,
          który rozpatruje twój wniosek. Ale jesteś {{ config.sex.anonimowa ?? 'anonimowa/y' }} względem
          kierowców, którzy stracili swój dziki parking.
        </p>
        <p><em>Skuteczność:</em> zależna od miasta, ale zazwyczaj duża. O ile bardzo trudno jest
          zmusić gminę do postawienia nowego słupka, to relatywnie łatwo jest skutecznie zgłosić ich 
          naprawienie.
        </p>
      </div>
    </div>
  </div>

  <div class="howto" id="slupki">
    <h3 class="title">Składając wniosek o nowe słupki</h3>
    <div class="card">
      <figure>
        <img src="/img/how-stick2.jpg?width=800&as=png&quality=90">
      </figure>
      <div class="content">
        <p>
          <em>Kiedy stosować:</em> gdy zawiodły inne środki. Nikt nie lubi słupków, ale często
          to jedyne skuteczne narzędzie.
        </p>
        <p>
          Sprawdź, czy <em>nie jest to teren wspólnoty
          mieszkaniowej</em>. Wbrew pozorom to wiele ułatwia. Proste email do wspólnoty potrafi 
          być skuteczny, i po 2-3 miesiącach miejsce może zostać zabezpieczone.
        </p>
        <p>
          Jeśli jest to teren miasta, to musisz napisać swój email 
          z wnioskiem o słupki do urzędu miasta albo gminy. Pismo kierujesz do prezydenta/wójta –
          urząd skieruje twój wniosek na odpowiednie biurko.
        </p>
        <p>
          <em>Anonimowość:</em> nie jesteś {{ config.sex.anonimowa ?? 'anonimowa/y' }} dla urzędnika,
          który rozpatruje twój wniosek. Ale jesteś {{ config.sex.anonimowa ?? 'anonimowa/y' }} względem
          kierowców, którzy stracili swój dziki parking.
        </p>
        <p><em>Skuteczność:</em> zależna od współpracy z gminą lub wspólnotą. Generalnie dużo łatwiej
        ustawia się wyrwane słupki, niż stawia nowe. Próbować warto i należy.
        </p>
      </div>
    </div>
  </div>

  <div class="howto" id="naklejki">
    <h3 class="title">Naklejki/mazaki</h3>
    <div class="card">
      <figure>
        <img src="/img/mazak.jpg?width=800">
      </figure>
      <div class="content">
        <p>
          <em>Kiedy stosować:</em> gdy zawiodły inne środki, na recydywę i „obcokrajowców”.
        </p>
        <p>
          Mazak kredowy pozwala w kontekstowy sposób wyjaśnić kierowcy to, jaki problem
          tworzy. Co ważne, taki napis (np. na tylnej szybie) potrafi odstraszać kolejnych
          amatorów chodnika równie skutecznie jak blokady na koła.
        </p>
        <p>
          Naklejka przydaje się w przypadku najbardziej zatwardziałej recydywy. Jest i ma być uciążliwa.
        </p>
        <p>
          <em>Anonimowość:</em> pomimo, że proces jest anonimowy, to pamiętaj, że masz bardzo dużą szansę
          na konfrontację z kierowcą.
        </p>
        <p><em>Skuteczność:</em> na bazie własnych doświadczeń oceniam ją na bardzo wysoką!
        </p>
        <a href="/naklejki-robisz-to-zle.html" class="button inline cta">Zamów naklejki</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}