{% if head.dialog %}
{% set leftButton = 'menuBack' %}
{% set rightButton = '' %}
{% else %}
{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{% endif %}
{# SITEMAP-PRIORITY:0.9 #}

{% set title = 'Jak zgłosić nielegalne parkowanie' %}
{% set shortTitle = 'Jak zgłosić' %}
{% set description = 'Gdzie i jak zgłosić nielegalne parkowanie samochodu?' %}
{% set mainClass = 'how' %}

{% extends "base.html.twig" %}
{% block main %}

<h2>Jak zgłosić nielegalne parkowanie?</h2>

<div class="howtos">
  <div class="howto">
    <h3>Emailem</h3>
    <img src="/img/how-ud.png?width=395&as=jpg">

    <div class="ui-grid-a ui-responsive use-dont-use">
      <div class="ui-block-a pros">
        <ul>
          <li>W miejscach, które często odwiedzasz</li>
          <li>Gdy sprawca może niedługo odjechać</li>
          <li>Na recydywistów</li>
        </ul>
      </div>
      <div class="ui-block-b cons">
        <ul>
          <li>W miejscach z dużą rotacją „losowych” kierowców</li>
          <li>Gdy pojazd jest na zagranicznych nrach rej.</li>
        </ul>
      </div>
    </div>
    <div class="ui-grid-a ui-responsive pros-cons">
      <div class="ui-block-a pros">
        <ul>
          <li>Wygodne</li>
          <li>Archiwum zgłoszeń</li>
        </ul>
      </div>
      <div class="ui-block-b cons">
        <ul>
          <li>Nie jest anonimowe</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="howto">
    <h3>Telefonicznie</h3>
    <img src="/img/how-tel.png?width=395&as=jpg">
    <div class="ui-grid-a ui-responsive use-dont-use">
      <div class="ui-block-a">
        <ul>
          <li>Na regularny „wypas” wielu pojazdów</li>
          <li>Gdy sprawcy raczej nie odjadą za chwilę</li>
          <li>Gdy pojazd jest na zagranicznych nrach rej.</li>
        </ul>
      </div>
      <div class="ui-block-b">
        <ul>
          <li>W miejscach z dużą rotacją „losowych” kierowców</li>
          <li>Gdy pojazd jest na zagranicznych nrach rej.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="howto">
    <h3>Na Stop Agresji Drogowej</h3>
    <img src="/img/how-sa.png?width=395&as=jpg">
    <div class="ui-grid-a ui-responsive use-dont-use">
      <div class="ui-block-a">
        <ul>
          <li>Kiedy masz film z jazdą po chodniku</li>
          <li>Kiedy w twojej gminie nie ma straży gminnej</li>
          <li>Kiedy sprawca jest agresywny</li>
        </ul>
      </div>
      <div class="ui-block-b">
        <ul>
          <li>Gdy pojazd jest na zagranicznych nrach rej.</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="howto">
    <h3>Na Krajową Mapę Zagrożeń</h3>
    <img src="/img/how-kmz.png?width=395&as=jpg">
  </div>
  <div class="howto">
    <h3>Składając wniosek o słupki</h3>
    <img src="/img/how-stick.png?width=395&as=jpg">
  </div>
</div>

{% endblock %}