{% set leftButton = 'menu' %}

{% extends "base.html.twig" %}

{% block main %}
<h3 id="login-hint">{% if config.logout %}logout{% endif %}</h3>
<div class="ui-body ui-body-a ui-corner-all">
    <div id="firebaseui-auth-container"></div>
</div>

<script type="text/javascript">
{% if config.logout %}
    logout();
{% else %}
    $( document ).bind( "pagecontainerload", function( e, triggerData ) {
        $('#login-hint').text('x-redir...');
        var redirect = triggerData.xhr.getResponseHeader( "X-Redirect" );
        if ( redirect ) {
            $( e.target ).pagecontainer( "load", redirect, triggerData.options );
            e.preventDefault();
        }
    });

    $(document).on("pageshow", function () {
        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                window.location.replace('/login-ok.html{% if config.signInSuccessUrl %}?next={{ config.signInSuccessUrl }}{% endif %}');
            } else {
                login();
            }
        }, function(error) {
            login();
        });
    });
{% endif %}

    function login(){
        $('#login-hint').text('Zaloguj się za pomocą konta Google.');

        firebase.auth().getRedirectResult().then(function(result) {
            if (result.credential) {
                var token = result.credential.accessToken;
            }
            var user = result.user;
        });

        var provider = new firebase.auth.GoogleAuthProvider();
        provider.addScope('profile');
        provider.addScope('email');
        provider.setCustomParameters({ prompt: 'select_account' });
        firebase.auth().useDeviceLanguage();
        firebase.auth().signInWithRedirect(provider);
    }

    function logout(){
        firebase.auth().signOut().then().catch(function(error) {
            console.log(error);
        });
        window.location.replace('/');
    }
</script>
{% endblock %}