{% set title = 'trwa logowanie' %}

{% extends "base.html.twig" %}

{% block headIncludes %}
        <script src="/js/firebase.js?%JS_HASH%"
                login-redirect="true"
                signInSuccessUrl="{{ config.signInSuccessUrl ?? '/moje-zgloszenia.html' }}">
        </script>
{% endblock %}

{% block main %}
<p class="error"></p>
{% endblock %}

{% block header %}
{% endblock %}

{% block jsIncludes %}
{% endblock %}

{% block footer %}
<div data-role="footer">
    <h4>trwa logowanie...</h4>
</div> <!-- footer -->
{% endblock %}
