{% set leftButton = 'menu' %}

{% set title = 'Zaloguj się' %}

{% extends "base.html.twig" %}
{% if config.logout %}
    {% set title = '' %}
{% endif %}
{% block footer %}
    {% if config.logout %}
    <footer data-role="footer">
    <h4>wylogowuję...</h4>
    </footer>
    {% endif %}
{% endblock %}

{% block headIncludes %}
    <script src="/js/firebase.js?{{ JS_HASH }}"
            logout="{{ config.logout }}"
            login="true"
            signInSuccessUrl="{{ config.signInSuccessUrl ?? '/moje-zgloszenia.html' }}">
    </script>
{% endblock %}
{% block main %}

<h4 id="login-hint">{% if config.logout %}(wylogowuję){% endif %}{{ config.error ?? '' }}</h4>
<div class="ui-body ui-body-a">
    <div id="firebaseui-auth-container"></div>
</div>

{% endblock %}
