{% set leftButton = 'menu' %}

{% set title = 'Zaloguj się' %}

{% extends "base.html.twig" %}

{% block headIncludes %}
        <script src="/js/firebase.js?%JS_HASH%"
                logout="{{ config.logout }}"
                login="true"
                withEmail="true"
                signInSuccessUrl="{{ config.signInSuccessUrl ?? '/moje-zgloszenia.html' }}">
        </script>
{% endblock %}
{% block main %}

<h3 id="login-hint">{% if config.logout %}logout{% endif %}{{ config.error ?? '' }}</h3>
<div class="ui-body ui-body-a ui-corner-all">
    <div id="firebaseui-auth-container"></div>
</div>

{% endblock %}
