{% set leftButton = 'menu' %}

{% extends "base.html.twig" %}

{% block main %}

{% include('_firebase.html.twig') %}

<script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth__pl.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />

<script type="text/javascript">
{% if config.logout %}
    logout();
{% else %}
    $( document ).bind( "pagecontainerload", function( e, triggerData ) {
        $('#login-hint').text('x-redir...');
        var redirect = triggerData.xhr.getResponseHeader( "X-Redirect" );
        if ( redirect ) {
            $( e.target ).pagecontainer( "load", redirect, triggerData.options );
            e.preventDefault();
        }
    });

    $(document).on("pageshow", function () {
        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                window.location.replace('/login-ok.html{% if config.signInSuccessUrl %}?next={{ config.signInSuccessUrl }}{% endif %}');
            } else {
                login();
            }
        }, function(error) {
            login();
        });
    });
{% endif %}

    function login(){
        $('#login-hint').text('Zaloguj się za pomocą konta Google.');


<h3 id="login-hint">{% if config.logout %}logout{% endif %}{{ config.error ?? '' }}</h3>
<div class="ui-body ui-body-a ui-corner-all">
    <div id="firebaseui-auth-container"></div>
</div>

    function logout(){
        firebase.auth().signOut().then().catch(function(error) {
            console.log(error);
        });
        window.location.replace('/');
    }
</script>
{% endblock %}