{% extends "base.html.twig" %}

{% block main %}
<script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth__pl.js"></script>
<script type="text/javascript">
    function initApp() {
        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                user.getIdToken().then(function(accessToken) {
                    $.post('api/api.html',
                        {
                            action: 'verifyToken',
                            pa: accessToken
                        },
                        function(data){
                            window.location.replace('{{ config.signInSuccessUrl ?? 'moje-zgloszenia.html' }}');
                        }).fail(function(){
                            window.location.replace('/login.html');
                        });
                    });
            } else {
                window.location.replace('/login.html');
            }
        }, function(error) {
            console.log(error);
            window.location.replace('/login.html');
        });
    };

    window.addEventListener('load', function() {
        initApp()
    });
</script>
{% endblock %}

{% block header %}
{% endblock %}

{% block jsIncludes %}
{% endblock %}

{% block footer %}
<div data-role="footer">
    <h4>trwa logowanie</h4>
</div> <!-- footer -->
{% endblock %}