{% set leftButton = 'menu' %}
{% set title = 'Przerwa serwisowa' %}

{% extends "base.html.twig" %}
{% block main %}
<h2>
    Przerwa serwisowa
</h2>
<p>Trwają prace serwisowe w Uprzejmie Donoszę. Zapraszamy ponownie za 30 minut.</p>
<a href="/"><img class="rwd" src="/img/maintenance.jpg" /></a>
{% endblock %}