{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% set title = 'Mandat społeczny' %}
{% set shortTitle = 'Mandat' %}
{% set description = 'Mandat społeczny do zostawienia za wycieraczką' %}

{% extends "base.html.twig" %}
{% block main %}
<h2>Mandat społeczny "Robisz to Źle"</h2>

<p>Mandat społeczny "Robisz to Żle", był narzędziem do komunikacji z kierowcami,
    w sytuacji w której nie widzimy samego momentu parkowania.</p>
<p>Oryginalna ulotka powstała w 2015 roku w ramach akcji
    <a href="/robtodobrze.html">Rób to Dobrze</a>.</p>

<p>Mandat został zastąpiony <a href="/naklejki-robisz-to-zle.html">naklejkami ROBISZ TO ŹLE</a>.<p>

<div class="grid">
    <img data-src="/img/mandat-1.jpg" class="lazyload one-third" />
    <img data-src="/img/mandat-2.jpg" class="lazyload one-third" />
</div>

<h3>Jak wydrukować mandat samodzielnie?</h3>
<p>Swoją osobistą paczkę mandatów społecznych możesz wydrukować samodzielnie w dowolnej
drukarni – także online.</p>
<p>Najpierw pobierz:</p>
<a href="/img/mandat.pdf" download="mandat.pdf" class="button inline cta">Mandat do samodzielnego wydruku</a>
<p>W trakcie zlecania wydruku zostaniesz zapytana/y o:</p>
<dl>
    <dt>Rodzaj wydruku</dt>
    <dd>ulotka standardowa</dd>
    <dt>Rozmiar</dt>
    <dd>DL (99x210 mm)</dd>
    <dt>Papier</dt>
    <dd>kreda mat 90g lub 130g</dd>
    <dt>Kolor</dt>
    <dd>dwustronnie 4/4</dd>
</dl>

<p>Koszty wydruku są ściśle uzależnione od ilości. Przy małych nakładach (kilkadziesiąt sztuk)
i wydruku cyfrowym, cena może przekraczać 1 zł/sztukę. Przy dużych nakładach (setki/tysiące)
koszt wydruku pojedynczej sztuki spada do kilku groszy. W praktyce wydrukowanie 50 sztuk może
kosztować prawie tyle samo co wydrukowanie 1000 sztuk.</p>

{% endblock %}