{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% extends "base.html.twig" %}
{% block main %}

<h2>Przeglądaj swoje zgłoszenia</h2>
{% if countChanged > 0 %}
<p><b>(zmieniliśmy status {{ countChanged }} zgłoszeń)</b></p>
{% endif %}

{% if applications|length == 0 %}
    <p>Nie masz jeszcze ani jednego zgłoszenia.</p>
    <a href="nowe-zgloszenie.html" class="ui-btn ui-corner-all ui-btn-inline try">Stwórz nowe</a>
{% else %}
    <p>Wybierz zgłoszenie poniżej, żeby zobaczyć jego szczegóły, zmienić mu status lub pobrać wersję do druku.</p>

    {% if general.stats.confirmed is defined %}
        {% if general.stats.confirmed[0] > 1 %}
            <p>Masz już <b>{{ general.stats.confirmed[0] }} 
            {% if general.stats.confirmed[0] > 4 %}zgłoszeń czekających{% else %}zgłoszenia czekające{% endif %}
            na wysłanie</b>. Zapraszamy na stronę <a href="wysylka.html" data-ajax="false">wysyłka</a>.</p>
        {% endif %}
    {% endif %}

    <form>
        <input data-type="search" id="searchForCollapsibleSet"
            placeholder="szukaj po adresie, numerze rejestracyjnym lub zgłoszenia, dacie lub komentarzu">
    </form>

    <div data-role="collapsibleset" data-filter="true" data-mini="true"
        data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
        {% for app in applications %}
            {% if loop.index0 >= applicationsLimit %}
                {% set hideAppOverLimit = true %}
            {% endif %}
            {% include('_application-short.html.twig') %}
        {% endfor %}
    </div>
    {% if applicationsLimit < applicationsCount %}
    <div class="displayAllApps">
        <p>To tylko {{ applicationsLimit }} najnowszych zgłoszeń.</p>
        <a href="#" class="ui-btn ui-corner-all">Pokaż wszystkie</a>
    </div>
    {% endif %}
{% endif %}
{% endblock %}