{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% set title = 'Moje zgłoszenia' %}
{% set mainClass = 'my-applications' %}

{% extends "base.html.twig" %}
{% block main %}

<h2>Przeglądaj swoje zgłoszenia</h2>
{% if countChanged > 0 %}
<p><b>(zmieniliśmy status {{ countChanged }} zgłoszeń)</b></p>
{% endif %}

{% if applications|length == 0 %}
    <p>Nie masz jeszcze ani jednego zgłoszenia.</p>
    <a href="/nowe-zgloszenie.html" class="ui-btn ui-corner-all ui-btn-inline try">Stwórz nowe</a>
{% else %}
    <p>Wybierz zgłoszenie poniżej, żeby zobaczyć jego szczegóły, zmienić mu status lub pobrać wersję do druku.</p>

    {% if general.stats.confirmed is defined %}
        {% if general.stats.confirmed > 1 %}
            <p>Masz już <b>{{ general.stats.confirmed }} 
            {% if general.stats.confirmed > 4 %}zgłoszeń czekających{% else %}zgłoszenia czekające{% endif %}
            na wysłanie</b>. Zapraszamy na stronę <a href="/wysylka.html" data-ajax="false">wysyłka</a>.</p>
        {% endif %}
    {% endif %}

    <form autocomplete="off">
        <input autocomplete="false" data-type="search" id="searchForCollapsibleSet"
            placeholder="szukaj po adresie, numerze rejestracyjnym lub zgłoszenia, dacie lub komentarzu">
    </form>
    
    <div data-role="popup" id="patronite" class="ui-content"
        data-overlay-theme="b" data-theme="a" data-corners="true" data-tolerance="15,15"
        data-position-to="window"> 
        <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        <p><b>Cieszę się, że zmieniłeś na lepsze swoje otoczenie!</b></p>
        <p>Chciałbym poświęcić więcej czasu swojej misji odzyskania przestrzeni dla pieszych.
            Twoje wsparcie dla serwisu Uprzejmie Donoszę może mi w tym bardzo pomóc.</p>
            <a class="ui-btn ui-corner-all ui-btn-inline try"
                href="https://patronite.pl/uprzejmiedonosze" target="_blank"
                data-ajax="false">Zostań Patronem</a>
        </p>
    </div>

    <div data-role="collapsibleset" data-filter="true" data-mini="true"
        data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
        {% for app in applications %}
            {% if loop.index0 >= myAppsSize %}
                {% set hideAppOverLimit = true %}
            {% endif %}
            {% include('_application-short.html.twig') %}
        {% endfor %}
    </div>
    {% if myAppsSize < applicationsCount %}
    <div class="displayAllApps">
        <p>To tylko {{ myAppsSize }} najnowszych zgłoszeń.</p>
        <a href="#" class="ui-btn ui-corner-all">Pokaż wszystkie</a>
    </div>
    {% endif %}
{% endif %}
{% endblock %}