{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:0.9 #}

{% set title = 'Naklejki ROBISZ TO ŹLE' %}
{% set description = 'Naklejki ROBISZ TO ŹLE od Uprzejmie Donoszę' %}

{% extends "base.html.twig" %}
{% set mainClass = 'mainPage' %}
{% block main %}

<h2>Naklejki ROBISZ TO ŹLE</h2>

<p>
    Nigdy nie naklejałem „karnych” naklejek na nieprawidłowo zaparkowane auta.
    Drażnił mnie wybór między wulgarnością a przaśnością.  
    A kilka razy w miesiącu naprawdę ich potrzebowałem. Kiedy?</p>
<p>
<p>
    Najbardziej irytujący się polskojęzyczni recydywiści na zagranicznych numerach.
    Brzmi skomplikowanie, ale chodzi po prostu o kierowców na niemieckich/czeskich
    numerach rejestracyjnych, którzy mają świadomość pełnej bezkarności swojego
    parkowania w głębi chodnika.
</p>
<p>
    Dlatego przedstawiam Wam naklejki ROBISZ TO ŹLE. Nie schodzą łatwo,
    ale nie pozostawiają śladów. Do stosowania na zatwardziałą recydywę.
</p>

<div class="images-slider">
    <div class="imageContainer">
        <img src="/img/naklejka.jpg?width=500" />
    </div>
    <div class="imageContainer">
        <img src="/img/mazak.jpg?width=800" />
    </div>
</div>

<p>
    Jak dostać naklejki? Jedyny sposób to dołączenie do grona
    Patronek i Patronów i wybranie odpowiedniego progu. Przy dwóch najwyższych progach
    dołączam „legendarny” mazak sprawiedliwości.
</p>

<a href="/patronite.html"
    class="patronite-button ui-alt-icon ui-nodisc-icon ui-btn ui-corner-all">
    Dowiedz się więcej
</a>

<h4>Czy naklejki i mazanie po szybach są legalne?</h4>

<p>Tak. Tutaj film na którym możesz zobaczyć
    <a href="https://www.youtube.com/watch?v=WzlrqI4CoCw&t=67s"
        target="_blank"
        rel="external"
        data-ajax="false">reakcję patrolu policji na „niszczenie mienia”</a>.
</p>
<p>
    A tutaj znajduje się kompletna lista wyroków sądowych, w których
    skazano za naklejanie „karnych” naklejek na samochód:
</p>
<ul><li>...</li><ul>

{% endblock %}
