{% set leftButton = 'menuBack' %}
{% set leftButtonIcon = 'ui-icon-edit' %}

{% set sm = app.guessSMData() %}

{% block rightButtonCustom %}
<a onclick="$('#form').submit();"
    class="ui-btn-right ui-alt-icon ui-nodisc-icon ui-btn ui-corner-all
    ui-btn-inline ui-btn-icon-left ui-icon-check">{% if autoSend %}Wyślij!{% else %}Zapisz!{% endif %}</a>
{% endblock %}

{% extends "base.html.twig" %}

{% block main %}
<h2>Jeszcze chwila!</h2>
<p>Sprawdź dane przed zapisaniem {% if autoSend %} <b>i wysłaniem</b> {% endif %} zgłoszenia.
    {% if not autoSend %}
    Na tym etapie nic nie zostanie wysłane do <b>{{ sm.getName }}</b>.
    {% endif %}</p>

{% include('_application.html.twig') %}

<form action="/dziekujemy.html" id="form" method="post" data-ajax="true">
    <input type="hidden" id="applicationId" name="applicationId" value="{{ app.id }}"/>
</form>
{% endblock %}