{% set leftButton = 'menuBack' %}

{% set title = 'Potwierdź' %}
{% set mainClass = 'confirm-application' %}
{% set sm = app.guessSMData() %}
{% set forcedPolice = app.stopAgresji and not user.stopAgresji %}
{% set smName = sm.getName %}
{% if forcedPolice %}
{% set smName = '<b class="lightWarning">' ~ sm.getName ~ '</b>' %}
{% endif %}

{% if not app.automatedSM %}
{% set rightButton = 'newAppSave' %}
{% endif %}

{% extends "base.html.twig" %}
{% block footer %}
<footer></footer>
{% endblock %}
{% block main %}

{% if app.automatedSM %}
<h2>Sprawdź przed wysłaniem</h2>
<p>
    Twoje zgłoszenie zostanie za chwilę wysłane do <b>{{ smName|raw }}</b>.
</p>
{% else %}
<h2>Sprawdź zgłoszenie</h2>
<p>
    Sprawdź dane przed zapisaniem zgłoszenia.
    {% if not sm.unknown %}Na tym etapie nic nie zostanie wysłane do <b>{{ smName|raw }}</b>.{% endif %}
</p>
{% endif %}

{% if forcedPolice %}
<p><b class="forcedPoliceInfo lightWarning">
        Straż Miejska nie ma uprawnień do karania za jazdę po chodniku. Uprzejmie
        zmieniliśmy adresata na {{ sm.getShortName }}.
    </b></p>
{% endif %}

<div class="application">
    <div class="grid">
        <div>
            <p><b>{{ app.getCategory.formal }}</b> {{ app.getExtensionsText }} {% if app.userComment %}{{ app.getAHrefedComment | raw }}{% endif %}</p>
            <p>
                {% if app.statements is not defined or not app.statements.witness %}
                <b>Nie {{ app.guessUserSex.bylas }}</b> świadkiem parkowania.
                {% else %}
                <b>{{ app.guessUserSex.bylas|capitalize }} świadkiem</b> parkowania.</p>
                {% endif %}
            </p>
        </div>
        <div>
            <span class="floating-box">{{ app.getShortAddress }}</span>
            {% if app.address.lat is defined %}
            <img class="mapImage" src="{{ app.getMapImage }}?v={{ app.getRevision }}">
            {% endif %}
        </div>
        <div>
            <span class="floating-box">{{ app.getDate("H'<sup>'mm'</sup>' eeee, d MMMM y")|raw }}</span>
            <img src="{{ app.contextImage.thumb ?? 'img/fff-1.png' }}?v={{ app.getRevision }}" />
        </div>
        <div>
            <img src="{{ app.carImage.thumb ?? 'img/fff-1.png' }}?v={{ app.getRevision }}" id="carImage"/>
            {% if vehicleBox and app.shouldIncludePlateImage %}

            {% set imageWidth = app.carImage.width ?? 1200 %}
            {% set imageHeight = app.carImage.height ?? 1200 %}
            {% set left = 100 * vehicleBox.x / imageWidth %}
            {% set width = 100 * vehicleBox.width / imageWidth %}

            {% set top = 100 * vehicleBox.y / imageHeight %}
            {% set height = 100 * vehicleBox.height / imageHeight %}

            {% set style = 'top: ' ~ top ~ '%; left: ' ~ left ~ '%; width: ' ~ width ~ '%; height: ' ~ height ~ '%;' %}
            <div class="plate-box" style="{{ style }}">
            {% else %}
            <div class="plate-box" style="border: none;">
            {% endif %}
                <span class="plate-id">{{ app.carInfo.plateId }}</span>
            </div>
        </div>
        <div>
            {% if app.thirdImage ?? false %}
            <img src="{{ app.thirdImage.thumb }}?v={{ app.getRevision }}" />
            {% endif %}
        </div>
        <div class="sender-data">
            <p>Twoje dane:</p>
            <cite>
                <b>{{ app.user.name }}</b><br />
                {{ app.email }}<br />
                {{ app.user.address }}<br />
                {% if app.user.msisdn %}Tel: <span class="msisdn">{{ app.user.msisdn }}</span><br />{% endif %}
                {% if app.user.edelivery ?? false %}e-Doręczenia: <span class="edelivery">{{ app.user.edelivery ?? '' }}</span>{% endif %}
            </cite>
        </div>
    </div>
</div>
{% if app.automatedSM %}
<a onclick="confirmApplication()"
    class="button cta last disabled confirm-send-button">Wyślij do {{ sm.getShortName }}!</a>
{% endif %}

<form action="/dziekujemy.html?id={{ app.id }}" id="form" method="post">
    <input type="hidden" id="applicationId" name="applicationId" value="{{ app.id }}"/>
</form>
{% endblock %}
