{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:0.6 #}

{% set title = 'O projekcie' %}
{% set description = 'O projekcie Uprzejmie Donoszę' %}

{% extends "base.html.twig" %}
{% block main %}

<h2>Trochę historii</h2>

<p>W 2015 w Szczecinie z inicjatywy samozwańczego
    <a rel="external" href="https://web.facebook.com/rzecznikpieszych">Rzecznika Pieszych w Szczecinie</a>
    i kawiarni
    <a rel="external" href="https://web.facebook.com/stojaki.szczecin">Stojaki</a>,
    powstała akcja Rób to dobrze. Była to społeczna akcja mandatowa.</p>

<p>Dowiedz się więcej czytając historię <a href="/robtodobrze.html">Rób to Dobrze</a>.</p>

<fieldset class="ui-grid-b">
    <div class="ui-block-a">
        <a href="/robtodobrze.html">
            <img data-src="/img/robtodobrze.webp?width=250" class="lazyload one-third" />
        </a>
    </div>
    <div class="ui-block-b">
        <a href="/robtodobrze.html">
            <img data-src="/img/sm-tvn24.webp?width=250" class="lazyload one-third" />
        </a>
    </div>
    <div class="ui-block-c">
        <a href="/robtodobrze.html">
            <img data-src="/img/robtodobrze-radni.webp?width=250" class="lazyload one-third" />
        </a>
    </div>
</fieldset>

<p>Ta akcja wiele nas nauczyła. Przede wszystkim dowiedzieliśmy się, że takie
    działania trafiają do niewielu. A na pewno nie trafiają do osób nagminnie łamiących
    przepisy. Ale dowiedzieliśmy się także, że możliwe jest skutecznie zgłoszenie mandatu,
    wyłącznie na podstawie zdjęcia przekazanego przez mieszkańca miasta.
    Kluczowa dla Straży Miejskiej jest jakość tych zgłoszeń.</p>

<p>W kolejnych latach testowaliśmy wiele różnych możliwości:</p>

<ol>
    <li>Rozmowy oraz oficjalna korespondencja z przedstawicielami SM w kilku
        miastach;</li>
    <li>Rozmowy oraz oficjalna korespondencja z Komendą Wojewódzką Policji w
        Szczecinie, odpowiedzialną za akcję Stop
        Agresji Drogowej (analogiczna strona istnieje dla każdego województwa);</li>
    <li>Próby integracji Uprzejmie Donoszę z aplikacjami miejskimi oraz EPUAPem;</li>
    <li>Testowanie wariantu „Wydrukuj, podpisz i wyślij”.</li>
    <li>W pigułce, wiedza uzyskana w ten sposób jest następująca: bez względu na
        to jak zostanie dokonane zgłoszenie, prawdziwy problem zaczyna się później,
        ponieważ SM (albo Policja), musi ustalić sprawcę wykroczenia.
        W ruch wchodzi poczta, listy polecone, sądy. Trwa to miesiącami, marnuje
        czas, papier i pieniądze.</li>
</ol>

<h2>Jak można pomóc?</h2>
<p>Uprzejmie Donoszę trapią dwa problemy. Jeden prostszy – techniczny.
    Drugi trudniejszy – formalny.</p>

<h4>Problemy techniczne</h4>
<p>Wszystko to, co można zobaczyć na tej stronie (wraz z aplikacją do zgłaszania) napisałem sam.
    Niestety (a może na szczęście) nie jestem programistą i to mocno widać. Uprzejmie Donoszę
    to brzydki miks HTML5/jQueryMobile/Firebase i (sic) PHP. Całość w trybie mocnego
    proof-of-concept-ale-działa.</p>
<p>Przez ostatnie kilka miesięcy udało mi się nieco odseparować brzydki backend od
    brzydkiego frontendu, oraz zdokeryzować środowisko developerskie.
    Oznacza to, że możliwe staje się przepisanie warstwy wizualnej
    aplikacji na coś czytelniejszego i łatwiejszego w utrzymaniu. Chętni mogą też
    spróbować napisać jakąś nową funkcję działając na własnym środowisku dev.</p>
<p>To co musisz wiedzieć, to JS + twój ulubiony framework + Google Firebase + CSS.</p>
<h4>Od czego zacząć?</h4>
<ol>
    <li>Zrób kilka zgłoszeń za pomocą Uprzejmie Donoszę i wyślij do Straży Miejskiej.
        Przejdź się do nich. Zobacz jak to działa. Zderz się z maszyną urzędniczą.
    <li>Załóż konto na <a rel="external" href="https://bitbucket.org/">Bitbucket.org</a>.</li>
    <li>Sklonuj <a rel="external" href="https://bitbucket.org/uprzejmiedonosze/uprzejmiedonosze/">repozytorium
        Uprzejmie Donoszę</a> i spróbuj uruchomić środowisko developerskie.</li>
    <li>Zapisz się do grupy
        <a rel="external" href="https://www.facebook.com/groups/694594880572900/">Święte krowy warszawskie</a>,
        żeby utrzymać wysoką motywację.</li>
</ol>

<h4>Problemy formalne</h4>
<p>Spróbuję możliwie krótko ;).</p>
<p>Mandaty za złe parkowanie mają ścieżkę administracyjną. Już tłumaczę. Chodzi o to, że
    nie można domyślnie ukarać właściciela auta. MUSI znaleźć się sprawca. Jeśli się nie
    przyzna, to sprawa trafia do sądu. I cały urok “zgłoszenia za pomocą aplikacji” trochę
    znika, bo musisz się stawić w sądzie.</p>
<p>Co gorsza, sprawdziłem jak zazwyczaj wygląda proces przetwarzania mojego zgłoszenia
    internetowego (uwaga – to jest dla ludzi o mocnych nerwach):</p>
<ol>
    <li>Wysyłam sobie beztrosko e-mail ze zdjęciem i wszystkimi detalami;</li>
    <li>Pan/pani w SM/Policji drukuje mojego maila i zakłada nową sprawę, następnie;</li>
    <li>Cierpliwie kopiuje moje dane do dokumentu Word i wysyła mi maila bez tytułu z
        załącznikiem (tym Wordem), który jest symulacją pisma urzędowego z żądaniem
        stawienia w siedzibie SM;</li>
    <li>Tydzień później jadę na miejsce, Pan wyciąga mojego wydrukowanego maila;</li>
    <li>Przez dokładnie 19 minut konwertujemy moją krótką wiadomość ze zdjęciem na pismo
        długości 11 stron A4, które głównie składa się z oświadczeń i pouczeń, oraz
        zwrotów typu “ja Szymon Nieradka, syn Józefa i Katarzyny, w dniu xxxx
        byłem świadkiem yyyy”;</li>
    <li>Drukujemy to oczywiście i podpisuję się w (naprawdę) ośmiu miejscach (w głowie
        widzę wycinkę lasów);</li>
    <li>Jak już sobie pójdę, pan/pani z SM/Policji zagląda do systemu CEPIK,
        a następnie preparuje i drukuje kolejne kilka stron A4 z pismem do właściciela pojazdu;</li>
    <li>(tu wchodzi Poczta Polska)</li>
    <li>Właściciel pojazdu może: przyznać się do winy i zgodzić na mandat (wysyła
        list Pocztą Polską, i w odpowiedzi jakiś miesiąc później dostaje upragniony mandat).
        Dużo częściej jednak pismo ignoruje, albo odpisuje, że samochodem kierował
        obcokrajowiec. Wtedy sprawa trafia do sądu;</li>
    <li>Tutaj następuje drukowanie kolejnych kilkudziesięciu stron papierów,
        powiadomienia listowne zgłaszającego i właściciela pojazdu, rozprawa sądowa;</li>
    <li>Przy bardzo dużej determinacji policji/SM kierowca dostaje mandat 200 zł.</li>
</ol>
<p>Te procedury różnią się w zależności od miasta. Na szczęście w wielu z nich, 
    nie jesteśmy już wzywani na przesłuchanie (czyli wypadają punkty 3 – 5 powyżej).
    Jeśli chcesz sprawdzić jak jest w twoim mieście, to sprawdź <a href="/faq.html">tutaj</a>.
<p>Bardzo trudno wyciągnąć z SM statystykę ile zgłoszeń kończy się mandatem. Nie wynika
    to z ich niechęci. Po prostu 80% spraw jest “w toku”, więc trudno to liczyć. Niemniej
    bazując na informacjach z grupy “Święte Krowy Warszawskie” mogę
    zaryzykować takie liczby: codziennie SM w Warszawie dostaje 1000 zgłoszeń o nieprawidłowo
    zaparkowanych samochodach (wszystkimi kanałami, mail/tel/aplikacja), z czego
    finalnie ukaranych zostaje kilkudziesięciu kierowców. Głównie tych,
    którzy zostali złapani na gorącym uczynku albo założono im blokadę na kole…</p>			
<p>Jest też oczywiście problem mentalności. Idąc na spotkanie na Policję czy SM w odległości
    100m od siedziby tych instytucji byłem w stanie zrobić 5-10 zdjęć nieprawidłowo
    zaparkowanych samochodów. To są często… sami funkcjonariusze
    “którzy przecież MUSZĄ gdzieś zaparkować”.</p>

<h4>Co możesz zrobić?</h4>
<p>Szukaj dziury w całym i próbuj zgłaszać na wszystkie sposoby jakie uda Ci się znaleźć.
    Drukuj i wysyłaj poleconym. Przez skrzynkę EPUAP (wcale nie potrzeba do tego podpisu
    kwalifikowanego). Mailem. Telefonicznie. Przez aplikacje miejskie. Na Stop
    Agresji Drogowej. Spotykaj się z pracownikami SM i Policji i rozmawiaj.
    Może Uprzejmie Donoszę w przyszłości będzie generować gotowe do podpisania zeznania?
    Co prawda będzie trzeba się przespacerować na komendę, ale raz na miesiąc na 15 minut,
    a nie co tydzień na dwie godziny. Może wypracujesz coś zupełnie innego? Pamiętaj, że o ile
    prawo jest dla wszystkich takie samo, to jego interpretacja oraz stosowane
    procedury już znacznie się różnią między miastami.</p>

<p>Ostatnia zmiana przepisów otwiera nowe możliwości.
    <a rel="external" href="https://wtk.pl/news/42859-straz-miejska-bedzie-mogla-sprawniej-ukarac-mandatem-na-podstawie-zdjecia">Poznań</a>,
    <a rel="external" href="https://kielce.tvp.pl/40443536/mandat-na-podstawie-zdjecia-straz-miejska-zyskala-wieksze-uprawnienia">Kielce</a>,
    Gdańsk, Gdynia i Warszawa przyznają, że prawidłowo dokonane zgłoszenie ze zdjęciem nie
    będzie (w większości wypadków) wymagać dokonania przez świadka zeznania na komendzie.
    Może to Ty przekonasz do tego funkcjonariuszy w swoim mieście?</p>

<a data-ajax="false" href="nowe-zgloszenie.html" class="ui-btn ui-corner-all ui-btn-inline try">Sprawdź jak to działa</a>
{% endblock %}
