{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% set title = 'O projekcie' %}
{% set description = 'O projekcie Uprzejmie Donoszę' %}

{% extends "base.html.twig" %}
{% block main %}

<h2>Trochę historii</h2>

<p>W 2015 w Szczecinie z inicjatywy samozwańczego
    <a rel="external" target="_blank" href="https://web.facebook.com/rzecznikpieszych">Rzecznika Pieszych w Szczecinie (R.I.P.)</a>
    i kawiarni
    <a rel="external" target="_blank" href="https://web.facebook.com/stojaki.szczecin">Stojaki (R.I.P.)</a>,
    powstała akcja Rób to dobrze. Była to społeczna akcja mandatowa.</p>

<p>Dowiedz się więcej czytając historię <a href="/robtodobrze.html">Rób to Dobrze</a>.</p>

<div class="grid static3">
    <img data-src="/img/robtodobrze.webp?width=250" class="lazyload one-third" />
    <img data-src="/img/sm-tvn24.webp?width=250" class="lazyload one-third" />
    <img data-src="/img/robtodobrze-radni.webp?width=250" class="lazyload one-third" />
</div>

<p>Ta akcja wiele nas nauczyła. Przede wszystkim dowiedzieliśmy się, że takie
    działania trafiają do niewielu. A na pewno nie trafiają do osób nagminnie łamiących
    przepisy. Ale dowiedzieliśmy się także, że możliwe jest skutecznie zgłoszenie mandatu,
    wyłącznie na podstawie zdjęcia przekazanego przez mieszkańca miasta.
    Kluczowa dla Straży Miejskiej jest jakość tych zgłoszeń.</p>

<p>W kolejnych latach testowaliśmy wiele różnych możliwości:</p>

<ol>
    <li>Rozmowy oraz oficjalna korespondencja z przedstawicielami SM w kilku
        miastach;</li>
    <li>Rozmowy oraz oficjalna korespondencja z Komendą Wojewódzką Policji w
        Szczecinie, odpowiedzialną za akcję Stop
        Agresji Drogowej (analogiczna strona istnieje dla każdego województwa);</li>
    <li>Próby integracji Uprzejmie Donoszę z aplikacjami miejskimi oraz EPUAPem;</li>
    <li>Testowanie wariantu „Wydrukuj, podpisz i wyślij”.</li>
    <li>W pigułce, wiedza uzyskana w ten sposób jest następująca: bez względu na
        to jak zostanie dokonane zgłoszenie, prawdziwy problem zaczyna się później,
        ponieważ SM (albo Policja), musi ustalić sprawcę wykroczenia.
        W ruch wchodzi poczta, listy polecone, sądy. Trwa to miesiącami, marnuje
        czas, papier i pieniądze.</li>
</ol>

<p>Resztę historii poznasz na stronie <a href="/patronite.html#done">Co zrobiłem do tej pory</a>.</p>

<h2>Jesteś programistą/grafikiem?</h2>
<p>Wszystko to, co można zobaczyć na tej stronie (wraz z aplikacją do zgłaszania) napisałem
    prawie sam. Niestety nie jestem programistą i cóż, to może być widoczne w kodzie.</p>
<p>Środowisko developerskie jest zdockeryzowane i działa na OSX i Linux. Powinno 
    także działać na Windowsie z zainstalowanym Posix-tools.</p>
<h4>Od czego zacząć?</h4>
<ol>
    <li>Zrób kilka zgłoszeń za pomocą Uprzejmie Donoszę i wyślij do Straży Miejskiej.
        Przejdź się do nich. Zobacz jak to działa. Zderz się z maszyną urzędniczą.
    <li>Załóż konto na <a rel="external" target="_blank" href="https://bitbucket.org/">Bitbucket.org</a>.</li>
    <li>Sklonuj <a rel="external" target="_blank" href="https://bitbucket.org/uprzejmiedonosze/uprzejmiedonosze/">repozytorium
        Uprzejmie Donoszę</a> i spróbuj uruchomić środowisko developerskie.</li>
    <li>Zapisz się do
        <a rel="external" target="_blank" href="https://www.facebook.com/groups/patologiaparkingowa/">grupy wsparcia użytkowników Uprzejmie Donoszę</a>,
    </li>
    <li>Odezwij się do <a rel="external" target="_blank" href="mailto:szymon@uprzejmiedonosze.net">mnie</a>.</li>
</ol>


<a href="nowe-zgloszenie.html" class="button cta last">Sprawdź jak to działa</a>
{% endblock %}
