{% if dialog %}
    {% set leftButton = 'menuBack' %}
    {% set rightButton = '' %}
{% else %}
    {% set leftButton = 'menu' %}
    {% set rightButton = 'menuStart' %}
{% endif %}
{# SITEMAP-PRIORITY:0.5 #}

{% set title = 'Czy straż miejska wezwie mnie na przesłuchanie?' %}
{% set shortTitle = 'Przesłuchanie w SM' %}
{% set description = 'Czy straż miejska wezwie mnie na przesłuchanie?' %}

{% extends "base.html.twig" %}
{% block main %}

<h2>Czy straż miejska wezwie mnie na przesłuchanie?</h2>

<p>Dla części z miast mam bezpośrednie relacje od zgłaszających. Sprawdź, czego
możesz się spodziewać po współpracy ze swoją strażą miejską.</p>

<p>Brakuje relacji dla twojej SM? Napisz na <a rel="external" href="https://www.facebook.com/groups/patologiaparkingowa/">grupie wsparcia
        dla użytkowników Uprzejmie Donoszę</a>
    (lub napisz bezpośrednio do <a href="mailto:szymon@uprzejmiedonosze.net">autora</a>).</p>

<p>Pamiętaj, że przysługuje Ci <a href="/zwrot-za-przesluchanie.html">zwrot środków za przesłuchanie</a>.


<input data-type="filterable" type="text" id="filterable" placeholder="Szukaj...">
<ul data-role="listview" id="filterable-list">
{% for city,hint in SMHints %}
    <li data-filtertext="{{ city }}"><b>{{ city }}</b> — {{ hint | striptags }}</li>
{% endfor %}
</ul>

{% endblock %}