{% set leftButton = 'menu' %}

{% set title = user.isRegistered ? 'Zaktualizuj konto' : 'Zarejestruj się' %}

{% extends "base.html.twig" %}
{% block footer %}{% endblock %}
{% block main %}

<form action="/register-ok.html?next={{ signInSuccessUrl ?? 'start.html' }}" id="register-form" method="post">
    <h3>Dane konta</h3>
    <p>Aby dokonać zgłoszenia musisz podać swoje imię, nazwisko, adres e-mail oraz adres korespondencyjny.
        Jest to minimalny zestaw informacji jakich wymaga SM do przyjęcia zgłoszenia.</p>
    <p>
        Dane oznaczone ikoną <span class="encrypted"></span> są zaszyfrowane dla twojego bezpieczeństwa.
        Dowiedz się więcej o <a target="_blank" href="/bezpieczenstwo.html">bezpieczeństwie twoich danych</a>.
    </p>

    <fieldset>
    <label for="name">Imię i nazwisko, które posłużą SM do identyfikacji autora zgłoszenia</label>
    <input type="text" required maxlength="30" id="name" name="name"
        placeholder="(twoje imię i nazwisko)" data-type="encrypted"
        value="{{ user.data.name }}" />

    <label for="email">E-mail został pobrany automatycznie w trakcie logowania</label>
    <input disabled type="email" required maxlength="30" id="email" name="email"
        placeholder="(twój email)"
        value="{{ user.data.email }}" />

    <label for="address">Adres zamieszkania wraz z <b>numerem lokalu i miastem</b></label>
    <input type="text" maxlength="70" required id="address" name="address"
        placeholder="(Ulica 10a/7, Miasto)"
        autocomplete="off"  data-type="encrypted"
        value="{{ user.data.address ?? '' }}" />

    <label for="msisdn">Numer kontaktowy (opcjonalny, ale ułatwi SM kontakt z Tobą)</label>
    <input type="tel" maxlength="12" id="msisdn" name="msisdn"
        placeholder="666 666 666"  data-type="encrypted"
        data-inline="true" value="{{ user.data.msisdn ?? '' }}" />

    <label for="edelivery">Adres
        <a href="https://info.mobywatel.gov.pl/aktualnosci/loguj-sie-do-e-doreczen-aplikacja-mobywatel"
            target="_blank" rel="external">e-Doręczeń</a>
        (opcjonalny)</label>
    <input type="tel" id="edelivery" name="edelivery"
        maxlength="26" minlength="26"  data-type="encrypted"
        placeholder="AE:PL-00000-00000-AAAAA-00"
        value="{{ user.data.edelivery ?? '' }}" />

    </fieldset>

    <h3>Ustawienia</h3>

    <fieldset class="grid">
        <legend for="stopAgresji">Chcę wysyłać swoje zgłoszenia</legend>
        <input type="radio" name="stopAgresji" id="stopAgresji-SM" value="SM" {% if not user.stopAgresji %}checked="checked"{% endif %}>
        <label for="stopAgresji-SM" class="radio">
            do Straży Miejskiej/Gminnej właściwej dla miejscowości zgłoszenia (domyślnie)
        </label>
        <input type="radio" name="stopAgresji" id="stopAgresji-SA" value="SA" {% if user.stopAgresji %}checked="checked"{% endif %}>
        <label for="stopAgresji-SA" class="radio">
            na komendę Policji właściwą dla województwa zgłoszenia
        </label>
    </fieldset>

    <fieldset class="grid">
        <legend for="shareRecydywa">Chcę pozwalać na prezentowanie moich zdjęć w galerii recydywistów parkowania</legend>
        <input type="radio" name="shareRecydywa" id="shareRecydywa-Y" value="Y" {% if  user.shareRecydywa %}checked="checked"{% endif %}>
        <label for="shareRecydywa-Y" class="radio">
            tak (domyślnie), chcę udostępniać <u>pierwsze</u> zdjęcie każdego zgłoszenia
        </label>
        <input type="radio" name="shareRecydywa" id="shareRecydywa-N" value="N" {% if not user.shareRecydywa %}checked="checked"{% endif %}>
        <label for="shareRecydywa-N" class="radio">
            nie, moje zdjęcie ma być bardzo mocno „rozpikselowane”
        </label>
    </fieldset>

    <a id="register-submit" class="button cta last">
        Potwierdź
    </a>
</form>
{% endblock %}