{% set leftButton = 'menu' %}

{% set title = 'Start' %}
{% set mainClass = 'start-page' %}

{% extends "base.html.twig" %}
{% block main %}

<p>Uprzejmie Donoszę pozwala na informowanie Straży Miejskiej lub Policję o sytuacjach,
    które wpływają na komfort i bezpieczeństwo pieszych. Maksymalnie upraszcza
    wykonanie poprawnego zgłoszenia, i przekazanie go do SM.</p>
<p>Ma jednak kilka ograniczeń, których musisz być {{ config.sex.swiadoma }}:</p>
<div data-mini="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u"
    data-collapsed="false" data-role="collapsible">
    <h4>Regulamin (aktualizacja {{ latestTermUpdate }})</h4>
    <p>Wszystkie zgłoszenia w Uprzejmie Donoszę muszą być zgłoszone <b>pod twoim
    nazwiskiem</b>. Nie dopuszczamy anonimów.</p>
    <p>Pamiętaj też, że zgłoszenie wykroczenia do Straży Miejskiej to
    ostateczność. Jeśli masz możliwość porozmawiania z kierowcą, który
    naruszył przepisy to zrób to. Część z nich robi to ze zwykłej
    niewiedzy.</p>
    <p>Uprzejmie Donoszę służy do zgłaszania naruszeń parkowania, które
    są istotne z punktu widzenia pieszych. Zastawienie bramy wjazdowej
    (jakkolwiek karygodne) nie jest takim zgłoszeniem. Postaraj się wybrać
    prawidłową kategorię zgłoszenia i wybieraj opcję “Inne” w ostateczności.</p>
    <p>Wypełnij dokładnie wszystkie pola. Zwróć uwagę, czy adres który
    pobraliśmy ze zdjęcia został prawidłowo przetłumaczony na ulicę i numer
    domu.</p>
    <p>Informujemy Cię, że pole „numer sprawy” może być wykorzystywane do generowania 
    automatycznego opisu do zgłoszeń innych Użytkowników w przypadku 
    wykrycia recydywy.</p>
    <p>Musisz mieć świadomość, że <b>Straż Miejska lub Policją mogą kontaktować się z
    Tobą</b>, w celu złożenia dodatkowych wyjaśnień.</p>
    <p>
        <a href="/regulamin.html?dialog">Pełen regulamin</a> oraz
        <a href="/polityka-prywatnosci.html?dialog">polityka prywatności</a> Uprzejmie Donoszę.</p>
</div>

<a href="/nowe-zgloszenie.html?TermsConfirmation" class="button cta last">
    Wyrażam zgodę na regulamin
</a>


{% endblock %}