{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:0.4 #}

{% set title = 'Statystyki' %}

{% extends "base.html.twig" %}

{% block main %}

<h2>Statystyki</h2>

<p>Nowe zgłoszenia oraz nowi użytkownicy – ostatnie trzydzieści dni.</p>
<div id="statsByDay" style="min-width: 300px; height: 300px; margin: 0 auto"></div>

<p>Nowe zgłoszenia oraz nowi użytkownicy – układ miesięczny.</p>
<div id="statsByYear" style="min-width: 300px; height: 300px; margin: 0 auto"></div>

<p>TOP 10 najpopularniejszych marek pojazdów sprawcy.</p>
<div id="statsByCarBrand" style="min-width: 250px; height: 300px; margin: 0 auto"></div>

{% endblock %}
