<!DOCTYPE html>
<html lang="pl">
<!-- # vim: set ft=html -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,
            maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="mobile-web-app-capable" content="yes">
    <title>Wniosek do Rzecznika Praw Obywatelskich</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#009C7F" />
    <meta property="og:image" content="{{ BASE_URL }}img/uprzejmiedonosze.png' }}" />
    <meta property="og:title" content="Wniosek do Rzecznika Praw Obywatelskich" />
    <meta property="og:url" content="https://prawapieszych.pl/wniosek-rpo" />
    <meta property="og:description" content="Wniosek do Rzecznika Praw Obywatelskich" />
    <meta property="og:locale" content="pl_PL" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="1299217686854263" />
    <link rel="stylesheet" href="{{ BASE_URL }}css/index.css?{{ CSS_HASH }}" />
</head>

<body class="index rpo">
    <div data-role="page">
        <header>Wniosek do RPO w/s praw pieszych <a href="/img/rpo/wniosek-rpo.pdf">(wersja pdf)</a></header>
        <div data-role="main" class="ui-content">
            <strong>Rzecznik Praw Obywatelskich<br /> Al. Solidarności 77<br /> 00-090 Warszawa</strong>
            <p> </p>

            <h1>Wniosek</h1>
            <p>Działając w&nbsp;celu ochrony konstytucyjnych praw i&nbsp;wolności pieszych, zwracam się do Rzecznika
                Praw Obywatelskich z&nbsp;wnioskiem o&nbsp;dokonanie analizy zgodności z&nbsp;Konstytucją RP aktualnych
                przepisów związanych z&nbsp;postojem pojazdów.</p>
            <p>Wnoszę o&nbsp;analizę:</p>
            <ol>
                <li>Rozporządzenia Prezesa Rady Ministrów z&nbsp;dnia 24 listopada 2003 r. (poz. 2023) w&nbsp;sprawie
                    wysokości grzywien nakładanych w&nbsp;drodze mandatów karnych za wybrane rodzaje wykroczeń (tzw.
                    taryfikator mandatów). Taryfikator zamroził grzywny związane z&nbsp;zatrzymaniem i&nbsp;postojem na
                    okres 20 lat, dokonując faktycznej depenalizacji wykroczeń związanych z&nbsp;parkowaniem. </li>
                <li>Art. 13b ust. 1&nbsp;ustawy o&nbsp;drogach publicznych, potwierdzonego wyrokiem Naczelnego Sądu
                    Administracyjnego (II GPS 2/17 z&nbsp;9 października 2017 r.), zgodnie z&nbsp;którym opłatę za
                    postój pojazdów samochodowych na drogach publicznych w&nbsp;strefie płatnego parkowania pobiera się
                    od korzystającego z&nbsp;drogi publicznej wyłącznie za postój w&nbsp;wyznaczonym do tego miejscu.
                    Przepis ten, w&nbsp;powiązaniu z&nbsp;niskimi stawkami taryfikatora mandatów związanymi
                    z&nbsp;postojem pojazdów, tworzy zachętę ekonomiczną do łamania przepisów.</li>
                <li>Ustawy z&nbsp;dnia 24 sierpnia 2001 r. kodeks postępowania w&nbsp;sprawach o&nbsp;wykroczenia, która
                    wymaga ustalenia sprawcy naruszenie przepisów o&nbsp;bezpieczeństwie lub porządku w&nbsp;ruchu
                    drogowym. Konieczność ustalenia sprawcy istotnie komplikuje oraz wydłuża procedurę mandatową oraz
                    otwiera wiele możliwości uchylenia się od przyjęcia mandatu. Należy zauważyć, że zgodnie z&nbsp;art.
                    13 ustawy o&nbsp;drogach publicznych, nieuiszczenie opłaty za parkowanie, obciąża opłatą dodatkową
                    właściciela pojazdu a&nbsp;nie sprawcę (wyrok I&nbsp;SA/Sz 266/12 Wojewódzkiego Sądu
                    Administracyjnego w&nbsp;Szczecinie z&nbsp;dnia 9&nbsp;sierpnia 2012). Różnica ta powoduje nierówne
                    traktowanie obywateli względem prawa oraz tworzy zachętę ekonomiczną do łamania przepisów.</li>
                <li>Ustawy z&nbsp;dnia 20 czerwca 1997 prawo o&nbsp;ruchu drogowym w&nbsp;sprawie braku przepisów
                    związanych z&nbsp;niszczeniem zieleni. Brak tych regulacji powoduje praktyczną bezkarność
                    pogarszania stanu środowiska oraz zmusza samorząd do fizycznego separowania od kierowców zieleni
                    w&nbsp;miastach.</li>
                <li>Art. 130a ustawy z&nbsp;dnia 20 czerwca 1997 prawo o&nbsp;ruchu drogowym, który warunkuje usunięcie
                    pojazdu, jeśli „w inny sposób zagraża bezpieczeństwu”, nie definiując równocześnie „zagrożenia
                    bezpieczeństwa”. W&nbsp;praktyce oznacza to brak możliwości usunięcia pojazdów ograniczających
                    swobodę poruszania się pieszych.</li>
                <li>Art. 2&nbsp;ustawy z&nbsp;dnia 20 czerwca 1997 prawo o&nbsp;ruchu drogowym, który definiuje
                    określenie „przejście sugerowane”, ale nie wprowadza na nim zakazu postoju pojazdów.
                    W&nbsp;praktyce, wbrew intencji ustawodawcy, sugerowane przejścia dla pieszych stanowią darmowe
                    i&nbsp;legalne miejsca postojowe w&nbsp;centrach polskich miast. W&nbsp;efekcie ogranicza to wolność
                    poruszania się pieszych.</li>
                <li>Art. 80k ustęp 6. ustawy z&nbsp;dnia 20 czerwca 1997 prawo o&nbsp;ruchu drogowym, który definiuje
                    zakres naruszeń przepisów ruchu drogowego, których popełnienie umożliwia służbom wymianę informacji
                    w&nbsp;Krajowym Punkcie Kontaktowym. Zakres ten nie wymienia wykroczeń związanych parkowaniem oraz
                    jazdą po drodze dla pieszych. W&nbsp;konseksencji straż miejska i&nbsp;policja odmawiają wszczęcia
                    postępowania względem kierowców pojazdów zarejestrowanych poza Polską. Stawia to kierowców tych
                    pojazdów ponad prawem.</li>
                <li>Ustawy z&nbsp;dnia 20 czerwca 1997 prawo o&nbsp;ruchu drogowym, w&nbsp;sprawie braku przepisów
                    związanych z&nbsp;dostawą towarów. Ustawa ta nie definiuje pojęć dostawcy, zaopatrzenia, kuriera ani
                    procesu dokonywania dostawy. W&nbsp;praktyce próby stworzenia dedykowanych miejsc dla zaopatrzenia”
                    są skazane na niepowodzenie, ponieważ każdy może oświadczyć, że jest „dostawcą”. Brak tej regulacji
                    wpycha dostawców na chodniki, co stwarza zagrożenie dla pieszych, oraz skutkuje niszczeniem
                    infrastruktury dla nich przeznaczonej.</li>
                <li>Ustawy z&nbsp;dnia 20 maja 1971 r. kodeks wykroczeń w&nbsp;sprawie wykroczeń o&nbsp;charakterze
                    chuligańskim. Ustawa definiuje pojęcie wykroczenia o&nbsp;charakterze chuligańskim (art. 47 &sect;
                    5), ale nie wprowadza dodatkowych sankcji z&nbsp;tego tytułu w&nbsp;rozdziale XI „wykroczenia
                    przeciwko bezpieczeństwu i&nbsp;porządkowi w&nbsp;komunikacji”. Wiele przypadków parkowania spełnia
                    warunki wykroczenia o&nbsp;charakterze chuligańskim, tj. polega na umyślnym niszczeniu lub
                    uszkadzaniu mienia, gdy sprawca działa publicznie oraz [...] z&nbsp;oczywiście błahego powodu,
                    okazując przez to rażące lekceważenie podstawowych zasad porządku prawnego.</li>
                <li>Rozporządzenia Ministra Spraw Wewnętrznych i&nbsp;Administracji z&nbsp;dnia 17 listopada 2003 r.
                    w&nbsp;sprawie wykroczeń, za które strażnicy straży gminnych są uprawnieni do nakładania grzywien
                    w&nbsp;drodze mandatu karnego, które ogranicza uprawnienia straży gminnych i&nbsp;miejskich do
                    nakładania grzywien w&nbsp;drodze mandatu karnego. W&nbsp;szczególności uniemożliwia strażnikom
                    karanie kierowców jeżdżących wzdłuż drogi dla pieszych i&nbsp;przejścia dla pieszych. Powoduje to
                    praktyczną bezkarność tego wykroczenia i&nbsp;narusza obowiązek przestrzegania prawa.</li>
            </ol>

            <h1>Uzasadnienie</h1>
            <p>Obowiązujące w&nbsp;Polsce przepisy wynikające z&nbsp;prawa o&nbsp;ruchu drogowym, ustawie o&nbsp;drogach
                publicznych, kodeksu wykroczeń, kodeksu postępowania w&nbsp;sprawach o&nbsp;wykroczenia, oraz
                powiązanych z&nbsp;nimi rozporządzeń, naruszają zasadę równości wobec prawa, zasadę sprawiedliwości
                społecznej oraz wolności poruszania się. Naruszają także obowiązek ochrony środowiska przez władzę
                publiczną. Przepisy te stwarzają równocześnie zachęty ekonomiczne do nieprzestrzegania prawa.</p>
            <p>Jestem zaangażowany w&nbsp;problem zawłaszczania przestrzeni przeznaczonej dla pieszych od 2014 roku.
                Jestem autorem serwisu <a href="#ud" aria-describedby="footnote-label" id="ud-ref">Uprzejmie
                    Donoszę</a>, pomagającego obywatelom w&nbsp;zgłaszaniu przypadków nieprawidłowego parkowania, które
                wpływają na bezpieczeństwo i&nbsp;komfort pieszych i&nbsp;rowerzystów. Pośredniczyłem w&nbsp;ponad <a
                    href="#ud-stats" aria-describedby="footnote-label" id="ud-stats-ref">100. tysiącach zgłoszeń
                    nielegalnego parkowania</a>. Współtworzę profil <a href="#stopcham"
                    aria-describedby="footnote-label" id="stopcham-ref">YouTube Stop Cham Szczecin</a>, na którym
                dokumentuję agresję kierowców wobec pieszych. Inicjowałem oraz koordynowałem kilka zmian
                w&nbsp;organizacji ruchu w&nbsp;swoim rodzinnym mieście. W&nbsp;ciągu ośmiu lat odbyłem setki rozmów
                z&nbsp;funkcjonariuszami straży miejskich i&nbsp;policji, oraz <a href="#kj"
                    aria-describedby="footnote-label" id="kj-ref">użytkownikami mojego serwisu.</a></p>
            <p>Przez wiele lat byłem przekonany, że problem nagminności nielegalnego parkowania w&nbsp;polskich miastach
                to połączony efekt mentalności, niedostosowanej infrastruktury, cichego przyzwolenia samorządów oraz
                nieudolności straży miejskich. Zmieniłem zdanie wprowadzeniu 1&nbsp;czerwca 2021 pierwszeństwa dla
                pieszych wchodzących na przejście. <a href="#policji" aria-describedby="footnote-label"
                    id="policji-ref">Raport Komendy Głównej Policji za 2022 rok</a> wskazuje, że w&nbsp;relacji do
                „przed pandemicznego” roku 2019 liczba wypadków na przejściach dla pieszych zmalała 3&nbsp;466 do
                2&nbsp;463, a&nbsp;liczba zabitych (bez względu na sprawcę) spadła z&nbsp;234 do 145.</p>
            <p>Okazało się, że dodanie sześciu wyrazów do art. 13 prawa o&nbsp;ruchu drogowym dokonało rewolucji
                w&nbsp;zachowaniu kierowców, bez żadnych zmian w&nbsp;infrastrukturze, rozporządzeniach czy
                uprawnieniach policji.</p>
            <p>Z tego powodu na początku 2023 r. zaangażowałem się pełnoetatowo w&nbsp;analizę obowiązujących
                w&nbsp;Polsce przepisów związanych z&nbsp;zatrzymaniem i&nbsp;postojem pojazdów. Skontaktowałem się ze
                wszystkimi ruchami miejskimi w&nbsp;Polsce i&nbsp;odbyłem konsultacje z&nbsp;większością z&nbsp;nich.
                Odbyłem rozmowy z&nbsp;komendant i&nbsp;zastępcą komendant Straży miejskiej w&nbsp;Warszawie (Jest to
                największa i&nbsp;najlepiej finansowana straż miejska w&nbsp;Polsce). Odbyłem także rozmowy
                z&nbsp;przedstawicielami urzędów dwóch miast wojewódzkich.</p>
            <p>Doświadczenia te dały mi dostęp do syntetycznej wiedzy na temat praktycznego stosowania przepisów
                związanych z&nbsp;parkowaniem. Na poniższych przykładach uzasadniam, dlaczego aktualnie obowiązujące
                przepisy prowadzą do łamania konstytucyjnych praw niezmotoryzowanych oraz tworzą system zachęt do
                łamania przepisów.</p>

            <h2>Zachęta finansowa do łamania przepisów</h2>
            <p>Porównajmy koszt zaparkowania pojazdu na pięć dni roboczych w&nbsp;centrum miasta dla osoby parkującej
                zgodnie i&nbsp;niezgodnie z&nbsp;przepisami. </p>
            <p><img src="/img/rpo/example.png" /></p>
            <p>Kierowcy parkujący na wyznaczonych miejscach postojowych w&nbsp;strefie płatnego parkowania, muszą uiścić
                opłatę w&nbsp;wysokości <a href="#spp" aria-describedby="footnote-label" id="spp-ref">około 5&nbsp;zł za
                    godzinę postoju</a>. Daje to 50 zł dziennie (przy opłatach między 8<sup>00</sup>
                a&nbsp;18<sup>00</sup>) oraz 250 zł za pięć dni roboczych. Kierowca, który nie wniesie tej opłaty,
                zostanie ukarany <a href="#spp2" aria-describedby="footnote-label" id="spp2-ref">opłatą dodatkową</a>
                w&nbsp;wysokości najczęściej 300 zł dziennie (1 500 zł za pięć dni).</p>
            <p>Natomiast kierowcy, który na powyższym przykładzie zaparkował niezgodnie z&nbsp;przepisami, grozi
                teoretyczna <a href="#taryfikator" aria-describedby="footnote-label" id="taryfikator-ref">grzywna
                    w&nbsp;wysokości 100 zł</a>. Grzywna ta może zostać nałożona wyłącznie jeden raz za cały okres
                postoju (karana jest czynność zatrzymania na zakazie, a&nbsp;nie sam postój). Oznacza to, że np.
                tygodniowy postój na zakazie parkowania nadal grozi grzywną w&nbsp;wysokości 100 zł.</p>
            <p>Należy zauważyć, że zgodnie z&nbsp;art. 13 ustawy o&nbsp;drogach publicznych, w&nbsp;razie nieuiszczenia
                opłaty za parkowanie w&nbsp;strefie płatnego parkowania, obowiązek zapłaty opłaty dodatkowej co do
                zasady <a href="#wlasciciel" aria-describedby="footnote-label" id="wlasciciel-ref">obciąża właściciela
                    pojazdu</a>. Natomiast obowiązujący w&nbsp;przypadku łamania przepisów o&nbsp;ruchu drogowym kodeks
                postępowania w&nbsp;sprawach o&nbsp;wykroczenia (kpw.), wymaga ustalenia sprawcy wykroczenia. Proces
                ustalania sprawcy istotnie wydłuża procedurę mandatową oraz daje wiele możliwości uchylenia się od
                przyjęcia mandatu, np. poprzez nieodebranie listu poleconego (kpw. nie zawiera tzw. „fikcji doręczenia”)
                lub wskazanie obcokrajowca. W&nbsp;obu wypadkach procedura jest umarzana.</p>
            <p>Oznacza to, że w&nbsp;porównaniu do kierowcy parkującego poprawnie, kierowca łamiący przepisy, ma
                zdecydowanie mniejszą szansę na zapłacenie grzywny, której wysokość jest istotnie niższa, oraz
                możliwości uchylenia się od niej znacznie prostsze.</p>
            <p>Jak widać, ustawodawca stworzył otoczenie prawne, które tworzy zachętę ekonomiczną do łamania przepisów.
            </p>

            <h2>Kierowca kontra pasażer</h2>
            <p>Porównujmy prawa i&nbsp;obowiązki podróżnego korzystającego ze środków komunikacji publicznej oraz
                kierowcy, korzystającego z&nbsp;(także publicznej) drogi.</p>
            <p>Pasażer podróżujący koleją bez ważnego biletu narażony jest na opłatę dodatkową
                w&nbsp;<a href="#intercity" aria-describedby="footnote-label" id="intercity-ref">wysokości 750 zł</a>
                plus koszt przejazdu. W&nbsp;przypadku odmowy dokonania zapłaty oraz okazania dokumentu tożsamości,
                kontroler może ująć podróżnego i&nbsp;niezwłocznie oddać go w&nbsp;ręce policji lub
                <a href="#prawo-przewozowe" aria-describedby="footnote-label" id="prawo-przewozowe-ref">innych organów
                porządkowych</a>.</p>
            <p>Analogiczne uprawnienia mają kontrolerzy biletów w&nbsp;komunikacji miejskiej. Jazda bez biletu
                transportem zbiorowym realnie naraża pasażera na konieczność zapłacenia wysokiej opłaty dodatkowej
                (np. <a href="#zditm" aria-describedby="footnote-label" id="zditm-ref">400 zł w&nbsp;Szczecinie</a>
                oraz <a href="#kary" aria-describedby="footnote-label" id="kary-ref">550 zł w&nbsp;Katowicach</a>).</p>
            <p>Opłata dodatkowa za spowodowanie przez podróżnego zatrzymania lub zmiany trasy środka transportowego bez
                uzasadnionej przyczyny to 2&nbsp;550 zł w&nbsp;przypadku PKP oraz
                <a href="#ztm" aria-describedby="footnote-label" id="ztm-ref">700 zł</a> w&nbsp;przypadku warszawskigo
                ZTM. Spowodowanie analogicznego „zatrzymania lub zmiany trasy” tramwaju za pomocą samochodu grozi
                <a href="#taryfikator2" aria-describedby="footnote-label" id="taryfikator2-ref">mandatem w&nbsp;wysokości 300 zł.</a></p>
            <p>Pasażer łamiący regulamin przewozu, stwarzający zagrożenie lub dyskomfort dla innych pasażerów,
                a&nbsp;w&nbsp;szczególności niszczący mienie jest narażony na dodatkowe, wysokie kary. Co więcej,
                zgodnie z&nbsp;<a href="#art121" aria-describedby="footnote-label" id="art121-ref">kodeksem wykroczeń</a>,
                pasażer jadący bez biletu trzy razy w&nbsp;ciągu roku naraża się na
                karę ograniczenia wolności. I&nbsp;nie jest to zapis teoretyczny – sąd w&nbsp;Krakowie wydał
                <a href="#wiezienie" aria-describedby="footnote-label" id="wiezienie-ref">list gończy</a>
                za „gapowiczem”. </p>
            <p>Dla odmiany kierowca łamiący przepisy w&nbsp;strefie płatnego parkowania jest automatycznie zwolniony
                z&nbsp;konieczności uiszczenia opłaty za postój i&nbsp;w konsekwencji nie jest narażony na konieczność
                uiszczenia opłaty dodatkowej. Zgodnie
                z&nbsp;<a href="#nsa" aria-describedby="footnote-label" id="nsa-ref">wyrokiem NSA</a>, opłaty za parkowanie aut mogą być pobierane
                tylko od kierowców, którzy zostawiają swoje samochody w&nbsp;oznaczonych do tego miejscach.
                W&nbsp;konsekwencji kontrolerzy omijają nieprawidłowo zaparkowane pojazdy, ponieważ nie mają uprawnień
                do ich kontroli. Uprawnienia takie ma policja i&nbsp;straż miejska. Niestety, praktycznie wszystkie
                wykroczenia związane z&nbsp;parkowaniem są zagrożone mandatem
                w&nbsp;<a href="#taryfikator3" aria-describedby="footnote-label" id="taryfikator3-ref">wysokości 100 zł</a>. Dodatkowo,
                prawdopodobieństwo otrzymania mandatu jest wielokrotnie niższe, niż prawdopodobieństwo kontroli SPP.</p>
            <p>Gdyby zastosować symetryczne przepisy względem pasażerów, najlepszym sposobem na darmową jazdę byłoby
                umyślne złamanie regulaminu przewozów na oczach kontrolera. Np. zapalenie papierosa w&nbsp;trakcie
                kontroli oznaczałoby, że pasażer nie może być już ukarany przez kontrolera tylko przez policję.
                Kontroler nie miałby jednak uprawnień do ujęcia sprawcy, a&nbsp;ten wysiadłby spokojnie na stacji
                docelowej.</p>
            <p>Mam pełną świadomość różnic prawnych między korzystaniem z&nbsp;drogi publicznej oraz publicznego środka
                transportu. Różnice te jednak nie usprawiedliwiają drastycznie odmiennego traktowania dwóch grup
                obywateli.</p>
            <p>Porównanie grzywien wynikających z&nbsp;taryfikatora mandatów z&nbsp;opłatami dodatkowych nakładanymi na
                użytkowników komunikacji zbiorowej wskazuje na nierówne traktowanie wobec prawa pasażerów
                i&nbsp;kierowców.</p>

            <h2>Fikcyjność „holowania”</h2>
            <p>Przytaczając ponownie sytuacją z&nbsp;pierwszego przykładu (parkowanie w&nbsp;głębi chodnika), kierowca
                teoretycznie naraża się na usunięcie pojazdu.</p>
            <p>Zgodnie
                z&nbsp;<a href="#art130a" aria-describedby="footnote-label" id="art130a-ref">przepisami o&nbsp;ruchu drogowym</a>
                pojazd jest usuwany z&nbsp;drogi na koszt właściciela
                w&nbsp;przypadku wykroczenia kierowcy pojazdu w&nbsp;miejscu, gdzie jest to zabronione i&nbsp;utrudnia ruch lub
                w&nbsp;inny sposób zagraża bezpieczeństwu. Niestety prawo drogowe nie definiuje „zagrożenia
                bezpieczeństwa”. W&nbsp;praktyce, pojazdy są usuwane głównie w&nbsp;przypadku zablokowania ruchu
                pojazdów, a&nbsp;nigdy, gdy blokują ruch pieszych.</p>
            <p>Straż miejska w&nbsp;Warszawie przed usunięciem pojazdu zaparkowanego przed samym przejściem dla pieszych
                czeka na sytuację „rzeczywistego” zagrożenia. Tj. na sytuację, w&nbsp;której przed przejściem znajduje
                się pieszy a&nbsp;na drodze pojazd. Dopiero tak udokumentowana sytuacja jest w&nbsp;opinii warszawskich
                sądów wystarczającym przesłaniem do usunięcia pojazdu.</p>
            <p>W praktyce oznacza to brak możliwości usunięcia pojazdów ograniczających swobodę poruszania się pieszych.
            </p>

            <h2>Jazda wzdłuż chodnika</h2>
            <p>Kierowca parkujący niezgodnie z&nbsp;przepisami w&nbsp;powyższym przykładzie naruszył także zakaz jazdy
                wzdłuż po drodze dla pieszych (do 2022 zwanej chodnikiem) lub
                <a href="#art26" aria-describedby="footnote-label" id="art26-ref">przejściu dla pieszych</a>.
                Grzywna za to wykroczenie wynosi <a href="#taryfikator4" aria-describedby="footnote-label" id="taryfikator4-ref">1&nbsp;500 zł</a>.</p>
            <p>Niestety straż miejska nie jest uprawniona do wystawiania mandatów z&nbsp;tego
                <a href="#mswia" aria-describedby="footnote-label" id="mswia-ref">artykułu</a>. W&nbsp;praktyce
                strażnicy nie podejmują interwencji, nawet jeśli są naocznymi świadkami takiego wykroczenia.</p>
            <p>Policja ma uprawnienia do karania za to wykroczenie. Niestety w&nbsp;gminach, w&nbsp;których powołano
                straż miejską policjanci 
                <a href="#yt" aria-describedby="footnote-label" id="yt-ref">nie zajmują się wykroczeniami związanymi z&nbsp;parkowaniem</a>.</p>
            <p>Zgłoszenia tego wykroczenia na policyjną skrzynkę
                <a href="#sad" aria-describedby="footnote-label" id="sad-ref">Stop Agresji Drogowej</a> spotka się z&nbsp;odmową ukarania
                sprawcy za jazdę wzdłuż chodnika. Praktyka wskazuje, że policja oczekuje udokumentowania momentu
                dokonywania wykroczenia (tj. filmu wideo prezentującego jazdę). Argument, że pojazd nie mógł znaleźć się
                w&nbsp;tym miejscu w&nbsp;inny sposób, nie jest wystarczający. Środowiska piesze nazywają ten paradoks
                „wiarą policji w&nbsp;teleportację”.</p>
            <p>W praktyce więc, wysoka kara za to wykroczenie jest martwym zapisem taryfikatora mandatów.</p>

            <h2>Parkowanie na zieleni</h2>
            <p>Przepisy o&nbsp;ruchu drogowym nie zawierają słów „zieleń” lub „trawa”. Parkowanie na trawnikach, zieleni
                urządzonej lub w&nbsp;parku nie są zabronione. Straż miejska może korzystać jedynie
                z&nbsp;<a href="#art144" aria-describedby="footnote-label" id="art144-ref">kodeksu wykroczeń</a>,
                który mówi jednak o&nbsp;„niszczeniu lub uszkadzaniu roślinności”. Zdecydowana większość
                straży miejskich oczekuje dowodu, że konkretna czynność parkowania doprowadziła do
                <a href="#ud-stats2" aria-describedby="footnote-label" id="ud-stats2-ref">uszkodzenia roślinności</a>.
                W&nbsp;praktyce dewastowanie zieleni jest zazwyczaj pracą zbiorową kilkunastu kierowców.
            </p>
            <p>W efekcie braku takich zapisów zieleń urządzona w&nbsp;miastach jest systematycznie i&nbsp;bezkarnie
                dewastowana przez kierowców.</p>

            <h2>Taryfikator mandatów</h2>
            <p>Obecnie obowiązujące grzywny za wykroczenia związane z&nbsp;parkowaniem nie zostały zmienione od niemal
                20 lat. Mimo że istotne części tzw. „taryfikatora” zostały w&nbsp;ostatnich latach urealnione. Zmiany te
                ominęły jednak pozycje związane z&nbsp;zatrzymaniem i&nbsp;postojem pojazdów. Sekcja K&nbsp;(zatrzymanie
                i&nbsp;postój) w&nbsp;aktualnie obowiązującym taryfikatorze z&nbsp;dnia 30 grudnia 2021 posiada
                dokładnie te same stawki grzywien, co sekcja L&nbsp;(o tym samym tytule) z&nbsp;24 listopada 2003 roku.
                Pensja minimalna w&nbsp;tym okresie wzrosła o&nbsp;436% z&nbsp;800 zł do
                <a href="#zus" aria-describedby="footnote-label" id="zus-ref">3&nbsp;490 zł</a>.</p>
            <p>W ten sposób jazda wzdłuż chodnika wg nowego taryfikatora podlega karze grzywny w&nbsp;wysokości
                1&nbsp;500 złotych. Natomiast parkowanie z&nbsp;dala od krawędzi jezdni (które wymaga jazdy wzdłuż
                chodnika) nadal karane jest kwotą 100 zł. To oczywista niespójność taryfikatora, wynikająca z&nbsp;tego,
                że grzywna 1&nbsp;500 zł została wprowadzona w&nbsp;2021 roku, natomiast grzywna 100 zł została
                wprowadzona w&nbsp;2003 roku i&nbsp;od tego czasu nie została zwaloryzowana.</p>
            <p>W załączniku nr 6&nbsp;znajduje się przykład zgłoszenia, na którym kierowca złamał zakaz postoju za
                znakiem B-36 „zakaz zatrzymywania się” (PoRD Art. 46. 4.) z&nbsp;tabliczką T-24 „usunięcie pojazdu na
                koszt właściciela”. Zaparkował także na przystanku (PoRD Art. 49. 1.9.), z&nbsp;dala od krawędzi jezdni
                (PoRD Art. 47. 2.), oraz zatrzymał pojazd o&nbsp;masie powyżej 2,5 tony na chodniku (PoRD Art. 47. 1.).
                Wszystkie te wykroczenia są zagrożone mandatem w&nbsp;wysokości 100 zł. Mimo tak niskiej grzywny,
                policja zdecydowała się jednak pouczyć sprawcę (załącznik nr 7).</p>
            <p>Brak waloryzacji grzywien nakładanych w&nbsp;drodze mandatów karnych za wykroczenia związane
                z&nbsp;postojem pojazdów spowodowało faktyczną depenalizację tych wykroczeń.</p>

            <h2>Zaopatrzenie, dostawcy i&nbsp;kurierzy</h2>
            <p>Przepisy o&nbsp;ruchu drogowym nie definiują w&nbsp;żaden sposób czynności wykonywania zaopatrzenia ani
                dostaw. Przepisy te powstawały w&nbsp;czasach, kiedy dostawa towaru odbywała się na rampie na tyle
                sklepu „Społem”. Nie wprowadzono od tego czasu żadnych nowych rozwiązań w&nbsp;tym zakresie.</p>
            <p>W konsekwencji, dostawcą jest każdy kierowca samochodu ciężarowego, dowolny pojazd z&nbsp;kartką
                „dostawa” za szybą, a&nbsp;także każdy, kto oświadczy, że „ma coś do wniesienia”.</p>
            <p>Przepisy w&nbsp;Polsce nie definiują też żadnych wymagań związanych z&nbsp;zapewnieniem zaopatrzenia
                wobec punktów handlowych. W&nbsp;konsekwencji w&nbsp;centrach miast powstają tysiące sklepów, do których
                zaopatrzenie można wykonać wyłącznie z&nbsp;jezdni (często nielegalnie) lub z&nbsp;chodnika (zawsze
                nielegalnie).</p>
            <p>Próby stworzenia miejsc „tylko dla zaopatrzenia do 15 minut” nie działają ze względów opisanych powyżej –
                nielegalne parkowanie w&nbsp;takim miejscu zagrożone jest mandatem w&nbsp;wysokości 100 zł a&nbsp;szansa
                na jego otrzymanie jest znikoma.</p>
            <p>Należy przy tym zaznaczyć, że praca dostawcy i&nbsp;kuriera stwarza szczególne
                <a href="#gina" aria-describedby="footnote-label" id="gina-ref">zagrożenie dla pieszych</a>
                i&nbsp;generuje wyjątkowo dużo szkód w&nbsp;przeznaczonych dla nich infrastrukturze. Kierowca samochodu
                osobowego parkuje najczęściej 2-3 razy dziennie, a&nbsp;jego pojazd waży poniżej dwóch ton. Dostawca
                i&nbsp;kurier manewruje po chodniku kilkadziesiąt razy dziennie pojazdem znacznie przekraczającym limit
                <a href="#art47" aria-describedby="footnote-label" id="art47-ref">2,5 tony</a>.</p>
            <p>To, że problem ten można rozwiązać pokazuje przykład miejsc postoju taksówek. Istniejące oznakowanie
                (znaki D-19 i&nbsp;D-20) spełnia swoją funkcję, a&nbsp;przypadki blokowania tych miejsc przez osoby
                niepowołane są sporadyczne. Porównując skalę obu zjawisk (taksówki/zaopatrzenie) staje się jasne, że
                brak dedykowanych regulacji dla sposobu wykonywania zaopatrzenia jest legislacyjnym zaniedbanien.
                Zaniedbanie to wprowadza realne zagrożenie dla pieszych, skutkuje niszczeniem infrastruktury dla nich
                przeznaczonej, oraz zmusza całą grupę zawodową dostawców do wykonywania swojej pracy z&nbsp;naruszeniem
                przepisów.</p>

            <h2>Donos obywatelski</h2>
            <p>Na podstawie swoich doświadczeń w&nbsp;prowadzeniu serwisu pośredniczącego w&nbsp;powiadamianiu służb
                o&nbsp;przypadkach nielegalnego parkowania, opiszę możliwości, jakie stoją przed świadkiem wykroczenia.
                Jest to reprezentacyjny przykład, od którego oczywiście występują odstępstwa w&nbsp;obu kierunkach.</p>
            <p>Pierwsza możliwość stojąca przed obywatelem, to telefon na numer 986 (straż miejska). Ze względu na
                przeciążenie tej formacji zgłoszeniami dot. parkowania, jest bardzo prawdopodobne, że patrol pojawi się
                już po
                <a href="#sm-wolno" aria-describedby="footnote-label" id="sm-wolno-ref">odjeździe pojazdu sprawcy</a>.
                Analogiczny efekt osiągniemy korzystając z&nbsp;miejskich np.
                warszawskiej „19115”, czy szczecińskiej „Alert Szczecin”. Zgłoszenia z&nbsp;tych aplikacji trafiają do
                straży miejskiej z&nbsp;takim samym priorytetem jak zgłoszenia telefoniczne.</p>
            <p>Próba dokonania zgłoszenia na numer alarmowy 112 spotka się ze słuszną odmową podjęcia interwencji.
                Wyjątkiem są zgłoszenia odholowania pojazdów sprzed przejść dla pieszych oraz dróg pożarowych – te
                zostaną przyjęte. W&nbsp;pozostałych przypadkach zostaniemy poinformowani o&nbsp;konieczności
                skontaktowania się ze strażą miejską, co dyskryminuje osoby z&nbsp;obszarów, gdzie nie ma powołanej
                straży gminnej.</p>
            <p>Jeśli pojazd, którego kierowca dopuścił się wykroczenia, nie ma polskich numerów rejestracyjnych, to na
                tym wyczerpują się możliwości świadka. Ani straż miejska, ani policja nie mają możliwości ustalenia
                właściciela pojazdu zarejestrowanego
                <a href="#art80k" aria-describedby="footnote-label" id="art80k-ref">za granicą</a>.
                Bez względu na to, czy jest to pojazd zarejestrowany
                w&nbsp;Unii Europejskiej czy poza nią.</p>
            <p>W pozostałych przypadkach świadek wykroczenia może dokonać zawiadomienia o&nbsp;popełnieniu wykroczenia
                do straży miejskiej lub policji. Zawiadomienia takie może dokonać osobiście, za pośrednictwem poczty,
                poczty elektronicznej oraz platformy ePUAP. Zawiadomienie takie musi zawierać opis wykroczenia, czas
                i&nbsp;miejsce, numer rejestracyjny oraz dane zgłaszającego (imię, nazwisko oraz adres).</p>
            <p>W zdecydowanej
                <a href="#ud-stats3" aria-describedby="footnote-label" id="ud-stats3-ref">większości przypadków</a>
                straż miejska lub policja wyśle zgłaszającemu wezwanie do stawienia
                się w&nbsp;charakterze świadka. Wezwanie takie najczęściej ma formę listu poleconego za potwierdzeniem
                odbioru, zawiera konkretną datę i&nbsp;godzinę stawienia się na przesłuchanie. Zazwyczaj zawiera także
                pouczenie, że za brak stawiennictwa grozi
                <a href="#art49" aria-describedby="footnote-label" id="art49-ref">kara do 1&nbsp;500 zł</a>
                i&nbsp;niezależnie od tego możliwe jest
                zatrzymanie
                i&nbsp;<a href="#art50" aria-describedby="footnote-label" id="art50-ref">przymusowe doprowadzenie świadka przez Policję</a>.
                W&nbsp;praktyce przepisy te nie są
                stosowane, skutecznie jednak zniechęcają do współpracy z&nbsp;strażą. Brak stawiennictwa
                w&nbsp;wyznaczonym najczęściej powoduje zamknięcie sprawy. Przykład takiego wezwania znajduje się
                w&nbsp;załączniku nr 5.</p>
            <p>Dla poprawnie dokonanego zgłoszenia tj. zawierającego komplet wymaganych przepisami informacji wraz
                z&nbsp;czytelnymi zdjęciami przesłuchanie nie wnosi nic do sprawy. Byłem świadkiem w&nbsp;kilkuset
                sprawach. W&nbsp;znikomej części przesłuchań następowało faktyczne doprecyzowanie zgłoszenia
                (najczęściej lokalizacji wykroczenia). W&nbsp;pozostałych przypadkach jest to żmudne opisywanie
                formalnym językiem tego, co doskonale widać na zdjęciach. Doświadczenia użytkowników mojego serwisu
                wskazują także, że w&nbsp;trakcie czynności funkcjonariusze aktywnie zniechęcają do zgłaszania wykroczeń
                związanych z&nbsp;parkowaniem. W&nbsp;trakcie przesłuchania zgłaszający jest także informowany, że jego
                dane osobowe zostaną zgodnie z&nbsp;kpw. udostępnione sprawcy.</p>
            <p>Cały ten proces, od formy wezwania na świadka, przez samą uciążliwość i&nbsp;jałowość przesłuchania, aż
                po budowanie poczucie zagrożenia, skutecznie zniechęcają obywateli od podejmowania tej czynności. Efekt
                ten potęguje fakt niskich mandatów oraz liczne przypadki karania sprawców za pomocą upomnienia (30-40%,
                przykładowe statystyki w&nbsp;rozdziale „Efektywność straży miejskich”). </p>
            <p>Połączony efekt nieskiej wysokości mandatów oraz konstrukcji kpw. skutkują większą uciążliwością dla
                świadka zgłaszającego wykroczenie drogowe, niż dla sprawcy tego wykroczenia.</p>

            <h2>Efektywność straży miejskich</h2>
            <p>Wg <a href="#nik" aria-describedby="footnote-label" id="nik-ref">raportu NIK z&nbsp;2016</a>
                roku najefektywniejsza straż miejska w&nbsp;Polsce znajduje się
                w&nbsp;Szczecinie. Raport kwartalny szczecińskiej straży miejskiej za okres 1.10.2022 – 31.12.2022
                ujawnia, że formacja ta siłą 118. funkcjonariuszy, ukarała mandatami 1&nbsp;762 osoby na sumę 359 540
                zł. Pouczono 1&nbsp;038 sprawców wykroczeń. Straż usunęła („odholowała”) 174 pojazdy z&nbsp;tytułów
                innych niż „wraki”. Z&nbsp;tych liczb wynika, że najbardziej wydajna straż w&nbsp;Polsce dokonuje 1,8
                odholowania pojazdu dziennie, a&nbsp;strażnik miejski w&nbsp;Szczecinie wystawia kierującym pojazdom
                0,75 mandatu dziennie na średnią kwotę 205 zł.</p>
            <p>W załącznikach 1&nbsp;do 4&nbsp;znajduje się korespondencja ze strażą miejską w&nbsp;związku moim
                telefonicznym zawiadomieniem o&nbsp;19. wykroczeniach drogowych na krótkim odcinku śródmiejskiej ulicy
                w&nbsp;Szczecinie. Ten przykładowy materiał udowadnia, że straż miejska koncentruje się na obsługiwaniu
                maksymalnej liczby zgłoszeń od mieszkańców. W&nbsp;statystykach moje zgłoszenie zostało przyjęte oraz
                obsłużone. Niestety efekty tej interwencji nie wpłynęły w&nbsp;żaden sposób na porządek ruchu drogowego,
                co jest ustawowym obowiązkiem straży miejskiej.</p>
            <p>Należy zaznaczyć, że działania związane z&nbsp;poprawą bezpieczeństwa w&nbsp;ruchu drogowym stanowią dla
                straży miejskich w&nbsp;Polsce ponad 60% podejmowanych zgłoszeń (63,7% dla szczecińskiego przykładu).
                Oznacza to, że pozostała obowiązki, do jakich zostały powołane te służby, są zaniedbywane. Wystarczy
                spojrzeć na pozostałe kategorie raportu. Przestrzeganie ustawy o&nbsp;utrzymaniu czystości
                i&nbsp;porządku w&nbsp;gminach: ukarano 34 sprawców wykroczeń na sumę 6&nbsp;020 zł, pouczono 32 osoby.
                Przestrzeganie ustawy o&nbsp;wychowaniu w&nbsp;trzeźwości: ukarano 69 osób mandatami na sumę 5&nbsp;730
                zł, pouczono 37 sprawców wykroczeń.</p>
            <p>Ustawa z&nbsp;dnia 29 sierpnia 1997 r. o&nbsp;strażach gminnych nakłada na straże szereg obowiązków.
                Równocześnie ze względu na opisane w&nbsp;poprzednich przykładach zaniedbania, strażnicy nie posiadają
                efektywnych narzędzi do realizacji tych obowiązków. Jak udowodniono we wstępie, strażnik miejski ma
                efektywnie mniejsze uprawnienia niż kontroler biletów i&nbsp;konduktor. Spycha to wszystkie jednostki
                w&nbsp;kraju do głębokiej defensywy i&nbsp;wymusza tworzenie kreatywnych statystyk.</p>

            <h2>Podsumowanie</h2>
            <p>Przepisy nie nadążyły za gwałtownym rozwojem motoryzacji w&nbsp;polskich miastach. Lata zaniedbań
                doprowadziły do praktycznej depenalizacji wykroczeń związanych z&nbsp;postojem pojazdów. Niespójne
                przepisy stworzyły zachęty ekonomiczne do łamania prawa, faworyzując zachowania egoistyczne
                i&nbsp;antyspołeczne. Zanurzony w&nbsp;latach osiemdziesiątych kodeks postępowania w&nbsp;sprawach
                o&nbsp;wykroczenia aktywnie zniechęca świadków wykroczeń do podejmowania obowiązków obywatelskich.
                Centralne rozporządzenia związały ręce samorządom, zmuszając je do kreowania polityki parkingowej za
                pomocą słupków. Przepisy te nie tylko nie chronią należycie przyrody, ale zupełnie ją ignorują. Formacje
                powoływane do przeciwdziałania tym problemom mają zapisane ustawowo zakres obowiązków, ale nie otrzymały
                skutecznych narzędzi do ich egzekwowania.</p>
            <p>W efekcie przepisy te generują duże nierówności wobec prawa względem różnych grup społecznych,
                a&nbsp;w&nbsp;szczególności naruszają konstytucyjne prawa niezmotoryzowanych uczestników ruchu.</p>
            <p>
            <i>Z wyrazami szacunku, Szymon Nieradka</i>
            </p>

            <h1>Załączniki</h1>

            <h2>Załącznik 1: wniosek o&nbsp;informację o&nbsp;efektach interwencji</h2>
            <p><img src="/img/rpo/image1.png?width=800" /></p>

            <h2>Załącznik 2: odpowiedź Straży miejskiej w&nbsp;Szczecinie</h2>
            <p><img src="/img/rpo/image2.png?width=800" /></p>

            <h2>Załącznik 3: skarga na interwencję Straży miejskiej w&nbsp;Szczecinie</h2>
            <p><img src="/img/rpo/image3.png?width=800" /></p>

            <h2>Załącznik 4: odpowiedź na skargę, strona 1</h2>
            <p><img src="/img/rpo/image4.png?width=800" /></p>

            <h2>Załącznik 4: odpowiedź na skargę, strona 2</h2>
            <p><img src="/img/rpo/image5.png?width=800" /></p>

            <h2>Załącznik 4: odpowiedź na skargę, strona 3</h2>
            <p><img src="/img/rpo/image6.png?width=800" /></p>

            <h2>Załącznik nr 5: przykładowe wezwanie na przesłuchanie w&nbsp;charakterze świadka, strona 1</h2>
            <p><img src="/img/rpo/image7.png?width=800" /></p>

            <h2>Załącznik nr 5: przykładowe wezwanie w&nbsp;charakterze świadka, strona 2</h2>
            <p><img src="/img/rpo/image8.png?width=800" /></p>

            <h2>Załącznik nr 6: zgłoszenie nieprawidłowego parkowania</h2>
            <p><img src="/img/rpo/image9.png?width=800" /></p>

            <h2>Załącznik nr 7: odpowiedź Policji w/s zgłoszenia</h2>
            <p><img src="/img/rpo/image10.png?width=800" /></p>
        </div>
        <hr />
        <div class="footnotes">
            <h2 class="visually-hidden" id="footnote-label">Footnotes</h2>
            <ol>
                <li id="ud"><a target="_blank" href="https://uprzejmiedonosze.net">https://uprzejmiedonosze.net</a> <a
                        href="#ud-ref" aria-label="wróć">↩</a></li>
                <li id="ud-stats"><a target="_blank"
                        href="https://uprzejmiedonosze.net/statystyki.html">https://uprzejmiedonosze.net/statystyki.html</a> <a
                        href="#ud-stats-ref" aria-label="wróć">↩</a></li>
                <li id="stopcham"><a target="_blank"
                        href="https://youtube.com/@stopChamSzczecin">https://youtube.com/@stopChamSzczecin</a> <a
                        href="#stopcham-ref" aria-label="wróć">↩</a></li>
                <li id="kj"><a target="_blank"
                        href="https://klubjagiellonski.pl/2023/04/06/polskie-przepisy-zmuszaja-kierowcow-do-nielegalnego-parkowania/">https://klubjagiellonski.pl/2023/04/06/polskie-przepisy-zmuszaja-kierowcow-do-nielegalnego-parkowania/</a>
                    <a href="#kj-ref" aria-label="wróć">↩</a></li>
                <li id="policji"><a target="_blank"
                        href="https://statystyka.policja.pl/st/ruch-drogowy/76562,Wypadki-drogowe-raporty-roczne.html">https://statystyka.policja.pl/st/ruch-drogowy/76562,Wypadki-drogowe-raporty-roczne.html</a>
                    <a href="#policji-ref" aria-label="wróć">↩</a></li>
                <li id="spp"><a target="_blank" href="https://lexlege.pl/ustawa-o-drogach-publicznych/art-13b/">Art. 13b Ustawy
                        z&nbsp;dnia 21 marca 1985 r. o&nbsp;drogach publicznych</a> <a href="#spp-ref" aria-label="wróć">↩</a></li>
                <li id="spp2"><a target="_blank" href="https://lexlege.pl/ustawa-o-drogach-publicznych/art-13f/">Art. 13f Ustawy
                        z&nbsp;dnia 21 marca 1985 r. o&nbsp;drogach publicznych</a> <a href="#spp2-ref" aria-label="wróć">↩</a></li>
                <li id="taryfikator"><a target="_blank" href="https://isap.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU20210002484">Poz. 266 w&nbsp;rozporządzeniu z&nbsp;dnia 30 grudnia 2021 r. w&nbsp;sprawie wysokości grzywien
                    nakładanych w&nbsp;drodze mandatów karnych za wybrane rodzaje wykroczeń</a> <a href="#taryfikator-ref"
                        aria-label="wróć">↩</a></li>
                <li id="wlasciciel"><a target="_blank" href="https://lexlege.pl/orzeczenie/248772/i-sa-sz-266-12-wyrok-wojewodzki-sad-administracyjny-w-szczecinie/">I&nbsp;SA/Sz 266/12 Wojewódzkiego Sądu Administracyjnego w&nbsp;Szczecinie z&nbsp;dnia
                    9&nbsp;sierpnia 2012</a> <a href="#wlasciciel-ref" aria-label="wróć">↩</a></li>
                <li id="intercity"><a target="_blank" href="https://isap.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU20050140117">Rozporządzenie Ministra Infrastruktury z&nbsp;dnia 20 stycznia 2005 r. w&nbsp;sprawie sposobu
                    ustalania wysokości opłat dodatkowych z&nbsp;tytułu przewozu osób</a> oraz <a target="_blank" href="https://www.intercity.pl/pl/dokumenty/Przepisy%20i%20taryfy/RPO-IC_tekst_ujednolicony_01_10_2021.pdf">regulamin Intercity</a>. Opłata ta jest
                    obniżana o&nbsp;80% w&nbsp;przypadku dokonania płatności u&nbsp;konduktora. <a href="#intercity-ref"
                        aria-label="wróć">↩</a></li>
                <li id="prawo-przewozowe"><a target="_blank" href="https://lexlege.pl/prawo-przewozowe/art-33a/">Art. 33a ust.
                        1&nbsp;ustawy z&nbsp;dnia 15 listopada 1984 r. Prawo przewozowe</a> <a href="#prawo-przewozowe-ref"
                        aria-label="wróć">↩</a></li>
                <li id="zditm"><a target="_blank" href="https://www.zditm.szczecin.pl/pl/pasazer/bilety-i-oplaty/oplaty-dodatkowe">Regulamin ZDiTM w&nbsp;Szczecinie</a>. Opłata uiszczona u&nbsp;kontrolera biletowego lub w&nbsp;terminie
                    do 7&nbsp;dni jest obniżana do 200 zł <a href="#zditm-ref" aria-label="wróć">↩</a></li>
                <li id="kary"><a target="_blank"
                        href="https://www.portalsamorzadowy.pl/gospodarka-komunalna/drakonskie-kary-za-brak-biletu-przynosza-w-metropolii-oczekiwany-skutek,459370.html">https://www.portalsamorzadowy.pl/gospodarka-komunalna/drakonskie-kary-za-brak-biletu-przynosza-w-metropolii-oczekiwany-skutek,459370.html</a>
                    <a href="#kary-ref" aria-label="wróć">↩</a></li>
                <li id="ztm"><a target="_blank"
                        href="https://warszawa19115.pl/-/oplaty-dodatkowe">https://warszawa19115.pl/-/oplaty-dodatkowe</a> <a
                        href="#ztm-ref" aria-label="wróć">↩</a></li>
                <li id="taryfikator2"><a target="_blank" href="https://isap.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU20210002484">Poz. 165 w&nbsp;rozporządzeniu z&nbsp;dnia 30 grudnia 2021 r. w&nbsp;sprawie wysokości
                    grzywien nakładanych w&nbsp;drodze mandatów karnych za wybrane rodzaje wykroczeń</a> <a href="#taryfikator2-ref"
                        aria-label="wróć">↩</a></li>
                <li id="art121"><a target="_blank" href="https://lexlege.pl/kw/art-121/">Art. 121 &sect; 1&nbsp;Kodeksu
                        Wykroczeń</a> <a href="#art121-ref" aria-label="wróć">↩</a></li>
                <li id="wiezienie"><a target="_blank"
                        href="https://www.rp.pl/prawo-karne/art38428241-jechal-na-gape-sad-w-krakowie-wydal-za-nim-list-gonczy">www.rp.pl/prawo-karne/art38428241-jechal-na-gape-sad-w-krakowie-wydal-za-nim-list-gonczy</a>
                    <a href="#wiezienie-ref" aria-label="wróć">↩</a></li>
                <li id="nsa"><a target="_blank" href="https://bip.brpo.gov.pl/pl/content/oplaty-za-postoj-w-strefie-platnego-parkowania-tylko-na-odpowiednio-wyznaczonych-miejscach">Sygnatura akt II GPS 2/17, uchwała 7&nbsp;sędziów NSA z&nbsp;9 października 2017 r.</a> <a href="#nsa-ref"
                        aria-label="wróć">↩</a></li>
                <li id="taryfikator3"><a target="_blank" href="https://isap.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU20210002484">Sekcja K&nbsp;rozporządzenia z&nbsp;dnia 30 grudnia 2021 r. w&nbsp;sprawie wysokości grzywien
                    nakładanych w&nbsp;drodze mandatów karnych za wybrane rodzaje wykroczeń</a> <a href="#taryfikator3-ref"
                        aria-label="wróć">↩</a></li>
                <li id="art130a"><a target="_blank" href="https://lexlege.pl/prawo-o-ruchu-drogowym/art-130a/">Art. 130a Ustawy
                        z&nbsp;dnia 20 czerwca 1997 prawo o&nbsp;ruchu drogowym</a> <a href="#art130a-ref" aria-label="wróć">↩</a>
                </li>
                <li id="art26"><a target="_blank" href="https://lexlege.pl/prawo-o-ruchu-drogowym/art-26/">Art. 26 ustawy
                        z&nbsp;dnia 20 czerwca 1997 prawo o&nbsp;ruchu drogowym</a> <a href="#art26-ref" aria-label="wróć">↩</a>
                </li>
                <li id="taryfikator4"><a target="_blank" href="https://isap.sejm.gov.pl/isap.nsf/DocDetails.xsp?id=WDU20210002484">Poz. 43 w&nbsp;rozporządzeniu z&nbsp;dnia 30 grudnia 2021 r. w&nbsp;sprawie wysokości grzywien
                    nakładanych w&nbsp;drodze mandatów karnych za wybrane rodzaje wykroczeń</a> <a href="#taryfikator4-ref"
                        aria-label="wróć">↩</a></li>
                <li id="mswia"><a target="_blank" href="https://lexlege.pl/rozporzadzenie-ministra-spraw-wewnetrznych-i-administracji-w-sprawie-wykroczen-za-ktore-straznicy-strazy-gminnych-sa-uprawnieni-do-nakladania-grzywien-w-drodze-mandatu-karnego/">Par 2&nbsp;Rozporządzenia MSWiA z&nbsp;dnia 17 listopada 2003 w&nbsp;sprawie wykroczeń, za które
                    strażnicy straży gminnych są uprawnieni do nakładania grzywien w&nbsp;drodze mandatu karnego</a> <a
                        href="#mswia-ref" aria-label="wróć">↩</a></li>
                <li id="yt">Dowód w&nbsp;postaci nagranej rozmowy z&nbsp;funkcjonariuszkami <a target="_blank"
                        href="https://www.youtube.com/watch?v=5axVO0sCxdg">https://www.youtube.com/watch?v=5axVO0sCxdg</a> <a
                        href="#yt-ref" aria-label="wróć">↩</a></li>
                <li id="sad"><a target="_blank"
                        href="https://dlakierowcow.policja.pl/dk/stop-agresji-drogowej/87103,Stop-agresji-na-drodze.html">https://dlakierowcow.policja.pl/dk/stop-agresji-drogowej/87103,Stop-agresji-na-drodze.html</a>
                    <a href="#sad-ref" aria-label="wróć">↩</a></li>
                <li id="art144"><a target="_blank" href="https://lexlege.pl/kw/art-144/">Art. 144 Ustawy z&nbsp;dnia 20 maja 1971
                        kodeks wykroczeń</a> <a href="#art144-ref" aria-label="wróć">↩</a></li>
                <li id="ud-stats2">Dane własne autora na bazie informacji użytkowników serwisu Uprzejmie Donoszę <a
                        href="#ud-stats2-ref" aria-label="wróć">↩</a></li>
                <li id="zus"><a target="_blank"
                        href="https://www.zus.pl/baza-wiedzy/skladki-wskazniki-odsetki/wskazniki/minimalne-wynagrodzenie-za-prace-od-2003-r">https://www.zus.pl/baza-wiedzy/skladki-wskazniki-odsetki/wskazniki/minimalne-wynagrodzenie-za-prace-od-2003-r</a>
                    <a href="#zus-ref" aria-label="wróć">↩</a></li>
                <li id="gina"><a target="_blank"
                        href="https://www.transport-publiczny.pl/wiadomosci/w-polsce-piesi-gina-nawet-na-chodnikach-59769.html">https://www.transport-publiczny.pl/wiadomosci/w-polsce-piesi-gina-nawet-na-chodnikach-59769.html</a>
                    <a href="#gina-ref" aria-label="wróć">↩</a></li>
                <li id="art47"><a target="_blank" href="https://lexlege.pl/prawo-o-ruchu-drogowym/art-47/">Art. 47. 1. ustawy
                        z&nbsp;dnia 20 czerwca 1997 prawo o&nbsp;ruchu drogowym</a> <a href="#art47-ref" aria-label="wróć">↩</a>
                </li>
                <li id="sm-wolno"><a target="_blank"
                        href="https://warszawa.naszemiasto.pl/straz-miejska-w-warszawie-dziala-zbyt-wolno/ar/c4-4624761">https://warszawa.naszemiasto.pl/straz-miejska-w-warszawie-dziala-zbyt-wolno/ar/c4-4624761</a>
                    <a href="#sm-wolno-ref" aria-label="wróć">↩</a></li>
                <li id="art80k"><a target="_blank" href="https://lexlege.pl/prawo-o-ruchu-drogowym/art-80k/">Art. 80k ustęp 6.
                        ustawy z&nbsp;dnia 20 czerwca 1997 prawo o&nbsp;ruchu drogowym</a> <a href="#art80k-ref"
                        aria-label="wróć">↩</a></li>
                <li id="ud-stats3">Dane własne autora na bazie informacji użytkowników serwisu Uprzejmie Donoszę <a
                        href="#ud-stats3-ref" aria-label="wróć">↩</a></li>
                <li id="art49"><a target="_blank"
                        href="https://lexlege.pl/kodeks-postepowania-w-sprawach-o-wykroczenia/art-49/">Art. 49 &sect; 1&nbsp;ustawy
                        z&nbsp;dnia 24 sierpnia 2001 r. kodeks postępowania w&nbsp;sprawach o&nbsp;wykroczenia</a> <a
                        href="#art49-ref" aria-label="wróć">↩</a></li>
                <li id="art50"><a target="_blank"
                        href="https://lexlege.pl/kodeks-postepowania-w-sprawach-o-wykroczenia/art-50/">Art. 50 &sect; 1&nbsp;ustawy
                        z&nbsp;dnia 24 sierpnia 2001 r. kodeks postępowania w&nbsp;sprawach o&nbsp;wykroczenia</a> <a
                        href="#art50-ref" aria-label="wróć">↩</a></li>
                <li id="nik"><a target="_blank"
                        href="https://www.nik.gov.pl/aktualnosci/nik-o-finansowaniu-strazy-miejskich.html">https://www.nik.gov.pl/aktualnosci/nik-o-finansowaniu-strazy-miejskich.html</a>
                    <a href="#nik-ref" aria-label="wróć">↩</a></li>
            </ol>
        </div>
    </div>  
</body>

</html>
