<!DOCTYPE html>
<html lang="pl">
<!-- # vim: set ft=html -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,
            maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Odpowiedź na pismo Rzecznika Praw Obywatelskich</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#009C7F" />
    <meta property="og:image" content="%HTTPS%://%HOST%//img/uprzejmiedonosze.png' }}" />
    <meta property="og:title" content="Wniosek do Rzecznika Praw Obywatelskich" />
    <meta property="og:url" content="https://prawapieszych.pl/wniosek-odpowiedz1" />
    <meta property="og:description" content="Odpowiedź na pismo Rzecznika Praw Obywatelskich" />
    <meta property="og:locale" content="pl_PL" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="1299217686854263" />
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="%HTTPS%://%HOST%/css/index.css?%CSS_HASH%" />
</head>

<body class="index rpo">
    <div data-role="page" class="container-fluid" data-theme="a">
        <header class="ui-header">Odpowiedź na pismo do RPO <a href="/img/rpo/odpowiedz1-do-rpo.pdf">(wersja pdf)</a>
        </header>
        <div data-role="main" class="ui-content">
            <strong>Rzecznik Praw Obywatelskich<br /> Al. Solidarności 77<br /> 00-090 Warszawa</strong>
            <p> </p>
            <h1>Odpowiedź na pismo <a href="/img/rpo/odpowiedz1-rpo.pdf">V.511.390.2023.TS</a></h1>
            <p> Dziękuję za odpowiedź na mój wniosek w/s dokonania analizy przepisów związanych z postojem pojazdów z
                dnia 19 czerwca 2023 (odpowiedź nr V.511.390.2023.TS z dnia 21 sierpnia 2023 podpisana przez Zastępcę
                Dyrektora Zespołu Prawa Administracyjnego i Gospodarczego Łukasza Kosiedowskiego).</p>
            <p> Odpowiedź, jaką otrzymałem, odnosi się do arbitralnie wybranych punktów z dwóch pierwszych stron
                dokumentu, ignorując całkowicie uzasadnienie będące integralną częścią wniosku.</p>
            <p> Pragnę zauważyć, że wniosek ten nie jest efektem teoretycznej analizy przepisów. Uzasadnienie jest
                poparte danymi statystycznymi, przykładami, zdjęciami, wyrokami sądów i materiałami wideo. Przedstawiona
                argumentacja jest efektem rozmów z przedstawicielami służb odpowiedzialnych za bezpieczeństwo ruchu
                drogowego. Wniosek ten został podpisany przez ponad tysiąc dwieście osób. Ich głos w moim odczuciu
                został zignorowany.</p>
            <p> W odpowiedzi autor nie odnosi się też do sedna wniosku: nierównego traktowania obywateli względem prawa
                spowodowanego praktycznym stosowaniem przepisów związanych z parkowaniem.</p>
            <p> Jest to tym bardziej zaskakujące, że Rzecznik Praw Obywatelskich bardzo często podnosi problem
                nierównego traktowania kierowców wobec prawa. W ostatnich kilkunastu miesiącach w/s strefy płatnego
                parkowania w Szczecinie, Sopocie, Piasecznie i Bydgoszczy.
                <a href="#sopot-rpo" aria-describedby="footnote-label" id="sopot-rpo-ref">W najnowszym przypadku z Sopotu</a>, za zasadne
                uznał zaskarżenie do WSA regulaminu „strefy”, ze względu na brak zniżek dla kierowców, którzy użytkują
                samochody na podstawie umowy najmu lub użyczenia.</p>
            <p>Równocześnie troski Rzecznika nie wzbudza fakt, że kierowca, który spóźnił się z opłatą za strefę
                otrzymuje <a href="#sopot-kara" aria-describedby="footnote-label" id="sopot-kara-ref">karę administracyjną w wysokości 280 zł</a>. Ten sam kierowca, zastawiając chodnik lub przejście
                dla pieszych, ryzykuje maksymalnie 100 zł mandatu. Zdziwienia Rzecznika nie wzbudza także to, że
                mieszkaniec Sopotu, zapominając skasować bilet w komunikacji miejskiej naraża się na
                <a href="#sopot-kara2" aria-describedby="footnote-label" id="sopot-kara2-ref">opłatę dodatkową w
                wysokości 300 zł</a>.</p>
            <p>***</p>
            <p>Odnoszę się do ww. odpowiedzi, zachowując kolejność punktów z mojego wniosku.</p>
            <p><strong>Punkt 1</strong>: Rozporządzenia Prezesa Rady Ministrów z dnia 24 listopada 2003 r. (poz. 2023) w
                sprawie wysokości grzywien nakładanych w drodze mandatów karnych za wybrane rodzaje wykroczeń (tzw.
                taryfikator mandatów).</p>
            <p>Punkt ten został całkowicie pominięty w odpowiedzi.</p>
            <p><strong>Punkt 2</strong>: Art. 13b ust. 1 ustawy o drogach publicznych, zgodnie z którym opłatę za postój
                pojazdów samochodowych na drogach publicznych w strefie płatnego parkowania pobiera się od
                korzystającego z drogi publicznej wyłącznie za postój w wyznaczonym do tego miejscu.</p>
            <p> Muszę w pełni zgodzić się z argumentacją, że „pobieranie opłat za postój w każdym miejscu, w granicach
                wyznaczonej strefy parkowania, [...] oznaczałoby faktyczną aprobatę dla zachowań korzystających z dróg
                publicznych, które są niezgodne z przepisami prawa”. Zgadzam się także w pełni, że „ustanowienie
                obowiązku wnoszenia opłat za postój pojazdu samochodowego w strefie płatnego parkowania, wyłącznie na
                miejscach wyznaczonych do postoju pojazdów, jest rozwiązaniem racjonalnym”.</p>
            <p> Niestety, zgodnie z tym, co napisałem we wstępie, argumentacja ta odnosi się wyłącznie do pierwszej
                strony dokumentu, ignoruje argumentację, a w konsekwencji omija sedno problemu.</p>
            <p> W swoim wniosku posługuję się przykładem SM Szczecin, która wg <a href="#szczecin-nik" aria-describedby="footnote-label" id="szczecin-nik-ref">kontroli NIK z 2016 roku</a> jest
                najefektywniejszą strażą miejską w Polsce. Najnowszy <a href="#sm-szczecin" aria-describedby="footnote-label" id="sm-szczecin-ref">raport kwartalny SM Szczecin</a> (strona nr 5) ujawnia,
                że dziennie formacja ta wystawia średnio 26 mandatów, wydaje 8 pouczeń, 2 wnioski o ukaranie do sądu”.
                Wszczyna także <a href="#szczecin-19" aria-describedby="footnote-label" id="szczecin-19-ref">19 postępowań na podstawie KPW oraz nie wydaje ani jednej dyspozycji holowania ze względu
                na „stworzenie zagrożenia”</a>.</p>
            <p>Równocześnie, zgodnie z raportem <a href="#szczecin-polityka" aria-describedby="footnote-label" id="szczecin-polityka-ref">„Polityka Parkingowa Szczecina” wykonanym przez firmę TransEko na
                zlecenie Urzędu Miasta Szczecin</a>, w samym śródmieściu codziennie zaparkowane jest „ponad 1000 pojazdów
                [...] zaparkowanych w sposób zagrażający bezpieczeństwu ruchu drogowego lub w sposób utrudniający ruch
                pieszym” (rozdział 13, punkt 16, strona 240).</p>
            <p>Zderzając te liczby ze sobą, otrzymujemy realne opcje, przed którymi stoi kierowca w centrum polskiego
                miasta:</p>
            <ol>
                <li>Kierowca parkujący na wyznaczonym miejscu musi wnieść opłatę w wysokości 50 zł za dzień postoju;
                </li>
                <li>Kierowca parkujący na wyznaczonym miejscu bez biletu ma praktyczną pewność otrzymania kary
                    administracyjnej nakładanej na właściciela pojazdu, w wysokości średnio 300 zł dziennie;</li>
                <li>Kierowca parkujący nielegalnie ma ~5% szans na mandat w wysokości 100 zł, ~1% szans na pouczenie. W
                    ~1,5% przypadków interwencja może dodatkowo zakończyć się założeniem blokady na koło. Należy dodać,
                    że egzekucja mandatu wystawionego zgodnie z KPW daje zdecydowanie większe możliwości uchylenia się
                    od płatności niż kara administracyjna za postój w SPP bez biletu (z czego kierowcy często
                    korzystają, i na co wskazuję w punktach 3, 7 i 10 swojego wniosku).</li>
            </ol>
            <p>Powyższe potwierdza tezę przedstawioną we wniosku – aktualnie obowiązujące przepisy związane z
                parkowaniem pojazdów tworzą zachęty ekonomiczne do łamania prawa.</p>
            <p><strong>Punkt 3</strong>: KPW, która wymaga ustalenia sprawcy naruszenia przepisów o bezpieczeństwie lub
                porządku w ruchu drogowym.</p>
            <p>Punkt ten został całkowicie pominięty w odpowiedzi.</p>
            <p><strong>Punkt 4:</strong> <a href="#pord" aria-describedby="footnote-label" id="pord-ref">Ustawy PoRD</a> w sprawie braku przepisów związanych z niszczeniem zieleni.</p>
            <p>W swojej odpowiedzi informuje Pan o istnieniu <a href="#kw144" aria-describedby="footnote-label" id="kw144-ref">art. 144 Kodeksu wykroczeń</a> wraz ze wskazaniem, że w
                konsekwencji niekonieczne unormowanie go w ustawie prawo o ruchu drogowym. Jestem w pełni świadomy
                istnienia tego artykułu. Piszę o nim na stronach 8 i 9 mojego wniosku. Wskazuję także na inne intencje
                ustawodawcy w stosunku do tego artykułu jego ułomność w karaniu nielegalnego parkowania oraz brak jego
                stosowania w praktyce.</p>
            <p> Argumentację swoją podpieram dziesiątkami rozmów z funkcjonariuszami straży miejskich i policji. Z
                przyjemnością wskażę osobę kontaktową w kierownictwie SM Warszawa, która będzie mogła obiektywnie
                wypowiedzieć się w tej sprawie.</p>
            <p> Dodam, że istnieją przepisy KW, które są uszczegółowione w PoRD. Np. art. 86b. KW (Nieustąpienie
                pierwszeństwa pieszemu i inne wykroczenia naruszające pierwszeństwo pieszego) jest uszczegółowiony w
                art. 13 PoRD (Przechodzenie pieszego przez jezdnię, drogę dla rowerów lub torowisko; pierwszeństwo
                pieszych na pasach).</p>
            <p><strong>Punkt 5:</strong> Art. 130a PoRD, który warunkuje usunięcie pojazdu, jeśli „w inny sposób zagraża
                bezpieczeństwu”, nie definiując równocześnie „zagrożenia bezpieczeństwa”.</p>
            <p> W swojej odpowiedzi szczegółowo opisuje Pan warunki usunięcia pojazdu. Wskazuje Pan także przykład, że
                zaparkowanie pojazdu w odległości mniejszej niż 10 m przed PDP spełnia warunki „stworzenia zagrożenia”,
                co powinno skutkować dyspozycją usunięcia pojazdu. Argument ten brzmi przekonująco, ale niestety
                praktyka stosowania tego przepisu jest inna. Wskazuję na to w swoim uzasadnieniu.</p>
            <p> Posłużę się dwoma danymi statystycznymi. Najnowszy <a href="#sm-szczecin2" aria-describedby="footnote-label" id="sm-szczecin2-ref">raport kwartalny SM Szczecin</a> (na stronie nr 5)
                wymienia trzy przyczyny usuwania pojazdów, nie wskazując ani jednego usuwania pojazdu ze względu na
                stworzenie zagrożenia bezpieczeństwa. Proszę zwrócić uwagę na uszczegółowienie powodu usunięcia pojazdu
                („blokowanie”):</p>
            <p><img src="./img/rpo/odpowiedz1-image1.png" /></p>
            <p> Analogiczny <a href="#sm-warszawa" aria-describedby="footnote-label" id="sm-warszawa-ref">raport SM Warszawa za rok 2022</a> (na stronie 52) także podaje trzy powody usunięcia pojazdów.
                Również nie wymienia usunięć pojazdów „ze względu na stworzenie zagrożenia bezpieczeństwa”. Co więcej,
                raport SM Warszawa mówi wprost o ograniczaniu ustawowym wiążącym ręce strażnikom:</p>
            <p><img src="./img/rpo/odpowiedz1-image2.png" /></p>
            <p><strong>Punkt 6:</strong> Art. 2 PoRD, który definiuje określenie „przejście sugerowane”, ale nie
                wprowadza na nim zakazu postoju pojazdów.</p>
            <p>Muszę z przykrością zgodzić się z pańską argumentacją, że wprowadzenie zakazu parkowania w miejscu
                „nieoznaczonym” jest niemożliwe z praktycznego punktu widzenia. Niestety argumentacja ta nie odnosi się
                do sedna problemu. Ustawodawca, wbrew swojej intencji, stworzył darmowe miejsca postojowe w centrach
                polskich miast. W swoim uzasadnieniu wskazałem na film dokumentujący próbę zgłoszenia parkowania na
                sugerowanym miejscu dla pieszych, w której operator odmawia wysłania patrolu.</p>
            <p><strong>Punkt 7</strong>: Art. 80k ustęp 6. PoRD, który definiuje zakres naruszeń przepisów ruchu
                drogowego, których popełnienie umożliwia służbom wymianę informacji w Krajowym Punkcie Kontaktowym.</p>
            <p>Punkt ten został całkowicie pominięty w odpowiedzi.</p>
            <p><strong>Punkt 8: </strong>Ustawy PoRD, w sprawie braku przepisów związanych z dostawą towarów.</p>
            <p> W swojej odpowiedzi koncentruje się Pan na braku konieczności tworzenia legalnej definicji pojęć, które
                są powszechnie zrozumiałe, ignorując sedno problemu oraz przytoczoną argumentację.</p>
            <p> Pragnę zauważyć, że PoRD definiuje szereg pojęć, które są powszechnie zrozumiałe, unikając w ten sposób
                dwuznaczności oraz prób obchodzenia przepisów. Dla przykładu PoRD definiuje pojęcie skrzyżowania,
                tunelu, hulajnogi, pieszego oraz autobusu szkolnego. Nie definiuje jednak procesu zaopatrzenia ani
                dostaw, w efekcie uniemożliwiając samorządom wyznaczanie funkcjonujących miejsc postojowych dedykowanych
                zaopatrzeniu.</p>
            <p> Argumentację swoją podpieram dziesiątkami rozmów z funkcjonariuszami straży miejskich i policji. Z
                przyjemnością wskażę osobę kontaktową w kierownictwie SM Warszawa, która będzie mogła obiektywnie
                wypowiedzieć się w tej sprawie.</p>
            <p> Zwracam także uwagę na błąd w odpowiedzi, polegający na wskazaniu kwoty 3000 zł jako stawki mandatu za
                postój na chodnikach pojazdów, których dopuszczalna masa całkowita przekracza 2,5 t. <a href="#taryfikator" aria-describedby="footnote-label" id="taryfikator-ref">Taryfikator
                mandatów</a> (opisany w punkcie nr 1 mojego wniosku) w pozycji 163 ustala wysokość takiego mandatu na
                zaledwie 100 zł.</p>
            <p><strong>Punkt 9</strong>: KPW sprawie wykroczeń o charakterze chuligańskim.</p>
            <p>Punkt ten został całkowicie pominięty w odpowiedzi.</p>
            <p><strong>Punkt 10</strong>: Rozporządzenia MSWiA w sprawie wykroczeń, za które strażnicy straży gminnych
                są uprawnieni do nakładania grzywien w drodze mandatu karnego.</p>
            <p>Punkt ten został całkowicie pominięty w odpowiedzi.</p>
            <p>
            <blockquote>Z wyrazami szacunku, Szymon Nieradka</blockquote>
            </p>
            <hr />
            <footer>
                <h2 class="visually-hidden" id="footnote-label">Footnotes</h2>
                <ol>
                    <li id="sopot-rpo"><a target="_blank" href="https://bip.brpo.gov.pl/pl/content/sopot-parkowanie-oplaty-rpo-skarga-wsa-zmiana">https://bip.brpo.gov.pl/pl/content/sopot-parkowanie-oplaty-rpo-skarga-wsa-zmiana</a> <a href="#sopot-rpo-ref" aria-label="wróć">↩</a></li>
                    <li id="sopot-kara"><a target="_blank" href="https://sopot.guide/transport/parkowanie">https://sopot.guide/transport/parkowanie</a> <a href="#sopot-kara-ref" aria-label="wróć">↩</a></li>
                    <li id="sopot-kara2"><a target="_blank" href="https://ztm.gda.pl/bilety/oplaty-dodatkowe,a,3151">https://ztm.gda.pl/bilety/oplaty-dodatkowe,a,3151</a> <a href="#sopot-kara2-ref" aria-label="wróć">↩</a></li>
                    <li id="szczecin-nik"><a target="_blank" href="https://www.nik.gov.pl/aktualnosci/nik-o-finansowaniu-strazy-miejskich.html">https://www.nik.gov.pl/aktualnosci/nik-o-finansowaniu-strazy-miejskich.html</a> <a href="#szczecin-nik-ref" aria-label="wróć">↩</a></li>
                    <li id="sm-szczecin"><a target="_blank" href="https://sm.szczecin.pl/application/files/8616/8975/7654/Sprawozdanie_SM_Szczecin_za_II_kwartal_2023.pdf">https://sm.szczecin.pl/application/files/8616/8975/7654/Sprawozdanie_SM_Szczecin_za_II_kwartal_2023.pdf</a> <a href="#sm-szczecin-ref" aria-label="wróć">↩</a></li>
                    <li id="szczecin-19">Ustawa z dnia 24 sierpnia 2001 r. kodeks postępowania w sprawach o wykroczenia <a href="#szczecin-19-ref" aria-label="wróć">↩</a></li>
                    <li id="szczecin-polityka"><a target="_blank" href="https://drive.google.com/file/d/1cL2FNCiFhvKTg_7N7D8-11Xn9tYymxdd/view">https://drive.google.com/file/d/1cL2FNCiFhvKTg_7N7D8-11Xn9tYymxdd/view</a> <a href="#szczecin-polityka-ref" aria-label="wróć">↩</a></li>
                    <li id="pord">Ustawa z dnia 20 czerwca 1997 prawo o ruchu drogowym  <a href="#pord-ref" aria-label="wróć">↩</a></li>
                    <li id="kw144">Ustawa z dnia 20 maja 1971 kodeks wykroczeń <a href="#kw144-ref" aria-label="wróć">↩</a></li>
                    <li id="sm-szczecin2"><a target="_blank" href="https://sm.szczecin.pl/application/files/8616/8975/7654/Sprawozdanie_SM_Szczecin_za_II_kwartal_2023.pdf">https://sm.szczecin.pl/application/files/8616/8975/7654/Sprawozdanie_SM_Szczecin_za_II_kwartal_2023.pdf</a> <a href="#sm-szczecin2-ref" aria-label="wróć">↩</a></li>
                    <li id="sm-warszawa"><a target="_blank" href="https://www.strazmiejska.waw.pl/images/artykuly/Raporty/2023_raport_2022.pdf">https://www.strazmiejska.waw.pl/images/artykuly/Raporty/2023_raport_2022.pdf</a> <a href="#sm-warszawa-ref" aria-label="wróć">↩</a></li>
                    <li id="taryfikator">Rozporządzenie z dnia 30 grudnia 2021 r. w sprawie wysokości grzywien nakładanych w drodze mandatów karnych za wybrane rodzaje wykroczeń <a href="#taryfikator-ref" aria-label="wróć">↩</a></li>   
                </ol>
            </footer>
    
        </div>
</body>

</html>