{% set leftButton = 'menu' %}

{% set title = 'Paczka dokumentów do SM' %}
{% set mainClass = 'shipment' %}

{% extends "base.html.twig" %}
{% block main %}

{% if sm.unknown %}
    <p><b>Niestety, dla twojego miasta nie mamy jeszcze zapisanego adresu e-mail SM.</b> Przeczytaj
        <a href="/brak-sm.html?id={{ apps | first.id }}">co zrobić w takiej sytuacji</a>.
    </p>
{% else %}
    <h2>Wysyłka zgłoszeń w paczkach to przeszłość</h2>
    <p>Przejdź na automatyczną wysyłkę zgłoszeń, a życie twoje, moje (autora) i straży miejskiej będzie prostsze.</p>
    <p>Przejdź do strony <a data-ajax="false" href="/register.html?update">edycji konta</a> i zmień opcję
    <b>Chcę wysyłać swoje zgłoszenia</b> na <b>automatycznie</b></p>
{% endif %}
{% endblock %}
