{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% set title = 'Zapytaj o status swoich zgłoszeń' %}
{% set shortTitle = 'Zapytaj o status' %}
{% set mainClass = 'ask-for-status' %}

{% extends "base.html.twig" %}
{% block main %}

<h2 class="hideOnMobile">Zapytaj o status swoich zgłoszeń</h2>
<p>Zarówno Straż Miejska jak i Policja zachowują się bardzo niekonsekwentnie w kwestii
    informowania o statusie zgłoszeń. Większość nie robi tego wcale. Cześć pisze maile.
    Sporo wysyła powiadomienia listami poleconymi.</p>

<p>Za pomocą tej strony uzyskasz gotowy do skopiowania tekst, którego możesz użyć w
    komunikacji ze Strażą Miejską lub Policją.</p>

{% if applications|length == 0 %}
    <p>Nie masz nierozpatrzonych zgłoszeń, które wysłałeś ponad 31 dni temu.
        Tak wiem, wskaźnik przy "zapytaj o status" jest mylący. Pokazuje wszystkie wysłane
        i niezakończone zgłoszenia - wybacz ;).
    </p>
    <a href="/nowe-zgloszenie.html" class="ui-btn ui-corner-all ui-btn-inline try">Stwórz nowe</a>
{% else %}

    <p>
        Zwróć uwagę na adresy wysyłki na liście poniżej. Różne zgłoszenia mogły trafić do różnych
        jednostek.
    </p>

    {% set address = 'unset' %}
    {% for app in applications %}
        {% if address != app.sent.to %}
            {% set address = app.sent.to %}
            {% if not loop.first %}
                </ul>

                <p>Zgodnie z wyrokiem NSA z 15 maja 2024 r. (III OSK 4312/21)
                    informacja o sposobie ukarania nieokreślonej osoby jest informacją publiczną, a jej
                    ujawnienie nie może prowadzić do naruszenia prawa do prywatności.</p>
                <p>Wnoszę o przesłanie wskazanej informacji za pośrednictwem poczty elektronicznej na adres 
                    {{ user.getEmail }}.</p>
                <p>Z góry dziękuję za przekazane informacje,</p>
                <p>-- <br>{{ user.data.name }}<br></p>
            </div>
            {% endif %}
            <h3>{{ app.guessSMData.getShortName }} <a href="#">(skopiuj tekst)</a></h3>
            <div class="ui-body ui-body-a ui-corner-all ask-section">
                <p>Dzień dobry,</p>
                <p>poniższe zawiadomienia o popełnieniu wykroczenia zostały wysłane do Państwa
                    na adres <code>{{ address ?? '(nieznany)' }}</code> ponad miesiąc temu.</p>
                <p>Na podstawie art. 61 ust. 1 i 2 Konstytucji RP oraz art. 10 ust. 1 ustawy
                    o dostępie do informacji publicznej wnoszę o udostępnienie następującej
                    informacji publicznej: <b>informacje o zawiadomieniach zakończonych</b>,
                    oraz tych, dla których czynności wyjaśniające nie dostarczyły podstaw do
                    wniesienia wniosku o ukaranie.</p>
                <ul>
        {% endif %}
        {% include('_application-ask.html.twig') %}
    {% endfor %}
    </ul></div>

    
{% endif %}
{% endblock %}