[Unit]
Description=Uprzejmie Donosze — refresh statistics cache

[Service]
Type=oneshot
User=www-data
Group=www-data
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/bin/php /var/www/uprzejmiedonosze.net/webapp/tools/refresh-stats.php
ExecStart=/usr/bin/php /var/www/shadow.uprzejmiedonosze.net/webapp/tools/refresh-stats.php
StandardOutput=journal
StandardError=journal
