{% set leftButton = 'menu' %}

{% extends "base.html.twig" %}
{% block main %}
<h2>404 – nie ma takiej strony</h2>
<p>
    Na pocieszenie zdjęcie, na którym nie ma ani jednego nieprawidłowo
    zaparkowanego samochodu. Przejdź do <a href="/" data-ajax="false">strony głównej</a>.

    <a href="/" data-ajax="false"><img class="rwd" src="/img/404.jpg" /></a>
    <a href="https://www.flickr.com/photos/michaeljzealot/5061581896/">© MjZ Photography</a>
</p>
{% endblock %}