{% set leftButton = 'menuMain' %}
{% set rightButton = general.hasApps ? 'menuApplications': 'menuStart' %}

{% extends "base.html.twig" %}
{% block main %}

<h2>Historia zmian</h2>
<p><i>Wersja <code>%VERSION%</code></i></p>
<div class="ui-body ui-body-a ui-corner-all">
    <h3>Poniedziałek, 1 marca 2019</h3>
    <ol>
        <li>Dodane dane SM Chełm</li>
    </ol>
    <h3>Piątek, 8 marca 2019</h3>
    <ol>
        <li>Uprzejmie Donoszę wykrywa porzucone zgłoszenia. Kiedy wejdziesz drugi raz 
            na stronę tworzenia nowego zgłoszenia, zostaniesz zapytany o to, czy chcesz 
            kontynuować poprzednio wprowadzane zgłoszenie, czy zacząć od nowa.</li>
    </ol>
    <h3>Czwartek, 7 marca 2019</h3>
    <ol>
        <li>Zmiana statusów odbywa się za pomocą listy drop-down, a nie szeregu buttonów.</li>
        <li>Recydywiści mają swój badge <sup>recydywa</sup> przy numerze rejestracyjnym.</li>
        <li>Wpisanie hasła 'recydywa' w wyszukiwarce na
            <a href="moje-zgloszenia.html">liście zgłoszeń</a> odfiltruje nam samych recydywistów.</li>
        <li>Dodana SM Tczew.</li>
        <li>W Warszawie emaile kierowane są domyślnie na adres ogólny (CSK@) a nie
        do pierwszego oddziału terenowego (OT1@) jak do tej pory.</li>
        <li>Nowa podstrona z instrukcjami <a href="epuap.html">jak dokonać zgłoszenia przez EPUAP</a>.
    </ol>
    <h3>Poniedziałek, 4 marca 2019</h3>
    <ol>
        <li>Nowy (ładniejszy) sposób ładowania zdjęć do zgłoszenia.</li>
        <li>W małym podglądzie zgłoszeń (np. na liście), nie widać już zdania "zdjęcia wykonałam/em osobiście".</li>
        <li>W małym podglądzie zgłoszeń, na małych ekranach, widoczne jest tylko pierwsze zdjęcie.</li>
    </ol>
    <h3>Sobota, 2 marca 2019</h3>
    <ol>
        <li>Strona <a href="wysylka.html" data-ajax="false">wysyłka</a> pozwala także 
        na hurtową zmianę statusów zgłoszeń.</li>
    </ol>
    <h3>Sobota, 2 marca 2019</h3>
    <ol>
        <li>Zachęty do wysyłki zgłoszeń do SM także na stronie na stronie
        podziękowania za zgłoszenia.</li>
        <li>Dane geolokalizacyjne pobierane są teraz z drugiego zdjęcia (z tablicą
        rejestracyjną).</li>
        <li>Zmiana kolejności pól adres i numer rejestracyjny.</li>
        <li>W opisie pola z tablicą rejestracyjną widoczna jest nazwa marki pojazdu</li>
        <li>Uszczegółowienie <a href="regulamin.html">regulaminu</a> Uprzejmie Donoszę.</li>
    </ol>
    <h3>Środa, 27 lutego 2019</h3>
    <ol>
        <li>Nowa funkcja – generowanie paczki zgłoszeń w postaci jednego,
        wielostronnicowego PDF-a.</li>
        <li>Nowa funkcja – generowanie gotowej wiadomości email do SM.</li>
        <li>Aktualizacja <a href="polityka-prywatnosci.html">polityki prywatności</a>.</li>
        <li>Linki do szczegółów zgłoszenia, które nie są otwierane przez autora zgłoszenia
        są pozbawione danych kontaktowych jego autora.</li>
        <li>Sugestia poprawienia danych zgłaszającego przeniesiona z "moje zgłoszenia" na 
        stronę szczegółów zgłoszenia.</li>
    </ol>
    <h3>Wtorek, 26 lutego 2019</h3>
    <ol>
        <li>Nowa funkcja, umożliwiająca wysyłkę paczki zgłoszeń do SM. Nie trzeba już
        pobierać pojedynczych plików, i przygotowywać wiadomości. Funkcja w trakcie 
        testów, dostępna pod adresem <a href="wysylka.html" data-ajax="false">wysyłka</a>.</li>
        <li>UD automatycznie poprawia wielkość liter w komentarzu. Od teraz robi to 
        mniej agresywnie. Jeśli w zdaniu nie ma przewagi wielkich liter, to całość
        nie zostanie automatycznie poprawiona. Czyli UD nie pozwoli na pisanie 
        CAPS-LOCKIEM, ale nie poprawi ci już nazwy ulicy na z małej litery.</li>
    </ol>
    <h3>Sobota, 23 lutego 2019</h3>
    <ol>
        <li>Wsparcie dla <a rel="external" href="https://pl.wikipedia.org/wiki/Progressive_web_app">Progressive 
        Web Apps</a>. W największym uproszczeniu oznacza to zwiększenia
        wrażenia współpracy z aplikacją mobilną a nie stroną interntową.</li>
    </ol>
    <h3>Piątek, 22 lutego 2019</h3>
    <ol>
        <li>Przy generowaniu pierwszego zgłoszenia Uprzejmie Donoszę dużo intensywniej
        komunikuje regulamin oraz konieczność samodzielnego wysyłania zgłoszenia do SM.</li>
    </ol>
    <h3>Czwartek, 21 lutego 2019</h3>
    <ol>
        <li>[fixed] Na iPhone'ach zdjęcia wykonane w innej orientacji niż pozioma były
        wyświetlane obrócone. Problem dotyczył także wniosku w PDF.</li>
        <li>[fixed] Do tej pory UD wymagało odświeżenia sesji co 60 minut. Sesja
        została znacznie wydłużona.</li>
    </ol>
    <h3>Wtorek, 19 lutego 2019</h3>
    <ol>
        <li>Dodane dane UM w Górowie Iławeckim.</li>
    </ol>
    <h3>Poniedziałek, 18 lutego 2019</h3>
    <ol>
        <li>Dodane dane Straży Miejskiej we Wrocławiu, Krakowie, Gdyni, Białymstoku,
           Łodzi, Gdańsku, Poznaniu, Toruniu, Bydgoszczy i Katowicach.</li>
    </ol>
    <h3>Niedziela, 3 lutego 2019</h3>
    <ol>
        <li>Widok mapy w szczegółach zgłoszenia.</li>
        <li>Pola adresu i numeru rejestracyjnego mają obecnie wyłączone "autocomplete"
           (które podpowiada historiczne wartości, co bywa irytujące)</li>
    </ol>
    <h3>Wtorek, 29 stycznia 2019</h3>
    <ol>
        <li>Dostepna jest historia zmian statusów w szczegółach zgłoszenia</li>
    </ol>
    <h3>Niedziela, 27 stycznia 2019</h3>
    <ol>
        <li>Jeśli użytkownik zmieni automatycznie pobrany numer rejestracyjny pojazdu, to nie
        będzie on wyświetlany w dokumencie PDF.</li>
        <li>Użytkownicy, dla których nie udaje się pobrać danych GEO ze zdjęcia są o tym informowaniu
        nad polem adresu.</li>
        <li>Nowe obrazki sugerujące sposób wykonania zdjęć w trakcie tworzenia nowego zgłoszenia.</li>
        <li>Podgląd tablicy rejestracyjnej widoczny wszędzie, a nie tylko w PDF.</li>
        <li>Nowy status "wysłane (epuap)" – przydatny dla osób wysyłający swoje wnioski
        zarówno emailem jaki i poprzez EPUAP.</li>
        <li>Drobne poprawki (zduplikowane wyrazy, literówki) w szablonie dokumentu PDF.</li>
    </ol>
    <h3>Sobota, 19 stycznia 2019</h3>
    <ol>
        <li>Uproszczenie procesu rejestracji (podpowiadanie imienia i nazwiska).
        Wystarczy uzupełnić adres i telefon.</li>
    </ol>
    <h3>Czwartek, 17 stycznia 2019</h3>
    <ol>
        <li>Lepsze wsparcie dla pionowych obrazków w widoku zgłoszenia.</li>
        <li>[fixed] Uprzejmie Donoszę czasem błędnie wybierało tablicę rejestracyjną.
        Np. odczytywało tę widoczną np. gdzieś w oddali, a nie tę na pierwszym planie.</li>
    </ol>

    <h3>Poniedziałek, 14 stycznia 2019</h3>
    <ol>
        <li>[fixed] Wyświetlanie tekstów kategorii nie jest już przycinane
        na małych ekranach.</li>
    </ol>
    <h3>Sobota, 12 stycznia 2019</h3>
    <ol>
        <li>Link do <a href="przepisy.html">przepisów</a> na stronie głównej.</li>
        <li>Nowa kategoria zgłoszenia: parkowanie w strefie zamieszkania w miejscu niewyznaczonym.</li>
    </ol>
    <h3>Piątek, 11 stycznia 2019</h3>
    <ol>
        <li>Opis drogi wewnętrznej, strefy ruchu i strefy zamieszkania w
            <a href="przepisy.html">przepisach</a>.</li>
    </ol>
    <h3>Środa, 9 stycznia 2019</h3>
    <ol>
        <li>Nowa kategoria zgłoszeń – pojazdy powyżej 2,5t DMC.</li>
        <li>Poprawki copy w przepisach</li>
    </ol>
    <h3>Wtorek, 8 stycznia 2019</h3>
    <ol>
        <li>W zgłoszeniach PDF na końcu pierwszego akapitu dodawany jest komentarz użytkownika.</li>
    </ol>
    <h3>Poniedziałek, 31 grudnia, 2018</h3>
    <ol>
        <li>W polu adresu wyszukiwane są teraz tylko adresy z Polski.</li>
        <li>Intensywne zmiany na stronie <a href="przepisy.html">przepisy</a>, zmiana kolejności kategorii, bardziej
            szczegółowy opis z odniesieniami do kodeksu.</li>
    </ol>
    <h3>Sobota, 29 grudnia, 2018</h3>
    <ol>
        <li>Po wprowadzeniu zgłoszenia (ale przed jego potwierdzeniem), można bezpiecznie
            wrócić na poprzednią stronę, dokonać edycji wniosku i dopiero wtedy go potwierdzić.</li>
        <li>[fixed] W specyficznych sytuacjach powrót na stronę "dziękujemy" generował błąd.</li>
    </ol>
    <h3>Czwartek, 27 grudnia, 2018</h3>
    <ol>
        <li>Nowa strona z przepisami ruchu drogowego związanego z parkowaniem: <a href="przepisy.html">Przepisy</a></li>
        <li>Istotne poprawki w copy w trakcie procesu dokonywania zgłoszenia. W tym prezentowanie sugerowanego
            adresu SM do wysyłki zgłoszeń.</li>
        <li>Dla kategorii "pozostałe" pole "komentarz" staje się wymagany.</li>
    </ol>
    <h3>Środa, 26 grudnia, 2018</h3>
    <ol>
        <li>Strona ze szczegółami zgłoszenia ma w metadanych obrazek, tytuł i opis specyficzny
            dla tego zgłoszenia (przydaje się przy shareowaniu na FB).</li>
        <li>Mocno zaktualizowana strona główna oraz opis projektu.</li>
        <li>Wersja draft <a href="przepisy.html">poradnika dotyczącego przepisów związanych z parkowaniem</a>.</li>
    </ol>
    <h3>Wtorek, 25 grudnia, 2018</h3>
    <ol>
        <li>Użytkownicy, którzy nie podali w trakcie rejestracji swojego numeru tel.,
            nie będą już mieli pustego napisu "Tel. " na swoim zgłoszeniu PDF.</li>
    </ol>
    <h3>Niedziela, 23 grudnia, 2018</h3>
    <ol>
        <li>Użytkownicy systemu iOS przed dokonaniem zgłoszenia, otrzymują
            sugestię aby wykonać ten proces na laptopie/komputerze stacjonarnym
            (ponieważ iOS nie przekazuje danych geolokalizacynych zawartych w zdjęciach).</li>
    </ol>
    <h3>Sobota, 22 grudnia, 2018</h3>
    <ol>
        <li>Zgrabniejsze linki do szczegółów zgłoszenia (bez parametrów typu ?appId=xxxx)</li>
        <li>Niezalogowane osoby mogą otworzyć szczegóły dowolnego zgłoszenia (dla którego posiadają link)</li>
    </ol>
    <h3>Czwartek, 20 grudnia, 2018</h3>
    <ol>
        <li>Wsparcie dla nowego statusu: "po wizycie w SM"</li>
    </ol>
    <h3>Środa, 19 grudnia, 2018</h3>
    <ol>
        <li>Wsparcie dla nowych statusów: "oczekujący", "zignorowany", "wystawiony mandat"</li>
    </ol>
    <h3>Wtorek, 11 grudnia, 2018</h3>
    <ol>
        <li>Nowy format wniosku PDF (bardziej kompaktowy).</li>
        <li>Dopisek "Zdjęcia wykonałem samodzielnie." we wniosku.</li>
        <li>Dopisek "Jestem świadomy odpowiedzialności karnej ..." we wniosku.</li>
        <li>Dopisek "Równocześnie proszę o niezamieszczanie w protokole danych ..." we wniosku</li>
        <li>Usunięta kategorii "Parkowanie w na chodniku / niszczenie chodnika", SM wskazuje, że
            udowodnienie niszczenia chodnika jest kłopotliwe.</li>
        <li>Nowa kategoria "Pojazd był zaparkowany w sposób niezgodny z oznaczeniem pionowym i poziomym".</li>
        <li>Długość sesji została wydłużona z jednego dnia do roku. UD nie powinien wymagać codziennego
            odświeżenia sesji</li>
        <li>Dostęp do "moich zgłoszeń" ze strony głównej (tylko dla zalogowanych użytkowników, którzy
            mają jakieś zarejestrowane zgłoszenia).</li>
        <li>Dostęp do ekranu rejestracji z poziomu listy zgłoszeń.</li>
        <li>[fixed] Autocomplete adresu znowu działa.</li>
    </ol>
    <h3>Poniedziałek, 10 grudnia, 2018</h3>
    <ol>
        <li>UD nie wysyła już emaili do autora zgłoszenia (ani do SM).
            Zgłaszający powinien pobrać dokument(y) ze strony swoich zgłoszeń
            i wysłać je samodzielnie.</li>
        <li>Wielkość miniaturek zdjęć została powiększona z 350px do 600px. Duże
            zdjęcia nadal mają 1200px. Wpływa to na wielkość plików PDF (średnio
            mają teraz około 150kb). Wydaje się to być dobrym kompromisem między
            szybkością, wielkością plików oraz jakością zdjęć.</li>
    </ol>
    <h3>Niedziela, 9 grudnia, 2018</h3>
    <ol>
        <li>[fixed] Filtrowanie zgłoszeń na liście "Moje zgłoszenia" znowu działa</li>
    </ol>
    <h3>Sobota, 8 grudnia, 2018</h3>
    <ol>
        <li>Uprzejmie Donoszę pozwala archiwizować zgłoszenia. Na liście "Moje zgłoszenia",
            poszczególne wnioski mają dodatkową opcję "archiwizuj", która przenosi
            wniosek do drugiej listy archiwalnych zgłoszeń.</li>
    </ol>
    <h3>Piątek, 7 grudnia, 2018</h3>
    <ol>
        <li>Uprzejmie Donoszę dokonuje detekcji płci (na podstawie imienia). Dzięki temu
            w generowamych wnioskach zamiast <i>byłem(am) świadkiem</i> jest prawidłowa
            forma gramatyczna.</li>
        <li>Dodatkowy przycisk <i>"Moje zgłoszenia"</i> na stronie nowego zgłoszenia.</li>
    </ol>
    <h3>Czwartek, 6 grudnia, 2018</h3>
    <ol>
        <li>Nowa funkcja: recydywa. Po zeskanowaniu numeru rejestracyjnego widzimy informację ile
            wniosków zostało już zarejestrowane na ten numer.</li>
        <li>Zdjęcia na liście zgłoszeń ("moje zgłoszenia") linkują do szczegółów zgłoszenia.
            Nie trzeba celować w link <i>"szczegóły"</i></li>
        <li>Zdjęcia we wniosku PDF linkują do szczegółów zgłoszenia (oczywiście nie po wydrukowaniu...).</li>
        <li>Zdjęcia na stronie szczegółów zgłoszenia kierują do zdjęcia o większej rozdzielczości.</li>
    </ol>
    <h3>Środa, 5 grudnia, 2018</h3>
    <ol>
        <li>Zgłoszenia PDF generowane są z użyciem małych wersji zdjęć. Redukuje to średnią wielkość
            pliku PDF z ~500kb to ~70kb. Oczywiście kosztem jakości zdjęć (ale są one nadal akceptowalne).</li>
    </ol>
    <h3>Wtorek, 13 listopada, 2018</h3>
    <ol>
        <li>[fixed] Aktualizacja API Google Maps po zmianach Google rozwiązała problem niedziałającego
        podpowiadania adresów.</li>
        <li>Zgłoszenia na liście zgłoszeń prezentowane są od najnowszego do najstarszego.</li>
        <li>Wsparcie dla wielu straży miejskich. Obecnie wprowadzone są adresy SM
            dla Warszawy i Szczecina.</li>
    </ol>
    <h3>Poniedziałek, 12 lutego, 2018</h3>
    <ol>
        <li>Wsparcie dla automatycznego rozpoznawania numeru rejestracyjnego na podstawie zdjęcia.</li>
        <li>Nowy format zgłoszeń generowanych do postaci PDF.</li>
    </ol>
    <h3>Wtorek, 30 stycznia, 2018</h3>
    <ol>
        <li>Numer telefonu nie jest już wymagany przy rejestracji.</li>
    </ol>
    <h3>Poniedziałek, 22 stycznia, 2018</h3>
    <ol>
        <li>Możliwość zakładania kont i logowania się za pomocą Google Auth.</li>
    </ol>
</div>

{% endblock %}
