{% set leftButton = 'menuMain' %}

{% set rightButton = 'menuNewApplication' %}
{% set rightButtonText = 'Jeszcze raz' %}
{% set rightButtonIcon = 'ui-icon-plus' %}

{% extends "base.html.twig" %}

{% block main %}
{% if appsCount == 1 %}
<h2>To twoje pierwsze zgłoszenie, przeczytaj to uważnie</h2>
{% endif %}
<p>Twoje zgłoszenie zostało zarejestrowane pod numerem
    <a href="/ud-{{ app.id }}.html">{{ app.number }}</a>.
    Wszystkie swoje zgłoszennia możesz zawsze zobaczyć na
    <a href="moje-zgloszenia.html">liście swoich zgłoszeń</a>.</p>

<p>Co dalej? <b>Swoje zgłoszenia musisz wysłać samodzielnie</b>.
    Na szczęście nie musisz wysyłać każdego zgłoszenia pojedynczo. Możesz
    wygenerować ich kilka/kilkanaście, i wysłać je dogodnym dla siebie cyklu.
    Na przykład raz na miesiąc.</p>

<p><b>Jak wysyłać zgłoszenia?</b> Najprościej jest wysłać całą paczkę zgłoszeń
    na adres SM w twoim mieście. 
{% set sm = app.guessSMData[1] %}
{% if sm %}
    W tym wypadku jest to <strong>{{ sm }}</strong>.
{% else %}
    <strong>Niestety, dla twojego miasta nie mamy jeszcze zapisanego adresu email SM. Skontaktuj proszę się z nami.</strong>
{% endif %}
    Statusy swoich zgłoszeń będziesz mógł samodzielnie ustawiać na wspomnianej
    już liście zgłoszeń.</p>

<p>Jeśli masz pytania do nas, skontaktuj się pod adresem <a
    href="mailto:szymon@nieradka.net">szymon@nieradka.net</a>.</p>

<a href="moje-zgloszenia.html" class="ui-btn ui-corner-all ui-btn-inline try">Zobacz swoje zgłoszenia</a>

{% endblock %}