{% set leftButton = 'menu' %}

{% extends "base.html.twig" %}

{% block main %}
<h2>Wystąpił błąd</h2>
<p>{{ exception.getMessage }}</p>
<p>Użytkownik: {{ email }}, moment wystąpienia: {{ time }}.</p>
<p>Skontaktuj się z autorem pod adresem <a href="mailto:szymon@uprzejmiedonosze.net">szymon@uprzejmiedonosze.net</a>
podając powyższy opis w wiadomości.</p>
<p>W międzyczasie spróbuj się <a rel="external" href="/login.html?logout">wylogować</a> i zalogować ponownie.</p>

{% endblock %}