{% set leftButton = 'menuBack' %}
{% set leftButtonIcon = 'ui-icon-edit' %}

{% block rightButtonCustom %}
<a onclick="$('#form').submit();"
    class="ui-btn-right ui-alt-icon ui-nodisc-icon ui-btn ui-corner-all
    ui-btn-inline ui-btn-icon-left ui-icon-check">Potwierdź!</a>
{% endblock %}

{% extends "base.html.twig" %}

{% block main %}
<h1>Jeszcze chwila!</h1>
<p>Sprawdź dane przed utworzeniem zgłoszenia. Nie obawiaj się – na tym
etapie nic jeszcze nie zostanie wysłane do SM.</p>

{% include('_application.html.twig') %}

<form action="/dziekujemy.html" id="form" method="post" data-ajax="true">
    <input type="hidden" id="applicationId" name="applicationId" value="{% app.id %}"/>
</form>
{% endblock %}