{% set leftButton = 'menuMain' %}
{% set rightButton = 'menuNewApplication' %}
{% set rightButtonText = 'Dalej' %}

{% extends "base.html.twig" %}
{% block main %}

{% if config.isIOS %}
<div class="ui-corner-all custom-corners">
    <div class="ui-bar ui-bar-a">
        <h3>Uwaga dla użytkowników iOS</h3>
    </div>
    <div class="ui-body ui-body-a">
        <p>Przeglądarki w systemie iOS (iPhone/iPad/iPod) nie przekazują
        <b>danych geolokacyjnych</b> ani <b>daty wykonania</b> zawartych w zdjęciu wysyłanym do Uprzejmie
        Donoszę. Oznacza to, że w trakcie dokonywania zgłoszenia jego adres 
        nie zostanie automatycznie pobrany z lokalizacji zapisanej w zdjęciu
        (a to bardzo wygodne). Podobnie będzie z datą. <b>Uprzejmie Donoszę użyje
        domyślnie daty generowania zgłoszenia, a nie daty wykonania zdjęcia</b>.</p>
        <p><b>Można obejść ten problem</b>. Zdjęcia rób na swoim iPhone, wgraj je 
        potem na komputer i dokonuj zgłoszeń już z laptopa/komputera 
        stacjonarnego. Wszystko będzie działać jak należy.</p>
    </div>
</div>
{% endif %}

<p>Uprzejmie Donoszę pozwala na przekazywanie zgłoszeń o sytuacjach,
które wpływają na komfort i bezpieczeństwo pieszych. Umożliwia
wygodne wygenerowanie zgłoszenia gotowego do przekazania do Straży Miejskiej.</p>
<p>Ma jednak kilka ograniczeń, których musisz być {{ config.sex.swiadoma }}:</p>
<div data-mini="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u"
    {% if not general.hasApps %}data-collapsed="false"{% endif %} data-role="collapsible">
    <h4>Regulamin</h4>
    <p>Wszystkie zgłoszenia w Uprzejmie Donoszę muszą być zgłoszone pod twoim
    nazwiskiem. Nie dopuszczamy anonimów.</p>
    <p>Pamiętaj też, że zgłoszenie wykroczenia do Straży Miejskiej to
    ostateczność. Jeśli masz możliwość porozmawiania z kierowcą który
    naruszył przepisy to zrób to. Część z nich robi to ze zwykłej
    niewiedzy.</p>
    <p>Jak zostało to napisane we wstępie, aplikacja służy do
    zgłaszania naruszeń parkowania, które są istotne z punktu widzenia
    pieszych. Zastawienie bramy wjazdowej (jakkolwiek karygodne) nie
    jest takim zgłoszeniem. Postaraj się wybrać prawidłową kategorię
    zgłoszenia i wybieraj opcję “Inne” w ostateczności.</p>
    <p>Wypełnij dokładnie wszystkie pola. Zwróć uwagę, czy adres który
    pobraliśmy ze zdjęcia został prawidłowo przetłumaczony na ulicę i numer
    domu.</p>
    <p>Musisz mieć świadomość, że Straż Miejska może kontaktować się z
    Tobą, w celu złożenia dodatkowych wyjaśnień.</p>
    <p>Informujemy Cię także, że zbieramy anonimowe dane statystyczne z
    przekazywanych nam zgłoszeń (data i godzina, miejsca, rodzaj
    zgłoszenia).</p>
</div>

<p>Używając %HOST% wyrażasz zgodę na powyższy regulamin.</p>

{% endblock %}