/* #region general */

.ui-body-a,
    .ui-page-theme-a .ui-body-inherit,
    html .ui-bar-a .ui-body-inherit,
    html .ui-body-a .ui-body-inherit,
    html body .ui-group-theme-a .ui-body-inherit,
    html .ui-panel-page-container-a {
    border: none;
    font-family: sans-serif;
}

body, a, p, i, input, textarea, select {
    font-weight: 300;
}

strong, b {
    font-weight: 400;
}

small {
    font-size: 0.8em;
}

.ui-content {
    max-width: 800px;
    margin: 0 auto;
}

img.rwd {
    width: 100%;
    box-shadow: 0 0 10px 2px grey;
    margin: 1em 0;
}

img.one-third {
    width: 90%;
    box-shadow: 5px 5px 20px grey;
    margin: 1em;
}

.ui-page-theme-b .ui-btn,
    html .ui-bar-b .ui-btn,
    html .ui-body-b .ui-btn,
    html body .ui-group-theme-b .ui-btn,
    html head+body .ui-btn.ui-btn-b,
    .ui-page-theme-b .ui-btn:visited,
    html .ui-bar-b .ui-btn:visited,
    html .ui-body-b .ui-btn:visited,
    html body .ui-group-theme-b .ui-btn:visited,
    html head+body .ui-btn.ui-btn-b:visited,
    .ui-page-theme-b .ui-btn:active,
    html .ui-bar-b .ui-btn:active,
    html .ui-body-b .ui-btn:active,
    html body .ui-group-theme-b .ui-btn:active,
    html head+body .ui-btn.ui-btn-b:active,
    .ui-header a,
    .ui-btn.try{
    background-color: #e9c200!important;
    box-shadow: none!important;
    border: none;
    color: #333!important;
    text-shadow: none!important;
}

.ui-page-theme-a .ui-header,
html .ui-bar-a .ui-header,
html .ui-body-a .ui-header,
html body .ui-group-theme-a .ui-header {
    background-color: #009C7F;
    color: white;
    text-shadow: none;
    box-shadow: none;
}

.ui-content .ui-listview,
.ui-panel-inner>.ui-listview{
    margin: 0em;
}

p > a, li > a, small > a {
    text-decoration: none;
    color: #009C7F!important;
    font-weight: 400!important;
}

#mainMenu > div.ui-panel-inner {
    padding: 0;
}

#mainMenu li.close a{
    background-color: #009C7F;
    color: #fff!important;
    text-decoration: none!important;
    border-color: #009C7F;
    text-shadow: none;
}
.ui-btn-active, #mainMenu a.active {
    background-color: #009C7F!important;
    text-shadow: none!important;
    color: white!important;
    border-color: #009C7F!important;
    box-shadow: none!important;
}

.filter a {
    color: #666!important;
}

.filter a,
.subpage a {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 2em;
    border: 0;
}

.filter a.active {
    color: #009C7F!important;
}

h2, h3, h4, h5 {
    font-weight: 300;
}

h2 {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
}

h3 {
    font-size: 1.3em;
    border-bottom: 1px solid #009C7F;
    margin: 0.4em 0 0.2em 0;
}

h4 {
    font-size: 1em;
    font-weight: 600;
}

a[rel~="external"] {
    color: #38c!important;
}

.index .ui-page .ui-content a.fb-button {
    background-color: #4265AA;
    color: white;
    text-shadow: none;
    border: none;
}

/* #endregion moje aplikacje */

/* #region new-application and register */

label.section {
    padding: .5em 1.143em;
    font-size: 14px;
    font-weight: 600;
    background-color: #e9e9e9;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #eee;
    margin-top: 0em;
    margin-bottom: 2em;
}

label.hint {
    color: #009C7F;
    clear: both;
}

label {
    font-weight: 300;
}

label span.price-list {
    display: block;
    margin-top: 0.5em;
}

.ui-input-text input, .ui-input-search input {
    border: 1px solid #009C7F;
    color: #009C7F;
    margin-bottom: 1em;
}

input.error, textarea.error{
    border: 1px solid red !important;
}
div.error img{
    background-color: rgba(255, 0, 0, 0.3);
}

.new-application .datetime a {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.new-application .datetime span#date,
.new-application .datetime span#time {
    font-weight: 400;
}

::-webkit-input-placeholder { /* WebKit browsers */
	text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	text-transform: none;
}

div.ui-block-a > div.ui-radio,
div.ui-block-b > div.ui-radio {
    margin: 0;
}

/* #endregion new-application and register */

/* #region nowe-zgloszenie */

.new-application label {
    margin-bottom: 0;
    margin-top: 1em;
}

.new-application label a {
    font-weight: 400 !important;
    font-size: 70%;
    text-transform: uppercase;
}

.new-application .edit-warning {
    margin-bottom: 0.5em;
}

.new-application .edit-warning .ui-bar-a {
    background-color: #e9c200;
}

.new-application .image-upload input {
    display: none;
}

div.loader {
    margin: 30px auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #009C7F; /* Blue */
    border-radius: 50%;
    width: 50px !important;
    height: 50px;
    animation: spin 2s linear infinite;
}

.new-application .contextImageSection img,
.new-application .carImageSection img{
    background-repeat: no-repeat;
    background-position: center;
    height: 110px;
}

.new-application .contextImageSection img {
    background-image: url('/img/cameraContext.png');
}

.new-application .carImageSection img {
    background-image: url('/img/cameraPlate.png');
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.new-application .ui-input-text input#plateId {
    text-transform: uppercase;
    max-width: 10.5em;
}

.new-application .plate div.ui-input-text {
    max-width: 10.5em;
}

.new-application #category {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.new-application #category img {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 0.8em;
}

.new-application #category label {
    display: block;
    font-weight: 300;
    border: none;
    --moz-columns: 2 120px;
    --webkit-columns: 2 120px;
    --columns: 2 120px;
    display: table;
}

.new-application #category label img,
.new-application #category label p {
    display: table-cell;
    vertical-align: top;
}

.new-application #category label p {
    padding: 0 1em;
    width: 100%;
}

@media (max-width: 40em) {
    #category.ui-responsive > .ui-block-a,
    #category.ui-responsive > .ui-block-b {
        width: 100%;
        float: none;
    }
}

.new-application .combo input {
    height: 1em;
    vertical-align: top;
    padding-left: 2em;
}

.new-application .combo a{
    width: 20px;
    height: 20px;
    margin-top: -5em;
    display: inline-block;
    cursor: pointer;
}

/* #endregion nowe-zgloszenie */

/* #region rejestracja */
/* #endregion rejestracja */

/* #region zgloszenie */

@media (min-width: 35em) {
    .ui-grid-a.ui-responsive.images {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
}

@media (max-width: 35em) {
    .imageContainer + .imageContainer {
        margin-top: 0.5rem;
    }
}


.ui-grid-a.ui-responsive.images > div {
    position: relative;
    flex: 0 0 calc(50% - 0.5rem);
}

.ui-grid-a.ui-responsive.images-cropped .imageContainer {
    border-radius: 0.8em;
    background: #eee;
    overflow: hidden;
    height: 200px;
    padding: 0.4em;
}

.ui-grid-a.ui-responsive.images .imageContainer img {
    width: 100%;
    display: block;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.ui-grid-a.ui-responsive.images-cropped .imageContainer img {
    border-radius: 0.8em;
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ui-grid-a.ui-responsive + .ui-grid-a.ui-responsive {
    margin-top: 0.5rem;
}

sup {
    font-size: 70%;
}

.new-application .plate {
    position: relative;
}

.new-application img#plateImage {
    position: absolute;
    top: 0em;
    left: 11em;
}
img#plateImage {
    max-width: 10em;
    height: 2.2em;
    border-radius: 0.2em;
}

div#recydywa {
    position: absolute;
    left: 0;
    bottom: 0em;
    padding: 0.1em;
    background: #009c7f;
    color: #eee;
    font-size: 0.9em;
    font-weight: 300;
    text-shadow: none;
    text-align: center;
    width: 100%;
    display: none;
}

a.zoom {
   position: absolute;
   top: 10;
   left: 10;
   width: 21px;
   height: 21px;
   z-index: 3;
   display: block;
   opacity: 0.6;
}

.imageContainer:hover a.zoom {
   opacity: 1;
}

/* #endregion zgloszenie */

/* #region moje aplikacje */

div.application-short.status-archived h3 a {
    font-weight: 300;
}

div.application-short.status-archived {
    display: none;
}

@media only screen and (min-width: 768px) {
    div.application-short h3 a {
        font-size: 16px;
    }
}

div.application-short.status-draft h3 .ui-btn-icon-left:after,
div.application-short select.status-draft:after {
    background-color: #7463634d;
}

div.application-short.status-ready h3 .ui-btn-icon-left:after,
div.application-short select.status-ready:after {
    background-color: #0000004d;
}

div.application-short.status-confirmed h3 .ui-btn-icon-left:after,
div.application-short select.status-confirmed:after {
    background-color: #81c78499;
}

div.application-short.status-confirmed-waiting h3 .ui-btn-icon-left:after,
div.application-short select.status-confirmed-waiting:after,
div.application-short.status-confirmed-waitingE h3 .ui-btn-icon-left:after,
div.application-short select.status-confirmed-waitingE:after {
    background-color: #3388cc99;
}

div.application-short.status-confirmed-sm h3 .ui-btn-icon-left:after,
div.application-short select.status-confirmed-sm:after {
    background-color: #ffc10799;
}

div.application-short.status-confirmed-fined h3 a.ui-btn-icon-left:after,
div.application-short select.status-confirmed-fined:after {
    background-color: #8bc34aee;
}

div.application-short.status-confirmed-ignored h3 .ui-btn-icon-left:after,
div.application-short select.status-confirmed-ignored:after {
    background-color: #dd2c00cc;
}

div.application-short.status-archived h3 .ui-btn-icon-left:after,
div.application-short select.status-archived:after {
    background-color: #0000004C;
}

/* #endregion moje aplikacje */

/* #region przepisy */

div.przepisy .ui-block-a {
    float: left;
    width: 25%;
    padding-right: 2%;
    max-width: 160px;
}
div.przepisy .ui-block-a img {
    max-width: 100%;
}
div.przepisy .ui-block-b {
    float: left;
    width: 73%;
}

div.przepisy .ui-block-b p {
    margin-top: 0;
}

div.przepisy ol,
div.przepisy ul {
    padding-inline-start: 20px;
}

div.przepisy-kategorie p i {
    color: #666;
}

div.przepisy.dialog .ui-body {
    background-color: transparent;
    padding: .4em 0em;
}

div.przepisy img.sign {
    float: right;
    max-width: 20%;
    padding-left: 1em;
    padding-bottom: 0.2em;
    clear: right;
}

div.przepisy h4 {
    clear: both;
}

/* #endregion przepisy */

/* #region epuap */

.epuap .ui-grid-a img {
    width: 100%;
}

/* #endregion epuap */

/* #region faq */

dd {
    padding: 0.5em 0;
}

dt {
    font-weight:400;
}
/* #endregion faq */
