@use "variables";

.base-button {
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: variables.$primaryColor;
    border: none;
    color: #fff!important;
    display: block;
    font-weight: 700;
    margin: auto;
    overflow: hidden;
    padding: .7em 1em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    text-shadow: none !important;
    white-space: nowrap;
    max-width: variables.$width-break;
    z-index: 3;
    transition: 0.3s;
    &:hover {
        filter: brightness(110%);
        cursor: pointer;
    }
    &:focus {
        box-shadow: none!important;
    }
    &:active {
        transform: translateY(2px);
    }


}

.disabled {
    opacity: .3;
    cursor: default !important;
    pointer-events: none;
}

.button {
    @extend .base-button;
    border-radius: 16vmin;
}

.button, .base-button {
    &.cta {
        background-color: variables.$secondaryColor!important;
        color: black!important;
    }
    &.inline {
        display: inline-block;
    }
    &.inverse {
        background-color: #fff;
        color: variables.$primaryColor!important;
        border: 2px solid variables.$primaryColor;
        border-radius: .8em;
    }

    &.light {
        background-color: #f6f6f6;
        color: black!important;
        &:hover {
            filter: brightness(90%);
        }
    }

    &.last {
        margin-top: 2em;
        margin-bottom: 1em;
    }

    &.small {
        display: inline-block;
        font-size: 12.5px;
        margin: 0.5em;
        padding: .3em .7em;
        vertical-align: middle;
    }

    &.youtube, &.twitter, &.facebook, &.email {
        width: fit-content;
        margin: 1em;
        padding: .5em 1em;
        font-size: 16px;
    }

    &.youtube {
        background-color: #FF0000;
    }

    &.twitter {
        background-color: black;
    }

    &.facebook {
        background-color: #1877F2;
    }

}