@use "variables";

dialog {
    border-radius: 5px;
    position: fixed;
    background-color: #fff;
    max-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: none;

    &.fullscreen {
        max-width: 90vw;
        max-height: 90vh;

        @media (max-width: variables.$width-break) {
            max-width: 95vw;
            padding: 5px;
        }
    }
}