@use "variables";

.dropdown {
    display: inline-block;

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: max-content;
        max-width: 100vw;
        left: 2em;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
        z-index: 1;

        &.show {
            display:block;
        }

        li > a {
            color: #000;
            padding: .7em 0.3em;
            &:hover {
                color: variables.$primaryColor;
            }
        }
    }
}

