@use "variables";

footer {
    background-color: black;

    border-color: #ddd;
    color: white;
    font-weight: 700;
    border-width: 1px 0;
    border-style: solid;
    position: relative;

    .grid3 {
        max-width: variables.$content-width;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 1em 2em;

        @media (min-width: 500px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 700px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        div>.header {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 1em;
            margin-top: 2em;
        }

        div>a {
            font-size: 14px;
            display: block;
            color: white;
            text-decoration: none;
            user-select: none;
            margin-bottom: 1em;
            font-weight: 400;
            color: white!important;
        }
        div>a[rel~="external"]::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
        }

    }

    h4 {
        margin: 0 1em;
        padding: 1em 0;
        text-align: center;
    }
}