@use "variables";

.grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;

    @media (min-width: variables.$width-break) {
        grid-template-columns: 50% 50%;
    }

    &.static3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    & > div {
        position: relative;
    }

    & > div:has(.plate-box) {
        height: fit-content;
    }

    & img {
        width: 100%;
    }
}