@use "variables";

header {
    position: fixed;
    width: 100%;
    z-index: 2;
    color: #fff;
    background-color: variables.$primaryColor;
    height: variables.$headerHeight;

    h1 {
        text-align: center;
        display: block;
        margin: 0 20%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 16px;
        a {
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            text-transform: uppercase;
        }
    }
}