@use "variables";
@use "button";
@use "badge";

$borderRadius: 5px;
$transition-duration: 0.5s;

.container {
    left: 50%;
    max-width: calc(800px + 2 * 2em);
    overflow: visible;
    height: 0;
    position: fixed;
    top: 0px;
    transform: translate(-50%);
    width: 100%;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    &:has(nav) {
        z-index: 2;
    }
}

// To hide the checkbox
#toggle {
    position: absolute;
    left: -100%;
    top: -100%;
}

#courtain {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #0009;
    transform: translateY(-100vh);
    top: 0;
}

.nav {
    box-shadow: 8px 0 20px #00000033;
    background-color: white;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    transition: transform .4s ease-in-out;
    position: fixed;
    transform: translateY(-100%);
    overflow: hidden auto;
    padding: 0;
    z-index: 3;
}

nav.nav > a {
    cursor: pointer;
    color: #000 !important;
    font-weight: 400;
}

nav.nav > .spacer {
    background-color: #00000033;
    padding: 1px 0 !important;
}
nav.nav > .spacer-new {
    text-transform: uppercase;
    color: variables.$primaryColor;
    font-weight: 700;
    font-size: 0.9em;
    padding-top: 20px!important;
    padding-left: 64px!important;
    
}

nav.nav > a, nav.nav > .spacer {
    clear: both;
    white-space: nowrap;
    width: 100%;
    padding: 14px;
    text-decoration: none;
    display: block;
    position: relative;
    user-select: none;

    @media (min-width: 900px) {
        padding: 14px 28px;
    }

    &.first {
        background-color: variables.$primaryColor;
        color: white !important;
        font-weight: 700;
        height: variables.$headerHeight;
        padding-top: 16px;
        &:hover {
            color: white !important;
        }
    }

    &.first + a {
        padding-top: 22px;
    }

    &:hover {
        color: variables.$primaryColor!important;
    }

    .menu-count {
        @extend .badge;
        margin-left: 16px;
    }

    &.active {
        font-weight: 700;
    }
}

label.menu {
    margin: 0;
    padding: 0;
}


.menu-button {
    @extend .button;
    border: none;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    padding: calc((variables.$headerHeight - 36px) / 2) 1em;
    &:active {
        transform: translateY(2px);
    }
  
}

.menu-button.left {
    @extend .menu-button;
    left: 0;
    margin: 5px 25px 25px 10px;
}

.menu-button.right {
    @extend .menu-button;
    right: 0;
    color: black!important;
    background-color: variables.$secondaryColor;
    border: 10px solid variables.$primaryColor;
    padding: 8px 1em;
}

.button-toggle {
    @extend .menu-button;
    margin-left: calc(1em - 22px);
    padding: 30px 0;
    width: 80px;
    background: variables.$primaryColor;

    @media (min-width: 900px) {
        margin-left: calc(2em - 22px);
    }
    .icon {
        position: absolute;
        top: calc((100% - 3px) / 2);
        left: calc((100% - 25px) / 2);
        width: 25px;
        height: 3px;
        background: white;
        border-radius: $borderRadius;
    
        &:first-child {
            &::before,
            &::after {
                position: absolute;
                left: 0;
                width: 100%;
                height: 3px;
                background: white;
                border-radius: $borderRadius;
                content: '';
                transform-origin: 50% 50%;
            }
        
            &::before {
                top: 7px;
            }
        
            &::after {
                bottom: 7px;
            }
        }
    }
}
  


#toggle:checked {
    & ~ .container > .nav,
    & ~ #courtain {
        transform: translateY(0);
    }

    & ~ .container .menu .button-toggle {
        box-shadow: 0 0px 20px #00000030;
    }

}
