@use 'variables';

input[type=radio], 
input[type=checkbox] {
    display: none;
    &:checked + label::after {
        opacity: 1;
        transform: scale(1, 1);
    }
    &:checked + label {
        border: 3px solid variables.$primaryColor;
    }
}

.radio {
    border: 3px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0.7em;
    padding-left: 40px;
    position: relative;
    text-align: left;
    user-select: none;

    background-color: #F9F9F9;

    &:hover {
        color: variables.$primaryColor;
    }

    &.no-bullet {
        &::before,
        &::after {
            display: none;
        }
    }

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 50%;
    }

    &::before {
        background: #fff;
        border: 1px solid #ccc;
        height: 16px;
        left: 10px;
        margin-right: 5px;
        top: 13px;
        width: 16px;
    }

    &::after {
        background: #222;
        height: 10px;
        left: 14px;
        opacity: 0;
        top: 17px;
        transform: scale(0, 0);
        transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
        width: 10px;
    }
}