@use "variables";
@use "icons";

.status-dot::before {
    @extend %icon;
    border-radius: 20px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
}

li-count
current-status

.draft .li-count,
.draft.status-dot::before {
    background-color: variables.$draft;
    border-color: variables.$draft-stroke;
}

.ready .li-count,
.ready.status-dot::before {
    background-color: variables.$ready;
    border-color: variables.$ready-stroke;
}

.confirmed .li-count,
.confirmed.status-dot::before {
    background-color: variables.$confirmed;
    border-color: variables.$confirmed-stroke;
}

.confirmed-waiting .li-count,
.confirmed-waiting.status-dot::before,
.confirmed-waitingE .li-count,
.confirmed-waitingE.status-dot::before {
    background-color: variables.$confirmed-waiting;
    border-color: variables.$confirmed-waiting-stroke;
}

.confirmed-sm .li-count,
.confirmed-sm.status-dot::before {
    background-color: variables.$confirmed-sm;
    border-color: variables.$confirmed-sm-stroke;
}

.confirmed-fined .li-count,
.confirmed-fined.status-dot::before {
    background-color: variables.$confirmed-fined;
    border-color: variables.$confirmed-fined-stroke;
    color: white;
}

.confirmed-ignored .li-count,
.confirmed-ignored.status-dot::before {
    background-color: variables.$confirmed-ignored;
    border-color: variables.$confirmed-ignored-stroke;
    color: white;
}

.confirmed-instructed .li-count,
.confirmed-instructed.status-dot::before {
    background-color: variables.$confirmed-instructed;
    border-color: variables.$confirmed-instructed-stroke;
}

.archived .li-count,
.archived.status-dot::before {
    background-color: variables.$archived;
    border-color: variables.$archived-stroke;
}

.sending-failed .li-count,
.sending-failed.status-dot::before,
.delivery-status-failed .status-dot::before {
    background-color: variables.$confirmed-ignored;
    border-color: variables.$confirmed-ignored-stroke;
    color: white;
}

.sending-problem .li-count,
.sending-problem.status-dot::before,
.delivery-status-problem .status-dot::before {
    background-color: variables.$sending-problem;
    border-color: variables.$sending-problem-stroke;
}

.sending .li-count,
.sending.status-dot::before,
.delivery-status-delivered .status-dot::before {
    background-color: variables.$confirmed-fined;
    border-color: variables.$confirmed-fined-stroke;
}

.delivery-status-accepted .status-dot::before {
    background-color: variables.$draft;
    border-color: variables.$draft-stroke;
}

.delivery-status-ok .status-dot::before {
    background-color: variables.$draft;
    border-color: variables.$draft-stroke;
}
