@use "variables";

.tabs {
    overflow: hidden;
    background-color: #f6f6f6;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;

    input {
        display: none;
    }

    label {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px;
        transition: 0.3s;
        user-select: none;
        width: 100%;
        text-align: center;
        border-radius: 50px;
    }

    label:hover {
        background-color: #ddd;
    }

    input:checked + label {
        background-color: variables.$primaryColor;
        color: #fff;
    }
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}