#toast {
    background-clip: padding-box;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, .1);
    bottom: 30px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    font-size: 16px;
    left: 50%;
    margin-left: -175px;
    padding: 1em;
    pointer-events: auto;
    position: fixed;
    visibility: hidden;
    width: 350px;
    z-index: 1;
    animation: fadeout 0.5s;

    h3 {
        border: none;
        margin: 0 0 1em 0;
        font-weight: 700;
    }

    &.show {
        visibility: visible;
        animation: fadein 0.5s;
    }

    &.error {
        background-color: #FF640A;
        color: white;
        font-weight: 700;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}