@use "sass:map";
@use 'variables.env.scss';

$primaryColor: var(--color);
$secondaryColor: #e9c200;

$draft: #C5C5C5;
$draft-stroke: #C5C5C5;
$ready: #C5C5C5;
$ready-stroke: #C5C5C5;
$confirmed: #C5C5C5;
$confirmed-stroke: #333333;
$confirmed-waiting: #FFFFFF;
$confirmed-waiting-stroke: #08BB0F;
$confirmed-sm: #08BB0F;
$confirmed-sm-stroke: #08BB0F;
$confirmed-fined: #256EC6;
$confirmed-fined-stroke: #256EC6;
$confirmed-instructed: #FFFFFF;
$confirmed-instructed-stroke: #256EC6;
$confirmed-ignored: #FF640A;
$confirmed-ignored-stroke: #FF640A;
$archived: #FFFFFF;
$archived-stroke: #A2A2A2;
$sending-problem: #FF640A;
$sending-problem-stroke: #FF640A;

$width-break: 35em;

$content-width: 800px;

$recydywaBg: #FFD60E;
$plateId: #0C27EC;
$recydywa: $plateId;

$patroniteIcon: url(https://cdn.patronite.pl/webapp/img/widget/sygnet-white.svg);
$patroniteColor: #f23e17;

$mapColor: #20155e;

$headerHeight: 60px;