.warning-header {
    background-color: #F8F8F8;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1em;

    h3 {
        font-weight: 700;
        text-align: center;
        border: 0;
        color: #000;
        margin-top: 0;
    }
    h4 {
        margin-top: 0;
    }
}