@media (min-width: 35em) {
  .ui-grid-a.ui-responsive.images {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
  }
}

@media (max-width: 35em) {
  .imageContainer + .imageContainer {
      margin-top: 0.5rem;
  }
}


.ui-grid-a.ui-responsive.images > div {
  position: relative;
  flex: 0 0 calc(50% - 0.5rem);
}

.ui-grid-a.ui-responsive.images-cropped .imageContainer {
  border-radius: 0.8em;
  background: #eee;
  overflow: hidden;
  height: 200px;
  padding: 0.4em;
}

.ui-grid-a.ui-responsive.images .imageContainer img {
  width: 100%;
  display: block;
  height: auto;
  min-width: 100%;
}

.ui-grid-a.ui-responsive.images-cropped .imageContainer img {
  border-radius: 0.8em;
  position: absolute;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui-grid-a.ui-responsive + .ui-grid-a.ui-responsive {
  margin-top: 0.5rem;
}

sup {
  font-size: 70%;
}

.new-application .plate {
  position: relative;
}

.new-application img#plateImage {
  position: absolute;
  top: 0em;
  left: 11em;
}
img#plateImage {
  max-width: 10em;
  height: 2.2em;
  border-radius: 0.2em;
}

div#recydywa {
  position: absolute;
  left: 0;
  bottom: 0em;
  padding: 0.1em;
  background: #e9c200;
  color: #000;
  font-size: 0.9em;
  font-weight: 300;
  text-shadow: none;
  text-align: center;
  width: 100%;
  display: none;
}

.application h3 .app-number {
  background-color: #F9F9F9;
  border-radius: 0.3125em;
  border: 1px solid;
  font-size: 12.5px;
  font-weight: 700;
  padding: 0.3em 0.6em;
  margin-left: -0.3em;
  margin-right: 0.6em;
  text-align: center;
}

.application .plate-id {
  font-family: monospace;
  font-weight: 600;
  background: white;
  border-color: black;
  border-left-color: #0C27EC;
  padding: 3px;
  border-radius: 3px;
  border-width: 1px 1px 2px 10px;
  border-style: solid;
}

.application .ui-btn-fake {
  margin: 0;
}

a.zoom {
 position: absolute;
 top: 10;
 left: 10;
 width: 21px;
 height: 21px;
 z-index: 3;
 display: block;
 opacity: 0.6;
}

.imageContainer:hover a.zoom {
 opacity: 1;
}

#comments .ui-listview li,
#statusHistory .ui-listview li  {
  white-space: initial;
}

cite {
  display: block;
  padding: 1em;
}

b.appSentInfo, .forcedPoliceInfo {
  background-color: #e9c200;
  display: block;
  padding: 1em;
  border-radius: 5px;
  text-shadow: none;
}

b.lightWarning {
  background-color: #e9c20066;
  padding: 0.1em 0.5em;
  border-radius: 5px;
}