@use "variables";

.button {
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: variables.$primaryColor;
    border-radius: 6vmin;
    border: none;
    color: #fff!important;
    display: block;
    font-weight: 700;
    margin: auto;
    overflow: hidden;
    padding: .7em 1em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    text-shadow: none !important;
    white-space: nowrap;
    max-width: variables.$width-break;
    z-index: 10;

    &.inline {
        display: inline-block;
    }

    &.light {
        background-color: #f6f6f6;
        color: black!important;
    }

    &.cta {
        background-color: variables.$secondaryColor!important;
        color: black!important;
    }

    &.small {
        display: inline-block;
        font-size: 12.5px;
        margin: 0 0.5em;
        padding: .3em .7em;
        vertical-align: middle;
    }
}