@use "variables";

.grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;

    @media (min-width: variables.$width-break) {
        grid-template-columns: 50% 50%;
    }

    & > div {
        position: relative;
    }

    & > img {
        width: 100%;
    }
}