@use 'variables';
@use 'general';
@use 'icons';
@use 'new-application';
@use 'application';
@use 'my-apps';
@use 'rules';
@use 'epuap';
@use 'faq';
@use 'gallery';
@use 'register';
@use 'thank-you';
@use 'ask-for-status';
@use 'public-info';
@use 'wniosek-rpo';
@use 'login';
@use 'how';
@use 'confirm';
@use 'patronite';
@use 'car-info';
@use 'main';
@use 'components';
@use 'menu';
@use 'header';

fieldset {
    border-width: 0;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
}

body {
    overflow-x: hidden;
    height: 99.9%;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    color: #000;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.4;
}

.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    position: absolute;
    border: 0;
}

.ui-page {
    outline: 0;
    padding: 0;
    margin: 0;
}