@use 'lib/variables';
@use 'lib/badge.scss';
@use 'lib/button.scss';
@use 'lib/checkbox.scss';
@use 'lib/dialog.scss';
@use 'lib/dropdown.scss';
@use 'lib/grid.scss';
@use 'lib/header.scss';
@use 'lib/icons.scss';
@use 'lib/menu.scss';
@use 'lib/radio.scss';
@use 'lib/tabs.scss';
@use 'lib/warning-header.scss';
@use 'lib/toast.scss';
@use 'lib/statuses';
@use 'lib/footer';

@use 'general';
@use 'sites/new-application';
@use 'sites/application';
@use 'sites/my-apps';
@use 'sites/rules';
@use 'sites/faq';
@use 'sites/gallery';
@use 'sites/register';
@use 'sites/thank-you';
@use 'sites/ask-for-status';
@use 'sites/public-info';
@use 'sites/wniosek-rpo';
@use 'sites/login';
@use 'sites/how';
@use 'sites/confirm';
@use 'sites/patronite';
@use 'sites/car-stats';
@use 'sites/main';
@use 'sites/changelog';

fieldset {
    border-width: 0;
    padding: 0;
    margin: 0;

    legend, &>label {
        padding-top: 1.5em;
        padding-bottom: 0.5em;
        font-weight: 400;
    }
}

html {
    font-size: 100%;
}

body {
    overflow-x: hidden;
    height: 99.9%;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    color: #000;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
}

.ui-mobile [data-role=page],
.ui-mobile [data-role=dialog],
.ui-page {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    position: absolute;
    border: 0;
}

.ui-page {
    outline: 0;
    padding: 0;
    margin: 0;
}

input, textarea {
    background: transparent none;
    border-radius: 5px;
    border: 1px solid variables.$primaryColor;
    box-sizing: border-box;
    color: variables.$primaryColor;
    display: block;
    font-size: 1em;
    line-height: 1.4em;
    min-height: 2.2em;
    outline: 0;
    padding: .4em;
    text-align: left;
    width: 100%;

    &:disabled {
        color: #000;
        opacity: .3;
        cursor: default !important;
        pointer-events: none;
    }

    &:read-only {
        color: #666;
        opacity: .7;
        pointer-events: none;
    }
}

textarea {
    resize: vertical;
}

input[data-type="filterable"],
input[data-type="geo"] {
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-left: 1.75em;
}

input[data-type="filterable"] {
    background: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M10.171%2C8.766c0.617-0.888%2C0.979-1.964%2C0.979-3.126c0-3.037-2.463-5.5-5.5-5.5s-5.5%2C2.463-5.5%2C5.5s2.463%2C5.5%2C5.5%2C5.5%20c1.152%2C0%2C2.223-0.355%2C3.104-0.962l3.684%2C3.683l1.414-1.414L10.171%2C8.766z%20M5.649%2C9.14c-1.933%2C0-3.5-1.567-3.5-3.5%20c0-1.933%2C1.567-3.5%2C3.5-3.5c1.933%2C0%2C3.5%2C1.567%2C3.5%2C3.5C9.149%2C7.572%2C7.582%2C9.14%2C5.649%2C9.14z%22%2F%3E%3C%2Fsvg%3E) no-repeat scroll 8px 10px;
}

textarea[data-type="encrypted"],
input[data-type="encrypted"] {
    background-image: url(icons.$encrypted-icon);
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: right 5px center;
    padding-right: 1.75em;
}

.encrypted {
    background-image: url(icons.$encrypted-icon);
    background-size: 1em;
    background-repeat: no-repeat;
    padding-left: 1.2em;
    background-position-y: center;
}

input[data-type="geo"] {
    background: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23256EC6%3B%22%20d%3D%22M7%2C0C4.791%2C0%2C3%2C1.791%2C3%2C4c0%2C2%2C4%2C10%2C4%2C10s4-8%2C4-10C11%2C1.791%2C9.209%2C0%2C7%2C0z%20M7%2C6C5.896%2C6%2C5%2C5.104%2C5%2C4%20s0.896-2%2C2-2c1.104%2C0%2C2%2C0.896%2C2%2C2S8.104%2C6%2C7%2C6z%22%2F%3E%3C%2Fsvg%3E) no-repeat scroll 8px 10px;

    &.clock {
        background: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M7%2C0C3.134%2C0%2C0%2C3.134%2C0%2C7s3.134%2C7%2C7%2C7s7-3.134%2C7-7S10.866%2C0%2C7%2C0z%20M7%2C12c-2.762%2C0-5-2.238-5-5s2.238-5%2C5-5s5%2C2.238%2C5%2C5%20S9.762%2C12%2C7%2C12z%20M9%2C6H8V4c0-0.553-0.447-1-1-1S6%2C3.447%2C6%2C4v3c0%2C0.553%2C0.447%2C1%2C1%2C1h2c0.553%2C0%2C1-0.447%2C1-1S9.553%2C6%2C9%2C6z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E) no-repeat scroll 8px 10px;
    }

    &.error {
        background: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FF640A%3B%22%20d%3D%22M7%2C0L0%2C12h14L7%2C0z%20M7%2C11c-0.553%2C0-1-0.447-1-1s0.447-1%2C1-1c0.553%2C0%2C1%2C0.447%2C1%2C1S7.553%2C11%2C7%2C11z%20M7%2C8%20C6.447%2C8%2C6%2C7.553%2C6%2C7V5c0-0.553%2C0.447-1%2C1-1c0.553%2C0%2C1%2C0.447%2C1%2C1v2C8%2C7.553%2C7.553%2C8%2C7%2C8z%22%2F%3E%3C%2Fsvg%3E) no-repeat scroll 8px 10px;
    }
}

input.error,
textarea.error {
    border: 2px solid red !important;
}

input.warning,
textarea.warning {
    border: 2px solid variables.$secondaryColor;
}

.ui-radio .ui-btn {
    margin: 0;
    text-align: left;
    white-space: normal;
    z-index: 2;
}

label {
    display: block;
    margin: 0;
    padding-bottom: 0.5em;
    font-weight: 400;
    font-size: 16px;
}
