.mainPage {
}
.patronite-button {
    background-color: #f23e17!important;
    color: #fff!important;
    font-size: 18px;
    font-weight: 400;
    min-height: 40px;
    width: 100%;
    letter-spacing: 0.3px;
    user-select: none;
    text-shadow: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1em;

    &::before {
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(https://cdn.patronite.pl/webapp/img/widget/sygnet-white.svg);
        display: inline-flex;
        margin-right: 12px;
        width: 26px;
        height: 36px;
    }
}