div.application-short.archived h3 a {
  font-weight: 300;
}

div.application-short h3 a {
  padding-right: 2.5em;
}

.appActionButtons a.ui-btn {
  font-weight: 400;
}

div.application-short.archived {
  display: none;
}

@media only screen and (min-width: 768px) {
  div.application-short h3 a {
    font-size: 16px;
  }
}

div.application-short {
  &.status-all h3 a {
    font-weight: 100;
  }

  &.draft h3 .ui-btn-icon-right:after,
  .draft:after,
  .draft::marker {
    background-color: #7463634d;
  }

  &.ready h3 .ui-btn-icon-right:after,
  .ready:after,
  .ready::marker {
    background-color: #0000004d;
  }

  &.confirmed h3 .ui-btn-icon-right:after,
  .confirmed:after,
  .confirmed::marker {
    background-color: #99999999;
  }

  .confirmed h3 a {
    font-weight: 700;
  }

  &.confirmed-waiting h3 .ui-btn-icon-right:after,
  .confirmed-waiting:after,
  .confirmed-waiting::marker,
  &.confirmed-waitingE h3 .ui-btn-icon-right:after,
  .confirmed-waitingE:after,
  .confirmed-waiting::marker {
    background-color: #3388cc99;
  }

  &.confirmed-sm h3 .ui-btn-icon-right:after,
  .confirmed-sm:after,
  .confirmed-sm::marker {
    background-color: #ffc10799;
  }

  &.confirmed-fined h3 a.ui-btn-icon-right:after,
  .confirmed-fined:after,
  .confirmed-fined::marker {
    background-color: #8bc34aee;
  }

  &.confirmed-ignored h3 .ui-btn-icon-right:after,
  .confirmed-ignored:after,
  .confirmed-ignored::marker {
    background-color: #dd2c00cc;
  }

  &.confirmed-instructed h3 .ui-btn-icon-right:after,
  .confirmed-instructed:after,
  .confirmed-instructed::marker {
    background-color: #791800cc
  }

  &.archived h3 .ui-btn-icon-right:after,
  .archived:after,
  .archived::marker {
    background-color: #0000004C;
  }
}


.my-applications {
  ul.status-filter {
    list-style-type: none;
    padding-inline-start: 0;
    columns: 2;

    li {
      display: none;
      padding-top: 9px;

      a.active {
        color: #009C7F !important;
      }

      a {
        color: #666 !important;
      }

      .ui-li-count {
        position: unset;
      }
    }
  }
}