div.application-short.archived h3 a {
  font-weight: 300;
}

.appActionButtons a.ui-btn {
  font-weight: 400;
}

div.application-short.archived {
  display: none;
}

div.application-short h3 a {
  font-size: 14px;
}

@media only screen and (min-width: 35em) {
  div.application-short h3 a {
    font-size: 16px;
  }
}

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content  {
  border-color: #ddd;
  border-top: 0;
  border-style: solid;
}


div.application-short {
  &.ui-collapsible.ui-corner-all {
    margin-bottom: 0.5em;
    border-radius: 0.8em;
  }

  h3 {
    border-bottom: none;

    a.ui-btn:focus {
      box-shadow: none;
    }

    a.ui-btn {
      padding: 0.5em;
    }

    a {
      font-weight: 100;
    }
    .top-line, .bottom-line {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: stretch;
    }

    .top-line {
      font-size: 11pt;
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 3px;

      .calendar::before {
        @extend %icon;
        background-image: url($date-icon);
      }

      .status-dot::before {
        @extend %icon;
        border-radius: 7px;
      }


    }

    .bottom-line {
      div {
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
      }
      .address {
        flex-grow: 1;
        max-width: calc(100% - 23px);
        overflow: hidden;
        height: 32px;
        font-size: 130%;
      }
      .expander {
        flex-grow: 0;
        position: relative;
        &:after {
          @extend %icon;
          top: 15px;
          background-image: url($chevron-icon);
          transition: transform 0.5s;
        }
      }
    }
  }

  &:not(.ui-collapsible-collapsed) {
    border-bottom: 0;
    h3 {
      a {
        background-color: white;
        border-bottom: 0;
      }
    }
  }

  &.ui-collapsible-collapsed {
    h3 .bottom-line .expander:after {
      transform: rotate(180deg);
      transition: transform 0s;
    }
  }

  &.draft h3 .status-dot::before,
  .draft:after,
  .draft::marker {
    background-color: $draft;
  }

  &.ready h3 .status-dot::before,
  .ready:after,
  .ready::marker {
    background-color: $ready;
  }

  &.confirmed h3 .status-dot::before,
  .confirmed:after,
  .confirmed::marker {
    background-color: $confirmed;
  }

  .confirmed h3 a {
    font-weight: 700;
  }

  &.confirmed-waiting h3 .status-dot::before,
  .confirmed-waiting:after,
  .confirmed-waiting::marker,
  &.confirmed-waitingE h3 .status-dot::before,
  .confirmed-waitingE:after,
  .confirmed-waiting::marker {
    background-color: $confirmed-waiting;
  }

  &.confirmed-sm h3 .status-dot::before,
  .confirmed-sm:after,
  .confirmed-sm::marker {
    background-color: $confirmed-sm;
  }

  &.confirmed-fined h3 .status-dot::before,
  .confirmed-fined:after,
  .confirmed-fined::marker {
    background-color: $confirmed-fined;
  }

  &.confirmed-ignored h3 .status-dot::before,
  .confirmed-ignored:after,
  .confirmed-ignored::marker {
    background-color: $confirmed-ignored;
  }

  &.confirmed-instructed h3 .status-dot::before,
  .confirmed-instructed:after,
  .confirmed-instructed::marker {
    background-color: $confirmed-instructed;
  }

  &.archived h3 .status-dot::before,
  .archived:after,
  .archived::marker {
    background-color: $archived;
  }
}


.my-applications {
  ul.status-filter {
    padding-inline-start: 0;
    columns: 2;
    list-style-position: inside;

    li {
      display: none;
      padding-top: 9px;

      a.active {
        color: #009C7F !important;
      }

      a {
        color: #666 !important;
      }

      .ui-li-count {
        position: unset;
      }
    }
  }
}