@import url(../../node_modules/mapbox-gl/dist/mapbox-gl.css);

label.section {
  padding: .5em 1.143em;
  font-size: 14px;
  font-weight: 600;
  background-color: #e9e9e9;
  border-color: #ddd;
  color: #333;
  text-shadow: 0 1px 0 #eee;
  margin-top: 0em;
  margin-bottom: 2em;
}

label.hint {
  color: #009C7F;
  clear: both;
}

label.warning {
  color: #e9c200;
  clear: both;
}

label {
  font-weight: 300;
}

label span.price-list {
  display: block;
  margin-top: 0.5em;
}

.ui-input-text input,
.ui-input-search input {
  border: 1px solid #009C7F;
  color: #009C7F;
  margin-bottom: 1em;
}

input:disabled {
  color: #000;
}

input.error,
textarea.error {
  border: 2px solid red !important;
}

input.warning,
textarea.warning {
  border: 2px solid #e9c200 !important;
}

div.error img {
  background-color: rgba(255, 0, 0, 0.3);
}



::-webkit-input-placeholder {
  /* WebKit browsers */
  text-transform: none;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  text-transform: none;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  text-transform: none;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  text-transform: none;
}

div.ui-block-a>div.ui-radio,
div.ui-block-b>div.ui-radio {
  margin: 0;
}

p.pictureHint {
  z-index: 1;
  bottom: 0px;
  position: absolute;
  text-shadow: none;
  color: white;
  padding: 3px;
  display: none;
  margin-right: 0.4em;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.3em;
  font-size: 90%;
}

.new-application {
  div.datetime {
    max-width: 15em;

    input:read-only {
      border: none;
      box-shadow: none;
      margin: 0;
      color: #666;
    }
  }

  a.changeDatetime {
    text-decoration: none;
    display: none;
  }

  .location-picker .centerMarker {
    background: url(data-url:../img/map-circle.png) no-repeat;
    height: 64px;
    width: 64px;
    margin-left: -32px;
    margin-top: -32px;
  }

  label {
    margin-bottom: 0;
    margin-top: 1em;

    a {
      font-weight: 400 !important;
      font-size: 70%;
      text-transform: uppercase;
    }
  }

  .edit-warning {
    margin-bottom: 0.5em;

    .ui-bar-a {
      background-color: #e9c200;
    }
  }

  .image-upload input {
    display: none;
  }

  .contextImageSection img,
  .carImageSection img {
    background-repeat: no-repeat;
    background-position: center;
    height: 110px;
  }

  .contextImageSection img {
    background-image: url(data-url:../img/cameraContext.png);
  }

  .carImageSection img {
    background-image: url(data-url:../img/cameraPlate.png);
  }

  .ui-input-text input#plateId {
    text-transform: uppercase;
    max-width: 10.5em;
  }

  .plate div.ui-input-text {
    max-width: 10.5em;
  }

  #category,
  #extensions {
    vertical-align: top;
    display: inline-block;
    text-align: center;
  }

  #category .badge {
    position: absolute;
    left: calc(1.5em + 88px);
    top: 1em;
    background: red;
    text-align: center;
    border-radius: 50%;
    color: white;
    width: 22px;
    height: 22px;
    font-size: 16px;
  }

  #category img {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 0.8em;
  }

  #category label,
  #extensions label {
    display: block;
    font-weight: 300;
    border: none;
    --moz-columns: 2 120px;
    --webkit-columns: 2 120px;
    --columns: 2 120px;
    display: table;
  }

  #category label img,
  #category label p,
  #extensions label p {
    display: table-cell;
    vertical-align: top;
  }

  #category label p,
  #extensions label p {
    padding: 0 1em;
    width: 100%;
  }

  .combo {
    margin-top: 1.5em;
    height: 50px;
    
    .ui-disabled {
      opacity: .5;
    }

    input {
      height: 1em;
      vertical-align: top;
      padding-left: 2em;
    }

    a {
      width: 20px;
      height: 20px;
      margin-top: -5em;
      display: inline-block;
      cursor: pointer;
    }
  }

  #smInfo {
    left: 30px;
    position: relative;
  }
  #smInfoHint {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7%2C0C3.134%2C0%2C0%2C3.134%2C0%2C7s3.134%2C7%2C7%2C7s7-3.134%2C7-7S10.866%2C0%2C7%2C0z%20M7%2C2c0.552%2C0%2C1%2C0.447%2C1%2C1S7.552%2C4%2C7%2C4S6%2C3.553%2C6%2C3%20S6.448%2C2%2C7%2C2z%20M9%2C11H5v-1h1V6H5V5h3v5h1V11z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    width: 22px;
    height: 22px;
    background-color: #666;
    background-color: rgba(0,0,0,.3);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    position: absolute;
  }

  .locationPickerClass {
    width: 100%;
    height: 200px;
    border-radius: 0.8em;
    margin-top: 0.3em;

    .mapboxgl-canvas {
      border-radius: 0.8em;
    }
  }

  #mapCenter {
    z-index: 5;
    position: absolute;
    width: 64px;
    height: 64px;
    display: block;
    background-image: url('https://uprzejmiedonosze.net/img/map-circle.png');
    left: calc(50% - 32px);
    bottom: calc(50% - 32px);
    pointer-events: none;
    user-select: none;
  }

  .locationPickerBig {
    height: 500px;
  }


  .right-align {
    text-align: right;
  }

  .ui-button-resizeMap {
    display: block;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-transform: none;
    appearance: none;
    position: absolute;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    width: 25px;
    height: 25px;
    top: 2em;
    right: 0.3em;
    z-index: 1;
    box-shadow: 0px 0px 10px 0px #ddd;
    border: 1px solid #ddd;
  }
}

div.loader {
  margin: 30px auto;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #009C7F;
  /* Blue */
  border-radius: 50%;
  width: 50px !important;
  height: 50px;
  animation: spin 2s linear infinite;
}

div.loader.l {
  animation: spinl 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinl {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}


@media (max-width: 40em) {

  #category.ui-responsive>.ui-block-a,
  #category.ui-responsive>.ui-block-b,
  #extensions.ui-responsive>.ui-block-a,
  #extensions.ui-responsive>.ui-block-b {
    width: 100%;
    float: none;
  }
}



@media (hover: hover) and (pointer: fine) {
  #resizeMap {
    display: none;
  }
}

.ui-icon-arrowsout {
  background-image: url(data-url:../img/arrows-out.png);
}

.ui-icon-arrowsin {
  background-image: url(data-url:../img/arrows-in.png);
}