@use "variables";

.patronite {
    img.responsive {
        border-radius: 3px;
        width: calc(100% - 10px);
        margin: 5px;
        box-shadow: 0 0 5px gray;
    }

    .spacer {
        height: 80px;
    }

    .patronite.button.floating {
        bottom: 94px;
        left: 50%;
        margin-left: -200px;
        min-width: 144px;
        position: fixed;
        width: 400px;
        z-index: 1;
        box-shadow: 0 0 30px white;

        @media (max-width: variables.$width-break) {
            bottom: 5px;
        }
    }
}