$primaryColor: #009C7F;
$secondaryColor: #e9c200;

$draft: #7463634d;
$ready: #0000004d;
$confirmed: #99999999;
$confirmed-waiting: #3388cc99;
$confirmed-sm: #ffc10799;
$confirmed-fined: #8bc34aee;
$confirmed-ignored: #dd2c00cc;
$confirmed-instructed: #791800cc;
$archived: #0000004C;

$width-break: 35em;

$recydywaBg: #FFD60E;
$plateId: #0C27EC;
$recydywa: $plateId;

$patroniteIcon: url(https://cdn.patronite.pl/webapp/img/widget/sygnet-white.svg);
$patroniteColor: #f23e17;

$mapColor: #20155e;